include ../variables.pug
include ../mixins.pug
//- About modal

.about-modal.js__modal
	.about-modal--wrapper
		.about-modal--img
			img(src="./img/about.png")
			p Александра Деменьтьева
		.about-modal--content
			.tabs
				+tab('tab_active', 'О себе')
				+tab('', 'Мои достижения')
			.about-modal--block
				p Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок. Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок. Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок.
			.about-modal--share
				p.about-modal--share-text Связаться со мной
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/002-vkontakte-logo.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/001-instagram.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/003-odnoklassniki.svg")
		.search-modal--cross.js__modal-cross
			+icon('053-close')