include ../variables.pug
include ../mixins.pug
.anketa-modal.js__modal
	p.small.title Выберите филиал
	p.anketa-modal--help 
		span *
		| Чтобы отправить анкету выберите филиал парнёром которого вы собираетесь стать.
	p.anketa-modal--list-title Список действующих филиалов
	form(action="")
		input(style="display:none", type="text", name="anketa", value="sended")
		.anketa--list
			label.radio(for="radio_draft1")
				.radio--block
					input#radio_draft1(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft2")
				.radio--block
					input#radio_draft2(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft3")
				.radio--block
					input#radio_draft3(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft4")
				.radio--block
					input#radio_draft4(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft5")
				.radio--block
					input#radio_draft5(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft6")
				.radio--block
					input#radio_draft6(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft7")
				.radio--block
					input#radio_draft7(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft8")
				.radio--block
					input#radio_draft8(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft9")
				.radio--block
					input#radio_draft9(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf")
				.radio--block
					input#radio_draf(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf1")
				.radio--block
					input#radio_draf1(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf2")
				.radio--block
					input#radio_draf2(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf3")
				.radio--block
					input#radio_draf3(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf4")
				.radio--block
					input#radio_draf4(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf5")
				.radio--block
					input#radio_draf5(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf6")
				.radio--block
					input#radio_draf6(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf7")
				.radio--block
					input#radio_draf7(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf8")
				.radio--block
					input#radio_draf8(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf9")
				.radio--block
					input#radio_draf9(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_dra")
				.radio--block
					input#radio_dra(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
		button.anketa-modal--next.disabled(disabled=true) Продолжить
			+icon('007-right-arrow')
	.search-modal--cross.js__modal-cross
		+icon('053-close')


.anketa-modal--done.js__modal
	.anketa-modal--done-content
		img(src="./img/icons/checklist.svg", alt="")
		p.anketa-modal--step-title Ваша анкета успешно отправлена!<br>В ближайшее время с вами свяжутся.
		a.anketa-modal--ok(href="javascript:void(0)") Ок
	.search-modal--cross.js__modal-cross
		+icon('053-close')