include ../variables.pug
include ../mixins.pug
.next-modal.js__modal
	p.small.title Узнать о следующем проведении мероприятия
	p.next-modal--help 
		span *
		| Отправьте  ваши контактные данные и мы сообщим вам заранее о проведении мероприятия
	p.next-modal--subtitle Контактные данные:
	form
		input(style="display:none", type="text", name="sended", value="next")
		label.input(for="nextPhone") Контактный телефон
			input#nextPhone(type="text", placeholder="+7 ( XXX ) - XXX - XX - XX", name="nextPhone")
		label.input(for="nextEmail") Адрес эл. почты
			input#nextEmail(type="text", placeholder="Введите ваш e-mail", name="nextEmail")
		button.send-button(type="submit") Отправить
			span
				+icon('010-paper-plane')
	.search-modal--cross.js__modal-cross
		+icon('053-close')
.next-modal--done.js__modal
	.next-modal--done-content
		img(src="./img/icons/megaphone1.svg", alt="")
		p.next-modal--step-title Спасибо!<br>Будем держать вас в курсе
		a.next-modal--ok(href="javascript:void(0)") Ок
	.search-modal--cross.js__modal-cross
		+icon('053-close')