include ../variables.pug
include ../mixins.pug
.notification-modal.js__modal
	p.small.title Создание уведомления
	.notification-modal--steps
		.notification-modal--step.current--step(data-step="1") 1
			span
				+icon('049-mark')
		.notification-modal--step(data-step="2") 2
			span
				+icon('049-mark')
		.notification-modal--step(data-step="3") 3
			span
				+icon('049-mark')
	form.notification--form
		input(style="display:none", type="text", name="sended", value="notify")
		.notification-modal--slider
			.notification-modal--first-step
				p.notification-modal--help 
					span *
					| Чтобы включить уведомление выберите мероприятия
				p.notification-modal--step-title 
					span.hovered
						+icon('020-clock')
					| Ближайшие мероприятия:
				.notification-modal--checkboxes-block
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement")
							.checkbox--block
								input#subscriptionAgreement(type="checkbox", name="agreement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement1")
							.checkbox--block
								input#subscriptionAgreement1(type="checkbox", name="agreement2")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement2")
							.checkbox--block
								input#subscriptionAgreement2(type="checkbox", name="agreemen3t")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
				p.notification-modal--step-title 
					span
						+icon('020-clock')
					| Другие мероприятия
				.notification-modal--checkboxes-block
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement3")
							.checkbox--block
								input#subscriptionAgreement3(type="checkbox", name="agreemen4t")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement4")
							.checkbox--block
								input#subscriptionAgreement4(type="checkbox", name="agreeme5nt")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement5")
							.checkbox--block
								input#subscriptionAgreement5(type="checkbox", name="agreem6ent")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement6")
							.checkbox--block
								input#subscriptionAgreement6(type="checkbox", name="agreeme7nt")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement7")
							.checkbox--block
								input#subscriptionAgreement7(type="checkbox", name="agreeme8nt")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreemen")
							.checkbox--block
								input#subscriptionAgreemen(type="checkbox", name="agreeme9nt")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreeme")
							.checkbox--block
								input#subscriptionAgreeme(type="checkbox", name="ag2reement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreem")
							.checkbox--block
								input#subscriptionAgreem(type="checkbox", name="ag3reement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreemen1")
							.checkbox--block
								input#subscriptionAgreemen1(type="checkbox", name="a4greement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreemen2")
							.checkbox--block
								input#subscriptionAgreemen2(type="checkbox", name="a5greement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreemen3")
							.checkbox--block
								input#subscriptionAgreemen3(type="checkbox", name="a6greement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
			.notification-modal--second-step
				p.notification-modal--help 
					span *
					| Выберите удобный для вас способ уведовления
				p.notification-modal--step-title Способ уведомления:
				.notification-modal--checkboxes-block
					.notification-modal--checkbox.wide
						label.checkbox(for="subscriptionAgreem32")
							.checkbox--block
								input#subscriptionAgreem32(type="checkbox", name="agreemen4t2")
								span.checkbox--mark
									+icon("049-mark")
							| SMS
					.notification-modal--checkbox.wide
						label.checkbox(for="subscriptionAgreement44")
							.checkbox--block
								input#subscriptionAgreement44(type="checkbox", name="agreeme53nt")
								span.checkbox--mark
									+icon("049-mark")
							| E-mail
			.notification-modal--third-step
				p.notification-modal--help 
					span *
					| Введите ваши контактные данные
				p.notification-modal--step-title Контактные данные:
				label.input(for="notifyPhone") Контактный телефон
					input#notifyPhone(type="text", placeholder="+7 ( XXX ) - XXX - XX - XX", name="notifyPhone")
				label.input(for="notifyEmail") Адрес эл. почты
					input#notifyEmail(type="text", placeholder="Введите ваш e-mail", name="notifyEmail")
		.notification-modal--buttons
			button.send-button(type="submit") Отправить
				span
					+icon('010-paper-plane')
	.search-modal--cross.js__modal-cross
		+icon('053-close')
.notification-modal--done.js__modal
	.notification-modal--done-content
		img(src="./img/icons/happiness.svg", alt="")
		p.notification-modal--step-title Поздравляем!<br>Уведомление активировано
		a.notification-modal--ok(href="javascript:void(0)") Ок
	.search-modal--cross.js__modal-cross
		+icon('053-close')