include ../variables.pug
include ../mixins.pug
.sended-modal--done.js__modal
	.sended-modal--done-content
		img(src="./img/icons/email.svg", alt="")
		p.sended-modal--step-title Ваше сообщение успешно отправелно.<br>В Ближайшее время с вами свяжутся.
		a.sended-modal--ok(href="javascript:void(0)") Ок
	.search-modal--cross.js__modal-cross
		+icon('053-close')