.about-banner {
	height: 533px;
	width: 100%;
	position: relative;
	@include flex(column, center, flex-start);
	@include respond-below(lg) {
		@include flex(column, flex-end, flex-start);
		padding: 0 0 90px 65px;
	}
	@include respond-below(md) {
		height: calc(100vh - 65px);
		padding-left: 20px;
	}
	.about-banner__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
		}
		&:before {
			height: 295px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000 100%);
			opacity: 0.8;
			width: 100%;
			top: 0;
			position: absolute;
			left: 0;
			z-index: 1;
			content: "";
		}
		&:after {
			height: 331px;
            background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
			opacity: 0.8;
			display: block;
			content: "";
			width: 100%;
			bottom: 0;
			left: 0;
			position: absolute;
			z-index: 1;
		}
		@include respond-below(lg) {
			img {
				object-fit: cover;
				object-position: center;
			}
		}
	}
	.about-title {
		position: relative;
		z-index: 2;
		font-family: "Playfair Display";
		font-weight: 700;
		color: #ffffff;
		font-size: 46px;
		line-height: 55px;
		@include respond-below(lg) {
			font-size: 36px;
			line-height: 45px;
		}
		@include respond-below(md) {
			font-size: 30px;
			line-height: 32px;
		}
	}
}
.about-page--container {
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(3, minmax(100px, 34%));
	@include respond-below(md) {
		grid-template-columns: 100%;
	}
	grid-gap: 20px;
	@include respond-below(md) {
		grid-gap: 10px;
	}
	.documents, .staff-members, .about-form {
		grid-column: 1/4;
		@include respond-below(md) {
			grid-column: 1/2;
		}
	}
	.two-columns__block {
		grid-column: 1/3;
		@include respond-below(lg) {
			grid-column: 1/4;
		}
		@include respond-below(md) {
			grid-column: 1/2;
		}
	}
	@include respond-below(lg) {
		.news-widget {
			grid-column: 1/4;
		}
	}
	@include respond-below(md) {
		.news-widget {
			grid-column: 1/2;
		}
	}
}
.about__facts {
	height: 335px;
	border-radius: 6px;
	background-color: #ffffff;
	padding: 40px;
	@include respond-below(lg) {
		padding: 40px 20px;
	}
	@include respond-below(md) {
		padding: 30px;
		height: auto;
		@include flex(column, flex-start, center, nowrap);
	} 
	grid-column:1/4;
	@include respond-below(md) {
		grid-column: 1/2;
	}
	@include flex(row, space-between, flex-start, wrap);
	.title {
		flex: 0 0 100%;
		@include respond-below(md) {
			text-align: center;
		}
	}
	.about--fact {
		flex: 0 0 calc((100% - 40px)/3);
		@include flex(column, flex-start, flex-start);
		@include respond-below(md) {
			@include flex(column, flex-start, center);
			margin-bottom: 35px;
		}
		img {
			max-height: 90px;
			width: auto;
			max-width: 90px;
		}
		.about--fact-count {
			margin-top: 25px;
			font-family: "Source Sans Pro";
			font-size: 37px;
			font-weight: 900;
			margin-bottom: 5px;
			color: $grey-text;
			@include respond-below(lg) {
				margin-top: 20px;
				font-size: 30px;
			}
			@include respond-below(md) {
				text-align: center;
			}
		}
		.about--fact-name {
			color: $grey-text;
			font-weight: 400;
			font-size: 20px;
			text-transform: uppercase;
			@include respond-below(lg) {
				font-size: 16px;
				max-width: 130px;
				line-height: 24px;
			}
			@include respond-below(md) {
				text-align: center;
				max-width: none;
			} 
		}
	}
}
.about__info {
	margin-bottom: 20px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	background-color: #fff;
	padding: 40px 30px 50px 40px;
	grid-column: 1/4;
	position: relative;
	@include flex(row, flex-start, flex-start);
	@include respond-below(md) {
		padding: 30px 20px 40px 20px;
		grid-column: 1/2;
		margin-bottom: 0;
	}
	.about__info--text {
		flex: 1 1 auto;
		padding-right: 50px;
		p:not(.title) {
			color: $grey-text;
			font-size: 17px;
			line-height: 23px;
			margin-top: 30px;
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
				margin-top: 20px;
			}
		}
		@include respond-below(lg) {
			padding-right: 0;
			flex: 1 1 100%;
			.title {
				margin-bottom: 715px;
				@media (max-width: 540px) {
					margin-bottom: 132vw;
				}
				@media (max-width: 400px) {
					margin-bottom: 130vw;
				}
			}
		}
		@include respond-below(md) {
			max-width: 100%;
		}
		.quote {
			margin: 30px 0;
			border-left: 1px solid $pink;
			height: 86px;
			padding-left: 30px;
			@include flex(row, flex-start, center);
			color: $grey-text;
			font-size: 20px;
			line-height: 23px;
			font-style: italic;
			position: relative;
			.quote__icon {
				position: absolute;
				left: 12px;
				top: 0;
				width: 18px;
				height: 12px;
			}
			@include respond-below(md) {
				font-size: 19px;
				line-height: 19px;
				height: 106px;
				@include respond-below(sm) {
					padding-left: 40px;
				}
			}
		}
		.about__info--buttons {
			@include flex(row, flex-start, center);
			@include respond-below(md) {
				@include flex(column, flex-start, center);
			}
			margin-top: 30px;
			.button {
				margin-right: 40px;
				@include respond-below(md) {
					margin-right: 0;
					margin-bottom: 20px;
					width: 100%;
				}
			}
		}
	}
	.about__info--img {
		flex: 0 0 470px;
		img {
			width: 100%;
			height: auto;
		}
		@include respond-below(lg) {
			padding-right: 0;
			position: absolute;
			flex: 0 0 100%;
			top: 100px;
			left: calc(50% - 245px);
		}
		@include respond-below(md) {
			max-width: 100%;
			left: 0;
		}
	}
}
.about__achievements {
	border-radius: 6px;
	background-color: #ffffff;
	padding: 45px 40px;
	grid-column: 1/4;
	@include respond-below(md) {
		grid-column: 1/2;
		padding: 30px 20px;
	}
	.about__achievements__wrapper {
		display: grid;
		grid-row-gap: 30px;
		grid-template-rows: auto;
		grid-auto-rows: auto;
		grid-template-columns: repeat(2, minmax(100px, 51%));
		@include respond-below(lg) {
			grid-template-columns: 100%;
		}
		@include respond-below(md) {
			grid-row-gap: 20px;
		}
		.about__achievement {
			padding-right: 90px;
			@include respond-below(md) {
				padding-right: 10px;
			}
			.about__achievement--title {
				font-weight: 700;
				color: $grey-text;
				font-size: 20px;
				@include flex(row, flex-start, center);
				@include respond-below(md) {
					font-size: 18px;
					line-height: 23px;
				}
				span {
					width: 26px;
					height: 26px;
					background-color: #ff1a8b;
					margin-right: 20px;
					@include respond-below(md) {
						margin-right: 10px;
					}
					color: #fff;
					@include flex(row, center, center);
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					svg {
						width: 20px;
						height: 20px;
					}
				}
				margin-bottom: 20px;
			}
			.about__achievement--text {
				color: $grey-text;
				font-size: 17px;
				line-height: 23px;
				@include respond-below(md) {
					font-size: 14px;
					line-height: 19px;
				}
			}
		}
	}
}
.documents {
	border-radius: 6px;
	background-color: #ffffff;
	height: 545px;
	padding: 40px 45px;
	position: relative;
	@include respond-below(md) {
		padding: 30px 20px;
		height: auto;
		.title {
			padding-right: 60px;
		}
	}
	.documents__arrows {
		width: 56px;
		height: 23px;
		@include flex(row, space-between, stretch);
		position: absolute;
		right: 40px;
		top: 50px;
		@include respond-below(md) {
			right: 20px;
			top: 30px;
		}
	}
	.document {
		@include flex(column, flex-start, center);
		.document__img {
			width: 100%;
			height: 336px;
			border-radius: 6px;
			background-color: $inactive;
			overflow: hidden;
		}
		.document__name {
			color: $grey-text;
			font-size: 20px;
			text-align: center;
			margin-top: 18px;
		}
	}
	.slick-slide {
		margin: 0 10px;
	}
	.slick-list {
		margin: 0 -10px;
	}
}
.staff-members {
	position: relative;
	height: 670px;
	border-radius: 6px;
	background-color: #ffffff;
	padding: 45px 0 35px 0;
	overflow: hidden;
	.title {
		padding-left: 40px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
		height: auto;
		.title {
			padding-right: 60px;
			padding-left: 0;
		}
	}
	.staff__arrows {
		width: 56px;
		height: 23px;
		@include flex(row, space-between, stretch);
		position: absolute;
		right: 40px;
		top: 50px;
		@include respond-below(md) {
			top: 30px;
			right: 20px;
		}
	}
	.staff__slider--wrapper {
		width: 1460px;
		margin-left: calc(-1*(1460px - 100%)/2);
		position: relative;
		@include respond-below(lg) {
			margin-left: 0;
			width: 100%;
		}
		&:before {
			display: block;
			content: "";
			z-index: 1;
			width: 80px;
			height: 100%;
			position: absolute;
			left: calc(50% - 585px);
			@include respond-below(lg) {
				left: 0;
			}	
			top: 0;
            background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
			@include respond-below(md) {
				display: none;
			}
		}
		&:after {
			display: block;
			content: "";
			z-index: 1;
			width: 98px;
			height: 100%;
			position: absolute;
			right: calc(50% - 585px);
			@include respond-below(lg) {
				right: 0;
			}	
			top: 0;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 79%, #ffffff 100%);
            @include respond-below(md) {
            	display: none;
            }
		}
		.slick-list {
			 margin: 0 -10px;
		}
		.slick-slide {
			margin: 0 10px;
		}
	}
}
.about-form {
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	background: #FFF;
	padding: 45px 40px 40px 55px;
	margin-bottom: 50px;
	@include respond-below(lg) {
		padding: 45px 20px 30px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	.about-form__content {
		@include flex(row, space-between, flex-start);
		@include respond-below(lg) {
			@include flex(column, flex-start, stretch);
		}
		.about-form__location {
			width: 550px;
			flex: 0 0 550px;
			padding-left: 75px;
			@include respond-below(lg) {
				width: 100%;
				flex: 0 0 auto;
				padding-left: 0;
			}
			.about-form__location--title {
				@include flex(row, flex-start, center);
				svg {
					width: 17px;
					height: 23px;
					color: $pink;
					margin-right: 10px;
				}
				color: $grey-text;
				font-size: 19px;
				margin-bottom: 30px;
			}
			iframe {
				width: 100%;
				height: 315px;
			}
		}
		form {
			flex: 1 1 auto;
			height: 370px;
			@include respond-below(lg) {
				height: auto;
				margin-bottom: 50px;
			}
			display: grid;
			grid-template-rows: 110px 1fr 52px;
			grid-template-columns: repeat(2, minmax(100px, 51%));
			grid-gap: 20px 15px;
			@include respond-below(md) {
				grid-template-rows: auto;
				grid-template-columns: 100%;
			}
			.input {
				width: 100%;
				height: 100%;
			}
			.textarea {
				grid-column: 1/3;
				height: 150px;
				@include respond-below(md) {
					grid-column: 1/2;
				}
				textarea {
					height: 104px;
					width: 100%;
				}
			}
			.send-button {
				width: 100%;
			}
			.about-checkbox {
				@include flex(row, flex-start, center);
				.checkbox--block {
					flex: 0 0 23px;
					margin-left: 10px;
				}
				.checkbox {
					color: #95989c;
					font-size: 14px;
					text-decoration: underline;
					line-height: 18px;
				}
			}
		}
	}	    
}
