.albums-block {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px 40px 30px 40px;
	@include respond-below(lg) {
		padding: 20px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	.title {
		@include flex(row,flex-start,flex-end);
		.count-marker {
			margin-left: 10px;
			@include respond-below(md) {
				height: 27px;
				line-height: 25px;
				font-size: 14px;
				position: absolute;
				top: 0;
				right: 0;
				margin-left: 0;
			}
		}
		@include respond-below(md) {
			padding-right: 65px;
		}
		position: relative;
		margin-bottom: 20px;
	}
	.albums--subtitle {
		color: $grey-text;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.28px;
		margin-bottom: 15px;
		font-weight: 600;
	}
	.albums--categories {
		@include flex(row, flex-start, flex-start, wrap);
		.button-small {
			width: auto;
			flex: 0 0 auto;
			padding-right: 20px;
			padding-left: 20px;
			span {
				margin-left: 10px;
			}
			margin-right: 10px;
			margin-bottom: 10px;
		}
		& + .albums--settings {
			margin-top: 65px;
		}
	}
	.albums--settings {
		@include flex(row, space-between, center);
		@include respond-below(md) {
			-webkit-justify-content: center;
			        justify-content: center;
		}
		height: 28px;
		.view-buttons {
			@include flex(row, space-between, center);
			.view-button {
				margin-left: 10px;
			}
			@include respond-below(md) {display: none;}
		}
	}
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.albums--content {
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 50%));
	grid-gap: 20px;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
		grid-gap: 10px;
	}
	.wide-card {
		grid-column: 1/3;
		@include respond-below(md) {
			grid-column: 1/2;
		}
	}
	@include respond-below(lg) {
		.album-card {
			width: 100%;
			img {
				object-fit: cover;
				object-position: right center;
			}
		}
		.info-card {
			width: 100%;
		}
	}
	@include respond-below(md) {
		grid-template-columns: 100%;
	}
}
.albums--pagination {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	@include respond-below(md) {
		padding: 15px 20px;
	}
	.albums--settings {
		@include flex(row, space-between, center);
		@include respond-below(md) {
			-webkit-justify-content: center;
			        justify-content: center;
		}
		height: 28px;
		.view-buttons {
			@include flex(row, space-between, center);
			.view-button {
				margin-left: 10px;
			}
			@include respond-below(md) {display: none;}
		}
	}
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}