.album-page {
	padding-bottom: 60px;
	@include respond-below(lg) {
		padding-bottom: 0;
	}
}
.album-head {
	display: block;
	background: #FFF;
	width: 100%;
	height: auto;
	padding: 35px 40px 30px 40px;
	.light-badge {
		background: #f5f5f6;
		margin-bottom: 20px;
	}
	.title {
		margin-bottom: 15px;
	}
	.album-head--text {
		color: #95989c;
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 30px;
		@include respond-below(md) {
			font-size: 14px;
		}
	}
	.album-head__info {
		margin-bottom: 15px;
		.info-marker {
			margin-right: 30px;
			color: $grey-text;
			@include transition();
			&.hovered {
				cursor: pointer;
				color: #a5a8ab;
				svg {
					color: #a5a8ab;
					@include transition();
				}
				&:hover {
					color: $pink;
					svg {
						color: $pink;
					}
				}
			}
		}
	}
	.album-head__interactive {
		margin-top: 30px;
		width: 100%;
		@include flex(row, space-between, flex-start);
		@include respond-below(lg) {
			display: none;
		}	
	}
	.tabs {
		display: flex;
	}
	@include respond-below(lg) {
		padding: 35px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
}
.share-block {
	@include flex(row, flex-start, center);
	span {
		color: $grey-text;
		font-size: 17px;
	}
	.share-icon {
		width: 31px;
		height: 31px;
		margin-left: 13px;
		&:first-of-type {
			margin-left: 17px;
			@include respond-below(md) {
				margin-left: 0;
			}
		}
	}
}
.album__images {
	display: grid;
	grid-template-columns: repeat(4, minmax(100px, 26%));
	grid-template-rows: 150px;
	grid-auto-rows: 150px;
	position: relative;
	grid-gap: 10px;
	@include respond-below(lg) {
		grid-template-columns: 100%;
		grid-template-rows: 187px;
		&:before {
			display: block;
			content: "";
			z-index: 1;
			width: 80px;
			height: 100%;
			position: absolute;
			left: -1px;
			top: 0;
            background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
		}
		&:after {
			display: block;
			content: "";
			z-index: 1;
			width: 98px;
			height: 100%;
			position: absolute;
			right: -1px;
			top: 0;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 79%, #ffffff 100%);
		}
		.slick-list {
			height: 100%;
			.slick-track {
				height: 100%;
				.slick-slide {
					margin-right: 15px;
					-webkit-border-radius: 6px;
					        border-radius: 6px;
					    overflow: hidden;
				}
			}
		}
	}
	@include respond-below(md) {
		&:before, &:after {
			display: none;
		}
	}
}

	.album__image {
		width: 100%;
		height: 100%;
		-webkit-border-radius: 6px;
		        border-radius: 6px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
			object-position: center;
		}
		.album__image--icon {
			@include transition();
			width: 100%;
			height: 100%;
			position: absolute;
			@include flex(row, center, center);
			top: 0;	
			left: 0;
			background-color:rgba(27, 30, 36, .7);
			-webkit-border-radius: 6px;
			        border-radius: 6px;
			opacity: 0;
			cursor: pointer;
			svg {
				width: 25px;
				height: 23px;
				color: $pink;
			}
		}
		position: relative;
		&:hover {
			.album__image--icon {
				opacity: 1;
			}
		}
	}
.album-comments {
	width: 100%;
	height: auto;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	margin-bottom: 20px;
	@include respond-below(lg) {
		padding: 40px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
		margin-bottom: 10px;
	}
}
.comments__wrapper {
	@include flex(column, flex-start, center);
}
.comment {
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #d9dadb;
	&:last-of-type {
		border-bottom: none;
	}
	@include respond-below(md) {
		padding: 20px 0;
	}
	.comment-head {
		width: 100%;
		margin-bottom: 20px;
		@include flex(row, flex-start, center);
		height: 40px;
		.comment-head__img {
			width: 40px;
			height: 40px;
			img {
				width: 100%;
				height: 100%;
			}
			margin-right: 10px;
			flex: 0 0 40px;
		}
		.comment-head__content {
			flex: 1 1 auto;
			height: 100%;
			@include flex(column, space-between, flex-start);
			.comment--name {
				font-family: "Playfair Display";
				font-weight: 700;
				color: $grey-text;
				font-size: 21px;
				@include respond-below(md) {
					font-size: 18px;
				}
			}
			.comment--date {
				color: #95989c;
				font-size: 14px;
			}
		}
	}
	.comment-body {
		.comment--text {
			margin-bottom: 10px;
			color: $grey-text;
			font-size: 16px;
			line-height: 23px;
			max-height: 69px;
			overflow: hidden;
			@include transition(max-height, .3s);
			&.comment--text.opened {
				max-height:500px;
    			@include respond-below(md) {
    				max-height: 800px;
    			}
			}
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
				max-height: 59px;
			}
		}
		.dropdown-button {
			@include transition();
			svg {
				@include transition();
			}
			@include respond-below(md) {
				font-size: 16px;
			}
		}
		.dropdown-button.opened {
			color: $pink;
			svg {
				-webkit-transform: rotate(270deg);
				   -moz-transform: rotate(270deg);
				    -ms-transform: rotate(270deg);
				     -o-transform: rotate(270deg);
				        transform: rotate(270deg);
			}
		}
	}
}
.more-link {
	margin-top: 15px;
	@include respond-below(lg) {
		margin-top: 35px;
	}
	@include respond-below(md) {
		margin-top: 25px;
	}
	
}
.interesting {
	padding: 35px 40px 40px 40px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	position: relative;
	width: 100%;
	.title.small {
		margin-bottom: 18px;
		@include respond-below(md) {
			padding-right: 60px;
			font-size: 23px;
		}
	}
	.interesting__arrows {
		position: absolute;
		top: 26px;
		right: 30px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between, center);
		@include respond-below(lg) {
			top: 30px;
			right: 20px;
		}
	}
	.slick-slide {
		margin: 0 15px 0 0;
		@include respond-below(md) {
			margin-right: 0;
		}
	}
	.slick-list {
		padding-top: 15px;
	}
}