.anketa-page {
	padding-bottom: 60px;
}
.anketa-info {
	border-radius: 6px;
	background-color: #fff;
	padding: 45px 40px;
	margin-bottom: 20px;
	@include respond-below(lg) {
		padding: 45px 20px 20px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
		margin-bottom: 10px;
	}
	.anketa-info__content {
		width: 100%;
		@include flex(row, space-between, flex-start);
		@include respond-below(lg) {
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
		}
		.anketa-info--conditions {
			flex: 1 1 auto;
			padding-right: 100px;
			@include respond-below(lg) {
				padding-right: 0;
				flex: 0 0 100%;
			}
			.anketa-info--conditions-title {
				@include flex(row, flex-start, center);
				height: 36px;
				font-weight: 700;
				color: $grey-text;
				font-size: 20px;
				svg {
					width: 38px;
					height: 36px;
					margin-right: 15px;
					color: $pink;
				}
				margin-bottom: 20px;
				@include respond-below(md) {
					font-size: 18px;
					line-height: 23px;
				}
			}
			.anketa-info--conditions--text {
				color: $grey-text;
				font-size: 17px;
				line-height: 26px;
				@include respond-below(md) {
					line-height: 19px;
					font-size: 14px;
				}
			}
		}
		.anketa-info--contract-block {
			flex: 0 0 317px;
			width: 317px;
			padding-top: 38px;
			max-width: 317px;
			@include respond-below(lg) {
				padding-top: 0;
				margin-top: 35px;
				width: 100%;
				flex: 0 0 100%;
				max-width: none;
				@include flex(row, space-between, flex-start);
			}
			@include respond-below(md) {
				margin-top: 25px;
				@include flex(column, flex-start, flex-start);
			}
			.anketa-info--contract-text {
				@include flex(row, flex-start, center);
				img {
					height: 73px;
					width: auto;
					margin-right: 20px;
					margin-left: -6px;
					@include respond-below(md) {
						height: 46px;
						margin-right: 13px;
					}
				}
				font-family: "Playfair Display";
				font-weight: 700;
				color: $grey-text;
				font-size: 22px;
				line-height: 26px;
				@include respond-below(md) {
					font-size: 18px;
					line-height: 22px;
				}
			}
			.calendar-button{
				margin-top: 20px;
				width: 100%;
				@include respond-below(lg) {
					margin-top: 0;
					flex: 0 0 335px;
					width: 335px;
				}
				@include respond-below(md) {
					flex: 0 0 52px;
					width: 100%;
					height: 52px;
					margin-top: 25px;
				}
			}
		}
	}
}
.anketa-block {
	border-radius: 6px;
	background-color: #ffffff;
	padding: 45px 40px 40px 40px;
	@include respond-below(lg) {
		padding: 40px 20px;
	}
	width: 100%;
	form {
		display: grid;
		grid-gap: 15px 40px;
		grid-template-columns: repeat(3, minmax(100px, 33%));
		grid-template-rows: auto;
		grid-auto-rows: auto;
		label {
			width: 100%;
		}
		@include respond-below(lg) {
			grid-gap: 10px 15px;
			grid-template-columns: repeat(2, minmax(40%, 50%));
		}
		@include respond-below(md) {
			grid-gap: 0;
			grid-template-columns: 100%;
		}
	}
	.anketa-send {
		margin-top: 20px;
		grid-column: 1/4;
		@include respond-below(lg) {
			grid-column: 1/3;
		}
		@include respond-below(md) {
			grid-column: 1/2;
			.send-button {
				width: 100%;
				margin-bottom: 25px;
			}
		}
		.anketa-checkbox {
			margin-left: 25px;
			width: 250px;
			@include respond-below(md) {
				margin-left: 0;
				width: 100%;
			}
			.checkbox--block {
				flex: 0 0 23px;
				margin-right: 10px;
			}
			.checkbox {
				color: #95989c;
				font-size: 14px;
				text-decoration: underline;
				line-height: 18px;
			}
		}
		@include flex(row, flex-start, center);
		@include respond-below(md) {
			@include flex(column, flex-start, flex-start);
		}
	}
}