.article-block {
	padding: 45px 40px;
	@include respond-below(lg) {
		padding: 45px 20px;
	}
	@include respond-below(md) {
		padding: 20px;
	}
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	.article-content {
		padding-bottom: 40px;
		border-bottom: 1px solid #d9dadb;
		p {
			color: $grey-text;
			font-size: 17px;
			line-height: 26px;
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
			}
		}
		p + p {
			margin-top: 35px;
			@include respond-below(md) {
				margin-top: 30px;
			}
		}
		ul, ol {
			margin: 25px 0;
			@include respond-below(md) {
				margin: 30px 0;
			}
		}
		ol {
			list-style-type: none;
			counter-reset: item; 
			li {
				padding-left: 28px;
				position: relative;
				color: $grey-text;
				font-size: 17px;
				line-height: 26px;
				@include respond-below(md) {
					font-size: 14px;
					line-height: 19px;
				}
				&::before {
					content: counter(item) '.';
 					counter-increment: item;
 					color: $pink;
					font-size: 17px;
					font-weight: 600;
					position: absolute;
					top: 0;
					left: 0;
				}
				& + li {
					margin-top: 35px;
					@include respond-below(md) {
						margin-top: 17px;
					}
				}
			}
		}
	}
	margin-bottom: 20px;
}
.article-info {
	width: 100%;
	padding: 20px 0;
	@include flex(row, space-between, center);
	.info-marker {
		svg {
			width: 14px;
			height: 14px;
			margin-right: 8px;
		}
		font-size: 15px;
		@include respond-below(md) {
			font-size: 13px;
		}
	}
	margin-bottom: 35px;
	@include respond-below(md) {
		.share-block {
			span {
				display: none;
			}
			.share-icon {
				width: 23px;
				height: 23px;
			}
		}
	}
}
