.single-branch__block {
	background: #FFF;
	padding: 35px 40px 45px;
	@include respond-below(lg) {
		padding: 35px 20px 20px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px 20px;
	}
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	.album__images {
		margin: 20px 0 40px;
		@include respond-below(lg) {
			margin: 20px 0 0;
		}
	}
	.tabs {
		width: 100%;
		margin-top: 10px;
	}
	.single-branch__badges {
		@include flex(row, flex-start, stretch);
		margin-bottom: 20px;
		@include respond-below(md) {
			margin-bottom: 30px;
		}
		.light-badge {
			margin-right: 20px;
			background-color: #f5f5f6;
		}
	}
	.single-branch__info {
		@include flex(row, flex-start, center);
		.info-marker {
			margin-right: 20px;
			color: $grey-text;
			svg {
				width: 16px;
				height: 18px;
			}
		}
	}
	.single-branch--subtitle {
		margin-top: 40px;
		font-weight: 700;
		color: $grey-text;
		font-size: 20px;
		@include respond-below(md) {
			margin-top: 20px;
			font-size: 18px;
			line-height: 28px;
		}
	}
	.single-branch--text {
		color: $grey-text;
		font-size: 17px;
		line-height: 26px;
		margin-top: 20px;
		@include respond-below(md) {
			font-size: 14px;
			line-height: 19px;
		}
	}
}
.contact-branch__block {
	padding: 40px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	background: #FFF;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	form {
		flex: 1 1 auto;
			height: 370px;
			@include respond-below(md) {
				height: auto;
			}
			display: grid;
			grid-template-rows: 110px 1fr 52px;
			grid-template-columns: repeat(2, minmax(100px, 51%));
			grid-gap: 20px 15px;
			@include respond-below(md) {
				grid-gap: 10px 0;
				grid-template-columns: 100%;
				grid-template-rows: auto
			}
			.input {
				width: 100%;
				height: 100%;
			}
			.textarea {
				grid-column: 1/3;
				height: 150px;
				@include respond-below(md) {
					grid-column: 1/2;
					margin-bottom: 10px;
				}
				textarea {
					height: 104px;
					width: 100%;
				}
			}
			.send-button {
				width: 100%;
			}
			.about-checkbox {
				@include flex(row, flex-start, center);
				.checkbox--block {
					flex: 0 0 23px;
					margin-left: 10px;
				}
				.checkbox {
					color: #95989c;
					font-size: 14px;
					text-decoration: underline;
					line-height: 18px;
				}
				padding-right: 20%;
			}
	}
}
.branch-location {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	@include respond-below(md) {
		padding: 30px 20px;
	}
	iframe {
		width: 100%;
		height: 281px;
	}
}