.catalog {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	.catalog--list {
		margin-top: 40px;
		@include respond-below(lg) {
			margin-top: 0;
		}
		display: grid;
		grid-template-columns: repeat(3, minmax(30%, 33.333%));
		grid-gap: 20px;
		@include respond-below(lg) {
			grid-template-columns: repeat(2, minmax(40%, 50%));
			grid-gap: 15px;
		}
		@include respond-below(md) {
			grid-template-columns: 100%;
			grid-gap: 10px 0;
		}
		.section-card {
			@include respond-below(lg) {
				width: 100%;
			}
			.section-card__img {
				img {
					object-fit: cover;
				}
			}
		}
	}
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
}
.catalog--all-list {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, minmax(30%, 33.334%));
	grid-gap: 20px;
	@include respond-below(lg) {
		grid-template-columns: repeat(2, minmax(40%, 50%));
		.info-card {
			width: 100%;
		}
	}
	@include respond-below(md) {
		grid-template-columns: 100%;
		grid-gap: 10px;
		margin-top: 10px;
	}
	.button {
		grid-column: 2/3;
		@include respond-below(lg) {
			grid-column: 1/3;
		}
		@include respond-below(md) {
			grid-column: 1/2;
			margin-top: 30px;
		}
		justify-self: center;
	}
	&:last-child {
		margin-bottom: 60px;
	}
}