.club-page {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px 40px 40px 35px;
	@include respond-below(lg) {
		padding: 25px 20px;
		& > .title:first-of-type {
			margin-bottom: 60px;
			@include respond-below(md) {
				margin-bottom: 25px;
			}
		}
	}
	.manager {
		margin-bottom: 45px;
	}
	.album__images {
		margin: 20px 0 55px 0;
	}
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	.tabs {
		display: flex;
	}
}
.club--subtitle {
	font-weight: 700;
	color: $grey-text;
	font-size: 20px;
	margin-bottom: 25px;
}
.club--text {
	color: $grey-text;
	font-size: 16px;
	margin-bottom: 35px;
	line-height: 23px;
	@include respond-below(md) {
		font-size: 14px;
		line-height: 19px;
	}
}