.clubs-page__head {
	background: #FFF;
	padding: 40px;
	@include respond-below(lg) {
		padding: 50px 20px 30px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	@include flex(row, flex-start, flex-start);
	@include respond-below(lg) {
		@include flex(column, flex-start, flex-start);
	}
	.clubs-page__head--img {
		padding: 15px 10px;
		@include respond-below(lg) {
			padding: 0;
		}
		@include flex(column, flex-start, center);
		img {
			width: 100%;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
		flex: 0 0 240px;
		margin-right: 40px;
		.button {
			margin-top: 40px;
			@include respond-below(lg) {
				margin-top: 0;
				margin-left: 30px;
			}
		}
		@include respond-below(lg) {
			margin-right: 0;
			flex: 0 0 150px;
			height: 150px;
			margin-bottom: 20px;
			@include flex(row, flex-start, center);
			width: auto;
			img {
				height: 100%;
				width: auto;
			}
		}
		@include respond-below(md) {
			flex: 0 0 auto;
			width: 100%;
			@include flex(column, center, center);
			height: auto;
			img {
				height: 100px;
				width: auto;
				& + .button {
					margin-top: 20px;
				}
			}
			.button {
				margin-left: 0;
			}
		}
	}
	.clubs-page__head--content {
		flex: 1 1 auto;
		.title {
			margin-bottom: 30px;
			@include respond-below(md) {
				margin-bottom: 20px;
			}
		}
		.clubs-page__head--subtitle {
			color: $grey-text;
			font-size: 21px;
			margin-bottom: 20px;
			@include respond-below(md) {
				font-size: 18px;
				line-height: 28px;
			}
		}
		.clubs-page__head--text {
			color: $grey-text;
			font-size: 16px;
			line-height: 23px;
			margin-bottom: 10px;
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
}
.clubs-page__content {
	width: 100%;
	height: auto;
	background: transparent;
	.clubs-page__content--filter {
		height: 123px;
		border-radius: 6px;
		background-color: #ffffff;
		padding: 28px 40px 17px 40px;
		@include respond-below(lg) {
			padding: 30px 20px;
		}
		p {
			color: $grey-text;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 0.28px;
			font-weight: 600;
			margin-bottom: 13px;
		}
	}
	.clubs-page__content--list {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: 145px;
		grid-auto-rows: 145px;
		@include respond-below(lg) {
			grid-template-columns: 100%;
			grid-template-rows: auto;
			grid-auto-rows: auto;
		}
		& > .club:first-of-type, .club:nth-of-type(2) {
			border-top: none;
			@include respond-below(lg) {
				border-top: 1px solid #e1e3e6;
				&:first-of-type {
					border-top: none;
				}
			}
		}
		.club:nth-of-type(even) {
			border-left: 1px solid #e1e3e6;
			@include respond-below(lg) {
				border-left: none;
			}
		}
		.club {
			border-bottom: none;
			border-top: 1px solid #e1e3e6;
			&:hover {
				border-bottom: 2px solid #ff007e;
			}
		}
	}
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
}
.interesting-wide {
	padding: 35px 40px 40px 40px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	position: relative;
	width: 100%;
	margin-bottom: 60px;
	.subtitle {
		margin-bottom: 18px;
		@include respond-below(md) {
			padding-right: 60px;
		}
	}
	.interesting-wide__arrows {
		position: absolute;
		top: 26px;
		right: 30px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between, center);
		@include respond-below(lg) {
			top: 30px;
			right: 20px;
		}
	}
	.slick-slide {
		margin: 0 10px;
	}
	.slick-list {
		margin: 0 -10px;
	}
	.slick-list {
		padding-top: 15px;
	}
}