.consultants {
	padding: 45px 40px;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	@include respond-below(lg) {
		padding: 50px 20px 20px 35px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	.consultants-info {
		@include flex(row, space-between, flex-start);
		@include respond-below(lg) {
			@include flex(column, flex-start, flex-start);
		}
		.consultants-info__img {
			width: 195px;
			height: 195px;
			flex: 0 0 195px;
			margin-right: 50px;
			@include respond-below(lg) {
				margin-right: 0;
				margin-bottom: 30px;
			}
			@include respond-below(md) {
				width: 86px;
				height: 86px;
				flex: 0 0 86px;
				margin-bottom: 25px;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
		.consultants-info__content {
			flex: 1 1 auto;
			.consultants-info__text {
				padding-top: 10px;
				color: $grey-text;
				font-size: 16px;
				line-height: 23px;
				@include respond-below(lg) {
					padding-top: 0;
				}
				@include respond-below(md) {
					font-size: 14px;
					line-height: 19px;
				}
			}
		}
		margin-bottom: 65px;
	}
	.consultants-block {
		display: grid;
		grid-template-rows: auto;
		grid-auto-rows: auto;
		grid-template-columns: repeat(3, minmax(100px, 33%));
		grid-gap: 20px;
		@include respond-below(lg) {
			grid-template-columns: repeat(2, minmax(40%, 50%));
			grid-gap: 17px;
			justify-items: center;
			.staff-member {
				max-width: 100%;
			}
		}
		@include respond-below(md) {
			grid-template-columns: 100%;
		} 
	}
	margin-bottom: 60px;
}