.banner.contacts-banner {
	.banner__img {
		&::before {
			height: 391px;
            background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
			opacity: 0.9;
		}
		&::after {
			height: 295px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
			opacity: 0.8;
		}
	}
	.banner__content {
		padding: 0 0 122px 0;
		@include respond-below(lg) {
			padding: 0 0 90px 20px;
		}
		@include respond-below(md) {
			padding: 0 0 100px 20px;
		}
		.banner__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 56px;
			margin-bottom: 20px;
			@include respond-below(lg) {
				font-size: 36px;
				margin-top: 0;
			}
			@include respond-below(md) {
				font-size: 30px;
				margin-bottom: 10px;
			}
		}
		.contacts-banner__text {
			font-weight: 300;
			color: #ffffff;
			font-size: 27px;
			@include respond-below(lg) {
				font-size: 22px;
				line-height: 15px;
			}
			@include respond-below(md) {
				font-size: 17px;
			}
		}
	}
}
.contacts-page {
	padding: 40px 320px 51px 40px;
	@include respond-below(lg) {
		padding: 45px calc(100% - 410px) 80px 20px;
	}
	@include respond-below(md) {
		padding: 30px calc(100% - 270px) 30px 20px; 
		.title {
			margin-bottom: 25px;
		}
	}
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
}
.contacts-page--info {
	padding: 7px 0 0 0;
	@include respond-below(lg) {
		padding: 0;
	}
	@include flex(column, flex-start, flex-start);
	& > .info-marker, & > a {
		margin-bottom: 20px;
		@include respond-below(md) {
			margin-bottom: 10px;
		}
	}
	.info-marker {
		color: $grey-text;
		font-size: 17px;
		line-height: 21px;
		text-align: left;
		svg {
			width: 18px;
			height: 18px;
			margin-right: 15px;
			-webkit-align-self: flex-start;
			        align-self: flex-start;
			margin-top: 3px;
			flex: 0 0 18px;
		}
		@include respond-below(md) {
			font-size: 14px;
			line-height: 19px;
		}
	}
}
.contacts-page--requisites {
	margin-top: 60px;
	@include respond-below(md) {
		margin-top: 30px;
	}
	.subtitle {
		font-family: "Source Sans Pro";
		font-weight: 700;
		color: $grey-text;
		font-size: 20px;
		margin-bottom: 25px;
		@include respond-below(md) {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
	.requisite {
		color: $grey-text;
		font-size: 17px;
		margin-bottom: 15px;
		@include respond-below(md) {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
	.link {
		font-size: 17px;
		@include respond-below(md) {
			font-size: 14px;
		}
	}
}
.wide-content.questions {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 694px auto; 
	grid-gap: 50px;
	@include respond-below(lg) {
		grid-template-columns: 100%;
		grid-gap: 40px;
	}
}
.contacts-faq__block {
	padding-top: 10px;
	@include respond-below(md) {
		padding-top: 0;
	}
	@include flex(column, flex-start, stretch);
	.contacts-faq__item {
		width: 100%;
		height: auto;
		border: 1px solid #d9dadb;
		.contacts-faq__item--head {
			cursor: pointer;
			height: 76px;
			background: #FFF;
			width: 100%;
			@include flex(row, space-between, center);
			padding: 0 22px 0 32px;
			@include respond-below(md) {
				height: 56px;
				padding: 0 20px;
			}
			@include transition();
			.contacts-faq__item--title {
				font-family: "Playfair Display";
				font-weight: 700;
				color: #1b1e24;
				font-size: 21px;
				@include respond-below(md) {
					font-size: 16px;
				}
			}
			.contacts-faq__icon {
				@include transition();
				display: block;
				position: relative;
				width: 23px;
				height: 19px;
				cursor: pointer;
				&::after {
					position: absolute;
					content: "";
					width: 3px;
					height: 19px;
					background: $pink;
					left: 10px;
					top: 0;
					@include transition();
				}
				&::before {
					position: absolute;
					content: "";
					width: 19px;
					height: 3px;
					top: 8px;
					left: 2px;
					background: $pink;
					@include transition();
				}
			}
		}
		.contacts-faq__item--text {
			color: $grey-text;
			font-size: 16px;
			padding: 25px 75px 35px 50px;
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
				padding: 15px;
			}
		}
		.contacts-faq__item--body {
			max-height: 0;
			overflow: hidden;
			@include transition(max-height, .5s);
		}
		&:not(:last-of-type) {
			border-bottom: none;
		}
		&.contacts-faq__item_opened {
			.contacts-faq__item--head {
				background-color: $inactive;
				width: calc(100% + 2px);
				position: relative;
				left: -1px;
				top: -1px;
			}
			.contacts-faq__item--body {
				max-height: 500px;
			}
			.contacts-faq__icon {
				&::after {
					opacity: 0;
				}
				&::before {
					width: 100%;
					background: #1b1e24;
					height: 2px;
					left: 0;
				}
			}
		}
	}
}
.contacts-form__block {
	padding-top: 10px;
	@include respond-below(lg) {
		padding-top: 0;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(2, minmax(40%, 50%));
		grid-gap: 15px;
		-webkit-align-items: center;
		        align-items: center;
		.textarea {
			width: 100%;
			grid-column: 1/3;
		}
		.input {
			width: 100%;
		}
	}
	@include respond-below(md) {
		grid-template-columns: 100%;
		.textarea {
			grid-column: 1/2;
		}
	}
	.textarea textarea {
		height: 104px;
		resize: none;
		margin-bottom: 20px;
		@include respond-below(lg) {
			margin-bottom: 0;
		}
		@include respond-below(md) {
			margin-bottom: 20px;
		}
	}
	.send-button {
		width: 100%;
		margin-bottom: 20px;
		@include respond-below(lg) {
			width: 260px;
			margin-bottom: 0;
		}
		@include respond-below(md) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.checkbox {
		color: #95989c;
		font-size: 14px;
		text-decoration: underline;
		padding-right: 75px;
		@include respond-below(md) {
			padding-right: 0;
		}
	}
}
.contacts--map {
	width: 100%;
	height: 281px;
}