.education-page {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, minmax(100px, 34%));
	grid-template-rows: 555px;
	grid-gap: 0 20px;
	& > div {
		height: 100%;
		width: 100%;
	}
	margin-bottom: 20px;
	@include respond-below(lg) {
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: 20px 0;
		.video-widget {
			.video-widget--slide {
				& > .small-video-card:nth-child(n + 5) {
					display: none;
				}
			}
		}
	}
	@include respond-below(md) {
		margin-bottom: 10px;
		grid-gap: 10px 0;
	}
}