.events-block {
	width: 100%;
	height: auto;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	position: relative;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	.title {
		position: relative;
		z-index: 1;
		padding: 30px 40px 40px 40px;
		@include flex(row, flex-start, center);
		@include respond-below(lg) {
			padding: 30px 40px;
			order: 1;
		}
		svg {
			width: 49px;
			height: 49px;
			color: $pink;
			margin-right: 20px;
		}
		@include respond-below(md) {
			padding: 27px 20px 22px 20px;
			svg {
				margin-right: 15px;
			}
		}
		margin-bottom: 0;
	}
	.event-block__slider--navigation {
		@include flex(row, space-between, center);
		.slick-arrow {
			width: 23px;
			flex: 0 0 23px;
		}
		width: 260px;
		top: 50px;
		right: 42px;
		position: absolute;
		z-index: 20;
		height: 24px;
		.event-block__slider--date {
			text-align: center;
			color: rgb(47, 52, 59);
			font-size: 24px;
			letter-spacing: -0.48px;
			font-weight: 600;
		}
	}
	.event-block__slider {
		height: auto;
		width: 100%;
	}
	.event-table {
		position: relative;
		.event-table__head {
			width: 100%;
			height: 71px;
			background-color: #292d33;
			display: grid;
			grid-template-columns: 192px auto 209px 234px 194px;
			.event-table--cell {
				color: #ffffff;
				font-size: 20px;
				letter-spacing: -0.4px;
				font-weight: 600;
				height: 100%;
				flex: 1 1 auto;
				@include flex(row, center, center);
				&:not(:last-of-type) {
					border-right: 1px solid rgba(248, 248, 248, .2); 
				}
			}
		}
		.event-table__row {
			&:hover {
				.info-card {
					visibility: visible;
  					opacity: 1;
				}
			}
			.info-card {
				visibility: hidden;
  				opacity: 0;
  				transition: visibility 0s, opacity 0.5s linear;
				left: calc(50% - 189px);
				bottom: 59px;
				position: absolute;
				z-index: 10;
				width: 378px;
				height: 625px;
				box-shadow: 0 23px 32px rgba(107, 110, 118, 0.29);
				background-color: rgb(255, 255, 255);
				.info-card--name {
					font-family: "Playfair Display";
					font-weight: 700;
					color: rgb(47, 52, 59);
					font-size: 21px;
					margin-bottom: 50px;
					padding-right: 30px;
				}
				.info-card__text {
					color: rgb(47, 52, 59);
					font-size: 17px;
					line-height: 21px;
					max-height: 80px;
					overflow: hidden;
				}
				.info-card__content {
					padding: 30px;
				}
				.calendar-button {
					margin: 0 30px;
					width: calc(100% - 60px);
				}
				// overflow: visible;
				// &:before {
				// 	content: "";
				// 	display: block;
				// 	position: absolute;
				// 	bottom: -34px;
				// 	left: 67px;
				// 	border-top: 17px solid #fff;
				// 	border-left: 13.5px solid #fff;
				// 	border-bottom: 17px solid transparent;
				// 	border-right: 13.5px solid transparent;
				// }
			}
			@include transition();
			&:hover {
				background-color: rgb(248, 248, 248);
			}
			height: 95px;
			display: grid;
			grid-template-columns: 0 192px auto 209px 234px 194px;
			.event-table--cell {
				flex: 1 1 auto;
				height: 100%;
				@include flex(row, center, center);
				&:nth-child(3) {
				    text-align: left;
				    padding-left: 35px;	
				   	padding-right: 35px;
				}
				border-right: 1px solid rgb(211, 211, 213);
				color: rgb(47, 52, 59);
				font-size: 18px;
				line-height: 22px;
			}
			border-bottom: 1px solid rgb(211, 211, 213);
			border-left: 1px solid rgb(211,211,213);
		}
	}
	&.events__type_2 {
		padding-bottom: 105px;
		@include respond-below(lg) {
			padding-bottom: 48px;
			@include flex(column, flex-start, stretch);
		}
		@include respond-below(md) {
			padding-bottom: 20px;
		}
		.event-block__info {
			position: absolute;
			right: 40px;
			overflow: hidden;
			@include respond-below(lg) {
				position: static;
				order: 4;
				width: calc(100% - 80px);
				margin: 0 auto;
				.info-card {
					width: 100%;
					img {
						object-position: right top !important;
					}
					.info-card__content {
						padding: 27px 30px 33px 0;
						.info-card--name {
							margin-bottom: 30px;
						}
						.info-card__marker {
							.info-marker {
								font-size: 14px;
							}
						}
						.info-card__text {
							margin: 15px 0 20px 0;
							font-size: 17px;
							line-height: 21px;
						}
						.link {
							font-size: 18px;
							line-height: 19px;
						}
					}
					.calendar-button {
						width: 100%;
						height: 57px;
					}
				}
			}
			@include respond-below(md) {
				width: calc(100% - 40px);
				margin: 0 auto;
				.info-card {
					.info-card__content {
						padding: 20px 50px 25px 0;
						.info-card--name {
							margin-bottom: 20px;
							line-height: 24px;
							font-size: 19px;
						}
						.info-card__marker {
							.info-card {
								font-size: 13px;
							}
						}
						.info-card__text {
							margin: 15px 0 17px 0;
							font-size: 14px;
							line-height: 19px;
						}
						.link {
							font-size: 16px;
							line-height: 19px;
						}
					}
				}
			}
			& * {
				@include transition(left, 0s);
			}
			.info-card:hover {
				-webkit-transform: none;
				   -moz-transform: none;
				    -ms-transform: none;
				     -o-transform: none;
				        transform: none;
			}
		}
		.event-block__slider--navigation {
			@include respond-below(lg) {
				order: 2;
			}
			width: 666px;
			height: 53px;
			border-radius: 4px 4px 0 0;
			background-color: rgb(41, 45, 51);
			position: static;
			margin-left: 40px;
			@include respond-below(lg) {
				width: calc(100% - 80px);
			}
			.event-block__slider--date {
				color: rgb(250, 251, 253);
				font-size: 20px;
				letter-spacing: -0.4px;
				font-weight: 600;
				text-align: left;
				@include respond-below(lg) {
					font-size: 19px;
				}
				@include respond-below(md) {
					font-size: 12px;
					line-height: 1;
				}
			}
			display: grid;
			grid-template-rows: 100%;
			grid-template-columns: 40px 150px 1fr 23px 20px 23px 40px;
			@include respond-below(lg) {
				grid-template-columns: 37px 150px 1fr 23px 20px 23px 40px;
			}
			@include respond-below(md) {
				width: calc(100% - 40px);
				margin: 0 auto;
				grid-template-columns: 17px 150px 1fr 23px 7px 23px 20px;
				height: 33px;
			}
			grid-template-areas: ". nav . prev . next";
			.slider-arrow_small {
				grid-area: prev;
				&.slider-arrow_small_left {
					grid-area: next;
				}
				@include respond-below(md) {
					width: 18px;
					height: 18px;
				}
			}
			.slick-list {
				grid-area: nav
			}
		}
		.event-block__slider {
			margin-left: 40px;
			width: 666px;
			@include respond-below(lg) {
				order: 3;
				width: calc(100% - 80px);
				margin-bottom: 30px;
			}
			@include respond-below(md) {
				width: calc(100% - 40px);
				margin: 0 auto;
				margin-bottom: 20px;
			}
			.event-month {
				display: grid !important;
				grid-template-columns: repeat(7, calc(100%/7));
				grid-template-rows: auto;
				grid-auto-rows: auto;
				border-left: 1px solid rgb(201, 201, 201);
				.event-day {
					.info-card {
						display: none;
					}
					border-right: 1px solid rgb(201, 201, 201);
					border-bottom: 1px solid rgb(201, 201, 201);
					background-color: rgb(255, 255, 255);
					@include flex(row, flex-start, flex-end);
					padding: 5px;
					@include respond-below(md) {
						padding: 3px;
					}
					span {
						color: rgb(163, 163, 163);
						font-size: 20px;
						font-weight: 600;
						@include respond-below(md) {
							font-size: 9px;
						}
					}
					@include transition();
					&:hover {
						background-color: rgb(248, 248, 248);
						span {
							color: rgb(27, 30, 36);
						}
					}
					&:after {
						content: "";
						padding-top: 100%;
						display: block;
					}
					position: relative;
					height: auto;
					&.event-day__has-event {
						position: relative;
						cursor: pointer;
						span {
							background-color: rgb(255, 0, 126);
							width: 54px;
							height: 54px;
							-webkit-border-radius: 50%;
							        border-radius: 50%;
							@include respond-below(md) {
								width: 55%;
								height: 55%;
								max-width: 55%;
								max-height: 55%;
								-webkit-border-radius: 100%;
								        border-radius: 100%;
							}
							position: absolute;
							top: calc(50% - 27px);
							left: calc(50% - 27px);
							@include respond-below(md) {
								top: 25%;
								left: 25%;
							}
							z-index: 0;
							@include flex(row, center, center);
							font-weight: 700;
							color: rgb(255, 255, 255);
							font-size: 20px;
							@include respond-below(md) {
								font-size: 9px;
							}
						}
						&:hover, &.active {
							background-color: rgb(41, 45, 51);
							span {
								color: #fff;
								background-color: rgb(41, 45, 51);
							}
						}
					}
				}
			}
		}
	}
}
.interesting-wide+.events-content {
	margin-top: -40px;
	@include respond-below(md) {
		margin-top: -50px;
	}
}
.container.has_aside.events-content {
	grid-template-rows: auto auto;
	padding: 0;
	.albums-block {
		margin-bottom: 0;
	}
}
