.banner.event-banner {
	height: 533px;
	.banner__info {
		margin-top: 70px;
	}
	@include respond-below(lg) {
		height: calc(100vh - 65px);
	}
	@include respond-below(lg) {
		.banner__info {
			margin-top: 90px;
		}
	}
}
.event-page {
	margin-bottom: 20px;
	
	padding: 45px 40px;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	.event-text {
		color: $grey-text;
		font-size: 17px;
		line-height: 26px;
		margin-bottom: 30px;
		@include respond-below(md) {
			font-size: 14px;
			line-height: 19px;
			margin-bottom: 18px;
		}
	}
	.event-subtitle {
		font-weight: 700;
		color: $grey-text;
		font-size: 20px;
		margin: 40px 0 30px;
		@include respond-below(md) {
			margin: 20px 0;
			font-size: 18px;
			line-height: 23px;
		}
	}
	.event-speakers {
		.speaker:not(:last-of-type) {
			border-bottom: none;
		}
		@include respond-below(lg) {
			.speaker {
				width: 100%;
			}
		}
	}
	.event-info {
		display: grid;
		grid-template-columns: 330px auto 245px;
		grid-template-rows: 25px auto;
		grid-gap: 25px 0;
		margin-top: 40px;
		@include respond-below(md) {
			margin-top: 30px;
			grid-template-columns: 100%;
		}
		.event-subtitle {
			grid-column: 1/2;
			grid-row: 1/2;
			margin: 0;
		}
		.event-info--list {
			grid-row: 2/3;
			grid-column: 1/2;
			.event-info--item {
				@include flex(row, flex-start, center);
				margin-bottom: 12px;
				color: $grey-text;
				font-size: 18px;
				.event-info--item-value {
					font-weight: 700;
					color: $grey-text;
					font-size: 18px;
					flex: 0 0 auto;
				}
				.event-info--dashed {
					border-bottom: 1px dashed #aeafb0;
					flex: 1 1 auto;
					margin: 10px 5px 0;
					height: 100%;
				}
			}
		}
		.event-info--take-part {
			grid-column: 3/4;
			grid-row: 1/3;
			@include respond-below(md) {
				grid-column: 1/2;
				grid-row: 3/4;
			}
			text-align: center;
			.event-info--price {
				font-weight: 700;
				color: $grey-text;
				font-size: 36px;
				letter-spacing: -1.44px;
				text-align: center;
				margin-bottom: 20px;
				@include respond-below(md) {
					font-size: 32px;
				}
			}
			@include respond-below(md) {
				.button-colored {
					width: 100%;
				}
			}
		}
	}
}
.wide-events {
	margin-top: 20px;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 35px 30px 0;
	position: relative;
	@include respond-below(lg) {
		padding: 35px 20px;
		@include respond-below(md) {
			padding: 30px 20px;
			margin-top: 10px;
		}
	}
	.title.small {
		margin-bottom: 30px;
		@include respond-below(lg) {
			font-size: 30px;
			padding-right: 60px;
		}
		@include respond-below(md) {
			font-size: 23px;
		}
	}
	.wide-events__arrows {
		position: absolute;
		top: 35px;
		right: 40px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between,center);
		@include respond-below(lg) {
			top: 35px;
			right: 20px;
		}
		@include respond-below(md) {
			top: 30px;
		}
	}
	.wide-events__slider {
		margin-bottom: 30px;
	}
	.slick-list {
		margin: 0 -15px;
	}
	.slick-slide {
		margin: 0 15px;
		.wide-event__slider-slide {
			.article-card {
				width: 100%;
			}
		}
	}
	.calendar-button {
		position: relative;
		width: calc(100% + 60px);
		left: -30px;
		@include respond-below(lg) {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}
}