.feedback {
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 35px 40px 0 40px;
	@include respond-below(lg) {
		padding: 35px 20px 0 20px;
	}
	@include respond-below(md) {
		padding: 25px 20px 0 20px;
	}
	@include flex(column, flex-start, flex-start);
	.feedback__info {
		@include flex(row, flex-start, center);
		height: 38px;
		.light-badge {
			background-color: #f5f5f6;
			margin-right: 25px;
		}
		margin-bottom: 30px;
	}
	.feedback__author {
		@include flex(row, flex-start, flex-start);
		padding-left: 18px;
		@include respond-below(md) {
			padding-left: 0;
			margin-bottom: 50px;
			position: relative;
		}
		.feedback__author--img {
			width: 100px;
			height: 100px;
			flex: 0 0 100px;
			margin-right: 20px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		.feedback__author--content {
			@include flex(column, space-around, flex-start);
			@include respond-below(lg) {
				-webkit-justify-content: center;
				        justify-content: center;
			}
			min-height: 100px;
			.feedback__author--name {
				font-family: "Playfair Display";
				font-weight: 700;
				color: $grey-text;
				font-size: 34px;
				@include respond-below(lg) {
					font-size: 30px;
					line-height: 42px;
					margin-bottom: 10px;
				}
				@include respond-below(md) {
					font-size: 23px;
					line-height: 25px;
				}
			}
			.feedback__author--subtitle {
				@include flex(row, flex-start, center);
				font-size: 17px;
				color: $grey-text;
				a {
					font-size: inherit !important;
					margin-left: 5px;
				}
				@include respond-below(md) {
					position: absolute;
					left: 0;
					bottom: -50px;
					display: block;
					font-size: 14px;
					line-height: 18px;
					@include respond-below(sm) {
						bottom: -60px;
						a {
							margin-left: 0;
							display: block;
						}
					}
				}
			}
		}
	}
	.feedback__text {
		margin-top: 25px;
		border-bottom: 1px solid #d9dadb;
		padding-bottom: 40px;
		@include respond-below(md) {
			padding-bottom: 30px;
		}
		h2 {
			color: $grey-text;
			font-size: 21px;
			font-weight: 600;
			@include respond-below(md) {
				font-size: 18px;
				line-height: 21px;
			}
		}
		p {
			color: $grey-text;
			font-size: 16px;
			line-height: 23px;
			margin-top: 25px;
			@include respond-below(lg) {
				margin-top: 20px;
			}
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
	.article-info {
		margin-bottom: 0;
		padding: 44px 0;
		@include respond-below(lg) {
			padding: 35px 0;
		}
		@include respond-below(md) {
			padding: 20px 0;
		}
	}
}