.feedbacks--block {
	padding: 30px 40px 40px;
	@include respond-below(lg) {
		padding: 20px;
	}
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	&:last-child {
		margin-bottom: 60px;
	}
	.feedbacks--list {
		margin: 30px 0;
		display: grid;
		grid-template-columns: repeat(2, minmax(300px, 50%));
		grid-template-rows: auto;
		grid-gap: 45px 80px;
		@include respond-below(lg) {
			grid-template-columns: 100%;
			grid-gap: 40px 0;
		}
		.review {
				@include flex(column, flex-start, stretch);
				.review-head {
					@include flex(row, flex-start, stretch);
					height: 40px;
					width: 100%;
					.review-head__img {
						height: 40px;
						width: 40px;
						flex: 0 0 40px;
						margin-right: 12px;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.review-head__content {
						flex: 1 1 auto;
						@include flex(column, space-between, flex-start);
						height: 40px;
						.review--name {
							font-family: "Playfair Display";
							font-weight: 700;
							color: $grey-text;
							font-size: 21px;
							@include respond-below(md) {
								font-size: 18px;
								line-height: 28px;
							}
						}
						.review--date {
							color: #95989c;
							font-size: 14px;
						}
					}
					margin-bottom: 25px;
					@include respond-below(md) {
						margin-bottom: 15px;
					}
				}
				.review-body {
					width: 100%;
					height: auto;
					.review--title {
						width: 100%;
						max-width: 100%;
						overflow: hidden;
						-ms-text-overflow: ellipsis;
						    text-overflow: ellipsis;
						white-space: nowrap;
						color: $grey-text;
						font-size: 21px;
						margin-bottom: 15px;
						@include respond-below(md) {
							font-size: 18px;
							line-height: 28px;
							margin-bottom: 10px;
						}
					}
					.review--text {
						color: $grey-text;
						font-size: 16px;
						line-height: 23px;
						margin-bottom: 14px;
						@include respond-below(md) {
							margin-bottom: 10px;
							line-height: 19px;
							font-size: 14px;
						}
					}
					.link {
						text-decoration: none;
					}
				}
			}
	}
}