.footer {
	width: 100%;
	display: block;
	grid-row: 3/4;
}
.footer__content {
	padding: 87px 0 0 0;
	background-color: #1f2229;
}
.footer__content--menu {
	width: 100%;
	@include flex(column, flex-start, flex-start, wrap);
	height: 378px;
	border-bottom: 1px solid rgba(245, 248, 250, .06);
	.footer__list {
		margin-bottom: 30px;
		width: 290px;
		.footer__list--title {
			color: #ffffff;
			font-family: "Playfair Display";
			font-size: 23px;
			font-weight: 700;
			margin-bottom: 22px;
		}
		.footer__list--item {
			margin-bottom: 9px;
			.footer__list--link {
				color: #8d949d;
				font-size: 15px;
				font-weight: 300;
				letter-spacing: 0.3px;
				@include transition();
			}
			&:hover {
				.footer__list--link {
					color: #fff;
				}
			}
		}
	}
	.footer__content--additional {
		height: 100%;
		width: calc(100% - 900px);
		margin-top: -10px;
		.footer__list--title {
			color: #ffffff;
			font-family: "Playfair Display";
			font-size: 23px;
			font-weight: 700;
			line-height: 29px;
			margin-bottom: 20px;
		}
		.footer__content--text {
			color: rgba(117, 123, 131, .4);
			font-size: 15px;
			line-height: 23px;
			margin-bottom: 20px;
			span {
				display: block;
			}
		}
		.footer__content--link {
			color: #009cff;
			font-size: 15px;
			line-height: 28px;
			display: block;
			@include transition();
			&:hover {
				color: $pink;
			}
		}
	}
}
.footer__content--info {
	height: 105px;
	@include flex(row, flex-start, center);
	.footer__content--socials {
		flex: 0 0 298px;
		@include flex(row, flex-start, center);
		.footer__content--social {
			margin-right: 18px;
			width: 18px;
			height: 18px;
			color: #42454c;
			@include transition();
			&:hover {
				color: $pink;
			}
			svg {
				width: 100%;
				height: 100%;
			}
			&.footer__content--social-vk {
   				height: 22px;
   				width: 23px;
			}
			&.footer__content--social-instagram {
   				height: 20px;
   				width: 20px;
			}
			&.footer__content--social-youtube {
   				height: 22px;
   				width: 21px;
			}
		}
	}
	.footer__content--service-block {
		flex: 0 0 297px;
		.footer__content--service {
			@include flex(row, flex-start, center, nowrap, inline-flex);
			color: #828891;
			font-size: 15px;
			letter-spacing: 0.6px;
			cursor: pointer;
			@include transition();
			&:hover {
				color: $pink;
				.footer__content--service-icon {
					color: $pink;
				}
			}
			.footer__content--service-icon {
				@include transition();
				color: #42454c;
				width: 24px;
				height: 24px;
				margin-right: 10px;
				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.footer__content--phone-block {
		flex: 0 0 298px;
		.footer__content--phone {
			@include flex(row, flex-start, center, nowrap, inline-flex);
			color: #ffffff;
			font-size: 16px;
			line-height: 28px;
			letter-spacing: 0.64px;
			.footer__content--phone-icon {
				width: 13px;
				color: $pink;
				margin-right: 10px;
				@include flex(row, center, center);
				svg {
					width: 100%;
					height: 13px;
				}
			}
		}
	}
	.footer__content--design-block {
		flex: 1 1 auto;
		.footer__content--design {
			@include flex(column, flex-start, flex-start, wrap, inline-flex);
			height: 32px;
			.footer__content--design-icon {
				width: 32px;
				height: 32px;
				margin-right: 10px;
			}
			.footer__content--design-name {
				color: #6b7179;
				font-size: 14px;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 2.56px;
				margin-bottom: 5px;
			}
			.footer__content--design-descr {
				color: #747a83;
				font-size: 12px;
				font-weight: 300;
				letter-spacing: 1px;
			}
		}
	}
}
.footer__copyright {
	background-color: $black-bg;
	width: 100%;
	height: 97px;
	.container {
		@include flex(row, flex-start, center);
		height: 100%;
		.footer--site-name {
			flex: 0 0 294px;
			.footer--title {
				font-family: "Playfair Display";
				color: rgb(255, 255, 255);
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 8px;
   				margin-top: -9px;
			}
			.footer--description {
				color: rgb(103, 106, 109);
				font-size: 14px;
			}
		}
		.footer__link--icon-block {
			height: calc(100% - 10px);
			flex: 0 0 300px;
			.footer__link--icon {
				height: 100%;
				@include flex(row, flex-start, center, nowrap, inline-flex);
				.footer__link--icon {
					color: $pink;
					width: 15px;
					margin-right: 11px;
					display: block;
					svg {
						width: 100%;
						height: 100%;
					}
					&.footer__link--icon-location {
						width: 20px;
						margin-right: 6px;
					}
				}
				color: #474b52;
				font-size: 14px;
			}
		}
		.footer__copyright--text {
			color: #474b52;
			font-size: 15px;
			flex: 1 1 auto;
			white-space: nowrap;
		}
	}
}

@include respond-below(lg) {
	.footer {
		.footer__content {
			padding-top: 60px;
		}
	}
	.footer__content--menu {
		padding-bottom: 190px;
    	height: 568px;
    	overflow: hidden;
    	position: relative;
    	.footer__content--additional {
    		position: absolute;
    		bottom: 30px;
    		height: auto;
    		width: 100%;
    		left: 0;
    		.footer__content--text {
    			font-size: 14px;
    			margin-bottom: 13px;
    			span {
    				display: inline-block;
    				margin-right: 20px;
    			}
    		}
    		.footer__content--link {
    			display: inline-block;
    			font-size: 14px;
    			margin-right: 35px;
    		}
    		.footer__list--title {
    			font-size: 20px;
    		}
    	}
    	.footer__list {
    		width: 260px;
    		.footer__list--title {
    			font-size: 20px;
    		}	
    	}
	}
	.footer__copyright {
		padding: 40px 0;
		height: auto;
		.container {
			@include flex(column, flex-start, center);
			.footer--site-name {
				flex: auto 0 0;
				text-align: center;
				.footer--title {font-size: 20px}
				.footer--description {font-size: 12px}
				margin-bottom: 35px;
			}
			.footer__link--icon-block {
				flex: auto 0 0;
				text-align: center;
				height: 16px;
				margin-bottom: 20px;
			}
			.footer__copyright--text {
				margin-top: 30px;
				
			}
		}
	}
	.footer__content--info {
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	    .footer__content--socials, .footer__content--service-block, .footer__content--phone-block, .footer__content--design-block {
	    	flex: auto 0 0;
	    }
	    .footer__content--design-block {
	    	.footer__content--design {
	    		width: 165px;
	    	}
	    }
	}
}
@include respond-below(md) {
	.footer {
		.footer__content {
			padding-top: 30px;
		}
	}
	.footer__content--menu {
		padding-bottom: 0;
    	height: 550px;
    	.footer__content--additional {
    		display: none;
    	}
    	.footer__list {
    		width: 173px;
    		@include respond-below(sm) {
    			width: 50%;
    			padding-right: 20px;
    		}
    		.footer__list--title {
    			font-size: 20px;
    			@include respond-below(sm) {
    				font-size: 16px;
    				margin-bottom: 10px;
    			}
    		}	
    	}
	}
	.footer__content--info {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    .footer__content--socials, .footer__content--service-block, .footer__content--phone-block, .footer__content--design-block {
	    	margin: 0 5px;
	    	flex: 45% 0 0;
	    }
	    @include respond-below(sm) {
	    	padding: 20px 0;
	    	height: auto;
	    	@include flex(column, flex-start, center, nowrap);
	    	& > * {
	    		margin: 0 0 10px 0 !important;
	    	}
	    }
	}
}