
.header {
	height: auto;
	@include flex(column, flex-start, stretch);
	width: 100%;
	position: relative;
	z-index: 1;
	grid-row: 1/2;
	&.scrolling {
		.header__navigation  {
			position: fixed;
			top: 0;
			.header__navigation--list {
				background-color: rgb(20,22,26);
			}
			width: 100%;
		}
		z-index: 100;
	}
}

.header__block {
	@include flex(row, flex-start, center);
	width: 100%;
	height: 93px;
	background-color: #1f2229;
	padding-right: 57px;
	.menu-button {
		flex: 0 0 90px;
	}
}

.header__block--site-name {
	margin-left: 47px;
	flex: 0 0 210px;
	.header__block--title {
		color: #ffffff;
		font-family: "Playfair Display";
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
	}
	.header__block--description {
		color: #676a6d;
		font-size: 14px;
		line-height: 28px;
	}
}

.header__block--city {
	@include flex(row, space-between, center);
	@include transition();
	color: #9aa1ab;
	font-size: 15px;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	.header__block--city-mark {
		width: 19px;
		height: 20px;
		color: $pink;
		display: inline-block;
		margin-right: 7px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	.header__block--city-dropdown {
		width: 7px;
		height: 10px;
		color: $pink;
		margin-left: 11px;
		position: relative;
		top: -1px;
		svg {
			width: 100%;
			height: 100%;
			-webkit-transform: rotate(90deg);
			   -moz-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			        transform: rotate(90deg);
		}
	}
	flex: 0 0 165px;
	margin-right: 47px;
	&:hover {
		color: #fff;
	}
}
.header__block--offers {
	@include flex(row, flex-start, center);
	@include transition();
	&:hover {
		color: #fff;
	}
	.header__block--offers-icon {
		width: 19px;
		height: 19px;
		color: $pink;
		display: block;
		margin-right: 12px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	color: #9aa1ab;
	font-size: 15px;
	margin-right: 46px;
	white-space: nowrap;
	&:last-of-type {
		.header__block--offers-icon {
			height: 23px;
			width: 27px;
		}
	}
}
.header__block--search-block {
	flex: 1 1 271px;
	height: 36px;
	margin-right: 41px;
	.header__block--search-form {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		.header__block--search-input {
			@include transition();
			width: 100%;
			height: 100%;
			border-radius: 18px;
			background-color: #262a33;
			color: #8d949d;
			font-size: 13px;
			padding-left: 22px;
			border: 1px solid #262a33;
			outline: none;
			&:focus, &:hover {
				border: 1px solid #8d949d;
			}
		}
		.header__block--search-icon {
			width: 15px;
			height: 16px;
			color: #c8d1de;
			position: absolute;
			svg {
				display: block;
				width: 100%;
				height: 100%;
			}
			top: 10px;
			right: 20px;
			cursor: pointer;
		}
	}
}
.header__block--phone {
	color: #ffffff;
	font-size: 17px;
	letter-spacing: 0.68px;
	@include flex(row, flex-start, center);
	margin-right: 21px;
	flex: 0 0 152px;
	white-space: nowrap;
	.header__block--phone-icon {
		width: 16px;
		height: 16px;
		color: $pink;
		display: block;
		margin-right: 10px;
		svg {
			width: 100%;
			height: 100%;
		}
		.h_closer {
				display: none;
			}
	}
	margin-top: 4px;
}
.header--phone_mobile {
	display: none;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    -webkit-align-items: stretch;
			            align-items: stretch;
			    height: 35px;
			    background: #FFF;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    width: 100%;
			    opacity: 1;
			    .header--phone_mobile--link {
					width: 106px;
					height: 35px;
					background-color: #ff007e;
					color: #ffffff;
					font-size: 16px;
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					-webkit-justify-content: center;
					        justify-content: center;
					-webkit-align-items: center;
					        align-items: center;
					@include respond-below(sm) {
						width: 90px;
					}
			    }
			    -webkit-transition: bottom .3s linear;
		   -moz-transition: bottom .3s linear;
		    -ms-transition: bottom .3s linear;
		     -o-transition: bottom .3s linear;
		        transition: bottom .3s linear;
		z-index: -2;
		.header--phone_mobile--text {
			font-weight: 700;
			color: #1b1e24;
			font-size: 18px;
			line-height: 35px;
			letter-spacing: -0.36px;
			@include respond-below(sm) {
				font-size: 16px;
			}
		}
		.header--phone_mobile--info {
			color: #1b1e24;
			font-size: 12px;
			line-height: 35px;
			letter-spacing: -0.24px;
			margin-right: 15px;
			@include respond-below(sm) {
				margin-right: 10px;
				}
		}
}
.header__block--language {
	color: #6e6f71;
	font-size: 16px;
	text-transform: uppercase;
	@include transition();
	&:hover {
		color: #fff;
	}
}

.header__navigation {
	@include flex(row, flex-start, stretch);
	height: 66px;
	.icon-button {
		flex: 0 0 90px;
	}
	position: static;
	top: -66px;
	@include transition();
	.header__navigation--list {
		&.no_banner {
			background: #292d33;
		}
		padding: 0 47px;
		flex: 1 1 auto;
		height: 100%;
		max-width: calc(100% - 90px);
		background-color: rgba(20, 22, 26, .5);
		@include flex(row, flex-start, stretch);
		.header__navigation--item {
			border-bottom: 3px solid transparent;
			border-top: 3px solid transparent;
			height: 100%;
			@include transition();
			&:not(:last-of-type) {
				margin-right: 42px;	
			}
			.header__navigation--link {
				@include flex(row, center, center);
				-webkit-transition: inherit;
				   -moz-transition: inherit;
				    -ms-transition: inherit;
				     -o-transition: inherit;
				        transition: inherit;
				color: #9aa1ab;
				font-family: Roboto;
				font-size: 17px;
				width: 100%;
				height: 100%;
				white-space: nowrap;
			}
			&.header__navigation--item_active {
				border-bottom-color: $pink;
				.header__navigation--link {
					color: #ffffff;
				}
			}
			&:hover {
				.header__navigation--link {
					color: #ffffff;
				}
			}
		}
	}
}

@include respond-below(xl) {
	.header__navigation {
		.header__navigation--list {
			-webkit-justify-content: space-between;
			        justify-content: space-between;
		    .header__navigation--item, .header__navigation--item:not(:last-of-type) {
		    	margin-right: 0;
		    }
		}
	}
	.header__block--site-name {
		flex: 0 0 auto;
		margin-right: 25px;
	}
	.header__block--city, .header__block--offers {
		margin-right: 25px;
	}
}
@include respond-below(lg) {
	.header__block {
		height: 73px;
		padding-right: 20px;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		.menu-button {
			flex: 66px 0 0;
		}
	}
	.header__navigation {
		display: none;
	}
	.header__block--site-name {
		flex: 0 0 auto;
		margin: 0 30px;
		.header__block--title {font-size: 20px;line-height: 24px;}
		.header__block--description {font-size: 12px;line-height: 24px;}
	}
	.header__block--city {
		margin-right: 0;
		font-size: 13px;
		flex: 130px 0 0;
		.header__block--city-dropdown {
			display: none;
		}
	}
	.header__block--offers {
		font-size: 0;
		margin-right: 35px;
		margin-left: 30px;
		.header__block--offers-icon {
			margin-right: 0;
		}
	}
}
@media (max-width: 950px) {
	.header__block--search-block {
		flex: 36px 0 0;
		height: 36px;
		border-radius: 18px;
		border: 1px solid #262a33;
    	background-color: #262a33;
    	.header__block--search-form {
    		@include flex(row, center, center);
    		.header__block--search-icon {
				position: static;
			}
    	}
		.header__block--search-input {
			display: none;
		}
	}
}
@include respond-below(md) {
	.header__block {
		height: 65px;
		position: relative;
		.menu-button {
			flex: 60px 0 0;
		}
	}
	.header__block--site-name {
		margin-left: 0;
	}
	.header__block--city {
		font-size: 0;
		flex: auto 0 0;
		margin: 0 0;
	}
	.header__block--phone {
		font-size: 0;
		width: 39px;
		height: 39px;
		flex: 0 0 39px;
		border-radius: 20px;
		border: 1px solid #4e4f4f;
		background-color: #262a33;
		cursor: pointer;
		margin-right: 0;
		-webkit-transition: all .3s linear;
		   -moz-transition: all .3s linear;
		    -ms-transition: all .3s linear;
		     -o-transition: all .3s linear;
		        transition: all .3s linear;
		.header__block--phone-icon {
			width: 100%;
			height: 100%;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			margin-right: 0;
			flex: 0 0 100%;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			& > svg {
				width: 16px;
				height: 16px;
			}
		}
		&._active {
			border: 1px solid #4e4f4f;
			background-color: #ffffff;
			.header__block--phone-icon {
				& > svg {
					display: none;
				}
				.h_closer {
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					-webkit-justify-content: center;
					        justify-content: center;
					-webkit-align-items: center;
					        align-items: center;
					width: 100%;
					height: 100%;
					flex: 0 0 100%;
					svg {
						width: 16px;
						height: 16px;
						flex: 0 0 16px;
					}
				}
			}
		}
	}
	.header--phone_mobile {
		display: flex;
		&._active {
			bottom: -35px;
		}
	}
	.header__block--search-block {
		display: none;
	}
	.header__block--search-block {
		margin-right: 0;
	}
	.header__block--offers {
		margin: 0;
	}
}
@include respond-below(sm) {
	.header__block {
		padding-right: 10px;
		.menu-button {
			flex: 50px 0 0;
			&:after, &:before {
				left: 10px;
			}
			&:after {
				top: 25px;
			}
			&:before {
				top: 35px;
			}
		}
	}
	.header__block--site-name {
		margin-right: 5px;
	}
	.header__block--language {
		font-size: 12px;
	}
}

.search-adaptive {
	display: none;
	@include respond-below(lg) {
		width: 100%;
		height: -webkit-calc(100% - 0px);
		height: calc(100% - 0px);
		position: fixed;
		background-color: #1b1e24;
		z-index: 110;
		top: 0;
		left: 0;
		.search-adaptive__form {
			height: 100%;
			width: 100%;
			@include flex(column, center, center);
			.search-adaptive__form--title {
				font-family: "Playfair Display";
				font-weight: 700;
				color: #ffffff;
				font-size: 23px;
				margin-bottom: 30px;
				@include respond-below(md) {
					margin-bottom: 25px;
					font-size: 20px;
				}
			}
			padding: 0 28px;
			.search-adaptive__form--input {
				width: 100%;
				height: 52px;
				border-radius: 26px;
				background-color: #262a33;
				position: relative;
				input {
					width: 100%;
					border: none;
					outline: none;
					height: 100%;
					-webkit-border-radius: 26px;
					        border-radius: 26px;
					background: none;
					padding-left: 30px;
					color: #8d949d;
					font-size: 16px;
					@include respond-below(md) {
						font-size: 14px;
					}
				}
				span {
					position: absolute;
					right: 22px;
					top: calc(50% - 8px);
					color: #c8d1de;
				}
			}
		}
	}
	.search-adaptive--cross {
		width: 24px;
		height: 24px;
		color: $pink;
		cursor: pointer;
		position: absolute;
		top: 30px;
		right: 32px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}