.home-slider {
	height: 675px;
	width: 100%;
	@include flex(row, flex-start, stretch);
	.home-slider__aside {
		width: 90px;
		flex: 0 0 90px;
		background: #fff;
		@include flex(column, center, center);
		padding-top: 65px;
		.home-slider__aside-icon {
			margin: 10px 0;
			width: 20px;
			height: 20px;
			color: #000;
			@include transition();
			&:hover {
				color: $pink;
			}
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	.home-slider__wrapper {
		width: calc(100% - 90px);
		flex: 1 1 auto;
		position: relative;
		max-width: calc(100% - 90px);
		position: relative;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,.85);
			z-index: 200;
		}
		&:before {
			content: "";
			width: 82px;
  			height: 82px;
  			margin: auto;
  			background-color: $pink;
  			border-radius: 100%;
  			animation: sk-spinner-pulse 1.0s infinite ease-in-out;	
  			position: absolute;
  			top: calc(50% - 41px);
  			left: calc(50% - 41px);
  			z-index: 201;
		}
		&.done {
			&:after, &:before {
				display: none;
			}
		}
		@keyframes sk-spinner-pulse {
		  0% {
		    transform: scale(0);
		  }
		  100% {
		    transform: scale(1.0);
		    opacity: 0;
		  }
		}
		.slick-dots {
			position: absolute;
			right: 33px;
			top:0 ;
			height: 100%;
			padding-top: 66px;
			@include flex(column, center, center);
			@include respond-above(lg) {
				right: 111px;
				bottom: 60px;
				padding-top: 0;
				top: auto;
				height: auto;
				width: auto;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
			}
			li {
				width: 6px;
				height: 6px;
				background-color: #ffffff;
				border: none;
				cursor: pointer;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				margin: 4px 0;
				position: relative;
				@include transition();
				overflow: hidden;
				@include respond-above(lg) {
					margin: 0 4px;
				}
				&.slick-active {
					width: 7px;
					height: 8px;
					background-color: $pink;
					right: -1px;
				}
				&:hover {
					background-color: $pink;
				}
				button {
					cursor: pointer;
					border: none;
					width: 6px;
					height: 6px;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					background-color: inherit;
					font-size: 0;
					outline: none;
					padding: 0;
					margin: 0;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		.slick-prev {
			width: 45px;
			height: 45px;
			background: rgba(255,255,255,.2) url('../img/icons/prev.svg') center center no-repeat;
			-webkit-background-size: 15px 15px;
			     -o-background-size: 15px 15px;
			        background-size: 15px 15px;
			font-size: 0;
			border: none;
			outline: none;
			position: absolute;
			bottom: 40px;
			left: 100px;
			cursor: pointer;
			z-index: 5;
			@include transition();
			&:hover {
				background-color: rgba(255,255,255,.5);
			}
		}
		.slick-next {
			width: 45px;
			height: 45px;
			background: rgba(255,255,255,.2) url('../img/icons/next.svg') center center no-repeat;
			-webkit-background-size: 15px 15px;
			     -o-background-size: 15px 15px;
			        background-size: 15px 15px;
			font-size: 0;
			border: none;
			outline: none;
			position: absolute;
			bottom: 40px;
			left:155px;
			cursor: pointer;
			z-index: 5;
			@include transition();
			&:hover {
				background-color: rgba(255,255,255,.5);
			}
		}
		.slick-list {
			height: 100%;
			.slick-track {
				height: 100%;
			}
		}
		.slick-slide {
			& > div {
				height: 100%;
			}
		}
		& .home-slider__slide:not(:first-child) {
			opacity: 0;
			@include transition();
		}
		&.initiated .home-slider__slide:not(:first-child) {
			opacity: 1;
		}
		.home-slider__slide {
			height: 100%;
			.home-slider__slide--img-block {
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 0;
				display: block;
				&::after {
					position: absolute;
					content: '';
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 436px;
                    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000 100%);
					opacity: 0.75;
					z-index: 3;
				}
				&::before {
					position: absolute;
					content: '';
					display: block;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 202px;
                    background-image: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 100%);
					opacity: 0.75;
					z-index: 3;
				}
				img {
					object-fit: cover;
					object-position: center center;
					width: 100%;
					height: 100%;
					position: relative;
					z-index: 2;
				}
			}
			.home-slider__slide--content {
				position: absolute;
				z-index: 1;
				height: 100%;
				width: 100%;
				padding: 66px 0 130px 102px;
				top: 0;
				left: 0;
				@include flex(column, flex-end, flex-start);
				.home-slider__slide--buttons {
					margin-top: 45px;
					width: 100%;
					@include flex(row, flex-start, center);
					height: 50px;
					.button-colored {
						height: 100%;
						width: 212px;
						font-family: Roboto;
						color: #ffffff;
						font-size: 15px;
						text-transform: none;
						font-weight: normal;
					}
					.home-slider__slide--schedule {
						cursor: pointer;
						margin-left: 50px;
						@include flex(row, flex-start, center);
						color: #fff;
						font-family: Roboto;
						font-weight: 400;
						color: #ffffff;
						font-size: 15px;
						line-height: 21px;
						svg {
							width: 43px;
							height: 43px;
							margin-right: 15px;
							margin-top: -5px;
						}
						height: 100%;
						@include transition();
						&:hover {
							color: $pink;
						}
					}
				}
				.home-slider__slide--info-block {
					@include flex(column, space-between, flex-start);
					margin-top: 58px;
					.home-slider__slide--info {
						height: 25px;
						@include flex(row, flex-start, center);
						svg {
							width: 22px;
							max-height: 100%;
							height: auto;
							margin-right: 15px;
						}
						font-family: Roboto;
						font-weight: 400;
						color: #ffffff;
						font-size: 15px;
						& + .home-slider__slide--info {
							margin-top: 15px;
						}
					}
				}
				.home-slider__slide--title {
					font-family: "Playfair Display";
					font-weight: 700;
					color: #ffffff;
					font-size: 50px;
					line-height: 52px;
					max-width: 430px;
					@include respond-above(lg) {
						max-width: 45%;
					}
				}
			}
		}
	}
}
@include respond-below(lg) {
	.home-slider {
		.home-slider__aside {
			display: none;
		}
		.home-slider__wrapper {
			width: 100%;
			flex: 100% 0 0;
			max-width: 100%;
			.home-slider__slide {
				.home-slider__slide--content {
					-webkit-justify-content: flex-start;
					        justify-content: flex-start;
					padding: 160px 0 0 40px;
				}
			}
			.slick-prev {
				left: 40px;
			}
			.slick-next {
				left: 95px;
			}
		}
	}
}
@include respond-below(md) {
	.home-slider {
		height: calc(100vh - 65px);
		min-height: 602px;
		.home-slider__wrapper {
			.slick-prev {
				left: 30px;
			}
			.slick-next {
				left: 85px;
			}
			.home-slider__slide {
				.home-slider__slide--content {
					padding: 60px 30px 0 30px;
					.home-slider__slide--title {
						font-size: 30px;
						line-height: 32px;
						margin-bottom: 40px;
					}
					.home-slider__slide--info-block {
						margin-top: 0;
						.home-slider__slide--info {
							font-size: 13px;
						}
					}
					.home-slider__slide--buttons {
						margin-top: 25px;
						@include flex(column, flex-start, flex-start);
						.button-colored {
							flex: 50px 0 0;
							margin-bottom: 30px;
						}
						.home-slider__slide--schedule {
							margin-top: 30px;
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}
.nearby {
	margin-top: 75px;
	margin-bottom: 93px;
	.nearby__container {
		height: 574px;
		display: grid;
		grid-gap: 20px;
		grid-template-rows: repeat(2, 50%);
		grid-template-columns: repeat(3, 1fr);
		.large-card:nth-child(1) {
			grid-row: 1 / 2;
			grid-column: 1 /2;
			height: 100%;
			.large-card__content {
				padding: 50px 36px 36px 40px;
			}
		}
		.large-card:nth-child(2) { 
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			height: 100%;
			.large-card__content {
				padding: 50px 36px 36px 40px;
			}
		}
		.large-card:nth-child(3) { 
			grid-row: 1 / 3;
			grid-column: 2 / 3;
			height: 100%;
		}
		.nearby__calendar {
			height: 100%;
			grid-row: 1 / 3;
			border-radius: 6px;
			grid-column: 3 / 4;
			background: #FFF;
			@include flex(column, flex-start, flex-start);
			.nearby__calendar--content {
				flex: 1 1 auto;
				padding: 25px 28px 0 27px;
				width: 100%;
				.nearby__calendar--title {
					font-family: "Playfair Display";
					font-weight: 700;
					color: $grey-text;
					font-size: 22px;
					margin-bottom: 31px;
				}
				.nearby__calendar--list {
					@include flex(column, flex-start, stretch);
					width: 100%;
					height: 460px;
					.nearby__calendar--item {
						height: 69px;
						flex: 1 1 69px;
						margin-bottom: 5px;
						width: 100%;
						@include flex(row, flex-start, stretch);
						&:last-of-type {
							.nearby__calendar--clock {
								&:after {
									display: none;
								}
							}
						}
						.nearby__calendar--clock {
							width: 26px;
							height: 26px;
							color: $pink;
							svg {
								width: 100%;
								height: 100%;
							}
							position: relative;
							flex: 0 0 21px;
							&:after {
								width: 1px;
								height: 41px;
								background-color: #dcddde;
								content: "";
								display: block;
								left: 10px;
								top: 26px;
								position: absolute;
							}
							margin-right: 10px;
							&.nearby__calendar_passed {
								color: #d9dadb;
							}
						}
						.nearby__calendar--info {
							flex: 1 1 auto;
							.nearby__calendar--time {
								font-family: Roboto;
								font-weight: 400;
								color: #95989c;
								font-size: 12px;
								letter-spacing: 0.48px;
								margin-bottom: 5px;
							}
							.nearby__calendar--title {
								color: $grey-text;
								font-size: 17px;
								margin-bottom: 8px;
								display: block;
							}
							.nearby__calendar--type {
								color: $pink;
								font-size: 11px;
								text-transform: uppercase;
								letter-spacing: 0.44px;
							}
						}
						&:hover {
							.nearby__calendar--title {
								text-decoration: underline;
							}
						}
					}
				}
			}
			.nearby__calendar--button {
				flex: 0 0 57px;
				width: 100%;
				.calendar-button {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}
@include respond-below(lg) {
	.nearby {
		margin-top: 30px;
		margin-bottom: 0;
		.nearby__container {
			height: auto;
			grid-gap: 15px;
			grid-template-rows: 287px 287px auto;
			grid-template-columns: repeat(2, minmax(47%, 51%));
			-webkit-align-items: center;
			        align-items: center;
			-webkit-align-content: center;
			        align-content: center;
			.large-card {
				width: 100%;
				.large-card__img {
					img {
					    object-fit: cover;
    					object-position: top;
					}
				}
				&:nth-child(1),&:nth-child(2),&:nth-child(3) {
					.large-card__content {
						padding: 0 30px 30px 30px;
					}
				}
			}
			.nearby__calendar {
				grid-row: 3/4;
				grid-column: 1/3;
			}
		}
	}
}
@include respond-below(md) {
	.nearby {
		margin-top: 20px;
		.nearby__container {
			grid-gap: 10px;
			grid-template-rows: 287px 287px 595px auto;
			grid-template-columns: 1fr;
			.large-card {
				grid-column: 1/2 !important;
				&:nth-of-type(1) {
					grid-row: 1/2;
				}
				&:nth-of-type(2) {
					grid-row: 2/3;
				}
				&:nth-of-type(3) {
					grid-row: 3/4;
				}
				&:nth-child(1),&:nth-child(2),&:nth-child(3) {
					.large-card__content {
						padding: 0 20px 30px 20px;
					}
				}
			}
			.nearby__calendar {
				grid-row: 4/5;
				grid-column: 1/2;
			}
		}
	}
}
.news-block {
	.news-block__wrapper {
		display: grid;
		grid-template-rows: 100%;
		height: 397px;
		grid-gap: 20px;
		grid-template-columns: repeat(3, minmax(30%, 34%));
		.info-card {
			width: 100%;
		}
	}
}
@include respond-below(lg) {
	.nearby + .news-block {
		padding: 0;
		margin: 40px 0 0 0;
		background: transparent;
		.news-block__wrapper {
			grid-template-columns: repeat(2, minmax(45%, 51%));
			.info-card:last-of-type {
				display: none;
			}
		}
	}
}
@include respond-below(md) {
	.nearby + .news-block {
		padding: 0;
		margin: 20px 0 0 0;
		background: transparent;
		.news-block__wrapper {
			height: auto;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 375px);
		}
	}
}
.education-block {
	margin-top: 80px;
	.education-block__wrapper {
		display: grid;
		grid-gap: 20px;
		grid-template-rows: 397px 105px 356px 202px;
		grid-template-columns: repeat(3, minmax(100px, 34%));
		width: 100%;
		.education-block--banner {
			grid-row: 1/2;
			grid-column: 1/3;
		}
		.education-block--small-banner {
			grid-row: 1/2;
			grid-column: 3/4;
		}
		.education-block--link {
			grid-row: 2/3;
		}
		.education-block--video-block {
			grid-row: 3/4;
			grid-column: 1/3;
		}
		.popular-tests {
			grid-row: 3/5;
			grid-column: 3/4;
		}
		.popular-articles {
			grid-row: 4/5;
			grid-column: 1/3;
		}
	}
}
.education-block--banner {
	.wide-card {
		height: 100%;
		width: 100%;
	}
}
.education-block--small-banner {
	.banner-card {
		height: 100%;
		width: 100%;
	}
}
.education-block--link {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	border: 1px solid #d9dadb;
	background-color: #ffffff;
	@include flex(row, flex-start, center);
	@include transition();
	font-family: "Playfair Display";
	font-weight: 700;
	color: $grey-text;
	font-size: 27px;
	position: relative;
	padding: 25px 0 25px 40px;
	img {
		max-width: 100%;
		width: auto;
		height: 100%;
		max-height: 100%;
		margin-right: 20px;
	}
	.education-block--link-arrow {
		position: absolute;
		right: 32px;
		top: 37px;
		width: 31px;
		height: 31px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background-color: #e8e8e9;
		color: #292d33;
		@include flex(row, center, center);
		@include transition();
		svg {
			width: 17px;
			height: 14px;
		}
	}
	&:hover {
		border: 1px solid #ff2390;
		.education-block--link-arrow {
			background-color: $pink;
			color: #fff;
		}
	}
}
.education-block--video-block {
	border-radius: 6px;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	padding: 25px 30px 30px 30px;
	position: relative;
	.education-block--video-arrows {
		position: absolute;
		height: 23px;
		width: 56px;
		@include flex(row, space-between, stretch);
		right: 31px;
		top: 26px;
	}
	.subtitle {
		margin-bottom: 28px;
	}
	.slick-slide {
		margin: 0 10px;
	}
	.slick-list {
		margin: 0 -10px;
	}
}
.popular-tests {
	border-radius: 6px;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	@include flex(column, space-between, stretch);
	position: relative;
	.popular-tests__arrows {
		width: 56px;
		height: 23px;
		@include flex(row, space-between, stretch);
		position: absolute;
		right: 30px;
		top: 37px;
		@include respond-below(md) {
			right: 20px;
			top: 30px;
		}
	}
	.subtitle {
		padding: 28px 0 15px 30px;
		@include respond-below(md) {
			padding: 30px 80px 20px 20px;
		}
	}
	.popular-tests__slider {
		flex: 1 1 auto;
	}
	.popular-tests--list {
		width: 100%;
		flex: 1 1 auto;
		@include flex(column, flex-start, stretch);
		.popular-test {
			flex: 1 1 auto;
			width: 100%;
			border-top: 1px solid #d9dadb;
			&:first-of-type {
				border-top: none;
			}
			@include transition();
				&:hover {
					background-color: rgba(217, 218, 219, .4);
				}
			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 30px 50px 20px 50px;
				min-height: 78px;
				background: transparent;
				position: relative;
				&:before {
					content: "";
					display: block;
					width: 6px;
					height: 6px;
					background-color: $pink;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					position: absolute;
					top: 36px;
					left: 30px;
				}
				font-family: "Playfair Display";
				font-weight: 700;
				color: #1b1e24;
				font-size: 18px;
				line-height: 20px;
			}
			&:last-of-type {
				padding-bottom: 15px;
			}
		}
	}
	.popular-tests--button {
		height: 57px;
		width: 100%;
		flex: 0 0 57px;
		.calendar-button {
			height: 100%;
			@include respond-below(lg) {
				width: 100%;
			}
		}
		position: relative;
		z-index: 1;
	}
}
.popular-articles {
	border-radius: 6px;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	.subtitle {
		margin-bottom: 25px;
		flex: 0 0 100%;
	}
	padding: 30px;
	@include flex(row, flex-start, flex-start, wrap);
	.article-card {
		flex: 0 0 50%;
		padding-right: 30px;
	}
}

@include respond-below(lg) {
	.education-block {
		margin-top: 40px;
		.education-block__wrapper {
			grid-template-columns: repeat(2, minmax(47%, 51%));
			grid-template-rows: 287px 325px 356px 200px 500px;
			.education-block--banner {
				grid-row: 1/2;
				grid-column: 1/2;
				.wide-card {
					.wide-card__img {
						img {
							object-fit: cover;
							object-position: top;
						}
					}
					.wide-card__content {
						padding: 30px;
						.grey-badge {
							top: 30px;
							left: 30px;
						}
						.wide-card__title {
							font-size: 23px;
							line-height: 28px;
						}
						.slider-arrow {
							display: none;
						}
					}
				}
			}
			.education-block--small-banner {
				grid-row: 1/2;
				grid-column: 2/3;
				.banner-card {
					.banner-card__img {
						img {
							object-fit: cover;
							object-position: top;
						}
					}
					.banner-card__content {
						padding: 30px;
						.grey-badge {
							top: 30px;
							left: 30px;
						}
						.banner-card__title {
							font-size: 23px;
							line-height: 28px;
						}
					}
				}
			}
			.education-block--link {
				grid-row: 2/3;
				grid-column: 1/3;
				height: 105px;
				-webkit-align-self: center;
				        align-self: center;
				&:first-of-type {
					-webkit-align-self: start;
					        align-self: start;
				}
				&:last-of-type {
					-webkit-align-self: end;
					        align-self: end;
				}
			}
			.education-block--video-block {
				grid-row: 3/4;
				grid-column: 1/3;
			}
			.popular-articles {
				grid-row: 4/5;
				grid-column: 1/3;
			}
			.popular-tests {
				grid-row: 5/6;
				grid-column: 1/3;
				.popular-tests--list {
					flex: auto 0 0;
				}
				.popular-tests--button {
					.calendar-button {
						width: 100%;
					}
				}
			}
		}
	}
}
@include respond-below(md) {
	.education-block {
		margin-top: 20px;
		.education-block__wrapper {
			grid-template-columns: 100%;
			grid-template-rows: 287px 287px 335px 356px auto 550px;
			grid-gap: 10px;
			.education-block--banner {
				grid-row: 1/2;
				grid-column: 1/2;
				.wide-card {
					.wide-card__content {
						padding: 30px 15px;
						.grey-badge {
							top: 30px;
							left: 15px;
						}
						.wide-card__title {
							font-size: 23px;
							line-height: 28px;
							@include respond-below(sm) {
								font-size: 21px;
								line-height: 23px;
							}
						}
						.slider-arrow {
							display: none;
						}
						.wide-card__marker {
							@include flex(column, flex-start, flex-start);
							.info-marker {
								margin-right: 0;
								&:not(:last-of-type) {
									margin-right: 0;
									margin-bottom: 10px;
								}
							}
						}
					}
				}
			}
			.education-block--small-banner {
				grid-row: 2/3;
				grid-column: 1/2;
				.banner-card {
					.banner-card__content {
						padding: 30px 15px;
						.grey-badge {
							top: 30px;
							left: 15px;
						}
						.banner-card__title {
							font-size: 23px;
							line-height: 28px;
							@include respond-below(sm) {
								font-size: 21px;
								line-height: 23px;
							}
						}
						.banner-card__marker {
							@include flex(column, flex-start, flex-start);
							.info-marker {
								margin-right: 0;
								&:not(:last-of-type) {
									margin-right: 0;
									margin-bottom: 10px;
								}
							}
						}
					}
				}
			}
			.education-block--link {
				grid-row: 3/4;
				grid-column: 1/2;
				height: 105px;
				-webkit-align-self: center;
				        align-self: center;
				&:first-of-type {
					-webkit-align-self: start;
					        align-self: start;
				}
				&:last-of-type {
					-webkit-align-self: end;
					        align-self: end;
				}
			}
			.education-block--video-block {
				grid-row: 4/5;
				grid-column: 1/2;
				.education-block--video-slider {
					max-width: 100%;
					width: 100%;
				}
				.subtitle {
					padding-right: 60px;
					margin-bottom: 15px;
				}
			}
			.popular-articles {
				grid-row: 5/6;
				grid-column: 1/2;
				@include flex(column, flex-start, stretch);
				height: auto;
				padding-bottom: 0;
				.subtitle {
					flex: 0 0 auto;
				}
				.article-card {
					width: 100%;
					margin-bottom: 20px;
					flex: auto 0 0;
					@include respond-below(sm) {
						padding-right: 0;
						margin-bottom: 10px;
						.article-card__img {
							flex: 0 0 90px;
							width: 90px;
							margin-right: 10px;
						}
						.article-card__content {
							.article-card__content--title {
								font-size: 12px;
								line-height: 15px;
							}
						}
					}
				}
			}
			.popular-tests {
				grid-row: 6/7;
				grid-column: 1/2;
				.popular-tests--list {
					flex: auto 0 0;
				}
				.popular-tests--button {
					.calendar-button {
						width: 100%;
					}
				}
			}
		}
	}
}
.reviews-block {
	margin-top: 80px;
	.reviews-block__wrapper {
		height: 327px;
		border-radius: 6px;
		background-color: #ffffff;
		position: relative;
		.reviews-block__arrows {
			position: absolute;
			height: 23px;
			width: 56px;
			@include flex(row, space-between, stretch);
			right: 30px;
			top: 30px;
			z-index: 1;
		}
		padding: 35px 40px 40px 40px;
		.reviews-block__slider {
			.slick-slide {
				margin: 0 40px;
			}
			.slick-list {
				 margin: 0 -40px;
			}
			.review {
				@include flex(column, flex-start, stretch);
				.review-head {
					@include flex(row, flex-start, stretch);
					height: 40px;
					width: 100%;
					.review-head__img {
						height: 40px;
						width: 40px;
						flex: 0 0 40px;
						margin-right: 12px;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.review-head__content {
						flex: 1 1 auto;
						@include flex(column, space-between, flex-start);
						height: 40px;
						.review--name {
							font-family: "Playfair Display";
							font-weight: 700;
							color: $grey-text;
							font-size: 21px;
						}
						.review--date {
							color: #95989c;
							font-size: 14px;
						}
					}
					margin-bottom: 25px;
				}
				.review-body {
					width: 100%;
					height: auto;
					.review--title {
						width: 100%;
						max-width: 100%;
						overflow: hidden;
						-ms-text-overflow: ellipsis;
						    text-overflow: ellipsis;
						white-space: nowrap;
						color: $grey-text;
						font-size: 21px;
						margin-bottom: 15px;
					}
					.review--text {
						color: $grey-text;
						font-size: 16px;
						line-height: 23px;
						margin-bottom: 14px;
					}
					.link {
						text-decoration: none;
					}
				}
			}
			.slick-dots {
				width: 100%;
				@include flex(row, center, center);
				margin-top: 50px;
				li {
					display: block;
					height: 6px;
					width: 6px;
					margin: 0 7px;
					span {
						display: block;
					}
					&.slick-active {
						span {
							background: #000;
						}
					}
				}
			}
		}
	}
}
@include respond-below(lg) {
	.reviews-block {
		margin-top: 60px;
		@include respond-below(sm) {
			margin-top: 70px;
		}
		.reviews-block__wrapper {
			padding: 30px 30px 30px 20px;
			height: auto;
			border: 1px solid #cccccc;
			.reviews-block__arrows {
				display: none;
			}
			.reviews-block__slider {
				.review {
					.review-head__content {
						.review--name {
							@include respond-below(sm) {
								font-size: 17px !important;
								line-height: 19px;
							}
						}
					}
					.review-body {
						.review--title {
							font-size: 18px;
							line-height: 19px;
							white-space: normal;
							margin-bottom: 10px;
						}
						.review--text {
							font-size: 14px;
							line-height: 19px;
							margin-bottom: 10px;
						}
					}
				}
				@include respond-below(sm) {
					.slick-dots {
						margin-top: 30px;
						li {
							margin: 0 5px;
						}
					}
				}
			}
		}
	}
}
.clubs-block {
	margin-top: 80px;
	.container {
		position: relative;
		.icon-link {
			top: 0;
			right: 0;
			position: absolute;
			img {
				width: 60px;
				height: 48px;
				margin-right: 5px;
			}
		}
	}
	.clubs-block__wrapper {
		display: grid;
		grid-gap: 15px 20px;
		height: 397px;
		grid-template-rows: repeat(3, minmax(100px, 34%));
		grid-template-columns: repeat(2, 1fr);
		.clubs-block--banner {
			grid-row: 1/4;
			grid-column: 1/2;
			.banner-card {
				width: 100%;
				height: 100%;
			}
		}
		.clubs-block--club {
			grid-column: 2/3;
			.club {
				height: 100%;
				width: 100%;
				padding:20px;
				.club__img {
					width: 80px;
				}
				.club__arrow {
					top: 54px;
				}
			}
		}
	}
}
@include respond-below(lg) {
	.clubs-block {
		margin-top: 30px;
		.container {
			@include flex(column, flex-start, flex-start);
			.title {
				order: 1;
			}
			.clubs-block__wrapper {
				order: 2;
				height: auto;
				width: 100%;
				grid-template-rows: repeat(2, 400px);
				grid-template-columns: 1fr;
				grid-gap: 20px;
				.clubs-block--banner {
					grid-row: 1/2;
					grid-column: 1/2;
				}
				.clubs-block--club {
					grid-row: 2/3;
					grid-column: 1/2;
					height: 123px;
					-webkit-align-self: center;
				       	 	align-self: center;
					&:nth-child(2) {
						-webkit-align-self: start;
						        align-self: start;
					}
					&:last-of-type {
						-webkit-align-self: end;
						        align-self: end;
					}
				}
			}
			.icon-link {
				order: 3;
				-webkit-align-self: center;
				        align-self: center;
				position: static;
				margin-top: 30px;
			}
		}
	}
}
@include respond-below(md) {
	.clubs-block {
		margin-top: 30px;
		.container {
			@include flex(column, flex-start, flex-start);
			.title {
				order: 1;
			}
			.clubs-block__wrapper {
				order: 2;
				height: auto;
				width: 100%;
				grid-template-rows: 287px 384px;
				grid-template-columns: 1fr;
				grid-gap: 20px;
				.clubs-block--banner {
					grid-row: 1/2;
					grid-column: 1/2;
				}
				.clubs-block--club {
					grid-row: 2/3;
					grid-column: 1/2;
					height: 123px;
					-webkit-align-self: center;
				       	 	align-self: center;
					&:nth-child(2) {
						-webkit-align-self: start;
						        align-self: start;
					}
					&:last-of-type {
						-webkit-align-self: end;
						        align-self: end;
					}
				}
			}
			.icon-link {
				order: 3;
				-webkit-align-self: center;
				        align-self: center;
				position: static;
				margin-top: 30px;
			}
		}
	}
}
.subscription {
	width: 100%;
	height: 574px;
	background: #1b1e24 url("../img/subscription_bg.png") center center no-repeat;
	-webkit-background-size: 100% 100%;
	     -o-background-size: 100% 100%;
	        background-size: 100% 100%;
	padding: 60px 0;
	margin-top: 80px;
	.container {
		height: 100%;
	}
	.subscription__form {
		height: 100%;
		width: 100%;
		position: relative;
		background-color: transparent;
		padding: 53px 70px 70px 70px;
		border-style: solid;
    	border-width: 10px;
		border-image: url("../img/border.png") 10 10 10 10 stretch;
		.subscription__form--title {
			position: relative;
			z-index: 2;
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 34px;
			line-height: 36px;
			margin-bottom: 30px;
		}
		.subscription__form--lock {
			position: relative;
			z-index: 2;
			color: #95989c;
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 0.4px;
			height: 18px;
			@include flex(row, flex-start, center);
			svg {
				width: 14px;
				height: 18px;
				margin-right: 5px;
				margin-top: -5px;
			}
			margin-bottom: 35px;
		}
		form {
			position: relative;
			z-index: 2;
			@include flex(row, space-between, flex-start, wrap);
			.input {
				flex: 0 0 calc((100% - 40px)/3);
				color: #ffffff;
				font-size: 19px;
				input {
					background: rgba(245, 248, 250, .2);
					color: #fff;
					border: 2px solid transparent;
					&:focus {
						border: 2px solid #fff;
					}
				}
			}
			.send-button {
				flex: 0 0 calc((100% - 40px)/3);
				margin-top: 48px;
			}
		}
		.checkbox {
			margin-top: 35px;
			color: #95989c;
			font-size: 14px;
			text-decoration: underline;
			line-height: 23px;
			.checkbox--block {
				margin-right: 10px;
			}
		}
	}
}
@include respond-below(lg) {
	.subscription {
		margin-top: 40px;
		height: auto;
		background-position: left bottom;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		.subscription__form {
			padding: 70px 80px 90px 80px;
			.subscription__form--title {
				font-size: 30px;
			}
			.subscription__form--lock {
				margin-bottom: 50px;
			}
			form {
				@include flex(column, flex-start, stretch);
				.input {
					width: 100%;
				}
				.send-button {
					width: 100%;
					margin-top: 25px;
				}
			}
		}
	}
}
@include respond-below(md) {
	.subscription {
		padding: 40px 0 45px 0;
		.subscription__form {
			padding: 45px 30px 50px 30px;
			@include respond-below(sm) {
				padding: 40px 20px;
			}
			.subscription__form--title {
				font-size: 28px;
				@include respond-below(sm) {
					font-size: 24px;
					line-height: 28px;
				}
			}
			.subscription__form--lock {
				margin-bottom: 40px;
				@include respond-below(sm) {
					margin-bottom: 20px;
				}
			}
			form {
				@include flex(column, flex-start, stretch);
				.input {
					width: 100%;
				}
				.send-button {
					width: 100%;
					margin-top: 25px;
				}
			}
		}
	}
}