.opacity {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 99;
	background: rgba(0,0,0,.7);
}

@import "modals/search";
@import "modals/offcanvas";
@import "modals/notification";
@import "modals/next-modal";
@import "modals/about-modal";
@import "modals/sended";
@import "modals/anketa-modal";