.albums--pagination {
	.albums--subtitle {
		color: $grey-text;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.28px;
		margin-bottom: 15px;
		font-weight: 600;
		margin-top: 30px;
	}
	.albums--categories {
		@include flex(row, flex-start, flex-start, wrap);
		.button-small {
			width: auto;
			flex: 0 0 auto;
			padding-right: 20px;
			padding-left: 20px;
			span {
				margin-left: 10px;
			}
			margin-right: 10px;
			margin-bottom: 10px;
		}
		& + .albums--settings {
			margin-top: 65px;
		}
	}
}
.news-section--list {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 50%));
	width: 100%;
	grid-gap: 20px;
	margin-bottom: 20px;
	@include respond-below(lg) {
		grid-template-columns: repeat(2, minmax(40%, 50%));
		.info-card {
			width: 100%;
		}
	}
	@include respond-below(md) {
		grid-template-columns: 100%;
		grid-gap: 10px 0;
		margin-bottom: 10px;
	}
}