.news-block {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	margin: 20px 0;
	padding: 40px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	@include respond-below(md) {
		margin: 10px 0;
	}
	.news-content {
		border-bottom: 1px solid #d9dadb;
		padding-bottom: 30px;
		.album__images {
			margin: 20px 0 40px;
		}
		.tabs {
			width: 100%;
			margin-top: 10px;
		}
		.news--subtitle {
			margin-top: 40px;;
			font-weight: 700;
			color: $grey-text;
			font-size: 20px;
			@include respond-below(md) {
				font-size: 18px;
				line-height: 28px;
				margin-top: 20px;
			}
		}
		.news--text {
			color: $grey-text;
			font-size: 17px;
			line-height: 26px;
			margin-top: 20px;
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 15px;
				margin-top: 0;
			}
		}
	}
	.news-info {
		width: 100%;
		padding: 20px 0;
		@include flex(row, space-between, center);
		.info-marker {
			svg {
				width: 14px;
				height: 14px;
				margin-right: 8px;
			}
			font-size: 15px;
			@include respond-below(md) {
				font-size: 13px;
			}
		}
		margin-bottom: 35px;
		@include respond-below(md) {
			.share-block {
				span {
					display: none;
				}
				.share-icon {
					width: 23px;
					height: 23px;
				}
			}
		}
	}
}
.other-sections {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 35px 40px 50px;
	@include respond-below(lg) {
		padding: 35px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	margin-top: 20px;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin: 10px 0 0 0;
	}
	.other-sections--block {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		@include respond-below(lg) {
			justify-items: center;
			grid-template-columns: repeat(2, minmax(40%, 50%));
			grid-gap: 15px;
			.section-card {
				width: 100%;
			}
		}
		@include respond-below(md) {
			grid-template-columns: 100%;
		}
		grid-gap: 20px
	}
}
