.partners__posibilities {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	.title {
		margin-bottom: 50px;
	}
	margin-bottom: 20px;
	@include respond-below(lg) {
		padding: 45px 20px;
	}
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	.partners__posibilities--list {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, 50%));
		grid-template-rows: auto;
		grid-gap: 65px;
		@include respond-below(lg) {
			grid-template-columns: 100%;
			grid-gap: 35px 0;
		}
		.partners__posibility {
			width: 100%;
			height: 100%;
			.partner__posibility--head {
				@include flex(row, flex-start, flex-start);
				@include respond-below(lg) {
					-webkit-align-items: center;
					        align-items: center;
				}
				@include respond-below(md) {
					@include flex(column, flex-start, flex-start);
				}
				margin-bottom: 15px;
				span {
					background: url(../img/romb.png) center center no-repeat;
					-webkit-background-size: 100% 100%;
					     -o-background-size: 100% 100%;
					        background-size: 100% 100%;
					width: 67px;
					height: 77px;
					flex: 0 0 67px;
					@include respond-below(md) {
						flex: 0 0 77px;
						margin-bottom: 20px;
					}
					margin-right: 20px;
					@include flex(row, center, center);
					font-weight: 700;
					color: #ff007d;
					font-size: 27px;
				}
				.partner__posibility--title {
					color: $grey-text;
					font-size: 22px;
					flex: 1 1 auto;
					padding-top: 15px;
					line-height: 25px;
					font-weight: 600;
					@include respond-below(lg) {
						padding-top: 0;
					}
					@include respond-below(md) {
						font-size: 16px;
						line-height: 19px;
					}
				}
			}
			.partner__posibility--text {
				color: $grey-text;
				font-size: 16px;
				line-height: 23px;
				@include respond-below(md) {
					font-size: 14px;
					line-height: 19px;
				}
			}
		}
	}
}
.partners__consultants {
	.staff-members {
		height: auto;
		padding-bottom: 40px;
	}
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
}
.partners__question {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	display: grid;
	grid-template-columns: repeat(2, minmax(250px, 50%));
	grid-gap: 0 50px;
	@include respond-below(lg) {
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: 20px 0;
		padding: 50px 20px;
	}
	&:last-child {
		margin-bottom: 60px;
	}
	.partners__question--info {
		@include flex(row, flex-start, flex-start);
		@include respond-below(md) {
			@include flex(column, flex-start, flex-start);
		}
		.partners__question--img {
			flex: 0 0 150px;
			height: 150px;
			img {
				width: 100%;
				height: auto;
			}
			margin-right: 45px;
			@include respond-below(md) {
				flex: 0 0 96px;
				width: 96px;
				height: 96px;
				margin-bottom: 20px;
			}
		}
		.partners__question--content {
			flex: 1 1 auto;
			.partners__question--title {
				font-family: "Playfair Display";
				font-weight: 700;
				color: #1b1e24;
				font-size: 23px;
				line-height: 25px;
			}
			.partners__question--text {
				color: #1b1e24;
				font-size: 16px;
				line-height: 21px;
				margin-top: 30px;
				@include respond-below(md) {
					font-size: 14px;
					line-height: 19px;
					margin-top: 20px;
				}
			}
		}
	}
	.partners__question--form {
		display: grid;
		grid-template-columns: repeat(2, minmax(200px, 50%));
		grid-template-rows: 100px auto;
		grid-gap: 20px 15px;
		padding-top: 15px;
		@include respond-below(lg) {
			padding-top: 0;
		}
		@include respond-below(md) {
			grid-template-columns: 100%;
			grid-template-rows: auto;
		}
		-webkit-align-items: end;
		        align-items: end;
		.input, .send-button {
			width: 100%;
		}
		.about-checkbox {
			grid-column: 1/3;
			@include respond-below(md) {
				grid-column: 1/2;
			}
		}
	}
}