.projects-page {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	.title {
		margin-bottom: 45px;
		@include respond-below(lg) {
			margin-bottom: 30px;
		}
	}
	.projects-page--list {
		display: grid;
		grid-template-columns: repeat(3, minmax(340px, 34%));
		grid-template-rows: 250px;
		grid-auto-rows: 250px;
		@include respond-below(lg) {
			grid-template-rows: 230px;
			grid-auto-rows: 230px;
			grid-template-columns: repeat(2, minmax(40%, 50%));
		}
		grid-gap: 20px;
		@include respond-below(md) {
			grid-template-columns: 100%;
			grid-gap: 10px 0;
		}
		.project-card {
			width: 100%;
			height: 100%;
		}
	}
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 60px;
	}
	&.education-type {
		@include respond-below(lg) {
			padding: 30px 20px;
			.title {
				margin-bottom: 30px;
			}
			.projects-page--list {
				grid-template-rows: 105px;
				grid-auto-rows: 105px;
				grid-gap: 5px 0;
				grid-template-columns: 100%;
				.project-card {
					padding: 25px 35px;
					@include respond-below(md) {
						padding: 25px 20px;
					}
					grid-template-rows: 100%;
					grid-template-columns: 55px auto 35px;
					-webkit-align-items: center;
					        align-items: center;
					.project-card__icon {
						grid-column: 1/2;
						grid-row: 1/2;
					}
					.project-card--title {
						grid-column: 2/3;
						grid-row: 1/2;
						@include respond-below(md) {
							font-size: 23px;line-height: 25px;
						}
						span {
							display: none;
						}
						padding-left: 15px;
					}
					.project-card__content {
						grid-column: 3/4;
						grid-row: 1/2;
					}
				}
			}
		}
	}
	@include respond-below(md) {
		margin-bottom: 10px;
	}
}