.product-single {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 45px 40px;
	@include respond-below(lg) {
		padding: 50px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	.product-single--text {
		color: $grey-text;
		font-size: 17px;
		line-height: 26px;
		@include respond-below(md) {
			font-size: 14px;
			line-height: 19px;
		}
	}
	.icon-link {
		margin: 25px 0 40px 0;
		@include respond-below(md) {
			margin-bottom: 30px;
		}
	}
	.product-single--subtitle {
		font-weight: 700;
		color: $grey-text;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.tabs {
		margin-bottom: 15px;
		width: 100%;
	}

	.event-info {
		display: grid;
		grid-template-columns: 330px auto 245px;
		grid-template-rows: 25px auto;
		grid-gap: 25px 0;
		margin-top: 40px;
		margin-bottom: 50px;
		@include respond-below(md) {
			margin-top: 30px;
			grid-template-columns: 100%;
		}
		.event-subtitle {
			grid-column: 1/2;
			grid-row: 1/2;
			margin: 0;
			font-weight: 700;
			color: $grey-text;
			font-size: 20px;
		}
		.event-info--list {
			grid-row: 2/3;
			grid-column: 1/2;
			.event-info--item {
				@include flex(row, flex-start, center);
				margin-bottom: 12px;
				color: $grey-text;
				font-size: 18px;
				.event-info--item-value {
					font-weight: 700;
					color: $grey-text;
					font-size: 18px;
					flex: 0 0 auto;
				}
				.event-info--dashed {
					border-bottom: 1px dashed #aeafb0;
					flex: 1 1 auto;
					margin: 10px 5px 0;
					height: 100%;
				}
			}
		}
		.event-info--take-part {
			grid-column: 3/4;
			grid-row: 1/3;
			text-align: center;
			@include respond-below(md) {
				grid-column: 1/2;
				grid-row: 3/4;
			}
			.event-info--price {
				font-weight: 700;
				color: $grey-text;
				font-size: 36px;
				letter-spacing: -1.44px;
				text-align: center;
				margin-bottom: 20px;
				@include respond-below(md) {
					font-size: 32px;
				}
				.crossed {
					font-weight: 700;
					color: #cccccc;
					span {
						font-size: 18px;
						font-weight: 400;
						margin-left: 5px;
					}
					position: relative;
					&:after {
						height: 2px;
						width: 100%;
						-webkit-transform: rotate(-15deg);
						   -moz-transform: rotate(-15deg);
						    -ms-transform: rotate(-15deg);
						     -o-transform: rotate(-15deg);
						        transform: rotate(-15deg);
						background: $pink;
						content: "";
						display: block;
						position: absolute;
						bottom: 20px;
    					left: -15px;
					}
				}
				.new-price {
					font-weight: 700;
					color: $grey-text;
					font-size: 36px;
					margin-left: 13px;
					span {
						font-size: 18px;
						font-weight: 400;
					}
				}
			}
			@include respond-below(md) {
				.button-colored {
					width: 100%;
				}
			}
		}
	}
}
.container.has_aside.product2 {
	margin-bottom: 60px;
	grid-template-rows: auto;
}
.product-wrapper {
	padding: 45px 40px 40px 40px;
	@include respond-below(lg) {
		padding: 45px 20px;
	}
	background: #FFF;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	.title {
		max-width: 60%;
		line-height: 42px;
		@include respond-below(lg) {
			max-width: 100%;
			line-height: 35px;
			margin-bottom: 40px;
		}
		@include respond-below(md) {
			font-size: 23px;
			line-height: 25px;
		}
	}
	.product-single--subtitle {
		font-weight: 700;
		color: $grey-text;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.tabs {
		margin-bottom: 15px;
		width: 100%;
	}
	.album__images {
		grid-template-columns: repeat(6, minmax(100px, 17%));
		margin-bottom: 60px;
		@include respond-below(lg) {
			margin-bottom: 30px;
			grid-template-columns: 100%;
		}
	}
	.product-content {
		margin: 50px 0 55px 0;
		@include respond-below(lg) {
			margin: 40px 0 160px 0;
			position: relative;
		}
		@include flex(row, flex-start, flex-start);
		@include respond-below(md) {
			@include flex(column, flex-start, stretch);
		}
		.product-content--info {
			flex: 0 0 245px;
			margin-right: 50px;
			@include respond-below(md) {
				flex: 0 0 auto;
				margin-right: 0;
				width: 100%;
			}
			& > img {
				height: auto;
				max-width: 100%;
				margin-bottom: 20px;
				@include respond-below(md) {
					width: 100%;
					object-fit: cover;
					object-position: right center;
				}
			}
			.product-content--description {
				color: $grey-text;
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 20px;
			}
		}
		.product-content--main {
			flex: 1 1 auto;
			padding-right: 70px;
			.product-content--text {
				color: $grey-text;
				font-size: 17px;
				line-height: 26px;
				@include respond-below(lg) {
					line-height: 25px;
				}
				@include respond-below(md) {
					font-size: 14px;
					line-height: 19px;
					margin: 30px 0;
				}
			}
			@include respond-below(md) {
				padding-right: 0;
			}
			.event-info {
				display: grid;
				grid-template-columns: 330px auto;
				grid-template-rows: 25px auto auto;
				grid-gap: 25px 0;
				margin-top: 40px;
				@include respond-below(lg) {
					margin-top: 30px;
					grid-template-columns: repeat(2, minmax(40%, 50%));
					grid-template-rows: 25px auto;
					width: 100%;
					position: absolute;
					bottom: -135px;
					left: 0;
				}
				@include respond-below(md) {
					bottom: -115px;
				}
				.event-subtitle {
					grid-column: 1/2;
					grid-row: 1/2;
					margin: 0;
					font-weight: 700;
					color: $grey-text;
					font-size: 20px;
					@include respond-below(md) {display: none;}
				}
				.event-info--list {
					grid-row: 2/3;
					grid-column: 1/2;
					@include respond-below(md) {display: none;}
					.event-info--item {
						@include flex(row, flex-start, center);
						margin-bottom: 12px;
						color: $grey-text;
						font-size: 18px;
						.event-info--item-value {
							font-weight: 700;
							color: $grey-text;
							font-size: 18px;
							flex: 0 0 auto;
						}
						.event-info--dashed {
							border-bottom: 1px dashed #aeafb0;
							flex: 1 1 auto;
							margin: 10px 5px 0;
							height: 100%;
						}
					}
				}
				.event-info--take-part {
					grid-column: 1/3;
					grid-row: 3/4;
					@include respond-below(lg) {
						grid-row: 1/3;
						grid-column: 2/3;
					}
					@include flex(row-reverse, flex-end, center);
					@include respond-below(lg) {
						@include flex(column, flex-start, center);
					}
					@include respond-below(md) {
						grid-column: 1/3;
					}
					text-align: center;
					.event-info--price {
						font-weight: 700;
						color: $grey-text;
						font-size: 36px;
						letter-spacing: -1.44px;
						text-align: center;
						margin-left: 40px;
						@include respond-below(lg) {
							margin-left: 0;
							margin-bottom: 20px;
						}
						.crossed {
							font-weight: 700;
							color: #cccccc;
							span {
								font-size: 18px;
								font-weight: 400;
								margin-left: 5px;
							}
							position: relative;
							&:after {
								height: 2px;
								width: 100%;
								-webkit-transform: rotate(-15deg);
								   -moz-transform: rotate(-15deg);
								    -ms-transform: rotate(-15deg);
								     -o-transform: rotate(-15deg);
								        transform: rotate(-15deg);
								background: $pink;
								content: "";
								display: block;
								position: absolute;
								bottom: 20px;
    							left: -15px;
							}
						}
						.new-price {
							font-weight: 700;
							color: $grey-text;
							font-size: 36px;
							margin-left: 13px;
							span {
								font-size: 18px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}
.reviews-wide {
	height: 380px;
	@include respond-below(md) {
		height: auto;
	}
	border-radius: 6px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	width: 100%;
	position: relative;
	padding: 45px 60px 50px;
	@include respond-below(lg) {
		padding: 35px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
		
	}
	.comment {
		.comment--subtitle {
			color: $grey-text;
			font-size: 21px;
			margin-bottom: 10px;
			@include respond-below(md) {
				font-size: 18px;
				line-height: 19px;
				margin-bottom: 15px;
			}
		}
		.comment--text {
			color: $grey-text;
			font-size: 16px;
			line-height: 23px;
			max-height: 157px;
    		overflow: hidden;
    		@include respond-below(md) {
    			font-size: 14px;
    			line-height: 19px;
    			max-height: 130px;
    			margin-bottom: 15px;
    		}
		}
		padding: 0;
		border-bottom: none;
	}
	.slick-dots {
		width: 100%;
		@include flex(row, center, center);
		@include respond-below(lg) {
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		}
		margin-top: 20px;
		@include respond-below(lg) {
			margin-top: 40px;
		}
		@include respond-below(md) {
			margin-top: 30px;
			-webkit-justify-content: center;
			        justify-content: center;
		}
		li {
			display: block;
			height: 6px;
			width: 6px;
			margin: 0 7px;
			@include respond-below(lg) {
				&:first-of-type {
					margin-left: 0;
				}
			}
			span {
				display: block;
			}
			&.slick-active {
				span {
					background: #000;
				}
			}
		}
	}
	.reviews-wide__arrows {
		width: 56px;
		height: 23px;
		@include flex(row, space-between, stretch);
		position: absolute;
		right: 30px;
		top: 37px;
		@include respond-below(md) {
			display: none;
		}
	}
}