.project {
	padding: 35px 40px 40px 40px;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	@include respond-below(lg) {
		padding: 35px 20px;
	}
	.album__images {
		margin: 20px 0 40px;
	}
	.tabs {
		width: 100%;
		margin-top: 10px;
	}
	.project__badges {
		@include flex(row, flex-start, stretch);
		margin-bottom: 20px;
		.light-badge {
			margin-right: 20px;
			background-color: #f5f5f6;
		}
	}
	.project__info {
		@include flex(row, flex-start, center);
		.info-marker {
			margin-right: 20px;
			color: $grey-text;
			svg {
				width: 16px;
				height: 18px;
			}
		}
	}
	.project--subtitle {
		margin-top: 40px;;
		font-weight: 700;
		color: $grey-text;
		font-size: 20px;
		@include respond-below(md) {
			font-size: 18px;
			line-height: 1;
			margin-top: 30px;
		}
	}
	.project--text {
		color: $grey-text;
		font-size: 17px;
		line-height: 26px;
		margin-top: 20px;
		@include respond-below(md) {
			font-size: 14px;
			line-height: 19px;
		}
	}
}
.project-page {
	@include respond-below(lg) {
		.aside {
			grid-template-columns: repeat(2, minmax(40%, 50%));
			grid-column-gap: 20px;
			.project-card {
				width: 100%;
			}
		}	
	}
	@include respond-below(md) {
		.aside {
			grid-template-columns: 100%;
		}
	}
}