.tests__head {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	margin-bottom: 20px;
	@include respond-below(md) {
		padding: 30px 20px;
		margin-bottom: 10px;
	}
	.title {
		margin-bottom: 40px;
		@include respond-below(md) {
			margin-bottom: 25px;
		}
	}
	.tests__head--subtitle {
		color: $grey-text;
		font-size: 21px;
		margin-bottom: 20px;
		@include respond-below(md) {
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 15px;
		}
	}
	.tests__head--text {
		color: $grey-text;
		font-size: 16px;
		line-height: 23px;
		@include respond-below(md) {
			font-size: 14px;
			line-height: 19px;
		}
	}
}
.tests__list {
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
}