.test-page {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	padding: 35px 60px 60px 40px;
	@include respond-below(lg) {
		padding: 35px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	@include flex(row, flex-start, flex-start);
	@include respond-below(md) {
		@include flex(column, flex-start, flex-start);
	}
	.test-page--icon {
		flex: 0 0 145px;
		img {
			width: 100%;
			height: auto;
		}
		margin-right: 40px;
		@include respond-below(md) {
			width: 100px;
			flex: 0 0 auto;
			height: auto;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
	.test-page__content {
		flex: 1 1 auto;
		.test-page--badges {
			& > *:not(:last-child) {
				margin-right: 10px;
			}
			& > * {
				margin-bottom: 20px;
			}
			.light-badge {
				background-color: #f5f5f6;
			}
			margin-bottom: 55px;
			@include respond-below(md) {
				margin-bottom: 0;
			}
		}
		@include respond-below(md) {
			.title {
				margin-bottom: 20px;
			}
		}
		.congrats {
			color: $pink;
			font-size: 21px;
			font-weight: 600;
			margin-bottom: 20px;
			@include respond-below(md) {
				font-size: 18px;
				line-height: 28px;
				margin-bottom: 10px;
			}
		}
		.test-page--text {
			color: $grey-text;
			font-size: 21px;
			line-height: 28px;
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
}
.test-form {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	padding: 25px 40px 40px 40px;
	@include respond-below(lg) {
		padding: 25px 20px 40px 20px;
	}
	form {
		margin-top: 15px;
		@include flex(row, flex-start, flex-start);
		@include respond-below(md) {
			@include flex(column, flex-start, stretch);
			position: relative;
			.input {
				width: 100%;
			}
		}
		label:first-of-type {
			margin-right: 20px;
			@include respond-below(md) {
				margin-right: 0;
			}
		}
		.test-form--submit {
			width: 55px;
			height: 52px;
			border-radius: 0 4px 4px 0;
			background-color: $pink;
			color: #fff;
			border: none;
			outline: none;
			@include transition();
			cursor: pointer;
			-webkit-align-self: flex-end;
			        align-self: flex-end;
			position: relative;
			left: -3px;
			font-size: 22px;
			padding: 3px 0 0 0;
			&:hover {
				color: $pink;
				background-color: #000;
			}
			@include respond-below(md) {
				position: absolute;
				bottom: 0;
				right: 0;
				left: auto;
			}
		}
	}
	.support-widget--lock {
		@include flex(row,flex-start,center);
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 0.4px;
		color: #95989c;
		margin-top: 25px;
		svg {
			width: 17px;
			height: 13px;
			margin-right: 5px;
		}
	}
}
.test-familiar {
	margin-bottom: 20px;
	@include respond-below(md) {
		margin-bottom: 10px;
	}
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	.title {
		padding: 40px 30px;
		@include respond-below(md) {
			padding: 30px 20px;
			margin-bottom: 0;
		}
	}
	.test:last-of-type {
		border-bottom: none;
	}
}