.ui {
	padding: 50px;
	& > * {
		margin-bottom: 35px;
	}
}

@import "partials/templates/ui/buttons-controls";
@import "partials/templates/ui/form";
@import "partials/templates/ui/markers";
@import "partials/templates/ui/cards";