.videos--list {
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 50%));
	grid-template-rows: minmax(250px, auto);
	grid-gap: 20px;
	margin-bottom: 20px;
	@include respond-below(lg) {
		grid-template-rows: auto;
		grid-gap: 15px;
		.video-card {
			width: 100%;
		}
	}
	@include respond-below(md) {
		grid-template-columns: 100%;
		grid-gap: 10px 0;
		margin-bottom: 10px;
	}
}