.about-modal {
	width: 958px;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	border-radius: 6px;
	background-color: #ffffff;
	position: absolute;
	top: 75px;
	z-index: 100;
	.search-modal--cross {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 18px;
		height: 18px;
		color: $pink;
		cursor: pointer;
		@media (max-width: 1000px) {
			top: 10px;
			right: 10px;
		}
	}
	display: none;
	left: calc(50% - 479px);
	height: 536px;
	overflow: hidden;
	@media (max-width: 1000px) {
		width: calc(100vw - 40px);
		height: auto;
		padding-bottom: 30px;
	}
	.about-modal--wrapper {
		@include flex(row, flex-start, flex-start);
		width: 100%;
		height: 100%;
		@media (max-width: 1000px) {
			@include flex(column, flex-start, stretch);
		}
		.about-modal--img {
			height: 100%;
			width: 385px;
			margin-right: 55px;
			flex: 0 0 385px;
			position: relative;
			@media (max-width: 1000px) {
				width: 100%;
				flex: 0 0 100%;
				margin-right: 0;
				@include flex(column, flex-start, center);
				padding: 30px 0 0 0;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				@media (max-width: 1000px) {
					width: 105px;
					height: 105px;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
				}
			}
			overflow: hidden;
			p {
				position: absolute;
				bottom: 40px;
				left: 40px;
				z-index: 3;
				font-family: "Playfair Display";
				font-weight: 700;
				color: rgb(255, 255, 255);
				font-size: 34px;
				line-height: 42px;
				@media (max-width: 1000px) {
					position: static;
					text-align: center;
					color: #434a54;
					font-size: 20px;
					line-height: 25px;
					margin-top: 10px;
				}
			}
			&:before {
				content: "";
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
				height: 221px;
                background-image: linear-gradient(to top, rgb(37, 41, 46) 0%, rgba(37, 41, 46, 0) 100%);
                @media (max-width: 1000px) {
                	display: none;
                }
			}
		}
		.about-modal--content {
			flex: 1 1 auto;
			padding-right: 60px;
			padding-top: 57px;
			@media (max-width: 1000px) {
				padding: 15px 20px 0 20px;
			}
			.tabs {
				width: 100%;
			}
			.about-modal--block {
				margin-top: 30px;
				padding-right: 30px;
				height: 250px;
				@media (max-width: 1000px) {
					margin-top: 15px;
					padding-right: 20px;
					height: 220px;
				}
				.about-modal--block {
					margin-top: 0;
				}
				p {
					color: rgb(47, 52, 59);
					font-size: 17px;
					line-height: 25px;
				}
				-ms-overflow-y: scroll;
				    overflow-y: scroll;
				position: relative;
			}
			.about-modal--share {
				margin-top: 40px;
				@media (max-width: 1000px) {
					margin-top: 25px;
				}
				.about-modal--share-text {
					font-weight: 700;
					color: rgb(67, 74, 84);
					font-size: 19px;
					text-transform: uppercase;
					margin-bottom: 30px;
					@media (max-width: 1000px) {
						font-size: 15px;
						margin-bottom: 15px;
					}
				}
				.share-icon {
					display: inline-block;
					width: 30px;
					height: 30px;
					margin-right: 13px;
				}
			}
		}
	}
}
//  Scroll
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
    & > .scroll-content {
    	border: none !important;
    	box-sizing: content-box !important;
    	height: auto;
    	left: 0;
    	margin: 0;
    	max-height: none;
    	max-width: none !important;
    	overflow: scroll !important;
    	padding: 0;
    	position: relative !important;
    	top: 0;
    	width: auto !important;
    	&::-webkit-scrollbar {
    		width: 0;
    		height: 0;
    	}
    }
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
    & > .scroll-content {
    	overflow: hidden !important;
    	& > textarea {
    		border: none !important;
    		box-sizing: border-box;
    		height: 100% !important;
    		margin: 0;
    		max-height: none !important;
    		max-width: none !important;
    		overflow: scroll !important;
    		outline: none;
    		padding: 2px;
    		position: relative !important;
    		top: 0;
    		width: 100% !important;
    		&::-webkit-scrollbar {
			    height: 0;
			    width: 0;
			}
    	}
	}
}
 
 
/*************** SIMPLE INNER SCROLLBAR ***************/
 
.about-modal--block {
	& > .scroll-element, & > .scroll-element div {
    	border: none;
    	margin: 0;
    	padding: 0;
    	position: absolute;
    	z-index: 10;
	}
	& > .scroll-element div {
	    display: block;
	    height: 100%;
	    left: 0;
	    top: 0;
	    width: 100%;
	}
	& > .scroll-element.scroll-x {
    	bottom: 2px;
    	height: 8px;
    	left: 0;
    	width: 100%;
	}
	& > .scroll-element.scroll-y {
    	height: 100%;
    	right: 2px;
    	top: 0;
    	width: 6px;
	}
	& > .scroll-element .scroll-element_outer {
    	overflow: hidden;
	}
	& > .scroll-element {
		& .scroll-element_outer,& .scroll-element_track,& .scroll-bar {
			-webkit-border-radius: 8px;
    		-moz-border-radius: 8px;
   			border-radius: 8px;
		}
		& .scroll-element_track,& .scroll-bar {
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    		filter: alpha(opacity=40);
    		opacity: 0.4;
		}
		& .scroll-element_track { background-color: #e0e0e0; width: 2px; position: relative; left: 2px;}
		& .scroll-bar { background-color: rgb(170, 178, 189);}
		&:hover .scroll-bar {
			 background-color: #919191;
			 
		}
		&.scroll-draggable .scroll-bar { background-color: #919191; }
	}
}
 
/* update scrollbar offset if both scrolls are visible */
 
.about-modal--block > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.about-modal--block > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
 
 
.about-modal--block > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.about-modal--block > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }