.anketa-modal {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	position: absolute;
	top: 75px;
	display: none;
	z-index: 100;
	width: 760px;
	@include respond-below(md) {
		width: calc(100vw - 40px);
		padding: 30px 20px;
	}
	.search-modal--cross {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 18px;
		height: 18px;
		color: $pink;
		cursor: pointer;
	}
	.anketa-modal--help {
		color: #95989c;
		font-size: 16px;
		font-style: italic;
		span {
			font-weight: 700;
			color: $pink;
			font-size: 16px;
			margin-right: 5px;
		}
		text-align: left;
		margin: 50px 0;
		@include respond-below(md) {
			margin: 20px 0;
			font-size: 14px;
			line-height: 15px;
		}
	}
	.anketa-modal--list-title {
		font-weight: 700;
		color: rgb(67, 74, 84);
		font-size: 19px;
		text-transform: uppercase;
		margin-bottom: 35px;
		@include respond-below(md) {
			margin-bottom: 20px;
		}
	}
	.anketa--list {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, 50%));
		grid-template-rows: auto;
		grid-gap: 30px;
		margin-bottom: 50px;
		@include respond-below(md) {
			grid-gap: 20px;
			grid-template-columns: 100%;
			margin-bottom: 20px;
		}
	}
	.anketa-modal--next {
		width: 177px;
			height: 52px;
			border-radius: 4px;
			&.disabled {
				background-color: #e8e8e9;
				color: #939496;
				cursor: default;
			}
			background-color: $pink;
			color: #fff;
			font-size: 17px;
			text-transform: uppercase;
			cursor: pointer;
			font-weight: 600;
			@include flex(row, center, center);
			svg {
				margin-left: 10px;
				width: 15px;
				height: 15px;
				font-size: 15px;
			}
			@include transition();
			&:not(.disabled):hover {
				background-color: #000;
				color: #fff;
			}
			border: none;
			outline: none;
	}
}
.anketa-modal--done {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	position: absolute;
	top: 75px;
	display: none;
	z-index: 100;
	width: 760px;
	height: 468px;
	overflow: hidden;
	@include respond-below(md) {
		height: auto;
		width: calc(100vw - 40px);
		padding: 85px 0 40px 0;
	}
	& > .anketa-modal--done-content {
		width: 100%;
		height: 100%;
		@include flex(column, center, center);
		& > img {
			width: 131px;
			height: 131px;
		}
		.anketa-modal--step-title {
			margin: 35px 0;
			font-weight: 700;
			color: #434a54;
			font-size: 19px;
			text-transform: uppercase;
			margin-bottom: 30px;
			text-align: center;
			line-height: 25px;
			@include respond-below(md) {
				margin: 18px 28px;
				font-size: 15px;
				line-height: 18px;
			}
		}
		.anketa-modal--ok {
			width: 52px;
			height: 52px;
			border-radius: 4px;
			border: 2px solid $pink;
			background-color: #ffffff;
			margin-right: 10px;
			display: flex !important;
			@include flex(row, center, center);
			color: $grey-text;
			font-size: 17px;
			text-transform: uppercase;
			font-weight: 600;
			@include respond-below(md) {
				margin-right: 0;
			}
		}
	}

	.search-modal--cross {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 18px;
		height: 18px;
		color: $pink;
		cursor: pointer;
		@include respond-below(md) {
			top: 10px;
			right: 10px;
		}
	}
}