.notification-modal {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 40px;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	position: absolute;
	top: 75px;
	display: none;
	z-index: 100;
	width: 760px;
	@include respond-below(md) {
		width: calc(100% - 40px);
		padding: 30px 20px;
	}
	.search-modal--cross {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 18px;
		height: 18px;
		color: $pink;
		cursor: pointer;
		@include respond-below(md) {
			top: 10px;
			right: 10px;
		}
	}
	.notification-modal--steps {
		width: 100%;
		height: 1px;
		background: #d9dadb;
		margin: 80px 0 60px 0;
		position: relative;
		@include flex(row, space-around, center);
		padding: 0 80px;
		@include respond-below(md) {
			margin: 45px 0;
			padding: 0 20px;
		}
		.notification-modal--step {
			width: 46px;
			height: 46px;
			@include respond-below(md) {
				width: 35px;
				height: 35px;
			}
			border: 1px solid #d6e6f4;
			background-color: #ffffff;
			@include flex(row, center, center);
			font-weight: 700;
			color: #939496;
			font-size: 24px;
			@include respond-below(md) {
				font-size: 18px;
			}
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			span {
				display: none;
			}
			&.current--step {
				border: 3px solid $pink;
				color: $pink;
			}
			&.done--step {
				border: 3px solid $pink;
				color: $pink;
				font-size: 0;
				span {
					display: block;
					font-size: 20px;
					padding-top: 4px;
				}
			}
		}
	}
	.notification-modal--help {
		color: #95989c;
		font-size: 17px;
		font-style: italic;
		span {
			font-weight: 700;
			color: $pink;
			font-size: 20px;
			margin-right: 5px;
		}
		text-align: center;
		margin-bottom: 50px;
		@include respond-below(md) {
			font-size: 14px;
			text-align: left;
			margin-bottom: 30px;
		}
	}
	.notification-modal--slider {
		margin: 50px 0;
		width: 100%;
		.notification-modal--first-step, .notification-modal--second-step, .notification-modal--third-step {
			display: block !important;
			width: 690px;
			@include respond-below(md) {
				width: 100%;
				.input {
					width: 100%;
				}
			}
		}
		.notification-modal--step-title {
			font-weight: 700;
			color: #434a54;
			font-size: 19px;
			text-transform: uppercase;
			margin-bottom: 30px;
			@include respond-below(md) {
				font-size: 15px;
				line-height: 21px;
				margin-bottom: 25px;
			}
			span {
				font-size: 23px;
				color: #d9dadb;
				margin-right: 12px;
				position: relative;
				top: 5px;
				&.hovered {
					color: $pink;
				}
				@include respond-below(md) {
					font-size: 21px;
				}
			}
		}
		.notification-modal--checkboxes-block {
			display: grid;
			grid-template-columns: repeat(2, minmax(100px, 50%));
			grid-template-rows: minmax(33px, auto);
			grid-auto-rows: minmax(33px, auto);
			grid-gap: 25px 20px;
			@include respond-below(md) {
				grid-template-columns: 100%;
				grid-gap: 20px;
				.checkbox {
					font-size: 14px;
					line-height: 16px;
				}
			}
			.checkbox--block {
				margin-right: 15px;
			}
			&:not(:last-child) {
				margin-bottom: 30px;
			}
			.notification-modal--checkbox {
				&.wide {
					grid-column: 1/3;
				}
			}
		}
	}
	.notification-modal--buttons {
		.notification-modal--prev.slick-disabled, .notification-modal--next.slick-disabled {
			display: none !important;
		}
		@include flex(row, flex-start, flex-start);
		.notification-modal--prev {
			width: 115px;
			height: 52px;
			border-radius: 4px;
			border: 2px solid $pink;
			background-color: #ffffff;
			margin-right: 10px;
			display: flex !important;
			@include flex(row, center, center);
			color: $grey-text;
			font-size: 17px;
			text-transform: uppercase;
			font-weight: 600;
			svg {
				margin-right: 10px;
				width: 15px;
				height: 15px;
				font-size: 15px;
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
			@include transition();
			&:hover {
				background-color: $pink;
				color: #fff;
			}
		}
		.send-button {
			margin-right: 10px;
			width: 212px;
			display: none;
			&.is-shown {
				display: flex;
			}
		}
		.notification-modal--next {
			width: 177px;
			height: 52px;
			border-radius: 4px;
			&.disabled {
				background-color: #e8e8e9;
				color: #939496;
				cursor: default;
			}
			background-color: $pink;
			color: #fff;
			font-size: 17px;
			text-transform: uppercase;
			font-weight: 600;
			@include flex(row, center, center);
			svg {
				margin-left: 10px;
				width: 15px;
				height: 15px;
				font-size: 15px;
			}
			@include transition();
			&:not(.disabled):hover {
				background-color: #000;
				color: #fff;
			}
		}
	}
}
.notification-modal--done {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	position: absolute;
	top: 75px;
	display: none;
	z-index: 100;
	width: 760px;
	height: 468px;
	overflow: hidden;
	@include respond-below(md) {
		height: auto;
		width: calc(100vw - 40px);
		padding: 85px 0 40px 0;
	}	
	& > .notification-modal--done-content {
		width: 100%;
		height: 100%;
		@include flex(column, center, center);
		& > img {
			width: 131px;
			height: 131px;
		}
		.notification-modal--step-title {
			margin: 35px 0;
			font-weight: 700;
			color: #434a54;
			font-size: 19px;
			text-transform: uppercase;
			margin-bottom: 30px;
			text-align: center;
			line-height: 25px;
			@include respond-below(md) {
				margin: 18px 28px;
				font-size: 15px;
				line-height: 18px;
			}
		}
		.notification-modal--ok {
			width: 52px;
			height: 52px;
			border-radius: 4px;
			border: 2px solid $pink;
			background-color: #ffffff;
			margin-right: 10px;
			display: flex !important;
			@include flex(row, center, center);
			color: $grey-text;
			font-size: 17px;
			text-transform: uppercase;
			font-weight: 600;
			@include respond-below(md) {
				margin-right: 0;
			}
		}
	}

	.search-modal--cross {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 18px;
		height: 18px;
		color: $pink;
		cursor: pointer;
		@include respond-below(md) {
			top: 10px;
			right: 10px;
		}
	}
}