.offcanvas {
	width: 100%;
	height: -webkit-calc(100% - 0px);
	height: calc(100% - 0px);
	background-color: $grey-bg;
	position: fixed;
	-ms-overflow-y: scroll;
	    overflow-y: scroll;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
	top: 0;
	left: 0;
	display: none;
	.offcanvas--cross {
		width: 24px;
		height: 24px;
		color: $pink;
		cursor: pointer;
		position: absolute;
		top: 30px;
		right: 38px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	.container {
		padding: 55px 0 45px 0;
		height: auto;
	}
	z-index: 99;
}

.offcanvas_opened {
	overflow: hidden;
}

.offcanvas__search-block {
	width: 712px;
	height: 52px;
	margin-bottom: 70px;
}
.offcanvas__search--form {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	.offcanvas__search--input {
		@include transition();
		width: 100%;
		height: 100%;
		border-radius: 26px;
		background-color: #262a33;
		color: #8d949d;
		font-size: 16px;
		padding-left: 30px;
		border: 1px solid #262a33;
		outline: none;
		&:focus, &:hover {
			border: 1px solid #8d949d;
		}
	}
	.offcanvas__search--button {
		width: 15px;
		height: 16px;
		color: #c8d1de;
		position: absolute;
		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
		top: 17px;
		right: 22px;
		cursor: pointer;
		.offcanvas__search--submit {
			font-size: 0;
			z-index: 1;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			left: 0;
			opacity: 0;
		}
	}
}

.footer__content--menu {
	&.offcanvas__content--menu {
		padding-bottom: 40px;
		height: 428px;
	}
}

.offcanvas__offers-block {
	flex: 1 1 auto;
	padding-top: 6px;
}
.offcanvas__offers--title {
	font-family: "Playfair Display";
	font-weight: 700;
	color: #ffffff;
	font-size: 22px;
	margin-bottom: 5px;
}
.small-previews__block {
	@include flex(column, flex-start, stretch, nowrap);
	width: 100%;
	height: auto;
}
.small-preview {
	height: 96px;
	width: 270px;
	@include flex(row, flex-start, stretch, no-wrap);
	margin-top: 20px;
	overflow: hidden;
	.small-preview__img-block {
		width: 110px;
		height: 96px;
		flex: 0 0 110px;
		margin-right: 15px;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			-webkit-border-radius: 5px;
			        border-radius: 5px;
		}
		.sale {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			height: 19px;
    		width: 44px;
		}
	}
	.small-preview--content {
		flex: 1 1 auto;
		height: 100%;
	}
	.small-preview--type {
		@include transition();
		color: $pink;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.44px;
		width: 100%;
		margin-bottom: 7px;
	}
	.small-preview--title {
		color: #ffffff;
		font-size: 17px;
		@include respond-below(md) {
			font-size: 16px;
			line-height: 1.17;
		}
		line-height: 18px;
		width: 100%;
		max-height: 49px;
		height: auto;
		margin-bottom: 13px;
		@include transition();
	}
	.small-preview--date {
		font-family: Roboto;
		color: #95989c;
		font-size: 12px;
		letter-spacing: 0.48px;
		width: 100%;
	}
	&:hover {
		.small-preview--type {
			color: #fff;
		}
		.small-preview--title {
			color: $pink;
			text-decoration: underline;
		}
	}
}
.offcanvas__widgets {
	width: 100%;
	margin-top: 35px;
	@include flex(row, space-between, flex-start);
	.offcanvas__widget-left {
		flex: 0 0 335px;
		width: 335px;
	}
	.offcanvas__widget-right {
		width: 772px;
		flex: 0 0 772px;
		.widget__content {
			@include flex(row, space-between, flex-start);
			.large-card {
				height: 287px;
				.large-card__content {
					padding: 40px 40px 37px 40px;
				}
			}
		}
	}
}

.widget {
	width: 100%;
	height: auto;
	@include flex(column, flex-start, stretch);
	.widget__title-block {
		@include flex(row, space-between, center);
		.widget--name {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 22px;
		}
		.link {
			font-size: 16px;
		}
		margin-bottom: 40px;
	}
}

.popular-preview {
	height: 70px;
	width: 100%;
	@include flex(row, flex-start, stretch, no-wrap);
	margin-bottom: 25px;
	.popular-preview__img-block {
		width: 80px;
		height: 70px;
		margin-right: 18px;
		flex: 0 0 80px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.popular-preview--content {
		flex: 1 1 auto;
		@include flex(column, flex-start, stretch);
		.popular-preview--type {
			@include transition();
			color: $pink;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 0.44px;
			margin-bottom: 8px;
		}
		.popular-preview--title {
			color: #ffffff;
			font-size: 17px;
		}
	}
	&:hover {
		.popular-preview--type {
			color: #fff;
		}
		.popular-preview--title {
			text-decoration: underline;
		}
	}
}
@include respond-below(xl) {
	.offcanvas {
		.container {
			padding: 50px 20px;
		}
	}
}
@include respond-below(lg) {
	.offcanvas {
		.container {
			padding: 80px 30px 25px 30px;
		}
		.footer__content--menu .footer__list .footer__list--title {
			font-size: 23px;
		}
	}
	.footer__content--menu.offcanvas__content--menu {
		height: 710px;
		padding-bottom: 320px;
		position: relative;
		.offcanvas__offers-block {
			position: absolute;
			bottom: 40px;
			width: 100%;
			left: 0;
			.small-previews__block {
				@include flex(row, flex-start, flex-start, wrap);
				.small-preview {
					flex: calc((100% - 20px)/2) 0 0;
					width: calc((100% - 20px)/2);
					&:nth-child(2n) {
						margin-left: 20px;
					}
				}
			}
		}
	}
	.offcanvas__search-block {
		margin-bottom: 45px;
	}
	.offcanvas__widgets {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    .offcanvas__widget-left {
	    	flex: 100% 0 0;
	    	width: 100%;
	    	margin-bottom: 55px;
	    	.widget {
	    		.widget__content {
	    			@include flex(row, flex-start, flex-start, wrap);
	    			.popular-preview {
	    				flex: calc((100% - 20px)/2) 0 0;
						width: calc((100% - 20px)/2);
						&:nth-child(2n) {
							margin-left: 20px;
						}
	    			}
	    		}
	    	}
	    }
	    .offcanvas__widget-right {
	    	width: 100%;
	    	flex: 100% 0 0;
	    	.widget {
	    		.widget__content {
	    			.large-card {
	    				flex: calc((100% - 20px)/2) 0 0;
						width: calc((100% - 20px)/2);
						&:nth-child(2n) {
							margin-left: 20px;
						}
						.large-card__img {
							img {
								object-fit: cover;
								object-position: top;
							}
						}
	    			}
	    		}
	    	}
	    }
	}
}
@include respond-below(md) {
	.offcanvas {
		.container {
			padding: 80px 20px 25px 20px;
		}
		.footer__content--menu .footer__list {
			@include respond-below(sm) {
    			width: 50%;
    			padding-right: 20px;
    		}
			& .footer__list--title {
				font-size: 20px;
				@include respond-below(sm) {
    				font-size: 16px;
    				margin-bottom: 10px;
    			}
			}
		}
	}
	.offcanvas__search-block {
		width: 100%;
		.offcanvas__search--input {
			font-size: 14px;
		}
	}
	.footer__content--menu.offcanvas__content--menu {
		height: 935px;
		padding-bottom: 380px;
		.offcanvas__offers-block {
			position: absolute;
			bottom: 40px;
			width: 100%;
			left: 0;
			.small-previews__block {
				@include flex(row, flex-start, flex-start, wrap);
				.small-preview {
					flex: 100% 0 0;
					width: 100%;
					&:nth-child(2n) {
						margin-left: 0;
					}
					.small-preview--title {
						font-size: 14px;
						@include respond-below(sm) {
							font-size: 12px !important;
							line-height: 15px !important;
						}
					}
				}
			}
		}
	}
	.offcanvas__widgets {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    .offcanvas__widget-left {
	    	flex: 100% 0 0;
	    	width: 100%;
	    	margin-bottom: 25px;
	    	.widget {
	    		.widget__title-block .link {
	    			font-size: 14px;
	    			white-space: nowrap;
	    		}
	    		.widget__content {
	    			@include flex(row, flex-start, flex-start, wrap);
	    			.popular-preview {
	    				flex: 100% 0 0;
						width: 100%;
						&:nth-child(2n) {
							margin-left: 0;
						}
						.popular-preview--title {
							font-size: 14px;
						}
	    			}
	    		}
	    	}
	    }
	    .offcanvas__widget-right {
	    	width: 100%;
	    	flex: 100% 0 0;
	    	.widget {
	    		.widget__title-block .link {
	    			font-size: 14px;
	    			white-space: nowrap;
	    		}
	    		.widget__content {
	    			-webkit-flex-wrap: wrap;
	    			    -ms-flex-wrap: wrap;
	    			        flex-wrap: wrap;
	    			.large-card {
	    				flex: 100% 0 0;
						width: 100%;
						margin-bottom: 10px;
						.large-card__content {
							padding: 0 20px 30px 20px;
						}
						&:nth-child(2n) {
							margin-left: 0;
						}
						.large-card__img {
							img {
								object-fit: cover;
								object-position: top;
							}
						}
	    			}
	    		}
	    	}
	    }
	}
}