.search-modal {
	display: none;
	width: 760px;
	height: 465px;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	border-radius: 6px;
	background-color: #ffffff;
	position: absolute;
	top: calc(50vh - 232.5px);
	left: calc(50% - 380px);
	z-index: 100;
	padding: 40px 40px 50px 40px;
	@include respond-below(md) {
		top: 50px;
		width: calc(100vw - 40px);
		padding: 30px 20px;
		height: auto;
	}
	.search-modal--title {
		color: #434a54;
		font-family: "Playfair Display";
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 50px;
		@include respond-below(md) {
			font-size: 23px;
			line-height: 28px;
			margin-bottom: 20px;
		}
	}
	.search-modal--list {
		@include flex(column, flex-start, flex-start, wrap);
		height: 170px;
		@include respond-below(md) {
			height: auto;
			@include flex(row, flex-start, flex-start, wrap);
		}
		.search-modal--item {
			width: 235px;
			margin-bottom: 17px;
			@include respond-below(md) {
				width: auto;
				margin-bottom: 15px;
				margin-right: 20px;
			}
			.search-modal--link {
				color: $blue-text;
				font-size: 17px;
				line-height: 1;
				@include transition();
				white-space: nowrap;
				&:hover {
					color: $pink;
				}
				@include respond-below(md) {
					font-size: 14px;
					line-height: 14px;
				}
			}
		}
		margin-bottom: 45px;
		@include respond-below(md) {
			margin-bottom: 15px;
		}
	}
	.search-modal--form {
		@include flex(row, flex-start, flex-end);
		@include respond-below(md) {
			@include flex(column, flex-start, stretch);
		}
		.search-modal--label {
			@include flex(column, flex-end, flex-start);
			color: #434a54;
			font-size: 19px;
			@include respond-below(md) {
				font-size: 16px;
				line-height: 28px;
			}
			.search-modal--input {
				width: 365px;
				height: 52px;
				border-radius: 4px;
				border: 1px solid #bababa;
				background-color: #ffffff;
				margin-top: 6px;
				padding-left: 30px;
				color: $grey-text;
				font-family: "PT Sans";
				font-size: 16px;
				@include respond-below(md) {
					width: 100%;
				}
			}
			margin-right: 20px;
			@include respond-below(md) {
				margin-right: 0;
			}
		}
		.search-modal--submit {
			width: 100%;
			margin-top: 13px;
			height: 52px;
			border-radius: 4px;
			&.disabled {
				background-color: #e8e8e9;
				color: #939496;
				cursor: default;
			}
			font-weight: 600;
			color: #fff;
			background: $pink;
			text-transform: uppercase;
			font-size: 17px;
			@include respond-below(md) {
				font-size: 14px;
			}
			outline: none;
			border: none;
			@include flex(row, center, center);
			cursor: pointer;
			@include transition();
			&:hover:not(.disabled) {
				background-color: #000;
			}
		}
	}
	.search-modal--cross {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 18px;
		height: 18px;
		color: $pink;
		cursor: pointer;
		@include respond-below(md) {
			top: 10px;
			right: 10px;
		}
	}
}

.ui-widget.ui-autocomplete {
	@include flex(column, flex-start, stretch);
	width: 372px;
	height: auto;
	max-height: 289px;
	overflow-y: scroll;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	border: 1px solid #ccd1d9;
	background-color: #ffffff;
	.ui-menu-item {
		@include transition();
		background: #FFF;
		&:hover {
			background: $inactive; 
			&:not(:first-of-type) {
				border-top: 1px solid $inactive !important;
			}
			& + .ui-menu-item {
				border-top: 1px solid $inactive !important;
			}
		}
		.ui-menu-item-wrapper {
			margin: 0 !important;
			background: transparent; 
			width: 100%;
			height: 100%;
			padding: 10px 20px;
			color: #aab2bd;
			font-size: 16px;
			line-height: 23px;
			border: none;
			&:hover, &:focus {
				background: transparent; 
				border: none;
			}
			.search-mark {
				color: $grey-text;
			}
		}
		&:not(:first-of-type) {
			border-top: 1px solid #ccd1d9;
		}
	}
}