
.sended-modal--done {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	position: absolute;
	top: 75px;
	display: none;
	z-index: 100;
	width: 760px;
	height: 468px;
	overflow: hidden;
	@include respond-below(md) {
		height: auto;
		width: calc(100vw - 40px);
		padding: 85px 0 40px 0;
	}	
	& > .sended-modal--done-content {
		width: 100%;
		height: 100%;
		@include flex(column, center, center);
		& > img {
			width: 131px;
			height: 131px;
		}
		.sended-modal--step-title {
			margin: 35px 0;
			font-weight: 700;
			color: #434a54;
			font-size: 19px;
			text-transform: uppercase;
			margin-bottom: 30px;
			text-align: center;
			line-height: 25px;
			@include respond-below(md) {
				margin: 18px 28px;
				font-size: 15px;
				line-height: 18px;
			}
		}
		.sended-modal--ok {
			width: 52px;
			height: 52px;
			border-radius: 4px;
			border: 2px solid $pink;
			background-color: #ffffff;
			margin-right: 10px;
			display: flex !important;
			@include flex(row, center, center);
			color: $grey-text;
			font-size: 17px;
			text-transform: uppercase;
			font-weight: 600;
			@include respond-below(md) {
				margin-right: 0;
			}
		}
	}

	.search-modal--cross {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 18px;
		height: 18px;
		color: $pink;
		cursor: pointer;
		@include respond-below(md) {
			top: 10px;
			right: 10px;
		}
	}
}
.sended-modal--done {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	box-shadow: 0 10px 29px rgba(47, 47, 47, 0.18);
	position: absolute;
	top: 75px;
	display: none;
	z-index: 100;
	width: 760px;
	height: 468px;
	overflow: hidden;
	@include respond-below(md) {
		height: auto;
		width: calc(100vw - 40px);
		padding: 85px 0 40px 0;
	}	
	& > .sended-modal--done-content {
		width: 100%;
		height: 100%;
		@include flex(column, center, center);
		& > img {
			width: 131px;
			height: 131px;
		}
		.sended-modal--step-title {
			margin: 35px 0;
			font-weight: 700;
			color: #434a54;
			font-size: 19px;
			text-transform: uppercase;
			margin-bottom: 30px;
			text-align: center;
			line-height: 25px;
			@include respond-below(md) {
				margin: 18px 28px;
				font-size: 15px;
				line-height: 18px;
			}
		}
		.sended-modal--ok {
			width: 52px;
			height: 52px;
			border-radius: 4px;
			border: 2px solid $pink;
			background-color: #ffffff;
			margin-right: 10px;
			display: flex !important;
			@include flex(row, center, center);
			color: $grey-text;
			font-size: 17px;
			text-transform: uppercase;
			font-weight: 600;
			@include respond-below(md) {
				margin-right: 0;
			}
		}
	}

	.search-modal--cross {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 18px;
		height: 18px;
		color: $pink;
		cursor: pointer;
		@include respond-below(md) {
			top: 10px;
			right: 10px;
		}
	}
}