.aside {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-row-gap: 20px;
	-webkit-align-self: flex-start;
	        align-self: flex-start;
	height: auto;
	@include respond-below(lg) {
		grid-column: 1/2;
		.large-card {
			width: 100%;
			height: 393px;
			@include respond-below(md) {
				height: 595px;
			}
		}
	}
	@include respond-below(md) {
		grid-row-gap: 10px;
	}
}
.news-widget {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	height: 493px;
	width: 100%;
	padding: 35px 30px 30px 30px;
	@include respond-below(md) {
		padding: 30px 20px;
		height: auto;
	}
	position: relative;
	.news-widget__arrows {
		width: 56px;
		height: 23px;
		@include flex(row, space-between, stretch);
		position: absolute;
		right: 30px;
		top: 37px;
		@include respond-below(md) {
			top: 30px;
			right: 20px;
		}
	}
	.news-widget__slider {
		margin-top: -15px;
		.slick-list {
			padding-top: 15px;
		}
	}
	@include respond-below(lg) {
		.slick-slide {
			margin-right: 20px;
		}
	}
	@include respond-below(md) {
		.slick-slide {
			margin-right: 0;
		}
	}
}
.close-widget {
	width: 100%;
	border-radius: 6px;
	background-color: #fff;
	@include flex(column, space-between, stretch);
	.subtitle {
		padding: 25px 30px 5px 30px;
		flex: 0 0 auto;
	}
	.small-previews__block {
		margin-bottom: 20px;
		flex: 1 1 auto;
		padding: 0 30px;
		.small-preview--title {
			color: $grey-text;
		}
		.small-preview:hover {
			.small-preview--type {
				color: $pink;
			}
		}
		@include respond-below(lg) {
			@include flex(row, flex-start, flex-start, wrap);
			.small-preview {
				flex: 0 0 50%;
				padding-right: 40px;
				@include respond-below(md) {
					flex: 0 0 100%;
					padding-right: 0;
				}
			}
			padding: 0 20px;
		}
	}
	.close-widget__button {
		flex: 0 0 57px;
		.calendar-button {
			height: 57px;
			span {
				svg {
					margin: 0 5px 0 15px;
				}
				@include flex(row, center, center);
			}
		}
		@include respond-below(lg) {
			width: 100%;
			.calendar-button {
				width: 100%;
			}
		}
	}
	@include respond-below(lg) {
		.subtitle {
			padding: 25px 20px 5px 20px;
		}
	}
}
.profit-widget {
	padding: 28px 30px 37px 30px;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	width: 100%;
	max-width: 100%;
	position: relative;
	@include respond-below(lg) {
		padding: 30px 20px;
		.profit-widget__block {
			@include flex(row, flex-start, flex-start, wrap);
			display: inline-flex !important;
			.small-preview {
				flex: 0 0 50%;
				padding-right: 40px;
				@include respond-below(md) {
					flex: 0 0 100%;
					padding-right: 0;
				} 
			}
		}
	}
	.profit-widget__arrows {
		position: absolute;
		top: 26px;
		right: 30px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between, center);
		@include respond-below(lg) {
			top: 30px;
			right: 20px;
		}
	}
	.subtitle {
		padding-right: 150px;
	}
	.small-preview {
		.small-preview--title {
			color: $grey-text;
		}
	}
	
		.small-preview:hover {
			.small-preview--type {
				color: $pink;
			}
		}
}
.two-columns__block {
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	background: #fff;
	height: 493px;
	padding: 35px 35px 35px 40px;
	@include respond-below(lg) {
		padding: 35px 20px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
		height: auto;
	}
	.title.small {
		margin-bottom: 33px;
	}
	.two-columns__block__content {
		height: 360px;
		display: grid;
		grid-template-rows: repeat(3, minmax(100px, 34%));
		grid-template-columns: repeat(2, minmax(100px, 51%));
		grid-gap: 20px;
		@include respond-below(md) {
			grid-template-rows: auto;
			grid-template-columns: 100%;
			height: auto;
		}
		.info-card {
			grid-row: 1/4;
			grid-column: 1/2;
			width: 100%;
			height: 100%;
			@include respond-below(md) {
				height: auto;
				grid-column: 1/2;
				grid-row: auto;
			}
		}
	}
	.small-preview {
		margin-top: 0;
		height: 100%;
		width: 100%;
		&:hover {
			.small-preview--type {
				color: $pink;
			}
		}
		.small-preview--title {
			color: $grey-text;
			font-size: 19px;
			@include respond-below(sm) {
				font-size: 12px !important;
				line-height: 15px !important;
			}
		}
	}
	@include respond-below(md) {
		.article-card {
			width: 100%;
		}
	}
}
.author-widget {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	width: 100%;
	height: auto;
	@include respond-below(lg) {
		position: absolute;
		top: 90px;
		left: 20px;
		height: 186px;
		width: calc(100% - 40px);
	}
	@include respond-below(lg) {
		padding: 30px 20px;
		@include flex(row, space-between, center, wrap);
	}
	@include respond-below(md) {
		height: 245px;
		padding: 20px;
		top: 53px;
		@include flex(column, flex-start, flex-start);
	}
	.subtitle {
		padding: 28px 0 0 29px;
		margin-bottom: 25px;
		@include respond-below(lg) {
			padding: 0;
			font-size: 21px;
			flex: 0 0 100%;
		}
		@include respond-below(md) {
			font-size: 23px;
			margin-bottom: 25px;
			flex: 0 0 auto;
		}
	}
	.author-block {
		padding: 0 37px 0 28px;
		@include flex(row, space-between, flex-start);
		margin-bottom: 35px;
		@include respond-below(lg) {
			padding: 0 40px 0 0;
			margin-bottom: 0;
			width: 50%;
			flex: 0 0 50%;
		}
		@include respond-below(md) {
			width: 100%;
			flex: 0 0 auto;
			margin-bottom: 0;
			padding-right: 0;
		}
		.author-block__img {
			width: 85px;
			height: 85px;
			flex: 0 0 85px;
			margin-right: 18px;
			img {
				width: 100%;
				height: 100%;
			}
			@include respond-below(sm) {
				margin-right: 10px;
			}
		}
		.author-block__content {
			flex: 1 1 auto;
			.author-block--name {
				color: $grey-text;
				font-size: 20px;
				margin-bottom: 15px;
				@include respond-below(lg) {
					line-height: 16px;
				}
				@include respond-below(sm) {
					margin-bottom: 10px;
				}
			}
			.author-block--text {
				color: #95989c;
				font-size: 13px;
				line-height: 16px;
				@include respond-below(sm) {
					font-size: 12px;
					line-height: 13px;
				}
			}
		}
	}
	@include respond-below(lg) {
		.calendar-button {
			width: 335px;
			height: 57px;
			@include respond-below(md) {
				height:57px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				flex: 100% 0 0;
			}
		}
	}
}
.slider-info-widget {
	width: 100%;
	background: #FFF;
	height: auto;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 30px 30px 10px 30px;
	@include respond-below(lg) {
		padding: 30px 20px;
	} 
	.slider-info-widget__arrows {
		position: absolute;
		top: 26px;
		right: 30px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between, center);
		@include respond-below(lg) {
			right: 20px;
			top: 30px;
		}
	}
	position: relative;
	.slider-info-widget__slider {
		width: 100%;
		.info-card {
			width: 100%;
		}
		.slick-list {
			padding-top: 10px;
			@include respond-below(lg) {
				.slick-slide {
					margin-right: 15px;
					@include respond-below(md) {
						margin-right: 0;
					}
				}
			}
		}
	}
	.subtitle {
		@include respond-below(lg) {
			padding-right: 60px;
		}
		margin-bottom: 20px;
	}
}
.tags-widget {
	background: #FFF;
	padding: 30px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	.subtitle {
		margin-bottom: 30px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	.tags-block {
		@include flex(row, flex-start, flex-start, wrap);
		.tag {
			margin: 0 10px 10px 0;
			@include transition();
			border: 1px solid transparent;
			&:hover {
				background: #FFF;
				border: 1px solid #95989c;
			}
		}
	}
}
.social-widget {
	background: #FFF;
	padding: 25px 30px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	.subtitle {
		margin-bottom: 30px;
	}
	@include respond-below(md) {
		padding: 30px 20px;
	}
	.social-widget__block {
		@include flex(column, flex-start, stretch);
		.follow-button {
			margin-bottom: 10px;
			width: 100%;
		}
		@include respond-below(lg) {
			@include flex(row, space-between, flex-start);
			.follow-button {
				flex: 0 0 calc((100% - 30px)/3);
				width: calc((100% - 30px)/3);
			}
			@include respond-below(md) {
				@include flex(column, flex-start, stretch);
				.follow-button {
					width: 100%;
					flex: 0 0 100%;
				}
			}
		}
	}
}
.info-club-widget {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	@include respond-below(lg) {
		padding: 30px 20px 60px 20px;
		height: auto;
	}
	.info-club-widget--title {
		padding: 30px;
		@include respond-below(lg) {
			padding: 0;
		}
		img {
			width: 94px;
			height: 74px;
			margin-right: 25px;
		}
		@include flex(row, flex-start, center);
		@include respond-below(md) {
			@include flex(column, flex-start, flex-start);
		}
		p {
			font-family: "Playfair Display";
			font-weight: 700;
			color: $grey-text;
			font-size: 22px;
			line-height: 28px;
			@include respond-below(lg) {
				br {
					display: none;
				}
			}
			@include respond-below(md) {
				font-size: 23px;
				margin-top: 10px;
			}
		}
		@include respond-below(lg) {
			margin-bottom: 10px;
		}
		@include respond-below(md) {
			margin-bottom: 20px;
		}
	}
	.info-club-widget--text {
		color: $grey-text;
		font-size: 15px;
		line-height: 23px;
		padding: 0 30px 30px 30px;
		@include respond-below(lg) {
			padding: 0;
			margin-bottom: 30px;
		}
		@include respond-below(md) {
			font-size: 14px;
			line-height: 19px;
		}
	}
	.info-club-widget--location {
		padding: 0 30px 0 30px ;
		@include respond-below(lg) {
			padding: 0;
		}
		@include flex(row, flex-start, flex-start);
		svg {
			color: $pink;
			width: 17px;
			height: 17px;
			margin-right: 10px;
			position: relative;
			top: 2px;
		}
		color: $grey-text;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.56px;
		line-height: 18px;
		margin-bottom: 20px;
		@include respond-below(lg) {
			width: 50%;
			display: inline-flex;
		}
		@include respond-below(md) {
			width: 100%;
			display: flex;
		}
	}
	.info-club-widget--phone {
		color: $grey-text;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.56px;
		padding: 0 30px;
		@include respond-below(lg) {
			padding: 0;
		}
		@include flex(row, flex-start, center);
		svg {
			color: $pink;
			width: 15px;
			height: 15px;
			margin-right: 10px;
			position: relative;
			top: 2px;
		}
		margin-bottom: 40px;
		@include respond-below(lg) {
			width: 50%;
			display: inline-flex;
		}
		@include respond-below(md) {
			width: 100%;
			display: flex;
		}
	}
	position: relative;
	.calendar-button {
		@include respond-below(lg) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}
.support-widget {
	width: 100%;
	height: auto;
	padding: 20px 30px 30px 30px;
	@include respond-below(lg) {
		padding: 20px;
		position: relative;
	}
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	.support-widget--title {
		@include flex(row, flex-start, center);
		font-family: "Playfair Display";
		font-weight: 700;
		color: $grey-text;
		font-size: 22px;
		line-height: 28px;
		img {
			width: 90px;
			height: 90px;
			flex: 0 0 90px;
			margin-right: 30px;
			@include respond-below(md) {
				margin-right: 10px;
			}
		}
		@include respond-below(md) {
			font-size: 18px;
			line-height: 22px;
		}
	}
	.calendar-button {
		width: 100%;
		margin-top: 17px;
		margin-bottom: 20px;
		@include respond-below(lg) {
			margin-top: 0;
			margin-bottom: 0;
			width: 335px;
			height: 52px;
			position: absolute;
			top: 20px;
			right: 20px;
		}
		@include respond-below(md) {
			width: 100%;
			position: static;
			margin-top: 20px;
			margin-bottom: 10px;
		}
	}
	.support-widget--lock {
		color: #95989c;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 0.4px;
		@include flex(row, flex-start, center);
		svg {
			width: 16px;
			height: 17px;
			margin-right: 5px;
		}
		@include respond-below(lg) {
			width: 335px;
			position: absolute;
			top: 90px;
			right: 20px;
		}
		@include respond-below(md) {
			width: 100%;
			text-align: center;
			position: static;
			-webkit-justify-content: center;
			        justify-content: center;
		}
	}
}
.timer-widget {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
    @include respond-below(lg) {
		position: absolute;
		top: 90px;
		left: 20px;
		height: 262px;
		width: calc(100% - 40px);
	}
	@include respond-below(lg) {
		@include flex(column, flex-start, center);
		padding-top: 30px;
	}
	@include respond-below(md) {
		height: 245px;
		padding: 20px;
		top: 53px;
		@include flex(column, flex-start, flex-start);
	}
	.subtitle {
		padding: 28px 0 0 30px;
		margin-bottom: 33px;
		@include respond-below(lg) {
			padding: 0;
			width: 100%;
			text-align: center;
		}
		
	}
	img {
		display: block;
		margin: 0 auto;
	}
	.calendar-button {
		margin-top: 50px;
		@include respond-below(lg) {
			margin-top: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}
.reviews-widget {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 25px 30px 45px;
	@include respond-below(lg) {
		padding: 25px 20px;
		position: relative;
	}
	@include respond-below(md) {
		.subtitle {
			padding-right: 60px;
		}
	}
	.reviews-widget__arrows {
		position: absolute;
		top: 26px;
		right: 30px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between, center);
		@include respond-below(lg) {
			top: 25px;
			right: 20px;
		}
	}
	.reviews-widget__slider {
		margin-top: 15px;
	}
	position: relative;
	.reviews-widget--slide {
		.quote-card {
			margin-top: 20px;
		}
		@include respond-below(lg) {
			margin-top: 20px;
			display: inline-grid !important;
			grid-template-rows: auto auto;
			grid-template-columns: repeat(2, minmax(40%, 50%));
			grid-gap: 15px;
			.quote-card {
				margin-top: 0;
			}
		}
		@include respond-below(md) {
			display: inline-block !important;
			.quote-card {
				margin-bottom: 20px;
			}
		}
	}
}
.branches-widget {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 30px;
	@include respond-below(lg) {
		padding: 30px 20px;
	}
	@include respond-below(md) {
		.subtitle {
			padding-right: 60px;
		}
	}
	position: relative;
	.branches-widget__arrows {
		position: absolute;
		top: 26px;
		right: 30px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between, center);
		@include respond-below(lg) {
			right: 20px;
			top: 30px;
		}
	}
	.branches-widget__slider {
		margin-top: 15px;
		@include respond-below(lg) {
			.branches-widget__slide {
				display: inline-grid !important;
				grid-template-columns: repeat(2, minmax(40%, 50%));
				grid-template-rows: 68px;
				grid-gap: 0 35px;
			}
		}
		@include respond-below(md) {
			.branches-widget__slide {
				display: inline-block !important;
			}
		}
	}
	.branches-widget--branch {
		width: 100%;
		@include flex(column, flex-start, flex-start);
		padding: 15px 0;
		.branches-widget--branch-type {
			color: $pink;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 0.44px;
			margin-bottom: 10px;
		}
		.branches-widget--branch-name {
			color: $grey-text;
			font-size: 17px;
		}
		&:not(:first-of-type) {
			border-top: 1px solid  #e1e3e6;
			@include respond-below(lg) {
				border-top: none
			}
			@include respond-below(md) {
				border-top: 1px solid  #e1e3e6;
			}
		}
		&:hover {
			.branches-widget--branch-name {
				text-decoration: underline;
			}
		}
		@include respond-below(lg) {
			border-top: none;
			border-bottom: 1px solid  #e1e3e6;
		}
		@include respond-below(md) {
			border-bottom: none;
		}
	}
}
.subscribe-widget {
	padding: 25px 30px;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	.calendar-button {
		margin: 25px 0;
		width: 100%;
	}
	.support-widget--lock {
		color: #95989c;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 0.4px;
		@include flex(row, flex-start, center);
		svg {
			width: 16px;
			height: 17px;
			margin-right: 5px;
		}
		@include respond-below(lg) {
			-webkit-justify-content: center;
			        justify-content: center;
		}
		@include respond-below(md) {
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		}
	}
	.simple-form {
		margin-bottom: 20px;
		@include respond-below(lg) {
			width: 100%;
			.input {
				width: 100%;
			}
		}
	}
	@include respond-below(lg) {
		padding: 25px 20px;
		.subtitle {
			text-align: center;
		}
	}
	@include respond-below(md) {
		.subtitle {
			text-align: left;
			font-size: 23px;
			line-height: 25px;
		}
	}
}
.video-widget {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 30px;
	@include respond-below(md) {
		padding: 30px 20px;
		.subtitle {
			padding-right: 60px;
		}
	}
	position: relative;
	.video-widget__arrows {
		position: absolute;
		top: 26px;
		right: 30px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between, center);
		@include respond-below(lg) {
			top: 30px;
			right: 20px;
		}
	}
	.video-widget--slide {
		display: grid !important;
		grid-template-columns: repeat(2, minmax(140px, 50%));
		grid-gap: 20px;
		@include respond-below(lg) {
			grid-template-columns: repeat(4, minmax(20%, 25%));
		}
		@include respond-below(md) {
			grid-template-columns: repeat(2, minmax(40%, 50%));
			grid-gap: 10px;
		}
	}
	.video-widget__slider {
		margin-top: 20px;
	}
}
.photos-widget {
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 30px;
	position: relative;
	.photos-widget__arrows {
		position: absolute;
		top: 26px;
		right: 30px;
		width: 56px;
		height: 23px;
		@include flex(row, space-between, center);
	}
	.photos-widget--slide {
		display: grid !important;
		grid-template-columns: repeat(4, minmax(50px, 25%));
		grid-gap: 5px;
		height: 318px;
	}
	.photos-widget__slider {
		margin-top: 20px;
	}
}