<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__content--menu">
                <ul class="footer__list">
                    <li class="footer__list--title">Магазин</li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Каталог</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Мастер классы</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Онлайн курсы</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Бесплатно</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Электронные книги</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Аудио книги</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list--title">Образование</li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Статьи</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Видео</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Тесты</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list--title">Мероприятия</li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Все мероприятия</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Альбомы</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list--title">Проекты</li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Все проекты</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list--title">Отзывы</li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Все отзывы</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list--title">О нас</li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">О нашем центре</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Новости</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">СМИ о нас</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list--title">Сотрудничество</li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Для партнёров</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Анкета партнёра</a></li>
                    <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Консультанты</a></li>
                </ul>
                <div class="footer__content--additional">
                    <p class="footer__list--title">Дополнительная информация</p>
                    <p class="footer__content--text">Приобретая любую продукцию ТЦ Павла Ракова, Вы соглашаетесь с указанными условиями.</p>
                    <p class="footer__content--text"><span>ИНН: 344565374567567845</span><span>КПП: 344565374567567845</span><span>Кор. счёт: 344565374567567845</span></p><a class="footer__content--link" href="javsacript:void(0)">Политика конфиденциальности</a><a class="footer__content--link" href="javsacript:void(0)">Публичная оферта</a>
                </div>
            </div>
            <div class="footer__content--info">
                <div class="footer__content--socials">
                    <a class="footer__content--social footer__content--social-vk" href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="./img/sprite.svg#icons--004-vk"></use>
                        </svg>
                    </a>
                    <a class="footer__content--social footer__content--social-instagram" href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="./img/sprite.svg#icons--012-instagram-logo"></use>
                        </svg>
                    </a>
                    <a class="footer__content--social footer__content--social-youtube" href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="./img/sprite.svg#icons--005-youtube"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__content--service-block"><a class="footer__content--service"><span class="footer__content--service-icon">
              <svg class="icon">
                <use xlink:href="./img/sprite.svg#icons--014-telemarketer"></use>
              </svg></span>Техподдержка</a></div>
                <div class="footer__content--phone-block"><a class="footer__content--phone" href="tel:8-800-333-77-80"><span class="footer__content--phone-icon">
              <svg class="icon">
                <use xlink:href="./img/sprite.svg#icons--003-phone-receiver"></use>
              </svg></span>8-800-333-77-80</a></div>
                <div class="footer__content--design-block"><a class="footer__content--design"><span class="footer__content--design-icon"><img src="./img/design.png"/></span><span class="footer__content--design-name">CreativeDzen</span><span class="footer__content--design-descr">Разработка дизайна</span></a></div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="footer--site-name">
                <p class="footer--title">Павел Раков</p>
                <p class="footer--description">Тренинговый центр</p>
            </div>
            <div class="footer__link--icon-block">
                <p class="footer__link--icon"><span class="footer__link--icon footer__link--icon-location">
            <svg class="icon">
              <use xlink:href="./img/sprite.svg#icons--002-placeholder-filled-point"></use>
            </svg></span>г. Москва, ул. Бауманская 56, офис 7</p>
            </div>
            <div class="footer__link--icon-block">
                <p class="footer__link--icon"><span class="footer__link--icon">
            <svg class="icon">
              <use xlink:href="./img/sprite.svg#icons--013-envelope"></use>
            </svg></span>info@pavelrakov.ru</p>
            </div>
            <p class="footer__copyright--text">Павел раков 2018 © все права защиены</p>
        </div>
    </div>
</footer>
<div class="offcanvas">
    <div class="container">
        <div class="offcanvas__search-block">
            <form class="offcanvas__search--form">
                <input class="offcanvas__search--input" placeholder="Искать на сайте..." name="search" /><span class="offcanvas__search--button">
          <input class="offcanvas__search--submit" type="submit"/>
          <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--001-search"></use>
          </svg></span>
            </form>
        </div>
        <div class="footer__content--menu offcanvas__content--menu">
            <ul class="footer__list">
                <li class="footer__list--title">Магазин</li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Каталог</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Мастер классы</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Онлайн курсы</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Бесплатно</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Электронные книги</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Аудио книги</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list--title">Образование</li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Статьи</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Видео</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Тесты</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list--title">Мероприятия</li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Все мероприятия</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Альбомы</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list--title">Проекты</li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Все проекты</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list--title">Отзывы</li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Все отзывы</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list--title">О нас</li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">О нашем центре</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Новости</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">СМИ о нас</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list--title">Сотрудничество</li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Для партнёров</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Анкета партнёра</a></li>
                <li class="footer__list--item"><a class="footer__list--link" href="javascript:void(0)">Консультанты</a></li>
            </ul>
            <div class="offcanvas__offers-block">
                <p class="offcanvas__offers--title">Выгодные предложения</p>
                <div class="small-previews__block">
                    <a class="small-preview" href="javascript:void(0)">
                        <div class="small-preview__img-block"><img src="./img/preview1.png" />
                            <div class="sale">-20%</div>
                        </div>
                        <div class="small-preview--content">
                            <p class="small-preview--type">Тренинг</p>
                            <p class="small-preview--title">Сила женского притяжения</p>
                            <p class="small-preview--date">25 сентября, 2018</p>
                        </div>
                    </a>
                    <a class="small-preview" href="javascript:void(0)">
                        <div class="small-preview__img-block"><img src="./img/preview2.png" />
                            <div class="sale">-10%</div>
                        </div>
                        <div class="small-preview--content">
                            <p class="small-preview--type">тренинг-лекция</p>
                            <p class="small-preview--title">Школа управления Павла Ракова</p>
                            <p class="small-preview--date">7 сентября, 2018</p>
                        </div>
                    </a>
                    <a class="small-preview" href="javascript:void(0)">
                        <div class="small-preview__img-block"><img src="./img/preview3.png" />
                            <div class="sale">-40%</div>
                        </div>
                        <div class="small-preview--content">
                            <p class="small-preview--type">Мастер-класс</p>
                            <p class="small-preview--title">Интимная инструкция по взаимодействию...</p>
                            <p class="small-preview--date">13 ноября, 2018</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="offcanvas__widgets">
            <div class="offcanvas__widget-left">
                <div class="widget">
                    <div class="widget__title-block">
                        <p class="widget--name">Популярное</p><a class="link" href="javascript:void(0)">Смотреть все</a>
                    </div>
                    <div class="widget__content">
                        <a class="popular-preview" href="javascript:void(0)">
                            <div class="popular-preview__img-block"><img src="./img/preview4.png" /></div>
                            <div class="popular-preview--content">
                                <p class="popular-preview--type">КРАСОТА И ЗДОРОВЬЕ</p>
                                <p class="popular-preview--title">Какой должна быть идеальная женщина</p>
                            </div>
                        </a>
                        <a class="popular-preview" href="javascript:void(0)">
                            <div class="popular-preview__img-block"><img src="./img/preview5.png" /></div>
                            <div class="popular-preview--content popular-preview--content_nodate">
                                <p class="popular-preview--type">ПСИХОЛОГИЯ ОТНОШЕНИЙ</p>
                                <p class="popular-preview--title">Павед Раков: «Я сейчас создаю мир, в котором хочу жить»</p>
                            </div>
                        </a>
                        <a class="popular-preview" href="javascript:void(0)">
                            <div class="popular-preview__img-block"><img src="./img/preview6.png" /></div>
                            <div class="popular-preview--content popular-preview--content_nodate">
                                <p class="popular-preview--type">БИЗНЕС</p>
                                <p class="popular-preview--title">Не восприимчивость к огню и хождение по углям</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="offcanvas__widget-right">
                <div class="widget">
                    <div class="widget__title-block">
                        <p class="widget--name">Ближайшие мероприятия</p><a class="link" href="javascript:void(0)">Смотреть все</a>
                    </div>
                    <div class="widget__content">
                        <a class="large-card" href="javascript:void(0)">
                            <div class="large-card__img"><img src="./img/nearby1.png" /></div>
                            <div class="large-card__content">
                                <div class="white-badge">Мастер-класс</div>
                                <p class="large-card__title">На самом деле я умная, но живу как дура</p>
                                <div class="large-card__info">
                                    <div class="info-marker">
                                        <svg class="icon">
                                            <use xlink:href="./img/sprite.svg#icons--020-clock"></use>
                                        </svg>25 сентября, 2018
                                    </div>
                                    <div class="info-marker">
                                        <svg class="icon">
                                            <use xlink:href="./img/sprite.svg#icons--019-profile"></use>
                                        </svg>Тренер: Павел Раков
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="large-card" href="javascript:void(0)">
                            <div class="large-card__img"><img src="./img/nearby2.png" /></div>
                            <div class="large-card__content">
                                <div class="white-badge">Мастер-класс</div>
                                <p class="large-card__title">Школа управления Павла Ракова</p>
                                <div class="large-card__info">
                                    <div class="info-marker">
                                        <svg class="icon">
                                            <use xlink:href="./img/sprite.svg#icons--020-clock"></use>
                                        </svg>25 сентября, 2018
                                    </div>
                                    <div class="info-marker">
                                        <svg class="icon">
                                            <use xlink:href="./img/sprite.svg#icons--019-profile"></use>
                                        </svg>Тренер: Павел Раков
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas--cross js__offcanvas--cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="opacity"></div>
<div class="search-adaptive js__modal">
    <form class="search-adaptive__form">
        <p class="search-adaptive__form--title">Поиск по сайту</p>
        <div class="search-adaptive__form--input">
            <input type="text" name="search" placeholder="Искать на сайте" /><span>
        <svg class="icon">
          <use xlink:href="./img/sprite.svg#icons--001-search"></use>
        </svg></span>
        </div>
    </form>
    <div class="search-adaptive--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="search-modal js__modal">
    <p class="search-modal--title">Выберите город:</p>
    <ul class="search-modal--list">
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Москва</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Санкт-Петербург</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Новосибирск</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Екатеринбург</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Нижний Новгород</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Казань</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Самара</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Омск</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Челябинск</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Ростов-на-Дону</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Волгоград</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Красноярск</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Пермь</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Уфа</a></li>
        <li class="search-modal--item"><a class="search-modal--link" href="javascript:void(0)">Челябинск</a></li>
    </ul>
    <form class="search-modal--form">
        <label class="search-modal--label">Или укажите название здесь:
            <input class="search-modal--input js__search-input" type="text" placeholder="Укажите город..." name="city" />
        </label>
        <input class="search-modal--submit disabled" disabled="disabled" type="button" value="Это мой город" />
    </form>
    <div class="search-modal--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="notification-modal js__modal">
    <p class="small title">Создание уведомления</p>
    <div class="notification-modal--steps">
        <div class="notification-modal--step current--step" data-step="1">1<span>
        <svg class="icon">
          <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
        </svg></span></div>
        <div class="notification-modal--step" data-step="2">2<span>
        <svg class="icon">
          <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
        </svg></span></div>
        <div class="notification-modal--step" data-step="3">3<span>
        <svg class="icon">
          <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
        </svg></span></div>
    </div>
    <form class="notification--form">
        <input style="display:none" type="text" name="sended" value="notify" />
        <div class="notification-modal--slider">
            <div class="notification-modal--first-step">
                <p class="notification-modal--help"> <span>*</span>Чтобы включить уведомление выберите мероприятия</p>
                <p class="notification-modal--step-title"> <span class="hovered">
            <svg class="icon">
              <use xlink:href="./img/sprite.svg#icons--020-clock"></use>
            </svg></span>Ближайшие мероприятия:</p>
                <div class="notification-modal--checkboxes-block">
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreement">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement" type="checkbox" name="agreement" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreement1">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement1" type="checkbox" name="agreement2" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreement2">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement2" type="checkbox" name="agreemen3t" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                </div>
                <p class="notification-modal--step-title"> <span>
            <svg class="icon">
              <use xlink:href="./img/sprite.svg#icons--020-clock"></use>
            </svg></span>Другие мероприятия</p>
                <div class="notification-modal--checkboxes-block">
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreement3">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement3" type="checkbox" name="agreemen4t" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreement4">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement4" type="checkbox" name="agreeme5nt" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreement5">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement5" type="checkbox" name="agreem6ent" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreement6">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement6" type="checkbox" name="agreeme7nt" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreement7">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement7" type="checkbox" name="agreeme8nt" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreemen">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreemen" type="checkbox" name="agreeme9nt" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreeme">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreeme" type="checkbox" name="ag2reement" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreem">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreem" type="checkbox" name="ag3reement" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreemen1">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreemen1" type="checkbox" name="a4greement" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreemen2">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreemen2" type="checkbox" name="a5greement" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                    <div class="notification-modal--checkbox">
                        <label class="checkbox" for="subscriptionAgreemen3">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreemen3" type="checkbox" name="a6greement" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>На самом деле я — умная, но живу как дура?
                        </label>
                    </div>
                </div>
            </div>
            <div class="notification-modal--second-step">
                <p class="notification-modal--help"> <span>*</span>Выберите удобный для вас способ уведовления</p>
                <p class="notification-modal--step-title">Способ уведомления:</p>
                <div class="notification-modal--checkboxes-block">
                    <div class="notification-modal--checkbox wide">
                        <label class="checkbox" for="subscriptionAgreem32">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreem32" type="checkbox" name="agreemen4t2" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>SMS
                        </label>
                    </div>
                    <div class="notification-modal--checkbox wide">
                        <label class="checkbox" for="subscriptionAgreement44">
                            <div class="checkbox--block">
                                <input id="subscriptionAgreement44" type="checkbox" name="agreeme53nt" /><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
                            </div>E-mail
                        </label>
                    </div>
                </div>
            </div>
            <div class="notification-modal--third-step">
                <p class="notification-modal--help"> <span>*</span>Введите ваши контактные данные</p>
                <p class="notification-modal--step-title">Контактные данные:</p>
                <label class="input" for="notifyPhone">Контактный телефон
                    <input id="notifyPhone" type="text" placeholder="+7 ( XXX ) - XXX - XX - XX" name="notifyPhone" />
                </label>
                <label class="input" for="notifyEmail">Адрес эл. почты
                    <input id="notifyEmail" type="text" placeholder="Введите ваш e-mail" name="notifyEmail" />
                </label>
            </div>
        </div>
        <div class="notification-modal--buttons">
            <button class="send-button" type="submit">Отправить<span>
          <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--010-paper-plane"></use>
          </svg></span></button>
        </div>
    </form>
    <div class="search-modal--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="notification-modal--done js__modal">
    <div class="notification-modal--done-content"><img src="./img/icons/happiness.svg" alt="" />
        <p class="notification-modal--step-title">Поздравляем!
            <br>Уведомление активировано</p><a class="notification-modal--ok" href="javascript:void(0)">Ок</a>
    </div>
    <div class="search-modal--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="next-modal js__modal">
    <p class="small title">Узнать о следующем проведении мероприятия</p>
    <p class="next-modal--help"> <span>*</span>Отправьте ваши контактные данные и мы сообщим вам заранее о проведении мероприятия</p>
    <p class="next-modal--subtitle">Контактные данные:</p>
    <form>
        <input style="display:none" type="text" name="sended" value="next" />
        <label class="input" for="nextPhone">Контактный телефон
            <input id="nextPhone" type="text" placeholder="+7 ( XXX ) - XXX - XX - XX" name="nextPhone" />
        </label>
        <label class="input" for="nextEmail">Адрес эл. почты
            <input id="nextEmail" type="text" placeholder="Введите ваш e-mail" name="nextEmail" />
        </label>
        <button class="send-button" type="submit">Отправить<span>
        <svg class="icon">
          <use xlink:href="./img/sprite.svg#icons--010-paper-plane"></use>
        </svg></span></button>
    </form>
    <div class="search-modal--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="next-modal--done js__modal">
    <div class="next-modal--done-content"><img src="./img/icons/megaphone1.svg" alt="" />
        <p class="next-modal--step-title">Спасибо!
            <br>Будем держать вас в курсе</p><a class="next-modal--ok" href="javascript:void(0)">Ок</a>
    </div>
    <div class="search-modal--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="about-modal js__modal">
    <div class="about-modal--wrapper">
        <div class="about-modal--img"><img src="./img/about.png" />
            <p>Александра Деменьтьева</p>
        </div>
        <div class="about-modal--content">
            <div class="tabs"><a class="tab tab_active" href="javascript:void(0)">О себе</a><a class="tab" href="javascript:void(0)">Мои достижения</a>
            </div>
            <div class="about-modal--block">
                <p>Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок. Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок. Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок.</p>
            </div>
            <div class="about-modal--share">
                <p class="about-modal--share-text">Связаться со мной</p>
                <a class="share-icon" href="javascript:void(0)"><img src="./img/icons/social/002-vkontakte-logo.svg" /></a>
                <a class="share-icon" href="javascript:void(0)"><img src="./img/icons/social/001-instagram.svg" /></a>
                <a class="share-icon" href="javascript:void(0)"><img src="./img/icons/social/003-odnoklassniki.svg" /></a>
            </div>
        </div>
        <div class="search-modal--cross js__modal-cross">
            <svg class="icon">
                <use xlink:href="./img/sprite.svg#icons--053-close"></use>
            </svg>
        </div>
    </div>
</div>
<div class="sended-modal--done js__modal">
    <div class="sended-modal--done-content"><img src="./img/icons/email.svg" alt="" />
        <p class="sended-modal--step-title">Ваше сообщение успешно отправелно.
            <br>В Ближайшее время с вами свяжутся.</p><a class="sended-modal--ok" href="javascript:void(0)">Ок</a>
    </div>
    <div class="search-modal--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="anketa-modal js__modal">
    <p class="small title">Выберите филиал</p>
    <p class="anketa-modal--help"> <span>*</span>Чтобы отправить анкету выберите филиал парнёром которого вы собираетесь стать.</p>
    <p class="anketa-modal--list-title">Список действующих филиалов</p>
    <form action="">
        <input style="display:none" type="text" name="anketa" value="sended" />
        <div class="anketa--list">
            <label class="radio" for="radio_draft1">
                <div class="radio--block">
                    <input id="radio_draft1" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draft2">
                <div class="radio--block">
                    <input id="radio_draft2" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draft3">
                <div class="radio--block">
                    <input id="radio_draft3" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draft4">
                <div class="radio--block">
                    <input id="radio_draft4" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draft5">
                <div class="radio--block">
                    <input id="radio_draft5" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draft6">
                <div class="radio--block">
                    <input id="radio_draft6" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draft7">
                <div class="radio--block">
                    <input id="radio_draft7" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draft8">
                <div class="radio--block">
                    <input id="radio_draft8" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draft9">
                <div class="radio--block">
                    <input id="radio_draft9" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf">
                <div class="radio--block">
                    <input id="radio_draf" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf1">
                <div class="radio--block">
                    <input id="radio_draf1" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf2">
                <div class="radio--block">
                    <input id="radio_draf2" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf3">
                <div class="radio--block">
                    <input id="radio_draf3" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf4">
                <div class="radio--block">
                    <input id="radio_draf4" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf5">
                <div class="radio--block">
                    <input id="radio_draf5" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf6">
                <div class="radio--block">
                    <input id="radio_draf6" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf7">
                <div class="radio--block">
                    <input id="radio_draf7" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf8">
                <div class="radio--block">
                    <input id="radio_draf8" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_draf9">
                <div class="radio--block">
                    <input id="radio_draf9" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
            <label class="radio" for="radio_dra">
                <div class="radio--block">
                    <input id="radio_dra" type="radio" name="radio_draft" /><span class="radio--mark"></span>
                </div>Произвольное название филиала
            </label>
        </div>
        <button class="anketa-modal--next disabled" disabled="disabled">Продолжить
            <svg class="icon">
                <use xlink:href="./img/sprite.svg#icons--007-right-arrow"></use>
            </svg>
        </button>
    </form>
    <div class="search-modal--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<div class="anketa-modal--done js__modal">
    <div class="anketa-modal--done-content"><img src="./img/icons/checklist.svg" alt="" />
        <p class="anketa-modal--step-title">Ваша анкета успешно отправлена!
            <br>В ближайшее время с вами свяжутся.</p><a class="anketa-modal--ok" href="javascript:void(0)">Ок</a>
    </div>
    <div class="search-modal--cross js__modal-cross">
        <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--053-close"></use>
        </svg>
    </div>
</div>
<script src="./js/main.js"></script>
</body>

</html>