.ui__buttons-small {
	@include flex(row, flex-start, center);
	& a {
		margin-right: 10px;
	}
	margin-bottom: 40px;
} 
.ui__arrows{
	@include flex(row, flex-start, center);
	& > * {
		margin-right: 20px;
	}
}
.ui__dots {
	@include flex(row, flex-start, center);
	& > * {
		margin-right: 14px;
	}
}
.button-colored {
	@include flex(row, center, center);
	width: 245px;
	height: 50px;
	box-shadow: 0 2px 1px #b30059;
	border-radius: 25px;
	background-color: $pink;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 2;
	text-transform: uppercase;
	@include transition(box-shadow, .3s);
	&:hover {
		background-image: linear-gradient(to top, #cf2f7f 0%, $pink 100%);
	}
	&:active {
		background-image: linear-gradient(to top, $pink 0%, #cf2f7f 100%);	
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
}
.button {
	@include flex(row,center,center);
	@include transition(all, .3s);
	width: 204px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid $pink;
	background: #FFF;
	color: $grey-text;
	font-size: 14px;
	font-weight: 700;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: 0.28px;
	& svg {
		@include transition(transform, .3s);
		color: inherit;
		margin-left: 15px;
		width: 16px;
		height: 18px;
	}
	&:hover {
		background: $pink;
		color: #fff;
		svg {
			-webkit-transform: rotate(180deg);
			   -moz-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			     -o-transform: rotate(180deg);
			        transform: rotate(180deg);
		}
	}
}
.button-small {
	@include flex(row, center, center);
	@include transition();
	height: 37px;
	border-radius: 4px;
	border: 1px solid #d9dadb;
	background-color: #ffffff;
	padding: 0 21px;
	color: $grey-text;
	font-size: 12px;
	text-transform: uppercase;
	& .button-small--count {
		@include transition();
		border-radius: 10.5px;
		background-color: #e8e8e9;
		color: $grey-text;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
		letter-spacing: 0.22px;
		margin-left: 15px;
		padding: 5px;
		min-width: 21px;
		@include flex(row, center, center);
	}
	&:hover {
		@include respond-above(md) {
			border: 1px solid $pink;
			background-color: $pink;
			color: #fff;
			& .button-small--count {
				background-color: $grey-bg;
				color: #fff;
			}
		}
	}
	&.button-small_active {
		border: 1px solid $pink;
		background-color: $pink;
		color: #fff;
		& .button-small--count {
			background-color: $grey-bg;
			color: #fff;
		}
	}
}
.follow-button {
	@include transition();
	display: block;
	position: relative;
	width: 316px;
	height: 58px;
	padding-left: 59px;
	text-align: center;
	line-height: 58px;
	color: #fff;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.52px;
	& .follow-button--type {
		@include flex(row, center, center);
		width: 58px;
		height: 58px;
		border-radius: 4px 0 0 4px;
		position: absolute;
		top: 0;
		left: 0;
		border-right: 1px solid #fff;
		& svg {
			font-size: 24px;
		}
	}
	&.follow-button--vk {
		background-color: #0177b5;
		& .follow-button--type {
			background-color: #028ad4;
		}
		&:hover {
			background-color: #028ad4;
		}
	}
	&.follow-button--youtube {
		background-color: #ff0505;
		& .follow-button--type {
			background-color: #e60303;
		}
		&:hover {
			background-color: #e60303;
		}
	}
	&.follow-button--instagram {
		background-image: linear-gradient(80deg, #7a3cca 0%, #fd842b 100%);
		background-color: #a9569b;
		& .follow-button--type {
			background-color: #a9569b;
		}
		&:hover {
			background-image: none;
		}
	}
}
.send-button {
	@include flex(row, center, center);
	@include transition();
	cursor: pointer;
	width: 260px;
	height: 52px;
	border-radius: 4px;
	background-color: $pink;
	color: #ffffff;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	outline: none;
	& svg {
		@include transition(color, .3s);
		width: 28px;
		height: 21px;
		color: #fff;
		margin-left: 15px;
	}
	&:hover {
		background-color: $grey-bg;
		& svg {
			color:$pink;
		}
	}
}
.calendar-button {
	@include flex(row, center, center);
	@include transition();
	cursor: pointer;
	width: 378px;
	height: 52px;
	border-radius: 4px;
	background-color: $grey-bg;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	& svg {
		@include transition();
		width: 28px;
		height: 21px;
		color: $pink;
		margin-left: 15px;
	}
	&:hover {
		background-color: $pink;
		& svg {
			color: #fff;
		}
	}
	@include respond-below(md) {
		font-size: 14px;
	}
}
.menu-button {
	@include transition();
	width: 90px;
	height: 93px;
	background-color: $black-bg;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	span {
		width: 28px;
		height: 4px;
		border-radius: 1px;
		background-color: $pink;
		display: block;
		& + span {
			margin-top: 6px;
		}
	}
	position: relative;
	cursor: pointer;
	&:hover {
		background-color: $pink;
	}
	&.menu-button_inverse {
		background-color: $pink;
		span {
			background: #fff;
		}
		&:hover {
			background: $black-bg;
		}
	}
}
@include respond-below(lg) {
	.menu-button {
		width: 66px;
		height: 73px;
		&.menu-button_inverse {
		background: #1f2229;
			span {
				width: 22px;
				height: 3px;
				border-radius: 1px;
				background-color: #ff007e;
			}
		}
	}
}
@include respond-below(md) {
	.menu-button {
		width: 60px;
		height: 65px;
		background: transparent !important;
		&:after {
			top: 20px;
			left: 20px;
		}
		&:before {
			top: 30px;
			left: 20px;
		}
	}
}
.view-button {
	display: block;
	width: 26px;
	height: 21px;
	cursor: pointer;
	color: #e8e8e9;
	@include transition();
	& svg {
		width: 26px;
		height: 21px;
		fill: currentColor;
	}
	&:hover {
		color: $pink;
   	}
   	&.view-button_active {
   		cursor: default;
   		color: #000;
   		// &:hover {
   		// 	color: $pink;
   		// }
   	}
}

.slider-arrow_small {
	@include flex(row, center, center);
	@include transition();
	width: 23px;
	height: 23px;
	background-color: #e8e8e9;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	color: #000;
	cursor: pointer;
	& svg {
		width: 10px;
		height: 11px;
	}
	-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);
	&.slider-arrow_small_left {
		-webkit-transform: rotate(0);
		   -moz-transform: rotate(0);
		    -ms-transform: rotate(0);
		     -o-transform: rotate(0);
		        transform: rotate(0);
	}
	&:hover {
		background: $pink;
		color: #fff;
	}
}
.slider-arrow {
	@include flex(row, center, center);
	@include transition();
	width: 31px;
	height: 31px;
	background-color: #e8e8e9;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	color: #000;
	cursor: pointer;
	& svg {
		width: 16px;
		height: 13px;
	}
	&.slider-arrow_left {
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	&:hover {
		background: $pink;
		color: #fff;
	}
}
.dot {
	@include transition();
	width: 6px;
	height: 6px;
	cursor: pointer;
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	&:hover {
		background-color: $pink;
	}
	&.dot_active {
		background-color: #000;
	}
}
.icon-button {
	@include flex(row, center, center);
	@include transition();
	width: 90px;
	height: 66px;
	background-color: #000000;
	color: #fff;
	cursor: pointer;
	& svg {
		width: 33px;
		height: 33px;
	}
	&:hover {
		color: $pink;
	}
}
.pagination {
	@include flex(row, flex-start, center);
	height: 28px;
	width: auto;
}
.pagination--arrow {
	@include flex(row, center, center);
	@include transition();
	width: 15px;
	height: 28px;
	color: #000;
	margin-left: 11px;
	cursor: pointer;
	&.pagination--arrow_left {
		margin-left: 0;
		margin-right: 11px;
		& svg {
			-webkit-transform: rotate(180deg);
		   	   -moz-transform: rotate(180deg);
		    	-ms-transform: rotate(180deg);
		    	 -o-transform: rotate(180deg);
		    	    transform: rotate(180deg);
		}
	}
	&:hover {
		color: $pink;
	}
}
.pagination__nav {
	@include flex(row, flex-start, center);
	height: 28px;
}
.pagination__nav--item {
	@include transition();
	margin: 0 2.5px;
	width: 28px;
	height: 28px;
	border-radius: 4px;
	background-color: transparent;
	&:hover {
		& .pagination__nav--link {
			color: $grey-bg;
		}
		background-color: #e8e8e9;
	}
	&.pagination__nav--item_current {
		background: $pink;
		& .pagination__nav--link {
			color: #fff;
			opacity: 1;
		}
	}
}
.pagination__nav--blank {
	font-size: 16px;
	color: #95989c;
}
.pagination__nav--link {
	@include flex(row, center, center);
	width: 100%;
	height: 100%;
	@include transition();
	opacity: 0.53;
	color: #95989c;
	font-size: 16px;
	font-weight: 600;
}

.tabs {
	@include flex(row, flex-start, stretch, nowrap, inline-flex);
	height: 39px;
	width: auto;
	border-bottom: 1px solid #e1e3e6;
}
.tab {
	@include flex(row, center, center);
	@include transition();
	height: 40px;
	color: #95989c;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.28px;
	&:not(:last-of-type) {
		margin-right: 30px;
	}
	&.tab_active {
		border-bottom: 3px solid $pink;
		color: $grey-text;
		cursor: text;
	}
	&:not(.tab_active):hover {
		color: $pink;
	}
}
.like-count {
	@include flex(row, flex-start, center);
	@include transition();
	cursor: pointer;
	height: 12px;
	color: #a5a8ab;
	font-size: 14px;
	& svg {
		@include transition();
		color: #dadbdc;
		width: 14px;
		height: 100%;
		margin-right: 8px;
	}
	&:hover {
		color:$grey-text;
		& svg {
			color: $pink;
		}
	}
}
.icon-link {
	@include flex(row, flex-start, center);
	height: 38px;
	& img {
		height: 100%;
		width: 38px;
		margin-right: 10px;
		color: #000;
	}
	&:hover {
		& .icon-link--text {
			color: $pink;
			border-bottom-color: $pink;
		}
	}
}
.icon-link--text {
	color: $blue-text;
	font-size: 18px;
	border-bottom: 1px dashed $blue-text;
	padding: 3px 0;
	@include transition();
}
.more-link {
	@include flex(row, flex-start, center);
	@include transition();
	color: #aeafb0;
	font-size: 19px;
	&:hover {
		color: $pink;
		& .more-link--text {
			border-bottom-color: $pink;
		}
		svg {
			-webkit-transform: rotate(180deg);
			   -moz-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			     -o-transform: rotate(180deg);
			        transform: rotate(180deg);
		}
	}
	svg {
		transition: transform .3s;
	}
}
.more-link--text {
	color: inherit;
	@include transition(border, .3s);
	font-size: inherit;
	margin-right: 10px;
	padding: 3px 0;
	border-bottom: 1px dashed #aeafb0;
}

.dropdown-button {
	@include flex(row, flex-start, center);
	@include transition();
	color: #2b8cd5;
	font-size: 16px;
	& svg {
		@include transition(transform, .3s);
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
	    color: $pink;
	    width: 7px;
	    height: 10px;
	    position: relative;
	    left: 5px;
	    top: 2px;
	}
	&:hover {
		color: $pink;
	}
}
.link {
	@include transition();
	display: block;
	color: $blue-text;
	font-size: 15px;
	text-decoration: underline;
	&:hover {
		color: $pink;
		text-decoration: underline;
	}
}