.ui-cards {
	background: $inactive;
}
.large-card {
	display: block;
	width: 376px;
	height: 595px;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	.large-card__img {
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
			object-fit: cover;
			object-position: center top;
			@include respond-below(lg) {
				object-fit: cover;
				object-position: top;
			}
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(to top, #000 0%, rgba(37, 41, 46, 0) 100%);
			z-index: 1;
			position: absolute;
			bottom: -1px;
			left: 0;
			@include transition(opacity, .3s);
		}

	}
	.large-card__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		padding: 50px 36px 50px 40px;
		@include flex(column, flex-end, flex-start);
		.large-card__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 23px;
			line-height: 27px;
			margin: 17px 0 28px 0;
			max-width: 100%;
			letter-spacing: 1px;
		}
		.white-badge, .info-marker {
			color: #fff;
			@include transition();
		}
		.white-badge {
			text-transform: none;
			padding: 0 13px;
			height: 34px;
		}
		.large-card__info {
			.info-marker:not(:last-of-type) {
				margin-right: 25px;
				font-size: 13px;
			}
		}
	}
	&:hover {
		.large-card__img {
			&:before {
				opacity: .75;
			}
		}
		.large-card__content {
			.large-card__title {
				text-decoration: underline;
			}
			.white-badge {
				background: $pink;
			}
		}
	}
}
@include respond-below(lg) {
	.large-card {
		.large-card__content {
			padding: 0 30px 30px 30px;
			.large-card__title {
				font-size: 23px;
			}
		}
	}
}
@include respond-below(sm) {
	.large-card {
		.large-card__content {
			padding: 0 20px 20px 20px;
			.large-card__title {
				line-height: 23px;
			}
			.large-card__info {
				.info-marker:not(:last-of-type) {
					margin-right: 0;
					font-size: 13px;
					margin-bottom: 10px;
				}
				.info-marker {
					width: 100%;
				}
			}
		}
	}
}
.banner-card {
	width: 378px;
	height: 397px;
	display: block;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	overflow: hidden;
	position: relative;
	.banner-card__img {
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(to top, #000 0%, rgba(37, 41, 46, 0) 100%);
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(opacity, .3s);
		}
	}
	.banner-card__content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 30px 30px 35px 30px;
		@include flex(column, flex-end, flex-start);
		.grey-badge {
			position: absolute;
			top: 30px;
			left: 30px;
		}
		.banner-card__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 30px;
			line-height: 38px;
			margin-bottom: 30px;
			max-width: 100%;
		}
		.info-marker {
			color: #fff;
		}
		.banner-card__marker {
			@include flex(row, flex-start, center);
			& > .info-marker {
				margin-right: 20px;
			}
			.info-marker:nth-child(2) {
				svg {
					height: 16px;
					width: 15px;
				}
			}
		}
	}
	&:hover {
		.banner-card__img {
			&:before {
				opacity: .75;
			}
		}
		.banner-card__content {
			.banner-card__title {
				text-decoration: underline;
			}
		}
	}
}
@include respond-below(lg) {
	.banner-card {
		.banner-card__img {
			img {
				object-fit: cover;
				object-position: center;
			}
		}
	}
}
@include respond-below(lg) {
	.banner-card {
		.banner-card__content {
			.banner-card__title {
				font-size: 23px;
				padding-right: 30px;
				line-height: 28px;
			}
		}
	}
}
.wide-card {
	width: 774px;
	@include respond-below(lg) {
		width: 100%;
	}
	height: 394px;
	@include respond-below(md) {
		height: 595px;
	}
	display: block;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	overflow: hidden;
	position: relative;
	.wide-card__img {
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
			object-fit: cover;
			object-position: right center;
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(to top, #000 0%, rgba(37, 41, 46, 0) 100%);
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(opacity, .3s);
		}
	}
	.wide-card__content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 50px 190px 40px 60px;
		@include respond-below(md) {
			padding: 0 20px 25px 20px;
		}
		@include flex(column, flex-end, flex-start);
		.grey-badge {
			position: absolute;
			top: 50px;
			left: 60px;
			@include respond-below(md) {
				position: static;
				margin-bottom: 30px;
			}
		}
		.wide-card__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 30px;
			line-height: 38px;
			margin-bottom: 30px;
			max-width: 100%;
			@include respond-below(md) {
				font-size: 23px;
				line-height: 28px;
			}
		}
		.info-marker {
			color: #fff;
		}
		.wide-card__marker {
			@include flex(row, flex-start, center);
			& > .info-marker {
				margin-right: 20px;
			}
			.info-marker:nth-child(2) {
				svg {
					height: 16px;
					width: 15px;
				}
			}
		}
		.slider-arrow {
			width: 46px;
			height: 46px;
			background: rgba(255,255,255,.1);
			color: #fff;
			svg {
				width: 24px;
				height: 18px;
			}
			position: absolute;
			bottom: 60px;
			right: 60px;
			@include respond-below(md) {
				display: none;
			}
		}
	}
	&:hover {
		.wide-card__img {
			&:before {
				opacity: .75;
			}
		}
		.wide-card__content {
			.wide-card__title {
				text-decoration: underline;
			}
			.slider-arrow {
				background: $pink;
			}
		}
	}
}
.news-head {
	width: 773px;
	@include respond-below(lg) {
		width: 100%;
	}
	@include respond-below(md) {
		height: 516px;
	}
	height: 323px;
	display: block;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	overflow: hidden;
	position: relative;
	.news-head__img {
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
			@include respond-below(lg) {
				object-fit: cover;
				object-position: right center;
			}
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(to top, #000 0%, rgba(37, 41, 46, 0) 100%);
			opacity: .8;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(opacity, .3s);
		}
	}
	.news-head__content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 35px 95px 31px 40px;
		@include respond-below(md) {
			padding-left: 20px;
			padding-bottom: 20px;
			padding-right: 20px;
		}
		@include flex(column, flex-end, flex-start);
		.grey-badge {
			position: absolute;
			top: 35px;
			left: 40px;
			@include respond-below(md) {
				position: static;
				margin-bottom: 50px;
			}
		}
		.news-head__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 34px;
			line-height: 42px;
			margin-bottom: 40px;
			max-width: 100%;
			@include respond-below(lg) {
				font-size: 30px;
			}
			@include respond-below(md) {
				line-height: 32px;
				margin-bottom: 60px;
			}
		}
		.info-marker {
			color: #fff;
		}
		.news-head__marker {
			@include flex(row, flex-start, center);
			& > .info-marker {
				margin-right: 30px;
				svg {
					width: 20px;
					height: 18px;
				}
				&:last-of-type {
					svg {
						width: 14px;
						height: 14px;
					}
				}
			}
		}
		.news-head__share {
			height: 30px;
			width: auto;
			position: absolute;
			right: 40px;
			bottom: 35px;
			@include respond-below(md) {
				position: static;
				margin-top: 30px;
			}
			@include flex(row, flex-start, center);
			span {
				color: #ffffff;
				font-size: 17px;
				margin-right: 20px;
				@include respond-below(md) {
					display: none;
				}
			}
			.news-head__icon {
				background: #fff;
				-webkit-border-radius: 7px;
				        border-radius: 7px;
				width: 30px;
				height: 30px;
				margin-left: 13px;
				display: block;
				&:first-of-type {
					margin-left: 0;
				}
				@include respond-below(md) {
					height: 23px;
					width: 23px;
				}
			}
		}
	}
}
.section-card {
	width: 338px;
	height: 247px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	display: block;
	overflow: hidden;
	position: relative;
	.section-card__img {
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
			@include transition(transform, .5s);
			object-fit: cover;
			object-position: right center;
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(to top, #000 0%, rgba(37, 41, 46, 0) 100%);
			opacity: .8;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(opacity, .3s);
		}
	}
	.section-card__content {
		z-index: 2;
		padding: 30px;
		@include respond-below(md) {
			padding-left: 20px;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include flex(column, space-between, flex-start);
		.slider-arrow {
			width: 31px;
			height: 31px;
			background: rgba(255,255,255,.1);
			color: #fff;
			svg {
				width: 20px;
				height: 14px;
			}
			position: absolute;
			bottom: 28px;
			right: 30px;
			@include transition();
			@include respond-below(md) {
				right: 20px;
			}
		}
		.section-card__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 27px;
			max-width: 100%;
		}
	}
	&:hover {
		.section-card__title {
			text-decoration: underline;
		}
		.slider-arrow {
			background: $pink;
		}
		.section-card__img {
			img {
				-webkit-transform: scale(1.1) rotate(3deg);
				   -moz-transform: scale(1.1) rotate(3deg);
				    -ms-transform: scale(1.1) rotate(3deg);
				     -o-transform: scale(1.1) rotate(3deg);
				        transform: scale(1.1) rotate(3deg);
			}
		}
	}
}
.partner-card {
	width: 350px;
	height: 290px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	display: block;
	overflow: hidden;
	position: relative;
	.partner-card__img {
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
			object-fit: cover;
			object-position: center top;
			@include transition(transform, .5s);
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(to top, #000 0%, rgba(37, 41, 46, 0) 100%);
			opacity: .8;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(opacity, .3s);
		}
	}
	.partner-card__content {
		z-index: 2;
		padding: 30px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include flex(column, space-between, flex-start);
		.slider-arrow {
			width: 31px;
			height: 31px;
			background: rgba(255,255,255,.1);
			color: #fff;
			svg {
				width: 20px;
				height: 14px;
			}
			position: absolute;
			bottom: 28px;
			right: 30px;
			@include transition();
		}
		.partner-card__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 27px;
			max-width: 100%;
		}
	}
	&:hover {
		.partner-card__title {
			text-decoration: underline;
		}
		.slider-arrow {
			background: $pink;
		}
		.partner-card__img {
			img {
				-webkit-transform: scale(1.1) rotate(3deg);
				   -moz-transform: scale(1.1) rotate(3deg);
				    -ms-transform: scale(1.1) rotate(3deg);
				     -o-transform: scale(1.1) rotate(3deg);
				        transform: scale(1.1) rotate(3deg);
			}
		}
	}
}
.video-card {
	width: 378px;
	height: 248px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	display: block;
	overflow: hidden;
	position: relative;
	.video-card__img {
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
			@include transition(transform, .5s);
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(to top, #000 0%, rgba(37, 41, 46, 0) 100%);
			opacity: .8;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(opacity, .3s);
		}
	}
	.video-card__content {
		z-index: 2;
		padding: 30px 15px 30px 30px;
		@include respond-below(md) {
			padding: 20px 20px 25px 20px;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include flex(column, space-between, flex-start);
		.slider-arrow {
			width: 31px;
			height: 31px;
			background: rgba(255,255,255,.1);
			color: #fff;
			svg {
				width: 20px;
				height: 14px;
			}
			position: absolute;
			bottom: 28px;
			right: 30px;
			@include transition();
		}
		.video-card__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 21px;
			line-height: 25px;
			max-width: 100%;
		}
	}
	.video-card__play {
		position: absolute;
		top: calc(50% - 24px);
		left: calc(50% - 24px);
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		width: 48px;
		height: 48px;
		@include transition(all, .3s);
		border: 5px solid rgba(27, 30, 36, .3);
		background-color: rgba(245, 248, 250, .3);
		@include flex(row, center, center);
		color: #fff;
		.icon {
			width: 8px;
			height: 11px;
		}
	}
	&:hover {
		.video-card__play {
			border: 5px solid rgb(255, 255, 255);
			background-color: rgb(255, 0, 126);
		}
		.video-card__title {
			text-decoration: underline;
		}
		.slider-arrow {
			background: $pink;
		}
		.video-card__img {
			img {
				-webkit-transform: scale(1.1) rotate(3deg);
				   -moz-transform: scale(1.1) rotate(3deg);
				    -ms-transform: scale(1.1) rotate(3deg);
				     -o-transform: scale(1.1) rotate(3deg);
				        transform: scale(1.1) rotate(3deg);
			}
		}
	}
}
@include respond-below(lg) {
	.video-card {
		.video-card__img {
			img {
				object-fit: cover;
				object-position: center;
			}
		}
		.video-card__content {
			.video-card__title {
				font-size: 17px;
			}
		}
	}
}
@include respond-below(md) {
	.video-card {
		.video-card__content {
			.video-card__title {
				font-size: 17px;
				line-height: 19px;
			}
		}
	}
}
.album-card {
	width: 378px;
	height: 248px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	display: block;
	overflow: hidden;
	position: relative;
	.album-card__img {
		display: block;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
			@include transition(transform, .5s);
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(to top, #000 0%, rgba(37, 41, 46, 0) 100%);
			opacity: .8;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			@include transition(opacity, .3s);
		}
	}
	.album-card__content {
		z-index: 2;
		padding: 30px 15px 30px 30px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include flex(column, space-between, flex-start);
		.slider-arrow {
			width: 31px;
			height: 31px;
			background: rgba(255,255,255,.1);
			color: #fff;
			svg {
				width: 20px;
				height: 14px;
			}
			position: absolute;
			bottom: 28px;
			right: 30px;
			@include transition();
		}
		.album-card__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 21px;
			line-height: 25px;
			max-width: 100%;
		}
	}
	&:hover {
		.album-card__title {
			text-decoration: underline;
		}
		.slider-arrow {
			background: $pink;
		}
		.album-card__img {
			img {
				-webkit-transform: scale(1.1) rotate(3deg);
				   -moz-transform: scale(1.1) rotate(3deg);
				    -ms-transform: scale(1.1) rotate(3deg);
				     -o-transform: scale(1.1) rotate(3deg);
				        transform: scale(1.1) rotate(3deg);
			}
		}
	}
}

.info-card {
	height: auto;
	width: 378px;
	@include flex(column, flex-start, flex-start);
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	.info-card__img {
		height: 248px;
		width: 100%;
		overflow: hidden;
		margin: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transition();
			@include respond-below(md) {
				object-position: center;
			}
		}
		position: relative;
		.info-card__badges {
			position: absolute;
			top: 30px;
			left: 30px;
			@include transition();
			& > div {
				@include transition();
				margin-right: 10px;
			}
		}
		.date-marker {
			position: absolute;
			bottom: 20px;
			left: 30px;
			@include respond-below(md) {
				left: 20px;
			}
		}
	}
	&.info-card__nopadding {
		.info-card__content {
			padding: 20px 0;
		}
		&:hover {
			-webkit-box-shadow: none;
				       box-shadow: none;
		}
	}
	.info-card__content {
		height: auto;
		width: 100%;
		padding: 30px 25px 35px 30px;
		@include flex(column, flex-start, flex-start);
		background: #FFF;
		.info-card--name {
			font-family: "Playfair Display";
			font-weight: 700;
			color: $grey-text;
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 20px;
			@include transition(transform, .25s);
			max-width: 100%;
			.info-card--type {
				color: #ff208e;
				font-size: 11px;
				text-transform: uppercase;
				letter-spacing: 0.44px;
				display: block;
				margin-top: 5px;
			}
		}
		.info-card__marker {
			.info-marker {
				margin-right: 15px;
				height: 16px;
				line-height: 16px;
			}
		}
		.info-card__text {
			color: $grey-text;
			font-size: 16px;
			line-height: 20px;
			margin: 15px 0;
			max-width: 100%;
		}
	}
	@include transition(all, .25s);
	&:hover {
		box-shadow: 0 3px 12px rgba(106, 109, 117, 0.19);
		-webkit-transform: translate(0,-5px);
		   -moz-transform: translate(0,-5px);
		    -ms-transform: translate(0,-5px);
		     -o-transform: translate(0,-5px);
		        transform: translate(0,-5px);
		.info-card--name {
			text-decoration: underline;
			color: $pink;
			.info-card--type {
				text-decoration: none !important;
			}
		}
		.grey-badge {
			background-color: rgba(37,41,46, 1);
			&.pink {
				background-color: $pink;
			}
			&.white {
				background-color: #fff;
			}
		}
		.date-marker {
			color: #fff;
			background-color: $pink;
		}
	}
	&.info-card-text {
		.info-card--name {
			font-size: 28px;
			line-height: 30px;
			padding-top: 15px;
		}
		.info-card__content {
			background: transparent;
			padding: 27px 0 27px 0;
		}
		&:hover {
			-webkit-box-shadow: none;
			        box-shadow: none;
		}
	}
}
@include respond-below(md) {
	.info-card {
		.info-card__content {
			padding: 20px 20px 25px 20px;
			.info-card--name {
				font-size: 17px;
				line-height: 21px;
			}
		}
	}
}
@include respond-below(sm) {
	.info-card .info-card__content .info-card__marker .info-marker {
		font-size: 11px;
		&:not(:last-of-type) {
			margin-right: 10px;
		}
	}
}

.small-video-card {
	@include flex(column, flex-start, flex-start);
	width: 149px;
	@include respond-below(lg) {
		width: 100%;
	}
	.small-video-card__img {
		width: 149px;
		@include respond-below(lg) {
			width: 100%;
		}
		height: 96px;
		-webkit-border-radius: 8px;
		        border-radius: 8px;
		overflow: hidden;
		position: relative;
		background: #1b1e24;
		img {
			@include transition(opacity, .3s);
			width: 100%;
			height: 100%;
			@include respond-below(lg) {
				object-fit: cover;
				object-position: center center;
			}
			opacity:.5;
		}
		.small-video-card__play {
			position: absolute;
			top: 24px;
			left: 50px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			width: 48px;
			height: 48px;
			@include respond-below(lg) {
				top: calc(50% - 24px);
				left: calc(50% - 24px);
			}
			@include transition(all, .3s);
			border: 5px solid rgba(27, 30, 36, .3);
			background-color: rgba(245, 248, 250, .3);
			@include flex(row, center, center);
			color: #fff;
			.icon {
				width: 8px;
				height: 11px;
			}
		}
	}
	.small-video-card__name {
		color: #1b1e24;
		font-size: 16px;
		line-height: 17px;
		margin-top: 10px;
		@include transition();
		max-width: 100%;
		@include respond-below(md) {
			font-size: 13px;
			line-height: 15px;
		}
	}
	&:hover {
		.small-video-card__name {
			text-decoration: underline;
			color: $pink;
		}
		.small-video-card__play {
			background-color: $pink;
			border-color: #fff;
		}
		img {
			opacity: 1;
		}
	}
}
.article-card {
	width: 300px;
	@include flex(row, flex-start, flex-start);
	min-height: 96px;
	.article-card__img {
		width: 110px;
		height: 96px;
		flex: 0 0 110px;
		margin-right: 14px;
	}
	.article-card__content {
		flex: 1 1 auto;
		.article-card__content--type {
			color: $pink;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 0.44px;
			@include transition();
			margin-bottom: 10px;
			max-width: 100%;
		}
		.article-card__content--title {
			color: $grey-text;
			font-size: 17px;
			line-height: 18px;
			@include transition();
			max-width: 100%;
		}
	}
	&:hover {
		.article-card__content--type {
			color: $grey-text;
		}
		.article-card__content--title {
			text-decoration: underline;
			color: $pink;
		}
	}
}
@include respond-below(md) {
	.article-card {
		.article-card__content {
			.article-card__content--title {
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
}
.quote-card {
	width: 287px;
	height: 55px;
	@include respond-below(md) {
		width: 100%;
		height: auto;
	}
	@include flex(row, flex-start, flex-start);
	.quote-card__img {
		width: 55px;
		height: 55px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
		flex: 0 0 55px;
		margin-right: 14px;
	}
	.quote-card__content {
		flex: 1 1 auto;
		width: auto;
		@include flex(column, flex-start, flex-start);
		height: 55px;
		.quote-card__content--name {
			color: $grey-text;
			font-size: 18px;
			margin-bottom: 8px;
			@include transition();
			max-width: 100%;
		}
		.quote-card__content--text {
			@include transition();
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			    text-overflow: ellipsis;
			 font-weight: 300;
			color: #818386;
			font-size: 12px;
			line-height: 15px;
			max-width: 100%;
		}
	}
	&:hover {
		.quote-card__content--name {
			color: $pink;
		}
		.quote-card__content--text {
			color: $grey-text;
		}
	}
}
.small-photo {
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	width: 75px;
	height: 75px;
	display: block;
	img {
		width: 100%;
		height: 100%;
	}
}
.photo {
	width: 164px;
	height: 123px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	display: block;
	img {
		width: 100%;
		height: 100%;
	}
}
.project-card {
	width: 349px;
	height: 247px;
	border-radius: 6px;
	border: 1px solid #d9dadb;
	background-color: #ffffff;
	padding: 38px 37px 40px 37px;
	@include respond-below(md) {
		padding: 20px 20px 25px 20px;
	}
	display: grid;
	grid-template-rows: auto minmax(100px, auto);
	grid-template-columns: 7fr 3fr;
	grid-template-areas: "title title" "content icon";
	@include transition();
	.project-card--title {
		width: 100%;
		grid-area: title;
		max-width: 100%;
		.project-card--name {
			font-family: "Playfair Display";
			font-weight: 700;
			color: $grey-text;
			font-size: 27px;
			line-height: 29px;
			max-width: 100%;
			.count-marker {
				margin-left: 7px;
				position: relative;
    			top: -3px;
			}
			@include respond-below(sm) {
				font-size: 23px;
				line-height: 25px;
			}
		}
	}
	.project-card__content {
		grid-area: content;
		.slider-arrow {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.project-card--text {
			color: $grey-text;
			font-size: 16px;
			line-height: 18px;
		}
		position: relative;
		padding-bottom: 34px;
	}
	.project-card__icon {
		grid-area: icon;
		@include flex(row,flex-end, flex-end);
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&:hover {
		border-color: $pink;
		.count-marker {
		    background-color: #1b1e24;
    		border-color: #1b1e24;
    		color: #fff;
		}
		.slider-arrow {
			color: #fff;
			background: $pink;
		}
	}
}

.tests-block {
	width: 774px;
	@include flex(column, flex-start, stretch);
}
.test {
	cursor: pointer;
	background: #FFF;
	@include transition();
	flex: 0 0 100%;
	width: 100%;
	height: 145px;
	border-bottom: 1px solid #e1e3e6;
	&:first-of-type {
		border-top: 1px solid #e1e3e6;
	}
	@include flex(row,flex-start, stretch);
	padding: 20px;
	position: relative;
	@include respond-below(md) {
		height: auto;
		width: 100%;
	}
	.test__img {
		width: 93px;
		height: 100%;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		margin-right: 28px;
		@include respond-below(md) {
			display: none;
		}
	}
	.test__content {
		flex: 1 1 auto;
		.test--name {
			color: $grey-text;
			font-size: 16px;
			margin-bottom: 15px;
			@include respond-below(md) {
				font-size: 14px;
				line-height: 15px;
				margin-bottom: 5px;
			}
		}
		.test--title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #1b1e24;
			font-size: 27px;
			@include respond-below(md) {
				font-size: 18px;
				line-height: 19px;
			}
		}
		.test--info {
			color: #95989c;
			font-size: 14px;
			margin-top: 13px;
			@include respond-below(md) {
				margin-top: 10px;
				font-size: 13px;
			}
		}
		padding-right: 40px;
		@include respond-below(md) {
			padding-right: 20px;
		}
	}
	.test__arrow {
		cursor: pointer;
		color: #474947;
		width: 24px;
		height: 20px;
		svg {
			width: 100%;
			height: 100%;
		}
		display: block;
		position: absolute;
		top: 64px;
		right: 32px;
		@include transition();
		@include respond-below(md) {
			display: none;
		}
	}
	&:hover {
		-webkit-transform: translate(3px, -2px);
		   -moz-transform: translate(3px, -2px);
		    -ms-transform: translate(3px, -2px);
		     -o-transform: translate(3px, -2px);
		        transform: translate(3px, -2px);
	   	box-shadow: 0 0 32px rgba(107, 110, 118, 0.29);
	   	border-left: 2px solid $pink;
	   	.test__arrow {
	   		color: $pink;
	   	}
	}
}
.ui-clubs-block {
	width: 585px;
	@include flex(column, flex-start, stretch);
}
.club {
	cursor: pointer;
	background: #FFF;
	@include transition();
	flex: 0 0 100%;
	width: 100%;
	height: 145px;
	border-bottom: 1px solid #e1e3e6;
	&:first-of-type {
		border-top: 1px solid #e1e3e6;
	}
	@include flex(row,flex-start, stretch);
	padding: 27px 30px 25px 40px;
	@include respond-below(lg) {
		height: auto;
		padding: 20px;
	}
	position: relative;
	.club__img {
		width: 93px;
		height: 100%;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		margin-right: 18px;
		overflow: hidden;
	}
	.club__content {
		flex: 1 1 auto;
		.club--manager {
			color: $grey-text;
			font-size: 16px;
			margin-bottom: 15px;
		}
		.club--name {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #1b1e24;
			font-size: 23px;
			margin-bottom: 13px;
		}
		padding-right: 40px;
	}
	.club__arrow {
		cursor: pointer;
		width: 24px;
		height: 20px;
		color: #474947;
		svg {
			width: 100%;
			height: 100%;
		}
		display: block;
		position: absolute;
		top: 64px;
		right: 32px;
		@include transition();
	}
	&:hover {
		-webkit-transform: translate(5px, -4px);
		   -moz-transform: translate(5px, -4px);
		    -ms-transform: translate(5px, -4px);
		     -o-transform: translate(5px, -4px);
		        transform: translate(5px, -4px);
	   	box-shadow: 0 0 32px rgba(107, 110, 118, 0.29);
	   	border-bottom: 2px solid $pink;
	   	.club__arrow {
	   		color: $pink;
	   	}
	}
}
@include respond-below(md) {
	.club {
		height: 118px;
		padding: 25px 20px;
		.club__img, .club__arrow {
			display: none;
		}
		.club__content {
			padding-right: 0;
			.club--manager {
				font-size: 14px;
			}
			.club--name {
				font-size: 18px;
				@include respond-below(sm) {
					font-size: 16px;
				}
			}
		}
	}
}
.staff-member {
	width: 350px;
	height: 514px;
	border-radius: 6px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	@include flex(column, flex-start, stretch);
	@include transition();
	.staff-member--img {
		flex: 0 0 290px;
		width: 100%;
		@include respond-below(lg) {
			height: 290px;
		}
		img {
			width: 100%;
			height: auto;
			@include respond-below(lg) {
			    height: 100%;
			    width: auto;
    			object-fit: cover;
    			object-position: center;
			}
		}
	}
	.staff-member__content {
		@include respond-below(lg) {
			height: calc(100% - 290px);
		}
		padding: 30px 60px 30px 35px;
		@include respond-below(md) {
			padding: 35px 20px;
		}
		@include respond-below(sm) {
			padding: 20px;
		}
		.staff-member--name {
			font-family: "Playfair Display";
			font-weight: 700;
			color: $grey-text;
			font-size: 22px;
			@include respond-below(md) {
				font-size: 18px;
				line-height: 23px;
			}
		}
		.staff-member--text {
			margin: 17px 0;
			color: $grey-text;
			font-size: 15px;
			line-height: 21px;
			max-height: 82px;
			overflow: hidden;
			@include respond-below(md) {
				font-size: 14px;
				line-height: 19px;
			}
			@include respond-below(sm) {
				margin: 7px 0;
				max-height: 115px;
    		}
		}
	}
	&:hover {
		box-shadow: 0 3px 12px rgba(106, 109, 117, 0.19);
	}
}
.manager {
	width: 694px;
	height: 239px;
	border-radius: 6px;
	
	border: 1px solid #d0d0d0;
	background-color: #ffffff;
	overflow: hidden;
	@include flex(row, flex-start, stretch);
	.manager__img {
		position: relative;
		width: 215px;
		flex: 0 0 215px;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
		}
		.manager--type {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			height: 33px;
			border-radius: 0 0 0 6px;
			background-color: #25292e;
			@include flex(row, center, center);
			color: #ffffff;
			font-size: 14px;
		}
	}
	.manager__content {
		flex: 1 1 auto;
		padding: 30px;
		.manager--name {
			font-family: "Playfair Display";
			font-weight: 700;
			color: $grey-text;
			font-size: 21px;
			margin-bottom: 10px;
			@include respond-below(md) {
				font-size: 18px;
				line-height: 24px;
			}
		}
		.manager--text {
			color: $grey-text;
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 20px;
		}
		.manager--phone, .manager--email {
			display: inline-block;
			&.manager--phone {
				margin-right: 25px;
			}
			.icon-marker {
				font-size: 16px;
				@include respond-below(md) {
					font-size: 14px;
				}
			}
			@include respond-below(md) {
				margin-bottom: 10px;
			}
		}
		.icon-link {
			margin-top: 35px;
			@include respond-below(md) {
				margin-top: 25px;
			}
		}
	}
	@include respond-below(lg) {
		width: 100%;
		.manager--phone, .manager--email {
			.icon-marker {
				font-size: 18px;
			}
		}
	}
	@include respond-below(md) {
		@include flex(column, flex-start, stretch);
		height: auto;
		.manager__img {
			width: 100%;
			height: 238px;
			flex: 238px 0 0 ;
			-webkit-border-radius: 0;
			        border-radius: 0;
			img {
				object-fit: cover;
				object-position: center center;
			}
			.manager--type {
				-webkit-border-radius: 0;
				        border-radius: 0;
			}
		}
		.manager__content {
			padding: 25px 20px;
		}
	}
}

.speaker {
	width: 692px;
	height: 149px;
	border: 1px solid #d0d0d0;
	background-color: #ffffff;
	padding: 20px 20px 25px 20px;
	@include flex(row, flex-start, stretch);
	@include respond-below(md) {
		@include flex(column, flex-start, center);
		height: auto;
		width: 100%;
	}
	.speaker__img {
		width: 104px;
		height: 104px;
		flex: 0 0 104px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.speaker__content {
		flex: 1 1 auto;
		padding: 15px 22px;
		@include respond-below(md) {
			padding: 10px;
		}
		.speaker--name {
			font-family: "Playfair Display";
			font-weight: 700;
			color: $grey-text;
			font-size: 21px;
			margin-bottom: 15px;
			@include respond-below(md) {
				text-align: center;
				font-size: 18px;
				margin-bottom: 10px;
				line-height: 24px;
			}
		}
		.speaker--text {
			color: $grey-text;
			font-size: 16px;
			line-height: 23px;
			@include respond-below(md) {
				text-align: center;
			}
		}
	}
}
