.ui_checkboxes {
	@include flex(row, flex-start, center);
	& > * {
		margin-right: 10px;
	}
}
.select {
	width: 317px;
	height: 52px;
	@include respond-below(md) {
		width: 100%;
	}
	border-radius: 4px;
	border: 1px solid #d9dadb;
	background-color: #ffffff;
	position: relative;
	padding: 6px 0;
	.select--input {
		display: none;
	}
	.select--active-block {
		@include flex(row, space-between, center);
		width: 100%;
		height: 100%;
		padding-left: 26px;
		.select--active {
			color: $grey-text;
			font-size: 16px;
			@include respond-below(md) {
				font-size: 14px;
			}
		}
		.select--arrow {
			flex: 0 0 50px;
			width: 50px;
			height: 100%;
			@include flex(row, center, center);
			border-left: 1px solid #d9dadb;
			cursor: pointer;
			svg {
				@include transition();
				width: 10px;
				height: 7px;
				color: $pink;
				-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				     -o-transform: rotate(90deg);
				        transform: rotate(90deg);
			}
		}
	}
	.select--block {
		@include transition(max-height, .3s);
		position: absolute;
		z-index: 1;
		top: 52px;
		left: 0;
		width: 100%;
		height: 150px;
		border-radius: 4px;
		max-height: 0;
		background-color: #ffffff;
		overflow-y: scroll;
		.select--option {
			line-height: 50px;
			@include transition();
			width: 100%;
			height: 50px;
			padding: 0 26px;
			color: $grey-text;
			font-size: 16px;
			@include respond-below(md) {
				font-size: 14px;
			}
			-ms-text-overflow: ellipsis;
			    text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			cursor: pointer;
			max-height: 50px;
			&:hover {
				background-color: $inactive;
			}
			&.select--option_chosen {
				max-height: 0;
			}
		}
	}
	&.select_shown {
		.select--block {
			max-height: 150px;
			border: 1px solid #d9dadb;
		}
		.select--arrow {
			svg {
				-webkit-transform: rotate(270deg);
				   -moz-transform: rotate(270deg);
				    -ms-transform: rotate(270deg);
				     -o-transform: rotate(270deg);
				        transform: rotate(270deg);
			    color: $grey-bg;
			}
		}
	}
}

.checkbox {
	@include flex(row, flex-start, center, nowrap, inline-flex);
	width: auto;
	height: 23px;
	color: $grey-text;
	font-size: 16px;
	cursor: pointer;
	.checkbox--block {
		@include transition();
		width: 23px;
		height: 23px;
		flex: 0 0 23px;
		border-radius: 3px;
		border: 1px solid #bababa;
		background-color: #ffffff;
		margin-right: 7px;
		@include flex(row, center, center);
		.checkbox--mark {
			@include transition(opacity, .3s);
			opacity: 0;
			width: 12px;
			height: 14px;
			color: $pink;
			display: block;
			position: relative;
			svg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	input[type="checkbox"] {
		display: none;
	}
	input:checked + .checkbox--mark  {
		opacity: 1;
	}
	&.checkbox_disabled .checkbox--block {
		cursor: default;
		background-color: $inactive
	}
	&:not(.checkbox_disabled):hover {
		.checkbox--block {
			border-color: $pink;
		}
	}
}
.radio {
	@include flex(row, flex-start, center, nowrap, inline-flex);
	width: auto;
	height: 23px;
	color: $grey-text;
	font-size: 16px;
	cursor: pointer;
	.radio--block {
		@include transition();
		width: 23px;
		height: 23px;
		border-radius: 3px;
		border: 1px solid #bababa;
		background-color: #ffffff;
		margin-right: 7px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		@include flex(row, center, center);
		.radio--mark {
			@include transition(opacity, .3s);
			opacity: 0;
			width: 9px;
			height: 9px;
			background-color: $pink;
			display: block;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
		}
	}
	input[type="radio"] {
		display: none;
	}
	input:checked + .radio--mark  {
		opacity: 1;
	}
	&.radio_disabled .radio--block {
		cursor: default;
		background-color: $inactive
	}
	&:not(.radio_disabled):hover {
		.radio--block {
			border-color: $pink;
		}
	}
}

.input {
	width: 317px;
	height: auto;
	@include flex(column, flex-start, flex-start);
	color: $grey-text;
	font-size: 19px;
	font-weight: 400;
	max-height: 100%;
	line-height: 48px;
	input, textarea {
		resize: none;
		@include transition();
		width: 100%;
		height: 52px;
		border-radius: 4px;
		background-color: $inactive;
		outline: none;
		border: 1px solid $inactive;
		padding-left: 34px;
		font-size: 16px;
		color: $grey-text;
		box-shadow: none;
		&::placeholder {
			color: #95989c;
		}
		&:focus {
			border: 1px solid #bababa;
			background-color: #ffffff;
		}
	}
	textarea {
		padding-top: 20px;
	}
	&.wrong  {
		input, textarea, textarea:focus, input:focus {
			&::placeholder {
				color: $pink;
			}
			color: $pink;
			border-color: $pink;
			background: #fff;
		}
	}
	@include respond-below(md) {
		font-size: 16px;
		input,textarea {
			font-size: 14px;
		}
	}
}

.simple-form {
	width: 317px;
	height: 52px;
	position: relative;
	.input {
		input {
			padding-right: 70px;
		}
	}
	.simple-submit {
		position: absolute;
		right: 0;
		top: 0;
		width: 55px;
		height: 52px;
		border-radius: 0 6px 6px 0;
		background-color: $pink;
		border: none;
		outline: none;
		cursor: pointer;
		@include transition();
		input {
			width: 100%;
			height: 100%;
			-webkit-border-radius: 0 6px 6px 0;
			        border-radius: 0 6px 6px 0;
			display: block;
			background: transparent;
			position: relative;
			z-index: 1;
			cursor: pointer;
			border: none;
			outline: none;
			font-size: 0;
			padding: 0;
		}
		.icon {
			width: 28px;
			height: 21px;
			display: block;
			position: absolute;
			top: 15px;
			left: 14px;
			color: #FFF;
		}
		&:hover {
			background-color: $black-bg;
			.icon{
				color: $pink;
			}
		}
	}
}
.simple-form__prev {
	color: $grey-text;
	font-size: 18px;
	margin: 15px 0;
}