.date-marker {
	@include transition();
	width: 63px;
	height: 63px;
	background-color: $pink;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	@include flex(column, center, center);
	.date-marker--month {
		font-size: 15px;
	}
	&.inverse {
		background: #FFF;
		color: $grey-text;
	}
}

.count-marker {
	text-align: center;
	display: inline-block;
	line-height: 31px;
	height: 33px;
	border-radius: 17px;
	border: 1px solid #d9dadb;
	background-color: #ffffff;
	width: auto;
	padding: 0 18px;
	color: $grey-bg;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.64px;
	@include transition();
	&:hover {
		background-color: $grey-bg;
		border-color: $grey-bg;
		color: #fff;
	}
}

.location-marker {
	@include flex(row, flex-start, center);
	color: #95989c;
	font-size: 15px;
	& svg {
		color: $pink;
		margin-right: 6px;
		width: 20px;
		height: 17px;
	}
	&.location-marker--large {
		color: $grey-text;
		font-size: 14px;
		text-transform: uppercase;
	}
}

.icon-marker {
	@include flex(row, flex-start, center);
	color: $grey-text;
	font-size: 14px;
	@include transition();
	&.hovered:not(.hovered_true) {
		color: #939aa4;
		svg {
			@include transition();
			color: #939aa4;
		}
		&:hover {
			color: $pink;
			svg {
				color: $pink;
			}
		}
	}
	&.hovered {
		cursor: pointer;
	}
	& svg {
		color: $pink;
		margin-right: 6px;
		width: 20px;
		height: 17px;
	}
}

.ui_badges {
	@include flex(column, flex-start, flex-start);
	& > * {
		margin-bottom: 20px;
	}
}

.light-badge {
	text-align: center;
	height: 38px;
	background-color: rgba(255,255,255,.2);
	padding: 0 20px;
	color: $grey-text;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.48px;
	@include flex(row, center, center, nowrap, inline-flex);
}
.white-badge {
	text-align: center;
	height: 38px;
	border: 2px solid $pink;
	background-color: transparent;
	padding: 0 20px;
	color: $grey-text;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.48px;
	@include flex(row, center, center, nowrap, inline-flex);
}
.grey-badge {
	text-align: center;
	height: 33px;
	padding: 0 20px;
	background-color: rgba(37, 41, 46, .5);
	@include flex(row, center, center, nowrap, inline-flex);
	color: #fff;
	font-size: 14px;
	&.pink {
		background-color: rgba(255, 0, 126, .5);
	}
	&.white {
		background-color: rgba(255, 255, 255, .5);
		color: rgb(47, 52, 59);
	}
}
.icon-badge {
	text-align: center;
	height: 27px;
	background-color: #25292e;
	@include flex(row, center, center, nowrap, inline-flex);
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
	svg {
		width: 14px;
		height: 12px;
		margin-right: 5px;
	}
}
.tag {
	text-align: center;
	height: 29px;
	background-color: $inactive;
	@include flex(row, center, center, nowrap, inline-flex);
	padding: 0 15px;
	color: #95989c;
	font-size: 13px;
}
.sale {
	text-align: center;
	background: $pink;
	padding: 4px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 0.6px;
	@include flex(row, center, center, nowrap, inline-flex);
}

.ui_markers-block {
	@include flex(row, flex-start, cneter);
	& > * {
		margin-right: 15px;
	}
}
.info-marker {
	text-align: center;
	@include flex(row, flex-start, center, nowrap, inline-flex);
	color: #95989c;
	font-size: 14px;
	svg {
		width: 12px;
		height: 12px;
		margin-right: 5px;
		color: $pink;
	}
}
@include respond-below(lg) {
	.info-marker {
		font-size: 13px;
	}
} 