include variables.pug
include mixins.pug
footer.footer
	.footer__content
		.container
			.footer__content--menu
				ul.footer__list
					li.footer__list--title Магазин
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Каталог
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Мастер классы
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Онлайн курсы
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Бесплатно
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Электронные книги
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Аудио книги
				ul.footer__list
					li.footer__list--title Образование
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Статьи
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Видео
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Тесты
				ul.footer__list
					li.footer__list--title Мероприятия
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Все мероприятия
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Альбомы
				ul.footer__list
					li.footer__list--title Проекты
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Все проекты
				ul.footer__list
					li.footer__list--title Отзывы
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Все отзывы
				ul.footer__list
					li.footer__list--title О нас
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") О нашем центре
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Новости
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") СМИ о нас
				ul.footer__list
					li.footer__list--title Сотрудничество
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Для партнёров
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Анкета партнёра
					li.footer__list--item
						a.footer__list--link(href="javascript:void(0)") Консультанты
				.footer__content--additional
					p.footer__list--title Дополнительная информация
					p.footer__content--text.
						Приобретая любую продукцию ТЦ Павла Ракова, Вы соглашаетесь с указанными условиями.
					p.footer__content--text
						span ИНН: 344565374567567845
						span КПП: 344565374567567845
						span Кор. счёт: 344565374567567845
					a.footer__content--link(href="javsacript:void(0)") Политика конфиденциальности
					a.footer__content--link(href="javsacript:void(0)") Публичная оферта
			.footer__content--info
				.footer__content--socials
					a.footer__content--social.footer__content--social-vk(href="javascript:void(0)")
						+icon('004-vk')
					a.footer__content--social.footer__content--social-instagram(href="javascript:void(0)")
						+icon('012-instagram-logo')
					a.footer__content--social.footer__content--social-youtube(href="javascript:void(0)")
						+icon('005-youtube')
				.footer__content--service-block
					a.footer__content--service
						span.footer__content--service-icon
							+icon('014-telemarketer')
						| Техподдержка
				.footer__content--phone-block
					a.footer__content--phone(href="tel:" + phone)
						span.footer__content--phone-icon
							+icon('003-phone-receiver')
						| #{phone}
				.footer__content--design-block
					a.footer__content--design
						span.footer__content--design-icon
							img(src="./img/design.png")
						span.footer__content--design-name CreativeDzen
						span.footer__content--design-descr Разработка дизайна
	.footer__copyright
		.container
			.footer--site-name
				p.footer--title Павел Раков
				p.footer--description Тренинговый центр
			.footer__link--icon-block
				p.footer__link--icon
					span.footer__link--icon.footer__link--icon-location
						+icon('002-placeholder-filled-point')
					| г. Москва, ул. Бауманская 56, офис 7
			.footer__link--icon-block
				p.footer__link--icon
					span.footer__link--icon
						+icon('013-envelope')
					| #{email}
			p.footer__copyright--text Павел раков 2018 © все права защиены

//- Modals

//- OffCanvas

.offcanvas
	.container
		.offcanvas__search-block
			form.offcanvas__search--form
				input.offcanvas__search--input(placeholder="Искать на сайте...", name="search")
				span.offcanvas__search--button
					input.offcanvas__search--submit(type="submit")
					+icon('001-search')
		.footer__content--menu.offcanvas__content--menu
			ul.footer__list
				li.footer__list--title Магазин
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Каталог
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Мастер классы
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Онлайн курсы
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Бесплатно
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Электронные книги
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Аудио книги
			ul.footer__list
				li.footer__list--title Образование
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Статьи
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Видео
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Тесты
			ul.footer__list
				li.footer__list--title Мероприятия
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Все мероприятия
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Альбомы
			ul.footer__list
				li.footer__list--title Проекты
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Все проекты
			ul.footer__list
				li.footer__list--title Отзывы
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Все отзывы
			ul.footer__list
				li.footer__list--title О нас
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") О нашем центре
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Новости
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") СМИ о нас
			ul.footer__list
				li.footer__list--title Сотрудничество
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Для партнёров
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Анкета партнёра
				li.footer__list--item
					a.footer__list--link(href="javascript:void(0)") Консультанты
			.offcanvas__offers-block 
				p.offcanvas__offers--title Выгодные предложения
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
							+sale('', '-20')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
							+sale('', '-10')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
							+sale('', '-40')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
		.offcanvas__widgets
			.offcanvas__widget-left
				.widget
					.widget__title-block
						p.widget--name Популярное
						a.link(href="javascript:void(0)") Смотреть все
					.widget__content
						a.popular-preview(href="javascript:void(0)")
							.popular-preview__img-block
								img(src='./img/preview4.png')
							.popular-preview--content
								p.popular-preview--type КРАСОТА И ЗДОРОВЬЕ
								p.popular-preview--title Какой должна быть идеальная женщина
						a.popular-preview(href="javascript:void(0)")
							.popular-preview__img-block
								img(src='./img/preview5.png')
							.popular-preview--content.popular-preview--content_nodate
								p.popular-preview--type ПСИХОЛОГИЯ ОТНОШЕНИЙ
								p.popular-preview--title Павед Раков: «Я сейчас создаю мир, в котором хочу жить»
						a.popular-preview(href="javascript:void(0)")
							.popular-preview__img-block
								img(src='./img/preview6.png')
							.popular-preview--content.popular-preview--content_nodate
								p.popular-preview--type БИЗНЕС
								p.popular-preview--title Не восприимчивость к огню и хождение по углям
			.offcanvas__widget-right
				.widget
					.widget__title-block
						p.widget--name Ближайшие мероприятия
						a.link(href="javascript:void(0)") Смотреть все
					.widget__content
						a.large-card(href="javascript:void(0)")
							.large-card__img
								img(src="./img/nearby1.png")
							.large-card__content
								+white-badge('', 'Мастер-класс')
								p.large-card__title На самом деле я умная, но живу как дура
								.large-card__info
									+info-marker('', '020-clock', '25 сентября, 2018')
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.large-card(href="javascript:void(0)")
							.large-card__img
								img(src="./img/nearby2.png")
							.large-card__content
								+white-badge('', 'Мастер-класс')
								p.large-card__title Школа управления Павла Ракова
								.large-card__info
									+info-marker('', '020-clock', '25 сентября, 2018')
									+info-marker('', '019-profile', 'Тренер: Павел Раков')

	.offcanvas--cross.js__offcanvas--cross
		+icon('053-close')

//- Opacity

.opacity
.search-adaptive.js__modal
	form.search-adaptive__form
		p.search-adaptive__form--title Поиск по сайту
		.search-adaptive__form--input
			input(type="text", name="search", placeholder="Искать на сайте")
			span
				+icon('001-search')
	.search-adaptive--cross.js__modal-cross
		+icon('053-close')

//- Search modal

.search-modal.js__modal
	p.search-modal--title Выберите город:
	ul.search-modal--list
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Москва
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Санкт-Петербург
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Новосибирск
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Екатеринбург
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Нижний Новгород
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Казань
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Самара
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Омск
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Челябинск
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Ростов-на-Дону
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Волгоград
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Красноярск
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Пермь
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Уфа
		li.search-modal--item
			a.search-modal--link(href="javascript:void(0)") Челябинск
	form.search-modal--form
		label.search-modal--label Или укажите название здесь:
			input.search-modal--input.js__search-input(type="text", placeholder='Укажите город...', name="city")
		input.search-modal--submit.disabled(disabled, type="button", value="Это мой город")
	.search-modal--cross.js__modal-cross
		+icon('053-close')

include partials/notification.pug
include partials/next-modal.pug
include partials/about-modal.pug
include partials/sended.pug
include partials/anketa-modal.pug

//- Scripts
script(src="./js/main.js")