include variables.pug
include mixins.pug
doctype html
html(lang="ru")
	head
		//- Meta Tags
		meta(http-equiv='X-UA-Compatible' content="IE=edge")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
		<!--[if IE]>
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		<![endif]-->
		meta(name="HandheldFriendly" content="true")
		//- Favicon
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="icon" href="favicon.ico")
		<!--[if lt IE 9]>
			script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
		<![endif]-->
		//- Title
		title #{title}
		//- Styles
		link(rel="stylesheet" href="./css/style.css")
	body
		header.header
			.header__block
				if !is_home
					.menu-button.js__menu-button
						span
						span
						span
				else
					.menu-button.menu-button_inverse.js__menu-button
						span
						span
						span
				.header__block--site-name
					p.header__block--title Павел Раков
					p.header__block--description Тренинговый центр
				//- a.header__block--city.js__header-city(href="javascript:void(0)")
				//- 	span.header__block--city-mark
				//- 		+icon('002-placeholder-filled-point')
				//- 	| Нижний Новгород
				//- 	span.header__block--city-dropdown
				//- 		+icon('048-dropdown')
				a.header__block--offers(href="javascript:void(0)")
					span.header__block--offers-icon
						+icon('052-gift')
					| Выгодные предложения
				.header__block--search-block
					form.header__block--search-form
						input.header__block--search-input(type="text", name="search", placeholder="Искать на сайте")
						span.header__block--search-icon
							+icon('001-search')
				a.header__block--phone(href="tel:" + phone)
					span.header__block--phone-icon
						+icon('003-phone-receiver')
						span.h_closer
							+icon('053-close')
					| #{phone}
				.header--phone_mobile#headerMobilePhone
					a.header--phone_mobile--link(href="tel:88003337780") Позвонить
					p.header--phone_mobile--text 8-800-333-77-80
					span.header--phone_mobile--info Пн. - Сб. 10:00 - 19:00
				a.header__block--offers(href="javascript:void(0)")
					span.header__block--offers-icon
						+icon('support')
					| Задать вопрос

				//- a.header__block--language(href="javascript:void(0)") eng

			nav.header__navigation
				+icon-button('header__navigation--calendar','046-appointment')
				ul.header__navigation--list(class=no_banner)
					li.header__navigation--item.header__navigation--item_active
						a.header__navigation--link(href="javascript:void(0)") Главная
					li.header__navigation--item
						a.header__navigation--link(href="javascript:void(0)") Магазин
					li.header__navigation--item
						a.header__navigation--link(href="javascript:void(0)") Тренинговый центр
					li.header__navigation--item
						a.header__navigation--link(href="javascript:void(0)") Мероприятия
					li.header__navigation--item
						a.header__navigation--link(href="javascript:void(0)") Отзывы
					li.header__navigation--item
						a.header__navigation--link(href="javascript:void(0)") Проекты
					li.header__navigation--item
						a.header__navigation--link(href="javascript:void(0)") Статьи
					li.header__navigation--item
						a.header__navigation--link(href="javascript:void(0)") Женские клубы
					li.header__navigation--item
						a.header__navigation--link(href="javascript:void(0)") Контакты