mixin icon(name)
	svg(class="icon")
		use(xlink:href='./img/sprite.svg#icons--' + name)


mixin button-colored(add_class='', text)
	a.button-colored(class=add_class, href="javascript:void(0)") #{text}

mixin button(add_class="", text, icon)
	a.button(class=add_class, href="javascript:void(0)") #{text}
		if icon
			+icon(icon)

mixin button-small(add_class="", text, count)
	a.button-small(class=add_class, href="javascript:void(0)") #{text}
		if count 
			span(class='button-small--count') #{count}

mixin follow-button(add_class="", type)
	a.follow-button(class=add_class + " follow-button--" + type, href="javascript:void(0)")
		span(class="follow-button--type")
			if (type == 'vk')
				+icon("004-vk")
			else if (type == 'youtube')
				+icon("005-youtube")
			else if (type == 'instagram')
				+icon("012-instagram-logo")
		| Подписаться

mixin send-button(add_class="", icon, text="Отправить")
	a.send-button(class=add_class) #{text}
		span
			+icon(icon)
mixin calendar-button(add_class="", icon, text="Календарь событий")
	a.calendar-button(class=add_class) #{text}
		if icon != ''
			span
				+icon(icon)

mixin view-button(type="", add_class)
	.view-button(class=add_class)
		if (type == 'view-button_active')
			span
				+icon('018-menu-1')
		else
			span
				+icon('017-menu')


mixin slider-arrow_small(add_class="", direction)
	if direction == 'left'
		a.slider-arrow_small.slider-arrow_small_left(class=add_class)
			+icon('047-next')
	else
		a.slider-arrow_small(class=add_class)
			+icon('047-next')

mixin slider-arrow(add_class="", direction)
	if direction == 'left'
		a.slider-arrow.slider-arrow_left(class=add_class)
			+icon('007-right-arrow')
	else
		a.slider-arrow(class=add_class)
			+icon('007-right-arrow')

mixin dot(add_class="")
	span.dot(class=add_class)


mixin icon-button(add_class="", icon)
	.icon-button(class=add_class)
		+icon(icon)

mixin tab(add_class="", text)
	a.tab(class=add_class, href="javascript:void(0)") #{text}

mixin icon-link(add_class="", icon, text)
	a.icon-link(class=add_class, href="javascript:void(0)")
		img(src="./img/icons/" + icon + '.svg')
		span.icon-link--text #{text}

mixin dropdown-button(add_class="", text)
	a.dropdown-button(class=add_class, href="javascript:void(0)") #{text}
		+icon('048-dropdown')

mixin link(add_class="", text) 
	a.link(class=add_class, href='javascript:void(0)') #{text}

mixin date-marker(add_class="", day, month)
	span.date-marker(class=add_class) #{day}
		span.date-marker--month #{month}

mixin count-marker(add_class="", count)
	span.count-marker #{count}

mixin location-marker(add_class="", text) 
	span.location-marker(class=add_class)
		+icon('002-placeholder-filled-point')
		| #{text}

mixin icon-marker(add_class="", icon, text) 
	span.icon-marker(class=add_class)
		+icon(icon)
		| #{text}


mixin light-badge(add_class="", text)
	.light-badge(class=add_class) #{text}

mixin white-badge(add_class="", text)
	.white-badge(class=add_class) #{text}

mixin grey-badge(add_class="", text)
	.grey-badge(class=add_class) #{text}

mixin icon-badge(add_class="", icon, text)
	.icon-badge(class=add_class)
		if icon
			+icon(icon)
		| #{text}


mixin tag(add_class="", text)
	a.tag(class=add_class, href='javascript:void(0)') #{text}

mixin sale(add_class="", discount)
	.sale(class=add_class) #{discount}%


mixin info-marker(add_class="", icon, text)
	.info-marker(class=add_class)
		+icon(icon)
		| #{text}

mixin project-card(add_class="", icon, name, text, count)
	a.project-card(class=add_class, href="javascript:void(0)")
		.project-card--title
			p.project-card--name #{name}
				if count
					+count-marker('', count)
		.project-card__content
			if text
				p.project-card--text #{text}
			span.slider-arrow(href="javascript:void(0)")
				+icon('007-right-arrow')
		.project-card__icon
			img(src="./img/icons/" + icon + ".svg")