
<div class="sended-modal--done js__modal">
  <div class="sended-modal--done-content"><img src="./img/icons/email.svg" alt=""/>
    <p class="sended-modal--step-title">Ваше сообщение успешно отправелно.<br>В Ближайшее время с вами свяжутся.</p><a class="sended-modal--ok" href="javascript:void(0)">Ок</a>
  </div>
  <div class="search-modal--cross js__modal-cross">
    <svg class="icon">
      <use xlink:href="./img/sprite.svg#icons--053-close"></use>
    </svg>
  </div>
</div>