include template/header.pug
.main-wrapper
	.about-banner
		.about-banner__img
			img(src="./img/about.jpg", alt="")
		.container
			h1.about-title Тренинговый центр<br> Павла Ракова
	.about-page
		.container
			.breadcrumbs
				a.breadcrumb(href='javascript:void(0)') Главная
				span.breadcrumb.breadcrumb_current Тренинговый центр
			.about-page--container
				.about__facts
					p.title Факты в цифрах
					.about--fact
						img(src="./img/icons/039-networking.svg", alt="")
						p.about--fact-count 1 000 000
						p.about--fact-name Подписчиков по всему миру
					.about--fact
						img(src="./img/icons/035-work.svg", alt="")
						p.about--fact-count 30 000
						p.about--fact-name Студентов из разных стран
					.about--fact
						img(src="./img/icons/034-coordination.svg", alt="")
						p.about--fact-count 2 000
						p.about--fact-name  Мероприятий в год
				.about__info
					.about__info--text
						p.title Павел Раков — кто он такой?
						p Учредитель Международного Центра авторских встреч Павла Ракова, предприниматель, тренер.
						.quote
							.quote__icon
								+icon('037-quotes')
							| Мои тренинги — это прежде всего хобби, дело для души.<br>Бизнес я делаю в другом месте.
						p Мои обучающие программы — популярны и эффективны и не нуждаются в серьезной рекламе. Ежегодно более 7000 человек радуют меня своим вниманием на тренингах и мастер-классах. Замечательно, что популярность этих мероприятий растет с каждым годом.
						p С 1992 года я предприниматель.  У меня с успехом  развивается бизнес во многих городах РФ и СНГ. Работаю с людьми еще с комсомольских времен. 
						p На протяжении 12-ти лет обучается и проводит следующие тренинговые программы: креативное мышление, ораторское искусство, актерское мастерство, бесконфликтное общение, лидерство и харизма, жесткие переговоры, манипулятивные влияния и защита, флирт и соблазнение, юмор и остроумие, бизнес с нуля (и даже с минуса).
						.about__info--buttons
							+button('', "Наши проекты", "")
							+icon-link('', '038-task', 'Скачать презентацию')
					.about__info--img
						img(src="./img/rakov.png", alt="")
				.about__achievements
					p.title Достижения Павла Ракова
					.about__achievements__wrapper
						.about__achievement
							p.about__achievement--title
								span
									+icon('049-mark')
								| Автор книг
							p.about__achievement--text Автор 5-и книг: «Виктория», «1+1», «Авторская школа», «Главное - не думать о белом слоне», "Где взять силы для успеха".  Книги посвящены эффективным коммуникациям и межличностным отношениям. (2002-2006 гг)
						.about__achievement
							p.about__achievement--title
								span
									+icon('049-mark')
								| Просветитель
							p.about__achievement--text Награжден медалью «За просветительскую деятельность в традиционной (народной) медицине» Российским международным регистром комплиментарной медицины.(от 10.12.2004 г., за № 229).
						.about__achievement
							p.about__achievement--title
								span
									+icon('049-mark')
								| Благотворитель
							p.about__achievement--text Отмечен Советом предпринимателей при мэре и Правительстве Москвы за оказанный вклад в общество, за постоянную благотворительность в отношении детских учреждений, за развитие в сфере предпринимательства в различных регионах России и за рубежом. (от 08.12.2004 г., приказ № 80)
						.about__achievement
							p.about__achievement--title
								span
									+icon('049-mark')
								| Организатор
							p.about__achievement--text Награжден Комиссией Совета Федерации по делам молодежи и спорту при мэре и Правительстве Москвы дипломом за активную помощь в организации проведения фестиваля «Мир детства». (2004г.)
						.about__achievement
							p.about__achievement--title
								span
									+icon('049-mark')
								| Инноватор
							p.about__achievement--text Имеет сертификат за активное участие в работе III Международного Конгресса «Новые технологии народной медицины и целительства на службе здравоохранения». (2004 г.)
						.about__achievement
							p.about__achievement--title
								span
									+icon('049-mark')
								| Меценат
							p.about__achievement--text Награжден почетным дипломом Международного союза общественных организаций по поддержке науки и содействию подготовке научных кадров «За личный вклад в дело интеграции традиционной народной медицины и государственной системы здравоохранения РФ». ( от 07.10.2004, за № 86)
				.documents
					p.title Сертификаты и документы
					.documents__arrows.js__documents--arrows
					.documents__slider.js__documents--slider
						.document
							.document__img
							p.document__name Название документа
						.document
							.document__img
							p.document__name Название документа
						.document
							.document__img
							p.document__name Название документа
						.document
							.document__img
							p.document__name Название документа
						.document
							.document__img
							p.document__name Название документа
						.document
							.document__img
							p.document__name Название документа
						.document
							.document__img
							p.document__name Название документа
						.document
							.document__img
							p.document__name Название документа
						.document
							.document__img
							p.document__name Название документа
				.staff-members
					p.title Сертификаты и документы
					.staff__arrows.js__staff--arrows
					.staff__slider--wrapper
						.staff__slider.js__staff--slider
							.staff-member
								.staff-member--img
									img(src="./img/staff.png")
								.staff-member__content
									p.staff-member--name Имя Фамилия
									p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
									+link('', 'Подробнее')
							.staff-member
								.staff-member--img
									img(src="./img/staff.png")
								.staff-member__content
									p.staff-member--name Имя Фамилия
									p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
									+link('', 'Подробнее')
							.staff-member
								.staff-member--img
									img(src="./img/staff.png")
								.staff-member__content
									p.staff-member--name Имя Фамилия
									p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
									+link('', 'Подробнее')
							.staff-member
								.staff-member--img
									img(src="./img/staff.png")
								.staff-member__content
									p.staff-member--name Имя Фамилия
									p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
									+link('', 'Подробнее')
							.staff-member
								.staff-member--img
									img(src="./img/staff.png")
								.staff-member__content
									p.staff-member--name Имя Фамилия
									p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
									+link('', 'Подробнее')
							.staff-member
								.staff-member--img
									img(src="./img/staff.png")
								.staff-member__content
									p.staff-member--name Имя Фамилия
									p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
									+link('', 'Подробнее')
							.staff-member
								.staff-member--img
									img(src="./img/staff.png")
								.staff-member__content
									p.staff-member--name Имя Фамилия
									p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
									+link('', 'Подробнее')
				.two-columns__block
					p.title СМИ о нас
					.two-columns__block__content
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'СМИ о нас')
							.info-card__content
								p.info-card--name Павел Раков в качестве праглашёного гостя на СТС
								.info-card__marker
									+info-marker('', '019-profile', 'Автор: Администратор')
									+info-marker('', '016-eye', '4587')
									+info-marker('', '051-comment-single', '17')
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type CМИ о нас
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type CМИ о нас
								p.article-card__content--title Интервью с Павлом Раковым на телеканале РЕН тв
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type CМИ о нас
								p.article-card__content--title Открытие филиала в городе Санкт-Петербург
				.news-widget
					p.title Новости
					.news-widget__arrows.js__news-widget--arrows
					.news-widget__slider.js__news-widget--slider
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'СМИ о нас')
							.info-card__content
								p.info-card--name Павел Раков в качестве праглашёного гостя на СТС
								.info-card__marker
									+info-marker('', '019-profile', 'Автор: Администратор')
									+info-marker('', '016-eye', '4587')
									+info-marker('', '051-comment-single', '17')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'СМИ о нас')
							.info-card__content
								p.info-card--name Павел Раков в качестве праглашёного гостя на СТС
								.info-card__marker
									+info-marker('', '019-profile', 'Автор: Администратор')
									+info-marker('', '016-eye', '4587')
									+info-marker('', '051-comment-single', '17')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'СМИ о нас')
							.info-card__content
								p.info-card--name Павел Раков в качестве праглашёного гостя на СТС
								.info-card__marker
									+info-marker('', '019-profile', 'Автор: Администратор')
									+info-marker('', '016-eye', '4587')
									+info-marker('', '051-comment-single', '17')
				.about-form
					p.title Для связи с нами
					.about-form__content
						form(action="")
							label.input(for="aboutName") Ваше имя
								input#aboutName(type="text", placeholder="Введите ваше имя", name="name")
							label.input(for="aboutEmail") Ваш e-mail
								input#aboutEmail(type="email", placeholder="Ваш адрес эл. почты", name="email")
							label.input.textarea(for="aboutMessage") Ваше сообщение
								textarea#aboutMessage(placeholder="Введите текст сообщения", name="message")
							+send-button('', '010-paper-plane')
							.about-checkbox
								label.checkbox(for="subscriptionAgreement")
									.checkbox--block
										input#subscriptionAgreement(type="checkbox", name="agreement",checked=true)
										span.checkbox--mark
											+icon("049-mark")
									| Я согласен с условиями обработки моих данных
						.about-form__location
							p.about-form__location--title
								+icon('002-placeholder-filled-point')
								| Как к нам добраться
							<iframe src="https://yandex.ru/map-widget/v1/-/CBF2aCx0KD" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>

include template/footer.pug