- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Мероприятия
			span.breadcrumb.breadcrumb_current Фотографии
		.main-content
			.albums-block
				h1.title.big Все фотоальбоамы
					span.count-marker 88
				p.albums--subtitle Показывать:
				.albums--categories
					+button-small('button-small_active js__toggle', 'Россия', '23')
					+button-small('js__toggle', 'Украина', '15')
					+button-small('js__toggle', 'Беларусь', '07')
					+button-small('js__toggle', 'Израиль', '21')
					+button-small('js__toggle', 'Канада', '12')
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
					.view-buttons
						+view-button('', 'view-button_active')
						+view-button('view-button_active')
			.albums--content
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
				a.album-card(href="javascript:void(0)") 
					.album-card__img 
						img(src="./img/card7.png")
					.album-card__content
						+icon-badge('', '026-photo', '176')
						p.album-card__title Тренинг-лекция в концертном зале «Космос»
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
					.view-buttons
						+view-button('', 'view-button_active')
						+view-button('view-button_active')
		aside.aside
			.close-widget
				p.subtitle Ближайшие мероприятия
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					+calendar-button('', '020-clock', 'Календарь мероприятий')
			.reviews-widget
				p.subtitle Отзывы
				.reviews-widget__arrows.js__reviews-widget--arrows
				.reviews-widget__slider.js__reviews-widget--slider
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
			
			.close-widget
				p.subtitle Образование
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					+calendar-button('', '016-eye', 'Смотреть все статьи')
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
include template/footer.pug