- var no_banner = 'no_banner';
include template/header.pug
.main-wrapper.no-banner
	.album-page
		.container.has_aside
			.breadcrumbs
				a.breadcrumb(href='javascript:void(0)') Главная
				a.breadcrumb(href='javascript:void(0)') Мероприятия
				a.breadcrumb(href='javascript:void(0)') Фотографии
				span.breadcrumb.breadcrumb_current Юбилейный вечер в крокус сити холл
			.main-content
				.album-head
					+light-badge('', 'Фотоальбом')
					p.title Юбилейный верчер в крокус cити холл
					p.album-head--text Мероприятие посвященное юбилию тренигово центра Певла Ракова
					.album-head__info
						+info-marker('', '016-eye', '21567')
						+info-marker('', '050-comment', '5')
						+info-marker('hovered', '008-like', '+1689...')
					.tabs
						+tab('tab_active', 'Фото')
					.album-head__interactive
						.pagination
							span.pagination--arrow.pagination--arrow_left
								+icon('007-right-arrow')
							ul.pagination__nav
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 1
								li.pagination__nav--blank ...
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 8
								li.pagination__nav--item.pagination__nav--item_current 
									a.pagination__nav--link(href="javascript:void(0)") 9
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 10
								li.pagination__nav--blank ...
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 69
							span.pagination--arrow
								+icon('007-right-arrow')
						.share-block
							span Поделиться:
							a.share-icon(href="javascript:void(0)")
								img(src="./img/icons/social/002-vkontakte-logo.svg")
							a.share-icon(href="javascript:void(0)")
								img(src="./img/icons/social/001-instagram.svg")
							a.share-icon(href="javascript:void(0)")
								img(src="./img/icons/social/003-odnoklassniki.svg")
				.album__images
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
				.album-comments
					p.title.small Комментарии:
					.comments__wrapper
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						a.more-link(href="javascript:void(0)")
							span.more-link--text Ещё комментарии
							+icon('045-refresh')
				.interesting
					p.title.small Также будет интересно
					.interesting__arrows.js__interesting--arrows
					.interesting__slider.js__interesting--slider
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
			aside.aside
				.close-widget
					p.subtitle Ближайшие мероприятия
					.small-previews__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview1.png')
							.small-preview--content
								p.small-preview--type Тренинг
								p.small-preview--title Сила женского притяжения
								p.small-preview--date 25 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.close-widget__button
						a.calendar-button(href="javscript:void(0)")
							span
								+icon('020-clock')
							| Календарь мероприятий
				a.large-card(href="javascript:void(0)")
					.large-card__img
						img(src="./img/first-card.png")
					.large-card__content
						+white-badge('', 'Мастер-класс')
						p.large-card__title На самом деле я умная, но живу как дура
						.large-card__info
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '020-clock', '25 сентября, 2018')
				.profit-widget
					p.subtitle Выгодные предложения
					.profit-widget__arrows.js__profit-widget--arrows
					.profit-widget__slider.js__profit-widget--slider
						.profit-widget__block
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview2.png')
									+sale('', '-10')
								.small-preview--content
									p.small-preview--type тренинг-лекция
									p.small-preview--title Школа управления Павла Ракова
									p.small-preview--date 7 сентября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview3.png')
									+sale('', '-40')
								.small-preview--content
									p.small-preview--type Мастер-класс
									p.small-preview--title Интимная инструкция по взаимодействию...
									p.small-preview--date 13 ноября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview2.png')
									+sale('', '-10')
								.small-preview--content
									p.small-preview--type тренинг-лекция
									p.small-preview--title Школа управления Павла Ракова
									p.small-preview--date 7 сентября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview3.png')
									+sale('', '-40')
								.small-preview--content
									p.small-preview--type Мастер-класс
									p.small-preview--title Интимная инструкция по взаимодействию...
									p.small-preview--date 13 ноября, 2018
						.profit-widget__block
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview2.png')
									+sale('', '-10')
								.small-preview--content
									p.small-preview--type тренинг-лекция
									p.small-preview--title Школа управления Павла Ракова
									p.small-preview--date 7 сентября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview3.png')
									+sale('', '-40')
								.small-preview--content
									p.small-preview--type Мастер-класс
									p.small-preview--title Интимная инструкция по взаимодействию...
									p.small-preview--date 13 ноября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview2.png')
									+sale('', '-10')
								.small-preview--content
									p.small-preview--type тренинг-лекция
									p.small-preview--title Школа управления Павла Ракова
									p.small-preview--date 7 сентября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview3.png')
									+sale('', '-40')
								.small-preview--content
									p.small-preview--type Мастер-класс
									p.small-preview--title Интимная инструкция по взаимодействию...
									p.small-preview--date 13 ноября, 2018
						.profit-widget__block
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview2.png')
									+sale('', '-10')
								.small-preview--content
									p.small-preview--type тренинг-лекция
									p.small-preview--title Школа управления Павла Ракова
									p.small-preview--date 7 сентября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview3.png')
									+sale('', '-40')
								.small-preview--content
									p.small-preview--type Мастер-класс
									p.small-preview--title Интимная инструкция по взаимодействию...
									p.small-preview--date 13 ноября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview2.png')
									+sale('', '-10')
								.small-preview--content
									p.small-preview--type тренинг-лекция
									p.small-preview--title Школа управления Павла Ракова
									p.small-preview--date 7 сентября, 2018
							a.small-preview(href="javascript:void(0)")
								.small-preview__img-block
									img(src='./img/preview3.png')
									+sale('', '-40')
								.small-preview--content
									p.small-preview--type Мастер-класс
									p.small-preview--title Интимная инструкция по взаимодействию...
									p.small-preview--date 13 ноября, 2018
				a.large-card(href="javascript:void(0)")
					.large-card__img
						img(src="./img/first-card.png")
					.large-card__content
						+white-badge('', 'Мастер-класс')
						p.large-card__title На самом деле я умная, но живу как дура
						.large-card__info
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '020-clock', '25 сентября, 2018')


include template/footer.pug