- var no_banner = 'no_banner';
include template/header.pug
.main-wrapper.no-banner
	.anketa-page
		.container
			.breadcrumbs
				a.breadcrumb(href='javascript:void(0)') Главная
				a.breadcrumb(href='javascript:void(0)') Сотрудничество
				span.breadcrumb.breadcrumb_current Анкет партнера
			.anketa-info
				p.title Анкета партнёра
				.anketa-info__content
					.anketa-info--conditions
						p.anketa-info--conditions-title
							+icon('044-alert')
							| Условия сотрудничества:
						p.anketa-info--conditions--text
							| Приходилось ли вам когда-нибудь жалеть мужчину, выслушивать его жалобы на жизнь и обстоятельства? Принимали ли вы мужчину со всеми его неудачами, проблемами, трудностями? А, может, вы давали деньги в долг или согласились содержать его, пока он не найдет новую работу? Это как раз та самая ужасная ошибка девушек, которая даже неплохих парней превращает в бездельников и альфонсов.
					.anketa-info--contract-block
						.anketa-info--contract-text
							img(src="./img/icons/043-progress.svg")
							| Договор <br>о партнерстве
						+calendar-button('', '042-file', 'Пример договора')
			.anketa-block
				p.title Заполните анкету:
				form
					label.input(for="name1") Ваше имя
						input#name1(type="text", placeholder="Введите ваше имя", name="name1")
					label.input(for="email1") Ваш e-mail
						input#email1(type="text", placeholder="Ваш адрес эл. почты", name="email1")
					label.input(for="email2") Ваш e-mail
						input#email2(type="text", placeholder="Ваш адрес эл. почты", name="email2")
					label.input(for="name2") Ваше имя
						input#name2(type="text", placeholder="Введите ваше имя", name="name2")
					label.input(for="email3") Ваш e-mail
						input#email3(type="text", placeholder="Ваш адрес эл. почты", name="email3")
					label.input(for="email4") Ваш e-mail
						input#email4(type="text", placeholder="Ваш адрес эл. почты", name="email4")
					label.input(for="name3") Ваше имя
						input#name3(type="text", placeholder="Введите ваше имя", name="name3")
					label.input(for="email5") Ваш e-mail
						input#email5(type="text", placeholder="Ваш адрес эл. почты", name="email5")
					label.input(for="email6") Ваш e-mail
						input#email6(type="text", placeholder="Ваш адрес эл. почты", name="email6")
					label.input(for="name4") Ваше имя
						input#name4(type="text", placeholder="Введите ваше имя", name="name4")
					label.input(for="email7") Ваш e-mail
						input#email7(type="text", placeholder="Ваш адрес эл. почты", name="email7")
					label.input(for="email8") Ваш e-mail
						input#email8(type="text", placeholder="Ваш адрес эл. почты", name="email8")
					.anketa-send
						+send-button('', '010-paper-plane')
						.anketa-checkbox
							label.checkbox(for="subscriptionAgreement")
								.checkbox--block
									input#subscriptionAgreement(type="checkbox", name="agreement")
									span.checkbox--mark
										+icon("049-mark")
								| Я согласен с условиями обработки моих данных

include template/footer.pug