- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Образование
			a.breadcrumb(href='javascript:void(0)') Статьи
			span.breadcrumb.breadcrumb_current Какой должна быть илеальная женщина
		.small-banner
			.small-banner__img
				img(src="./img/article-page.jpg")
			.small-banner__content
				.small-banner__badges
					+light-badge('', 'Статья')
				h1.small-banner__title Какой должна быть идеальная<br> женщина
				.small-banner__info
					+info-marker('', '019-profile', 'Автор: Павел Раков')
					+info-marker('', '016-eye', '21567')
					+info-marker('', '050-comment', '5')
					+info-marker('hovered', '008-like', '+1689...')
				.share-block
					span Поделиться:
					a.share-icon(href="javascript:void(0)")
						img(src="./img/icons/social/002-vkontakte-logo.svg")
					a.share-icon(href="javascript:void(0)")
						img(src="./img/icons/social/001-instagram.svg")
					a.share-icon(href="javascript:void(0)")
						img(src="./img/icons/social/003-odnoklassniki.svg")
		.main-content
			.article-block
				p.title Как проявлять свою женственность перед мужчиной, чтобы он оставался мужчиной?
				.article-content
					p Гуру человеческих взаимоотношений, известный бизнес-тренер Павел Раков перечисляет составляющие настоящей женщины:
					ol
						li Физически здорова. Может пройти 15 км быстрым шагом и после этого будет готова заняться любовью.
						li Без вредных привычек. Любые вредные привычки – ограничения, соломинки, за которые хватается ущербный человек, или способ снятия стресса для людей, верящих в обстоятельства и неспособных самостоятельно справляться с ситуацией.
						li Любит танцевать, обладает гибкостью. Гибкость тела рождает гибкость разума. Танец положительно влияет на здоровье, это позитивный, полезный и безопасный способ релаксации, снятия стресса и "лишней" энергии. Люди, которые не любят танцевать, обладают низким уровнем внутренней энергии. Кстати, по данным исследователей, среднестатистический украинец проводит у телевизора в среднем пять часов в день! Такие люди не могут похвастаться успехами в жизни.
						li Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок.
						li Умеет не только со вкусом одеваться, но и красиво говорить. Да, красота, которая, как говориться, спасет мир, имеет много различных проявлений, в том числе и грациозную речь. Вспомните Эллочку-людоедку. Такие женщины быстро наскучивают.
						li Духовно развивается, самосовершенствуется, а не переделывает других людей. Часто люди расходятся из-за того, что кто-то в паре остановился в развитии. Людям интересно открывать что-то новое в партнерах. Это новое можно создавать, просто постигая его.
						li Сексуально притягательна. Чуткая к любым реакциям партнера. Умеет создавать атмосферу, в которой легко вызвать возбуждение.
						li Хороша в постели. Владеет техникой остановки семяизвержения у мужчины. Может испытать энергетический оргазм без введения полового члена и прикосновения к гениталиям. Владеет техникой поднятия энергии вверх.
						li Выразительный, живой и зажигательный взгляд. Глаза – зеркало души. Профессиональные гейши могла взглядом остановить мужчину.
						li Финансово свободна. Экономна. Женщина, экономящая каждую копейку своего мужчины, заберет все его миллионы. Экономия его денег – уважение его труда. Это не значит, что ей ничего не надо, и она ограничивает свои потребности. Но она не допускает финансовых усушек-утрусок. Ее не надо ограничивать, если она хочет мерседес. А если, купив его, паркуется как попало – это транжирство. Деньги – это всего лишь ресурс. Мы живем в городе, и деньги для нас, как вода для рыбы. Если их мало, человек "дышит" через раз. А как можно что-то создавать, если дышать через раз?
					p Обычно, если все эти условия соблюдены, человек выглядит идеально. Кстати, к мужчинам относится все то же, только им к этому списку нужно добавить еще и жим собственного веса лежа.
					p Существует несколько признаков нездоровых отношений мужчины и женщины. Например, постоянное желание мужчины ставить свою спутницу на место или "к ноге", давая ей таким образом понять, что она без него ничего не может делать, и что он составляет весь мир для нее. Или, например, мужчина постоянно сомневается в своей подруге, постоянно не уверен в том, что она говорит правду или только собирается сказать правду. Такие отношения мужчины и женщины редко доводят до добра, поскольку как бы девушка ни старалась, она в глазах мужчины всегда будет лживой.
				.article-info
					+info-marker('', '019-profile', 'Автор: Павел Раков')
					.share-block
						span Поделиться:
						a.share-icon(href="javascript:void(0)")
							img(src="./img/icons/social/002-vkontakte-logo.svg")
						a.share-icon(href="javascript:void(0)")
							img(src="./img/icons/social/001-instagram.svg")
						a.share-icon(href="javascript:void(0)")
							img(src="./img/icons/social/003-odnoklassniki.svg")
				.article-comments
					p.title.small Комментарии:
					.comments__wrapper
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						a.more-link(href="javascript:void(0)")
							span.more-link--text Ещё комментарии
							+icon('045-refresh')
			.two-columns__block
				p.title.small Ближайшие события
				.two-columns__block__content
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
							.info-card__badges
								+grey-badge('', 'СМИ о нас')
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Онлайн-курс
							.info-card__marker
								+info-marker('', '019-profile', 'Автор: Администратор')
								+info-marker('', '016-eye', '4587')
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018

		aside.aside
			.author-widget
				p.subtitle Автор статьи
				.author-block
					.author-block__img
						img(src="./img/speaker.png")
					.author-block__content
						p.author-block--name Павел Раков
						p.author-block--text Учредитель Международного Центра авторских встреч Павла Ракова, предприниматель, тренер.
				+calendar-button('js__favorite-button', '015-star', 'Добавить статью в избранное')
			.slider-info-widget 
				p.subtitle Популярное
				.slider-info-widget__arrows.js__slider-info-widget--arrows
				.slider-info-widget__slider.js__slider-info-widget--slider
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
							.info-card__badges
								+grey-badge('', 'СМИ о нас')
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Онлайн-курс
							.info-card__marker
								+info-marker('', '019-profile', 'Автор: Администратор')
								+info-marker('', '016-eye', '4587')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
							.info-card__badges
								+grey-badge('', 'СМИ о нас')
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Онлайн-курс
							.info-card__marker
								+info-marker('', '019-profile', 'Автор: Администратор')
								+info-marker('', '016-eye', '4587')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
							.info-card__badges
								+grey-badge('', 'СМИ о нас')
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Онлайн-курс
							.info-card__marker
								+info-marker('', '019-profile', 'Автор: Администратор')
								+info-marker('', '016-eye', '4587')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
							.info-card__badges
								+grey-badge('', 'СМИ о нас')
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Онлайн-курс
							.info-card__marker
								+info-marker('', '019-profile', 'Автор: Администратор')
								+info-marker('', '016-eye', '4587')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
							.info-card__badges
								+grey-badge('', 'СМИ о нас')
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Онлайн-курс
							.info-card__marker
								+info-marker('', '019-profile', 'Автор: Администратор')
								+info-marker('', '016-eye', '4587')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
							.info-card__badges
								+grey-badge('', 'СМИ о нас')
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Онлайн-курс
							.info-card__marker
								+info-marker('', '019-profile', 'Автор: Администратор')
								+info-marker('', '016-eye', '4587')
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.close-widget
				p.subtitle Похожее
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					+calendar-button('', '016-eye', 'Все статьи по данной теме')
			.tags-widget
				p.subtitle Теги: 
				.tags-block
					+tag('','Женщина')
					+tag('','Идеально')
					+tag('','Мужчина')
					+tag('','Муж')
					+tag('','Любовь')
					+tag('','Отношения')
					+tag('','Жена')
					+tag('','Счастье')
					+tag('','Понимание')
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')


include template/footer.pug