- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Образование
			span.breadcrumb.breadcrumb_current Статьи
		.main-content
			.albums-block
				h1.title.big Все Статьи
					span.count-marker 1027
				p.albums--subtitle Рубрики:
				.albums--categories
					+button-small('button-small_active js__toggle', 'Все статьи')
					+button-small('js__toggle', 'Отношения')
					+button-small('js__toggle', 'Красота и здоровье')
					+button-small('js__toggle', 'Бизнес и карьера')
					+button-small('js__toggle', 'Секс')
					+button-small('js__toggle', 'Практическая психология')
					+button-small('js__toggle', 'Тренинговый центр')
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
					.view-buttons
						+view-button('', 'view-button_active')
						+view-button('view-button_active')
			.albums--content
				a.wide-card(href="javascript:void(0)")
					.wide-card__img
						img(src='./img/card2.png')
					.wide-card__content
						+grey-badge('', 'Отношения')
						p.wide-card__title Мои прекрасные дуры (Интервью с Павлом Раковым)
						.wide-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
						span.slider-arrow
							+icon('007-right-arrow')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'Практичвеская психология')
					.info-card__content
						p.info-card--name Какой должна быть идеальная женщина
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'Практичвеская психология')
					.info-card__content
						p.info-card--name Какой должна быть идеальная женщина
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'Практичвеская психология')
					.info-card__content
						p.info-card--name Какой должна быть идеальная женщина
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'Практичвеская психология')
					.info-card__content
						p.info-card--name Какой должна быть идеальная женщина
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.wide-card(href="javascript:void(0)")
					.wide-card__img
						img(src='./img/card2.png')
					.wide-card__content
						+grey-badge('', 'Отношения')
						p.wide-card__title Мои прекрасные дуры (Интервью с Павлом Раковым)
						.wide-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
						span.slider-arrow
							+icon('007-right-arrow')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'Практичвеская психология')
					.info-card__content
						p.info-card--name Какой должна быть идеальная женщина
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'Практичвеская психология')
					.info-card__content
						p.info-card--name Какой должна быть идеальная женщина
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'Практичвеская психология')
					.info-card__content
						p.info-card--name Какой должна быть идеальная женщина
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'Практичвеская психология')
					.info-card__content
						p.info-card--name Какой должна быть идеальная женщина
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.wide-card(href="javascript:void(0)")
					.wide-card__img
						img(src='./img/card2.png')
					.wide-card__content
						+grey-badge('', 'Отношения')
						p.wide-card__title Мои прекрасные дуры (Интервью с Павлом Раковым)
						.wide-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
						span.slider-arrow
							+icon('007-right-arrow')
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
					.view-buttons
						+view-button('', 'view-button_active')
						+view-button('view-button_active')
		aside.aside
			.support-widget
				p.support-widget--title
					img(src="./img/icons/025-contract.svg", alt="")
					| Получать новые<br>статьи на почту
				+calendar-button('', '010-paper-plane', 'Оформить подписку')
				p.support-widget--lock
					+icon('lock')
					| Мы не передаём ваши данные третьим лицам
			.close-widget
				p.subtitle Популярные
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
			.video-widget
				p.subtitle Популярные видео
				.video-widget__arrows.js__video-widget--arrows
				.video-widget__slider.js__video-widget--slider
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?

			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.popular-tests
				p.subtitle Другие тесты
				ul.popular-tests--list
					li.popular-test
						a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					li.popular-test
						a(href="javascript:void(0)") Когда ты выйдешь замуж?
					li.popular-test
						a(href="javascript:void(0)") Сексуальная ли Вы женщина?
					li.popular-test
						a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
					li.popular-test
						a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
				.popular-tests--button
					+calendar-button('', '022-pencil', 'Смотреть все тесты')
			.reviews-widget
				p.subtitle Комментарии
				.reviews-widget__arrows.js__reviews-widget--arrows
				.reviews-widget__slider.js__reviews-widget--slider
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
			.tags-widget
				p.subtitle Теги: 
				.tags-block
					+tag('','Женщина')
					+tag('','Идеально')
					+tag('','Мужчина')
					+tag('','Муж')
					+tag('','Любовь')
					+tag('','Отношения')
					+tag('','Жена')
					+tag('','Счастье')
					+tag('','Понимание')
include template/footer.pug