- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Сотрудничество
			span.breadcrumb.breadcrumb_current Произвольное название филиала
		.main-content
			.single-branch__block
				.single-branch__badges
					+light-badge('', 'Филиал')
				h1.title Произвольное название филиала
				.single-branch__info
					+info-marker('', '002-placeholder-filled-point', 'МОСКВА')
					+info-marker('', '016-eye', '21567')
					+info-marker('', '050-comment', '5')
				p.single-branch--subtitle О филиале:
				p.single-branch--text Приходилось ли вам когда-нибудь жалеть мужчину, выслушивать его жалобы на жизнь и обстоятельства? Принимали ли вы мужчину со всеми его неудачами, проблемами, трудностями? А, может, вы давали деньги в долг или согласились содержать его, пока он не найдет новую работу? Это как раз та самая ужасная ошибка девушек, которая даже неплохих парней превращает в бездельников и альфонсов.
				p.single-branch--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
				p.single-branch--subtitle Из жизни филиала
				.tabs
					+tab('tab_active', 'Фото')
					+tab('', 'Видео')
				.album__images
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
			.contact-branch__block
				p.title Для связи с филиалом
				form(action="")
					label.input(for="aboutName") Ваше имя
						input#aboutName(type="text", placeholder="Введите ваше имя", name="name")
					label.input(for="aboutEmail") Ваш e-mail
						input#aboutEmail(type="email", placeholder="Ваш адрес эл. почты", name="email")
					label.input.textarea(for="aboutMessage") Ваше сообщение
						textarea#aboutMessage(placeholder="Введите текст сообщения", name="message")
					+send-button('', '010-paper-plane')
					.about-checkbox
						label.checkbox(for="subscriptionAgreement")
							.checkbox--block
								input#subscriptionAgreement(type="checkbox", name="agreement",checked=true)
								span.checkbox--mark
									+icon("049-mark")
							| Я согласен с условиями обработки моих данных
			.branch-location
				p.title Как к нам добраться
				<iframe src="https://yandex.ru/map-widget/v1/-/CBF2aCx0KD" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
		aside.aside
			.author-widget
				p.subtitle Руководитель филиала
				.author-block
					.author-block__img
						img(src="./img/speaker.png")
					.author-block__content
						p.author-block--name Павел Раков
						p.author-block--text Учредитель Международного Центра авторских встреч Павла Ракова, предприниматель, тренер.
				+calendar-button('js__partner-button', '015-star', 'Стать партнёром')
			.branches-widget
				p.subtitle Другие филиалы
				.branches-widget__arrows.js__branches-widget--arrows
				.branches-widget__slider.js__branches-widget--slider
					.branches-widget__slide
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
					.branches-widget__slide
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
					.branches-widget__slide
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
					.branches-widget__slide
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
					.branches-widget__slide
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
						a.branches-widget--branch(href="javascript:void(0)")
							span.branches-widget--branch-type Филиал
							span.branches-widget--branch-name Произвольное название филиала
include template/footer.pug
