- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			span.breadcrumb.breadcrumb_current Образование
		.catalog
			h1.title.big Разделы
			.catalog--list
				a.section-card(href="javascript:void(0)")
					.section-card__img 
						img(src="./img/card4.png")
					.section-card__content
						+icon-badge('', '', '176 шт.')
						p.section-card__title Мастер-классы
						span.slider-arrow
							+icon('007-right-arrow')
				a.section-card(href="javascript:void(0)")
					.section-card__img 
						img(src="./img/razdel2.png")
					.section-card__content
						+icon-badge('', '', '1098 шт.')
						p.section-card__title Онлайн курсы
						span.slider-arrow
							+icon('007-right-arrow')
				a.section-card(href="javascript:void(0)")
					.section-card__img 
						img(src="./img/razdel3.png")
					.section-card__content
						+icon-badge('', '', '1098 шт.')
						p.section-card__title Электронные книги
						span.slider-arrow
							+icon('007-right-arrow')
				a.section-card(href="javascript:void(0)")
					.section-card__img 
						img(src="./img/razdel4.png")
					.section-card__content
						+icon-badge('', '', '23 шт.')
						p.section-card__title Аудиозаписи
						span.slider-arrow
							+icon('007-right-arrow')
				a.section-card(href="javascript:void(0)")
					.section-card__img 
						img(src="./img/razdel5.png")
					.section-card__content
						+icon-badge('', '', '324 шт.')
						p.section-card__title Бесплатно
						span.slider-arrow
							+icon('007-right-arrow')
				a.section-card(href="javascript:void(0)")
					.section-card__img 
						img(src="./img/razdel6.png")
					.section-card__content
						+icon-badge('', '', '324 шт.')
						p.section-card__title Выгодные предложения
						span.slider-arrow
							+icon('007-right-arrow')
		.albums-block#products
			p.title.big Все продукты
				span.count-marker 3089
			p.albums--subtitle Показывать:
			.albums--categories
				+button-small('js__toggle', 'Все', '3089')
				+button-small('button-small_active js__toggle', 'Выгодные предложения', '65')
				+button-small('js__toggle', 'Новое', '5')
				+button-small('js__toggle', 'Хиты', '208')
		.catalog--all-list
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			+button('', "Показать еще", "045-refresh")
include template/footer.pug