include template/header.pug
.main-wrapper
	.banner
		.banner__img
			img(src="./img/club-page.jpg")
		.banner__content
			.banner__badges
				+light-badge('', 'Женский клуб')
				+info-marker('location', '002-placeholder-filled-point', 'Ставрополь')
			h1.banner__title Женский клуб "Счастливая Я"
			+button-colored('', 'Вступить в клуб')
			.banner__info
				+info-marker('', '019-profile', 'Автор: Павел Раков')
				+info-marker('hovered', '008-like', '+1689...')
			.share-block
				span Поделиться:
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/002-vkontakte-logo.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/001-instagram.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/003-odnoklassniki.svg")
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Проекты
			a.breadcrumb(href='javascript:void(0)') Женские клубы
			span.breadcrumb.breadcrumb_current Произвольное название клуба
		.main-content
			.club-page
				p.title Мастерская роскошной жизни от <br>Инны Gas
				p.club--subtitle История основания клуба
				p.club--text Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке систем массового участия. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Повседневная
				.manager
					.manager__img
						img(src="./img/manager.png", alt="")
						p.manager--type Руководитель
					.manager__content
						p.manager--name Чавушлар Инна
						p.manager--text Атмосферная, женственная, целеустремленная! Знаю как получить желаемое!
						a.manager--phone(href="tel:79034428877")
							+icon-marker('', '032-phone', '+7 (903) 442-88-77')
						a.manager--email(href="mailto: innacav@gmail.com")
							+icon-marker('', '033-mail', 'innacav@gmail.com')
						+icon-link('', '009-support', 'Задать вопрос')
				p.club--subtitle Из жизни клуба
				.tabs
					+tab('tab_active', 'Фото')
					+tab('', 'Видео')
				.album__images
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
				p.title.small Комментарии:
				.comments__wrapper
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
							+dropdown-button('', 'Показать весь')
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
							+dropdown-button('', 'Показать весь')
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
							+dropdown-button('', 'Показать весь')
					a.more-link(href="javascript:void(0)")
						span.more-link--text Ещё комментарии
						+icon('045-refresh')
			.interesting
				p.title.small Ближайшие мероприятия
				.interesting__arrows.js__interesting--arrows
				.interesting__slider.js__interesting--slider
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
		aside.aside
			.info-club-widget
				.info-club-widget--title
					img(src="./img/icons/039-networking.svg", alt="")
					p Информация<br> о клубе
				p.info-club-widget--text Приходилось ли вам когда-нибудь жалеть мужчину, выслушивать его жалобы на жизнь и обстоятельства? Принимали ли вы мужчину со всеми его неуд ачами, проблемами, трудностями? А, может, вы давали деньги в долг или согласились содержать его, пока он не найдет новую работу? Это как раз та самая ужасная ошибка девушек, которая даже неплохих парней превращает в бездельников и альфонсов.
				p.info-club-widget--location
					+icon('002-placeholder-filled-point')
					| Москва, ул. Бакинских Комиссаров, д.12 офис 304
				a.info-club-widget--phone(href="tel:" + phone)
					+icon('003-phone-receiver')
					| #{phone}
				+calendar-button('', '021-people', 'Вступить в клуб')
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.profit-widget
				p.subtitle Выгодные предложения
				.profit-widget__arrows.js__profit-widget--arrows
				.profit-widget__slider.js__profit-widget--slider
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
include template/footer.pug
