- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Проекты
			span.breadcrumb.breadcrumb_current Женские клубы
		.clubs-page__head
			.clubs-page__head--img
				img(src="./img/icons/039-networking.svg")
			.clubs-page__head--content
				h1.title.big Женские клубы
				p.clubs-page__head--subtitle О проекте:
				p.clubs-page__head--text Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке систем массового участия. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в
		.clubs-page__content
			.clubs-page__content--filter
				p Фильтровать по городу:
				.select
					select.select--input
						option(value="Все города") Все города
						- for (var i = 2; i <= 5; i++) {
							option(value="Город" + i) Город#{i}
						- };
					.select--active-block
						span.select--active Все города
						span.select--arrow
							+icon('048-dropdown')
					.select--block
						- for (var i = 1; i <= 5; i++) {
							if (i == 1)
								.select--option.select--option_chosen Все города
							else 
								.select--option Город#{i}
						- };
			.clubs-page__content--list
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club-example.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')

		.interesting-wide
			p.subtitle Также будет интересно
			.interesting-wide__arrows.js__interesting-wide--arrows
			.interesting-wide__slider.js__interesting-wide--slider
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
include template/footer.pug