- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Сотрудничество
			span.breadcrumb.breadcrumb_current Консультанты
		.consultants
			.consultants-info
				.consultants-info__img
					img(src="./img/icons/041-think.svg", alt="")
				.consultants-info__content
					h1.title Консультанты нашего центра
					p.consultants-info__text Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке систем массового участия. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что консультация с широким активом
			.consultants-block
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
				.staff-member
					.staff-member--img
						img(src="./img/staff.png")
					.staff-member__content
						p.staff-member--name Имя Фамилия
						p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
						+link('', 'Подробнее')
include template/footer.pug