include template/header.pug
.main-wrapper
	.banner.contacts-banner
		.banner__img
			img(src="./img/contacts-page.jpg")
		.banner__content
			h1.banner__title Контакты
			p.contacts-banner__text Тренинговый центр Павла Ракова
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			span.breadcrumb.breadcrumb_current Контакты
		.main-content
			.contacts-page
				p.title Ждём вас в гости!
				.contacts-page--info
					+info-marker('', '002-placeholder-filled-point', 'г. Москва, метро Бауманская, ул. Бауманская 56, стр. 2, офис 7')
					+info-marker('', '020-clock','Пн.—Пт. с 10:00 до 19:00')
					a(href="tel:" + phone)
						+info-marker('', '032-phone', phone)
					a(href="mailto:" + email)
						+info-marker('', '033-mail', email)
				.contacts-page--requisites
					p.subtitle Данные юр. лица
					p.requisite ИНН: 344565374567567845
					p.requisite КПП: 344565374567567845
					p.requisite Кор. счёт: 344565374567567845
					+link('', 'Политика конфиденциальности')
		aside.aside
			.support-widget
				p.support-widget--title
					img(src="./img/icons/009-support.svg", alt="")
					| Наша<br> тех. поддержка
				+calendar-button('', '', 'Написать в тех. поддержку')
				p.support-widget--lock
					+icon('lock')
					| Мы не передаём ваши данные третьим лицам
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
		.wide-content.questions
			.contacts-faq
				p.title Часто-задаваемые вопросы
				.contacts-faq__block
					.contacts-faq__item
						.contacts-faq__item--head.js__faq--item
							p.contacts-faq__item--title Содержание вопроса
							span.contacts-faq__icon.js__faq--button
						.contacts-faq__item--body
							p.contacts-faq__item--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					.contacts-faq__item
						.contacts-faq__item--head.js__faq--item
							p.contacts-faq__item--title Содержание вопроса
							span.contacts-faq__icon.js__faq--button
						.contacts-faq__item--body
							p.contacts-faq__item--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					.contacts-faq__item
						.contacts-faq__item--head.js__faq--item
							p.contacts-faq__item--title Содержание вопроса
							span.contacts-faq__icon.js__faq--button
						.contacts-faq__item--body
							p.contacts-faq__item--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					.contacts-faq__item
						.contacts-faq__item--head.js__faq--item
							p.contacts-faq__item--title Содержание вопроса
							span.contacts-faq__icon.js__faq--button
						.contacts-faq__item--body
							p.contacts-faq__item--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					.contacts-faq__item
						.contacts-faq__item--head.js__faq--item
							p.contacts-faq__item--title Содержание вопроса
							span.contacts-faq__icon.js__faq--button
						.contacts-faq__item--body
							p.contacts-faq__item--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					.contacts-faq__item
						.contacts-faq__item--head.js__faq--item
							p.contacts-faq__item--title Содержание вопроса
							span.contacts-faq__icon.js__faq--button
						.contacts-faq__item--body
							p.contacts-faq__item--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
			.contacts-form
				p.title Остались вопросы?
				form.contacts-form__block
					label.input(for="aboutName") Ваше имя
						input#aboutName(type="text", placeholder="Введите ваше имя", name="name")
					label.input(for="aboutEmail") Ваш e-mail
						input#aboutEmail(type="email", placeholder="Ваш адрес эл. почты", name="email")
					label.input.textarea(for="aboutMessage") Ваше сообщение
						textarea#aboutMessage(placeholder="Введите текст сообщения", name="message")
					+send-button('', '010-paper-plane')
					.about-checkbox
						label.checkbox(for="subscriptionAgreement")
							.checkbox--block
								input#subscriptionAgreement(type="checkbox", name="agreement")
								span.checkbox--mark
									+icon("049-mark")
							| Я согласен с условиями обработки моих данных
		.wide-content
			p.title Как к нам добраться
			<iframe src="https://yandex.ru/map-widget/v1/-/CBF2aCx0KD" class="contacts--map" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
include template/footer.pug