- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			span.breadcrumb.breadcrumb_current Образование
		.projects-page.education-type
			h1.title.big Образование
			.projects-page--list
				+project-card('', '025-contract', 'Статьи', '', '1027')
				+project-card('', '024-laptop', 'Видео', '', '10')
				+project-card('', '023-checklist', 'Тесты', '', '1345')
		.education-page
			.profit-widget
				p.subtitle Свежие статьи
				.profit-widget__arrows.js__profit-widget--arrows
				.profit-widget__slider.js__profit-widget--slider
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
			.video-widget
				p.subtitle Популярные видео
				.video-widget__arrows.js__video-widget--arrows
				.video-widget__slider.js__video-widget--slider
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
			.popular-tests
				p.subtitle Популярные тесты
				.popular-tests__arrows.js__popular-tests--arrows
				.popular-tests__slider.js__popular-tests--slider
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?

		.interesting-wide
			p.subtitle Ближайшие события
			.interesting-wide__arrows.js__interesting-wide--arrows
			.interesting-wide__slider.js__interesting-wide--slider
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
include template/footer.pug