- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			span.breadcrumb.breadcrumb_current Мероприятие
		.events
			.events-block
				p.title.big
					+icon('046-appointment')
					| Календарь мероприятий
				.event-block__slider--navigation.js__event-block--slider--navigation
					.event-block__slider--date Ноябрь 2018
					.event-block__slider--date Декабрь 2018
					.event-block__slider--date Январь 2019
					.event-block__slider--date Февраль 2019
					.event-block__slider--date Март 2019
					.event-block__slider--date Апрель 2019
				.event-block__slider.js__event-block--slider
					.event-table
						.event-table__head
							.event-table--cell Дата/время
							.event-table--cell Название мероприятия
							.event-table--cell Тренер
							.event-table--cell Место проведения
							.event-table--cell Стоимость
						.event-table__body
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
					.event-table
						.event-table__head
							.event-table--cell Дата/время
							.event-table--cell Название мероприятия
							.event-table--cell Тренер
							.event-table--cell Место проведения
							.event-table--cell Стоимость
						.event-table__body
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
					.event-table
						.event-table__head
							.event-table--cell Дата/время
							.event-table--cell Название мероприятия
							.event-table--cell Тренер
							.event-table--cell Место проведения
							.event-table--cell Стоимость
						.event-table__body
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
					.event-table
						.event-table__head
							.event-table--cell Дата/время
							.event-table--cell Название мероприятия
							.event-table--cell Тренер
							.event-table--cell Место проведения
							.event-table--cell Стоимость
						.event-table__body
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
					.event-table
						.event-table__head
							.event-table--cell Дата/время
							.event-table--cell Название мероприятия
							.event-table--cell Тренер
							.event-table--cell Место проведения
							.event-table--cell Стоимость
						.event-table__body
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
					.event-table
						.event-table__head
							.event-table--cell Дата/время
							.event-table--cell Название мероприятия
							.event-table--cell Тренер
							.event-table--cell Место проведения
							.event-table--cell Стоимость
						.event-table__body
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
									.event-table--time 17:30
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
							.event-table__row
								.event-table__card
									.info-card.info-card-text
										.info-card__img
											img(src="./img/card.png")
											.info-card__badges
												+grey-badge('', 'Тренинг-лекция')
											+date-marker('inverse', '17', 'Сен.')
										.info-card__content
											p.info-card--name Биоэнергетические практики
											.info-card__marker
												+info-marker('', '019-profile', 'Тренер: Павел Раков')
											p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
											+link('', 'Страница события')
										+calendar-button('', 'megaphone', 'Напомнить мне') 
								.event-table--cell 1 сентября
								.event-table--cell Тест: Умеете ли Вы общаться с мужчинами?
								.event-table--cell Павел раков
								.event-table--cell Москва
								.event-table--cell 0.0 руб.
		.interesting-wide
			p.subtitle Ближайшие события
			.interesting-wide__arrows.js__interesting-wide--arrows
			.interesting-wide__slider.js__interesting-wide--slider
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.info-card.info-card__nopadding(href="javascript:void(0)")
					.info-card__img
						img(src="./img/card.png")
						.info-card__badges
							+grey-badge('', 'Тренинг-лекция')
						+date-marker('inverse', '17', 'Сен.')
					.info-card__content
						p.info-card--name «На самом деле я умная, но живу как дура»
						.info-card__marker
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
		.container.has_aside.events-content
			.main-content
				.albums-block
					h1.title.big Все мероприятия
						span.count-marker 88
					p.albums--subtitle Показывать:
					.albums--categories
						+button-small('button-small_active js__toggle', 'Грядущие', '23')
						+button-small('js__toggle', 'Прошедшие', '65')
					.albums--settings
						.pagination
							span.pagination--arrow.pagination--arrow_left
								+icon('007-right-arrow')
							ul.pagination__nav
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 1
								li.pagination__nav--blank ...
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 8
								li.pagination__nav--item.pagination__nav--item_current 
									a.pagination__nav--link(href="javascript:void(0)") 9
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 10
								li.pagination__nav--blank ...
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 69
							span.pagination--arrow
								+icon('007-right-arrow')
						.view-buttons
							+view-button('', '')
							+view-button('view-button_active', 'view-button_active')
				.albums--content
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
				.albums--pagination
					.albums--settings
						.pagination
							span.pagination--arrow.pagination--arrow_left
								+icon('007-right-arrow')
							ul.pagination__nav
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 1
								li.pagination__nav--blank ...
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 8
								li.pagination__nav--item.pagination__nav--item_current 
									a.pagination__nav--link(href="javascript:void(0)") 9
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 10
								li.pagination__nav--blank ...
								li.pagination__nav--item 
									a.pagination__nav--link(href="javascript:void(0)") 69
							span.pagination--arrow
								+icon('007-right-arrow')
						.view-buttons
							+view-button('', '')
							+view-button('view-button_active', 'view-button_active')
			aside.aside
				.support-widget
					p.support-widget--title Включить напоминания<br> о мероприятиях
					+calendar-button('', 'megaphone', 'Напомнить мне')
					p.support-widget--lock
						+icon('lock')
						| Мы не передаём ваши данные третьим лицам
				.reviews-widget
					p.subtitle Отзывы участников
					.reviews-widget__arrows.js__reviews-widget--arrows
					.reviews-widget__slider.js__reviews-widget--slider
						.reviews-widget--slide
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						.reviews-widget--slide
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						.reviews-widget--slide
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
				.close-widget
					p.subtitle Популярные статьи
					.small-previews__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview1.png')
							.small-preview--content
								p.small-preview--type Тренинг
								p.small-preview--title Сила женского притяжения
								p.small-preview--date 25 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
				a.large-card(href="javascript:void(0)")
					.large-card__img
						img(src="./img/first-card.png")
					.large-card__content
						+white-badge('', 'Мастер-класс')
						p.large-card__title На самом деле я умная, но живу как дура
						.large-card__info
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '020-clock', '25 сентября, 2018')
				.photos-widget
					p.subtitle Фотографии
					.photos-widget__arrows.js__photos-widget--arrows
					.photos-widget__slider.js__photos-widget--slider
						.photos-widget--slide
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
						.photos-widget--slide
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
						.photos-widget--slide
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')
							a.album__image(href="./img/image1.png", data-fancybox="gallery")
								img(src="./img/image1.png")
								span.album__image--icon
									+icon('016-eye')

				.support-widget
					p.support-widget--title Подписаться на обновления
					+calendar-button('', '010-paper-plane', 'Оформить подписку')
					p.support-widget--lock
						+icon('lock')
						| Мы не передаём ваши данные третьим лицам
include template/footer.pug