include template/header.pug
.main-wrapper
	.banner.event-banner
		.banner__img
			img(src="./img/event.jpg")
		.banner__content
			.banner__badges
				+light-badge('', 'Бесплатный видео-урок')
			h1.banner__title Что такое коуч-консультант?<br> Почему эта профессия будущего
			+button-colored('', 'Принять участие')
			.banner__info
				+info-marker('', '020-clock', 'Начало: 5 Сентября 2018')
				+info-marker('', '019-profile', 'Автор: Павел Раков')
				+info-marker('hovered', '008-like', '+1689...')
			.share-block
				span Поделиться:
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/002-vkontakte-logo.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/001-instagram.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/003-odnoklassniki.svg")
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Мероприятия
			span.breadcrumb.breadcrumb_current Что такое коуч-консультант? Почему эта профессия будущего
		.main-content
			.event-page
				p.title Как стать коуч-консультантом<br> в тренинговом центре Павла Ракова
				p.event-text Получайте новую востребованную профессию, расширяйте свои возможности, учитесь у профессионалов и легко зарабатывайте большие деньги!
				p.event-text Наш Тренинговый Центр сотрудничает с Российским государственным социальным университетом Москвы (РГСУ).
				p.event-text После обучения вы получите диплом государственного образца о профессиональной переподготовке и станете настоящим профессионалом в области отношений.
				p.event-text Вы получите доступ к секретной продвинутой информации, которая принесет в вашу жизнь здоровье, деньги, любовь и гармонию в отношениях!
				+icon-link('', '009-support', 'Задать вопрос')
				p.event-subtitle Спикеры мероприятия
				.event-speakers
					.speaker
						.speaker__img
							img(src="./img/speaker.png", alt="")
						.speaker__content
							p.speaker--name Павел Раков
							p.speaker--text Учредитель Международного Центра авторских встреч Павла Ракова, предприниматель, тренер.
					.speaker
						.speaker__img
							img(src="./img/speaker.png", alt="")
						.speaker__content
							p.speaker--name Павел Раков
							p.speaker--text Учредитель Международного Центра авторских встреч Павла Ракова, предприниматель, тренер.
				.event-info
					p.event-subtitle Информация о курсе:
					ul.event-info--list
						li.event-info--item
							| Формат обучения
							span.event-info--dashed
							span.event-info--item-value Онлайн
						li.event-info--item
							| Кол-во часов
							span.event-info--dashed
							span.event-info--item-value 2 ч.
					.event-info--take-part
						p.event-info--price Бесплатно
						+button-colored('', 'Принять участие')
			.interesting
				p.title.small Также будет интересно
				.interesting__arrows.js__interesting--arrows
				.interesting__slider.js__interesting--slider
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
			.wide-events
				p.title.small Ближайшие события
				.wide-events__arrows.js__wide-events--arrows
				.wide-events__slider.js__wide-events--slider
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Красота и здоровье
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Отношения
								p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Красота и здоровье
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Отношения
								p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Красота и здоровье
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Отношения
								p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Красота и здоровье
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Отношения
								p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
				+calendar-button('','020-clock', 'Календарь событий')


		aside.aside
			.timer-widget
				p.subtitle Начало через:
				img(src="./img/draft.png", alt="")
				+calendar-button('', 'megaphone', 'Напомнить мне')
			.profit-widget
				p.subtitle Выгодные предложения
				.profit-widget__arrows.js__profit-widget--arrows
				.profit-widget__slider.js__profit-widget--slider
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')

include template/footer.pug