- var no_banner = 'no_banner';
include template/header.pug
.main-wrapper.no-banner
	.feedback-page
		.container.has_aside
			.breadcrumbs
				a.breadcrumb(href='javascript:void(0)') Главная
				a.breadcrumb(href='javascript:void(0)') Отзывы
				a.breadcrumb(href='javascript:void(0)') Текстовые отзывы
				span.breadcrumb.breadcrumb_current Хватит звенеть своими железными яйцами, дуьте женщинами
			.main-content
				.feedback
					.feedback__info
						+light-badge('', 'Текстовый отзыв')
						+icon-marker('hovered', '008-like', '+1689...')
					.feedback__author
						.feedback__author--img
							img(src="./img/feedback.png", alt="")
						.feedback__author--content
							p.feedback__author--name Полина максимова
							p.feedback__author--subtitle Участник тренинга 
								+link('', ' «На самом деле я умная, но живу как дура»')
					.feedback__text
						h2 «Хватит звенеть своими железными яйцами, будьте женщинами»
						p довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет,
						p Товарищи! реализация намеченных плановых заданий требуют от нас анализа систем массового участия. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение направлений прогрессивного развития. Повседневная практика показывает, что новая модель организационной деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации направлений прогрессивного развития.
						p Повседневная практика показывает, что новая модель организационной деятельности требуют определения и уточнения модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа новых предложений. Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации форм развития.
						p Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
					.article-info
						+icon-marker('hovered', '008-like', '+1689...')
						.share-block
							span Поделиться:
							a.share-icon(href="javascript:void(0)")
								img(src="./img/icons/social/002-vkontakte-logo.svg")
							a.share-icon(href="javascript:void(0)")
								img(src="./img/icons/social/001-instagram.svg")
							a.share-icon(href="javascript:void(0)")
								img(src="./img/icons/social/003-odnoklassniki.svg")
				.interesting
					p.title.small Также будет интересно
					.interesting__arrows.js__interesting--arrows
					.interesting__slider.js__interesting--slider
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
			aside.aside
				a.large-card(href="javascript:void(0)")
					.large-card__img
						img(src="./img/first-card.png")
					.large-card__content
						+white-badge('', 'Мастер-класс')
						p.large-card__title На самом деле я умная, но живу как дура
						.large-card__info
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '020-clock', '25 сентября, 2018')
				.reviews-widget
					p.subtitle Отзывы
					.reviews-widget__arrows.js__reviews-widget--arrows
					.reviews-widget__slider.js__reviews-widget--slider
						.reviews-widget--slide
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						.reviews-widget--slide
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						.reviews-widget--slide
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
							a.quote-card(href="javascript:void(0)") 
								.quote-card__img
									img(src="./img/card10.png")
								.quote-card__content
									p.quote-card__content--name Ольга Иванова
									p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
include template/footer.pug