- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			span.breadcrumb.breadcrumb_current Отзывы
		.albums-block
			h1.title.big Отзывы наших студентов
				span.count-marker 1027
			p.albums--subtitle Рубрики:
			.albums--categories
				+button-small('button-small_active js__toggle', 'Текстовые отзывы', '98')
				+button-small('js__toggle', 'Видео отзывы', '44')
		.feedbacks--block
			.pagination
				span.pagination--arrow.pagination--arrow_left
					+icon('007-right-arrow')
				ul.pagination__nav
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 1
					li.pagination__nav--blank ...
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 8
					li.pagination__nav--item.pagination__nav--item_current 
						a.pagination__nav--link(href="javascript:void(0)") 9
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 10
					li.pagination__nav--blank ...
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 69
				span.pagination--arrow
					+icon('007-right-arrow')
			.feedbacks--list
				.review
					.review-head
						.review-head__img
							img(src='./img/review.png')
						.review-head__content
							p.review--name Оксана Мирошник
							p.review--date 11 декабрь, 2017
					.review-body
						p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
						p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
						+link('', 'Читать весь отзыв')
				.review
					.review-head
						.review-head__img
							img(src='./img/review.png')
						.review-head__content
							p.review--name Оксана Мирошник
							p.review--date 11 декабрь, 2017
					.review-body
						p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
						p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
						+link('', 'Читать весь отзыв')
				.review
					.review-head
						.review-head__img
							img(src='./img/review.png')
						.review-head__content
							p.review--name Оксана Мирошник
							p.review--date 11 декабрь, 2017
					.review-body
						p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
						p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
						+link('', 'Читать весь отзыв')
				.review
					.review-head
						.review-head__img
							img(src='./img/review.png')
						.review-head__content
							p.review--name Оксана Мирошник
							p.review--date 11 декабрь, 2017
					.review-body
						p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
						p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
						+link('', 'Читать весь отзыв')
				.review
					.review-head
						.review-head__img
							img(src='./img/review.png')
						.review-head__content
							p.review--name Оксана Мирошник
							p.review--date 11 декабрь, 2017
					.review-body
						p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
						p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
						+link('', 'Читать весь отзыв')
				.review
					.review-head
						.review-head__img
							img(src='./img/review.png')
						.review-head__content
							p.review--name Оксана Мирошник
							p.review--date 11 декабрь, 2017
					.review-body
						p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
						p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
						+link('', 'Читать весь отзыв')
				.review
					.review-head
						.review-head__img
							img(src='./img/review.png')
						.review-head__content
							p.review--name Оксана Мирошник
							p.review--date 11 декабрь, 2017
					.review-body
						p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
						p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
						+link('', 'Читать весь отзыв')
				.review
					.review-head
						.review-head__img
							img(src='./img/review.png')
						.review-head__content
							p.review--name Оксана Мирошник
							p.review--date 11 декабрь, 2017
					.review-body
						p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
						p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
						+link('', 'Читать весь отзыв')
			.pagination
				span.pagination--arrow.pagination--arrow_left
					+icon('007-right-arrow')
				ul.pagination__nav
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 1
					li.pagination__nav--blank ...
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 8
					li.pagination__nav--item.pagination__nav--item_current 
						a.pagination__nav--link(href="javascript:void(0)") 9
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 10
					li.pagination__nav--blank ...
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 69
				span.pagination--arrow
					+icon('007-right-arrow')
include template/footer.pug