- var is_home = true;
include template/header.pug
.main-wrapper
	.home-slider
		.home-slider__aside
			a.home-slider__aside-icon(href="javascript:void(0)")
				+icon('004-vk')
			a.home-slider__aside-icon(href="javascript:void(0)")
				+icon('012-instagram-logo')
			a.home-slider__aside-icon(href="javascript:void(0)")
				+icon('005-youtube')
		.home-slider__wrapper.js__home-slider
			.home-slider__slide
				.home-slider__slide--img-block
					img(src="./img/slide.png")
				.home-slider__slide--content
					p.home-slider__slide--title На самом деле я умная, но живу как дура!
					.home-slider__slide--info-block
						p.home-slider__slide--info
							+icon('020-clock')
							| Начало: 5 Сентября 2018
						p.home-slider__slide--info
							+icon('019-profile')
							| Тренер: Павел Раков
						p.home-slider__slide--info
							+icon('002-placeholder-filled-point')
							| г. Самара
					.home-slider__slide--buttons
						+button-colored('', 'Узнать подробности')
						a.home-slider__slide--schedule
							+icon("046-appointment")
							| Расписание <br> мероприятий
			.home-slider__slide
				.home-slider__slide--img-block
					img(src="./img/slide.png")
				.home-slider__slide--content
					p.home-slider__slide--title На самом деле я умная, но живу как дура!
					.home-slider__slide--info-block
						p.home-slider__slide--info
							+icon('020-clock')
							| Начало: 5 Сентября 2018
						p.home-slider__slide--info
							+icon('019-profile')
							| Тренер: Павел Раков
					.home-slider__slide--buttons
						+button-colored('', 'Узнать подробности')
						a.home-slider__slide--schedule
							+icon("046-appointment")
							| Расписание <br> мероприятий
			.home-slider__slide
				.home-slider__slide--img-block
					img(src="./img/slide.png")
				.home-slider__slide--content
					p.home-slider__slide--title На самом деле я умная, но живу как дура!
					.home-slider__slide--info-block
						p.home-slider__slide--info
							+icon('020-clock')
							| Начало: 5 Сентября 2018
						p.home-slider__slide--info
							+icon('019-profile')
							| Тренер: Павел Раков
					.home-slider__slide--buttons
						+button-colored('', 'Узнать подробности')
						a.home-slider__slide--schedule
							+icon("046-appointment")
							| Расписание <br> мероприятий
			.home-slider__slide
				.home-slider__slide--img-block
					img(src="./img/slide.png")
				.home-slider__slide--content
					p.home-slider__slide--title На самом деле я умная, но живу как дура!
					.home-slider__slide--info-block
						p.home-slider__slide--info
							+icon('020-clock')
							| Начало: 5 Сентября 2018
						p.home-slider__slide--info
							+icon('019-profile')
							| Тренер: Павел Раков
					.home-slider__slide--buttons
						+button-colored('', 'Узнать подробности')
						a.home-slider__slide--schedule
							+icon("046-appointment")
							| Расписание <br> мероприятий
	.nearby
		.container
			p.title Ближайшие события
			.nearby__container
				a.large-card(href="javascript:void(0)")
					.large-card__img
						img(src="./img/nearby1.png")
					.large-card__content
						+white-badge('', 'Мастер-класс')
						p.large-card__title На самом деле я умная, но живу как дура
						.large-card__info
							+info-marker('', '020-clock', '25 сентября, 2018')
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.large-card(href="javascript:void(0)")
					.large-card__img
						img(src="./img/nearby2.png")
					.large-card__content
						+white-badge('', 'Мастер-класс')
						p.large-card__title Школа управления Павла Ракова
						.large-card__info
							+info-marker('', '020-clock', '25 сентября, 2018')
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				a.large-card(href="javascript:void(0)")
					.large-card__img
						img(src="./img/nearby3.png")
					.large-card__content
						+white-badge('', 'Мастер-класс')
						p.large-card__title Интиманя инструкция по взаимодействию с мужчинами
						.large-card__info
							+info-marker('', '020-clock', '25 сентября, 2018')
							+info-marker('', '019-profile', 'Тренер: Павел Раков')
				.nearby__calendar
					.nearby__calendar--content
						p.nearby__calendar--title Календарь событий
						ul.nearby__calendar--list
							li.nearby__calendar--item
								.nearby__calendar--clock
									+icon('020-clock')
								.nearby__calendar--info
									p.nearby__calendar--time 25 сентября, 2018
									a.nearby__calendar--title(href="javascript:void(0)") Сила женского притяжения
									p.nearby__calendar--type Тренинг
							li.nearby__calendar--item
								.nearby__calendar--clock
									+icon('020-clock')
								.nearby__calendar--info
									p.nearby__calendar--time 25 сентября, 2018
									a.nearby__calendar--title(href="javascript:void(0)") Сила женского притяжения
									p.nearby__calendar--type Тренинг
							li.nearby__calendar--item
								.nearby__calendar--clock
									+icon('020-clock')
								.nearby__calendar--info
									p.nearby__calendar--time 25 сентября, 2018
									a.nearby__calendar--title(href="javascript:void(0)") Сила женского притяжения
									p.nearby__calendar--type Тренинг
							li.nearby__calendar--item
								.nearby__calendar--clock.nearby__calendar_passed
									+icon('020-clock')
								.nearby__calendar--info
									p.nearby__calendar--time 25 сентября, 2018
									a.nearby__calendar--title(href="javascript:void(0)") Сила женского притяжения
									p.nearby__calendar--type Тренинг
							li.nearby__calendar--item
								.nearby__calendar--clock.nearby__calendar_passed
									+icon('020-clock')
								.nearby__calendar--info
									p.nearby__calendar--time 25 сентября, 2018
									a.nearby__calendar--title(href="javascript:void(0)") Сила женского притяжения
									p.nearby__calendar--type Тренинг
							li.nearby__calendar--item
								.nearby__calendar--clock.nearby__calendar_passed
									+icon('020-clock')
								.nearby__calendar--info
									p.nearby__calendar--time 25 сентября, 2018
									a.nearby__calendar--title(href="javascript:void(0)") Сила женского притяжения
									p.nearby__calendar--type Тренинг
					.nearby__calendar--button
						+calendar-button('', '020-clock', 'Смотреть все события')
	.news-block
		.container
			p.title Новости центра Павла Ракова
			.news-block__wrapper
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'СМИ о нас')
					.info-card__content
						p.info-card--name Павел Раков в качестве праглашёного гостя на СТС
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Администратор')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'СМИ о нас')
					.info-card__content
						p.info-card--name Павел Раков в качестве праглашёного гостя на СТС
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Администратор')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card1.png")
						.info-card__badges
							+grey-badge('', 'СМИ о нас')
					.info-card__content
						p.info-card--name Павел Раков в качестве праглашёного гостя на СТС
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Администратор')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
	.education-block
		.container
			p.title Образование
			.education-block__wrapper
				.education-block--banner
					a.wide-card(href="javascript:void(0)")
						.wide-card__img
							img(src='./img/card2.png')
						.wide-card__content
							+grey-badge('', 'Красота и здоровье')
							p.wide-card__title Стройнеем легко. Супер статья от Павла Ракова
							.wide-card__marker
								+info-marker('', '019-profile', 'Автор: Павел Раков')
								+info-marker('', '016-eye', '4587')
								+info-marker('', '051-comment-single', '17')
							span.slider-arrow
								+icon('007-right-arrow')
				.education-block--small-banner
					a.banner-card(href="javascript:void(0)")
						.banner-card__img
							img(src='./img/banner.png')
						.banner-card__content
							+grey-badge('', 'Практичвеская психология')
							p.banner-card__title Какой должна быть идеальная женщина
							.banner-card__marker
								+info-marker('', '019-profile', 'Автор: Павел Раков')
								+info-marker('', '016-eye', '4587')
								+info-marker('', '051-comment-single', '17')
				a.education-block--link(href="javascript:void(0)")
					img(src="./img/icons/023-checklist.svg", alt="")
					| Статьи
					span.education-block--link-arrow
						+icon('007-right-arrow')
				a.education-block--link(href="javascript:void(0)")
					img(src="./img/icons/024-laptop.svg", alt="")
					| Видео
					span.education-block--link-arrow
						+icon('007-right-arrow')
				a.education-block--link(href="javascript:void(0)")
					img(src="./img/icons/025-contract.svg", alt="")
					| Тесты
					span.education-block--link-arrow
						+icon('007-right-arrow')
				.education-block--video-block
					p.subtitle Обучающее видео
					.education-block--video-arrows.js__education--arrows
					.education-block--video-slider.js__education--video-slider
						a.video-card(href="javascript:void(0)")
							.video-card__img 
								img(src="./img/card6.png")
							.video-card__content
								+icon-badge('', '020-clock', '12:34')
								p.video-card__title Какой должна быть идеальная женщина
								.video-card__play 
									+icon('048-dropdown')
						a.video-card(href="javascript:void(0)")
							.video-card__img 
								img(src="./img/card6.png")
							.video-card__content
								+icon-badge('', '020-clock', '12:34')
								p.video-card__title Какой должна быть идеальная женщина
								.video-card__play 
									+icon('048-dropdown')
						a.video-card(href="javascript:void(0)")
							.video-card__img 
								img(src="./img/card6.png")
							.video-card__content
								+icon-badge('', '020-clock', '12:34')
								p.video-card__title Какой должна быть идеальная женщина
								.video-card__play 
									+icon('048-dropdown')
						a.video-card(href="javascript:void(0)")
							.video-card__img 
								img(src="./img/card6.png")
							.video-card__content
								+icon-badge('', '020-clock', '12:34')
								p.video-card__title Какой должна быть идеальная женщина
								.video-card__play 
									+icon('048-dropdown')
						a.video-card(href="javascript:void(0)")
							.video-card__img 
								img(src="./img/card6.png")
							.video-card__content
								+icon-badge('', '020-clock', '12:34')
								p.video-card__title Какой должна быть идеальная женщина
								.video-card__play 
									+icon('048-dropdown')
				.popular-tests
					p.subtitle Популярные тесты
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					.popular-tests--button
						+calendar-button('', '022-pencil', 'Смотреть все тесты')
				.popular-articles
					p.subtitle Популярные статьи
					a.article-card(href="javascript:void(0)")
						.article-card__img
							img(src="./img/card9.png")
						.article-card__content
							p.article-card__content--type Красота и здоровье
							p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					a.article-card(href="javascript:void(0)")
						.article-card__img
							img(src="./img/card9.png")
						.article-card__content
							p.article-card__content--type Отношения
							p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
	.reviews-block
		.container
			p.title Отзывы студентов Павла Ракова
			.reviews-block__wrapper
				.reviews-block__arrows.js__reviews--arrows
				.reviews-block__slider.js__reviews--slider
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
					.review
						.review-head
							.review-head__img
								img(src='./img/review.png')
							.review-head__content
								p.review--name Оксана Мирошник
								p.review--date 11 декабрь, 2017
						.review-body
							p.review--title «Хватит звенеть своими железными яйцами, будто бы рыба звенеть
							p.review--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что боль...
							+link('', 'Читать весь отзыв')
	.clubs-block
		.container
			p.title Женские клубы
			a.icon-link(href="javascript:void(0)")
				img(src="./img/icons/039-networking.svg", alt="")
				span.icon-link--text Смотреть все клубы
			.clubs-block__wrapper
				.clubs-block--banner
					a.banner-card(href="javascript:void(0)")
						.banner-card__img
							img(src='./img/club10.png')
						.banner-card__content
							+grey-badge('', 'Женский клуб')
							p.banner-card__title Женский клуб «Счастлива Я»
							.banner-card__marker
								+info-marker('', '019-profile', 'Руководитель: Инна Gas')
				.clubs-block--club
					a.club(href="javascript:void(0)")
						.club__img
							img(src="./img/club-example.png")
						.club__content
							p.club--manager Руководитель: Анна Серебренникова
							p.club--name Произвольное название клуба
							+location-marker('', 'Москва')
						.club__arrow
							+icon('007-right-arrow')
				.clubs-block--club
					a.club(href="javascript:void(0)")
						.club__img
							img(src="./img/club-example.png")
						.club__content
							p.club--manager Руководитель: Анна Серебренникова
							p.club--name Произвольное название клуба
							+location-marker('', 'Москва')
						.club__arrow
							+icon('007-right-arrow')
				.clubs-block--club
					a.club(href="javascript:void(0)")
						.club__img
							img(src="./img/club-example.png")
						.club__content
							p.club--manager Руководитель: Анна Серебренникова
							p.club--name Произвольное название клуба
							+location-marker('', 'Москва')
						.club__arrow
							+icon('007-right-arrow')
	.subscription
		.container
			.subscription__form
				p.subscription__form--title Подпишитесь<br> на персональную рассылку
				p.subscription__form--lock
					+icon('lock')
					| Мы не передаём ваши данные третьим лицам
				form(action="")
					label.input(for="subscriptionName") Ваше имя
						input#subscriptionName(type="text", placeholder="Введите ваше имя", name="name", required)
					label.input(for="subscriptionEmail") Ваш e-mail
						input#subscriptionEmail(type="email", placeholder="Ваш адрес эл. почты", name="email", required)
					+send-button('', '010-paper-plane', 'Подписаться')
					label.checkbox(for="subscriptionAgreement")
						.checkbox--block
							input#subscriptionAgreement(type="checkbox", name="agreement")
							span.checkbox--mark
								+icon("049-mark")
						| Я согласен с условиями обработки моих данных


include template/footer.pug
