include template/header.pug
div(style="height:1000px")
	+button-small('js__notify-open','Уведомление')
	+button-small('js__next-open','Узнать')
	+button-small('js__about-me-open','О сотруднике')
	+button-small('js__sended-open','Сообщение отправлено')
	+button-small('js__anketa-open','Анкета')
include template/footer.pug