- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Тренинговый центр
			span.breadcrumb.breadcrumb_current Новости
		.main-content
			.albums-block
				h1.title.big Все новости
					span.count-marker 32
				p.albums--subtitle Рубрики:
				.albums--categories
					+button-small('button-small_active js__toggle', 'Все новости')
					+button-small('js__toggle', 'СМИ о нас')
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
					.view-buttons
						+view-button('', '')
						+view-button('view-button_active','view-button_active')
			.news-section--list
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card2.png")
						.info-card__badges
							+grey-badge('', 'Новость')
					.info-card__content
						p.info-card--name Открытие филиала в городе Санкт-Петербург
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card2.png")
						.info-card__badges
							+grey-badge('', 'Новость')
					.info-card__content
						p.info-card--name Открытие филиала в городе Санкт-Петербург
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card2.png")
						.info-card__badges
							+grey-badge('', 'Новость')
					.info-card__content
						p.info-card--name Открытие филиала в городе Санкт-Петербург
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card2.png")
						.info-card__badges
							+grey-badge('', 'Новость')
					.info-card__content
						p.info-card--name Открытие филиала в городе Санкт-Петербург
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card2.png")
						.info-card__badges
							+grey-badge('', 'Новость')
					.info-card__content
						p.info-card--name Открытие филиала в городе Санкт-Петербург
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card2.png")
						.info-card__badges
							+grey-badge('', 'Новость')
					.info-card__content
						p.info-card--name Открытие филиала в городе Санкт-Петербург
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card2.png")
						.info-card__badges
							+grey-badge('', 'Новость')
					.info-card__content
						p.info-card--name Открытие филиала в городе Санкт-Петербург
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
				a.info-card(href="javascript:void(0)")
					.info-card__img
						img(src="./img/info-card2.png")
						.info-card__badges
							+grey-badge('', 'Новость')
					.info-card__content
						p.info-card--name Открытие филиала в городе Санкт-Петербург
						.info-card__marker
							+info-marker('', '019-profile', 'Автор: Павел Раков')
							+info-marker('', '016-eye', '4587')
							+info-marker('', '051-comment-single', '17')
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
						
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
					.view-buttons
						+view-button('', '')
						+view-button('view-button_active','view-button_active')
				p.albums--subtitle Рубрики:
				.albums--categories
					+button-small('button-small_active js__toggle', 'Все новости')
					+button-small('js__toggle', 'СМИ о нас')
		aside.aside
			.close-widget
				p.subtitle Ближайшие события
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					+calendar-button('', '020-clock', 'Календарь событий')
			.video-widget
				p.subtitle Популярные видео
				.video-widget__arrows.js__video-widget--arrows
				.video-widget__slider.js__video-widget--slider
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
			.profit-widget
				p.subtitle Выгодные предложения
				.profit-widget__arrows.js__profit-widget--arrows
				.profit-widget__slider.js__profit-widget--slider
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
			.tags-widget
				p.subtitle Теги: 
				.tags-block
					+tag('','Женщина')
					+tag('','Идеально')
					+tag('','Мужчина')
					+tag('','Муж')
					+tag('','Любовь')
					+tag('','Отношения')
					+tag('','Жена')
					+tag('','Счастье')
					+tag('','Понимание')
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
include template/footer.pug