- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Тренинговый центр
			a.breadcrumb(href='javascript:void(0)') Новости
			span.breadcrumb.breadcrumb_current Новость-отчёт о проведённом летнем фистивале 2018
		.main-content
			.news-head
				.news-head__img
					img(src="./img/card3.png")
				.news-head__content
					+grey-badge('', 'Новости')
					a.news-head__title(href="javascript:void(0)") Новость-отчёт о проведённом летнем фестивале 2018
					.news-head__marker
						+info-marker('', '016-eye', '21567')
						+info-marker('', '050-comment', '5')
						+info-marker('hovered', '008-like', '+1689...')
					.news-head__share
						span Поделиться:
						a.news-head__icon(href="javascript:void(0)")
							img(src="./img/icons/social/002-vkontakte-logo.svg")
						a.news-head__icon(href="javascript:void(0)")
							img(src="./img/icons/social/001-instagram.svg")
						a.news-head__icon(href="javascript:void(0)")
							img(src="./img/icons/social/003-odnoklassniki.svg")
			.news-block
				.news-content
					p.news--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
					p.news--subtitle Галерея
					.tabs
						+tab('tab_active', 'Фото')
						+tab('', 'Видео')
					.album__images
						a.album__image(href="./img/image1.png", data-fancybox="gallery")
							img(src="./img/image1.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image2.png", data-fancybox="gallery")
							img(src="./img/image2.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image3.png", data-fancybox="gallery")
							img(src="./img/image3.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image4.png", data-fancybox="gallery")
							img(src="./img/image4.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image1.png", data-fancybox="gallery")
							img(src="./img/image1.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image2.png", data-fancybox="gallery")
							img(src="./img/image2.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image3.png", data-fancybox="gallery")
							img(src="./img/image3.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image4.png", data-fancybox="gallery")
							img(src="./img/image4.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image1.png", data-fancybox="gallery")
							img(src="./img/image1.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image2.png", data-fancybox="gallery")
							img(src="./img/image2.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image3.png", data-fancybox="gallery")
							img(src="./img/image3.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image4.png", data-fancybox="gallery")
							img(src="./img/image4.png")
							span.album__image--icon
								+icon('016-eye')
					p.news--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
				.news-info
					+info-marker('', '019-profile', 'Автор: Павел Раков')
					.share-block
						span Поделиться:
						a.share-icon(href="javascript:void(0)")
							img(src="./img/icons/social/002-vkontakte-logo.svg")
						a.share-icon(href="javascript:void(0)")
							img(src="./img/icons/social/001-instagram.svg")
						a.share-icon(href="javascript:void(0)")
							img(src="./img/icons/social/003-odnoklassniki.svg")
				.news-comments
					p.title.small Комментарии:
					.comments__wrapper
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						a.more-link(href="javascript:void(0)")
							span.more-link--text Ещё комментарии
							+icon('045-refresh')
			.wide-events
				p.title.small Ближайшие события
				.wide-events__arrows.js__wide-events--arrows
				.wide-events__slider.js__wide-events--slider
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Красота и здоровье
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Отношения
								p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Красота и здоровье
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Отношения
								p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Красота и здоровье
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Отношения
								p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Красота и здоровье
								p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
					.wide-event__slider-slide
						a.article-card(href="javascript:void(0)")
							.article-card__img
								img(src="./img/card9.png")
							.article-card__content
								p.article-card__content--type Отношения
								p.article-card__content--title Как правильно выбрать достойную женщину для продолжительных...
				+calendar-button('','020-clock', 'Календарь событий')
			.other-sections
				p.title.small Смотрите другие разделы
				.other-sections--block
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/card4.png")
						.section-card__content
							+icon-badge('', '', '176 шт.')
							p.section-card__title Мастер-классы
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/section2.png")
						.section-card__content
							+icon-badge('', '', '1098 шт.')
							p.section-card__title Онлайн курсы
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/section3.png")
						.section-card__content
							+icon-badge('', '', '23 шт.')
							p.section-card__title Аудиозаписи
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/section4.png")
						.section-card__content
							+icon-badge('', '', '324 шт.')
							p.section-card__title Бесплатно
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/section5.png")
						.section-card__content
							+icon-badge('', '', '1098 шт.')
							p.section-card__title Электронные книги
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/section6.png")
						.section-card__content
							+icon-badge('', '', '324 шт.')
							p.section-card__title Выгодные предложения
							span.slider-arrow
								+icon('007-right-arrow')
		aside.aside
			.slider-info-widget 
				p.subtitle Популярные новости
				.slider-info-widget__arrows.js__slider-info-widget--arrows
				.slider-info-widget__slider.js__slider-info-widget--slider
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Новости
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Новости
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Новости
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Новости
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Новости
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/soon.png")
						.info-card__content
							p.info-card--name Сила женского притяжения
								span.info-card--type Новости
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.close-widget
				p.subtitle Полезный материал
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					+calendar-button('', '016-eye', 'Смотреть все статьи')
			.tags-widget
				p.subtitle Теги: 
				.tags-block
					+tag('','Женщина')
					+tag('','Идеально')
					+tag('','Мужчина')
					+tag('','Муж')
					+tag('','Любовь')
					+tag('','Отношения')
					+tag('','Жена')
					+tag('','Счастье')
					+tag('','Понимание')
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
			.profit-widget
				p.subtitle Выгодные предложения
				.profit-widget__arrows.js__profit-widget--arrows
				.profit-widget__slider.js__profit-widget--slider
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
			.subscribe-widget
				p.subtitle Подписаться на обновления
				+calendar-button('', '010-paper-plane', 'Оформить подписку')
				p.support-widget--lock
					+icon('lock')
					| Мы не передаём ваши данные третьим лицам
include template/footer.pug