- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			span.breadcrumb.breadcrumb_current Сотрудничество
		.clubs-page__head
			.clubs-page__head--img
				img(src="./img/icons/040-teamwork.svg")
				+button('', "Открыть филиал")
			.clubs-page__head--content
				h1.title.big Для партнёров
				p.clubs-page__head--subtitle О проекте:
				p.clubs-page__head--text Не следует, однако забывать, что реализация намеченных плановых заданий требуют определения и уточнения направлений прогрессивного развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке систем массового участия. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что консультация с широким активом 
		.partners__posibilities
			p.title Какие возможности мы даём
			.partners__posibilities--list
				.partners__posibility
					.partner__posibility--head
						span 1
						p.partner__posibility--title Доступ к большой аудитории тренингово центра
					p.partner__posibility--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
				.partners__posibility
					.partner__posibility--head
						span 2
						p.partner__posibility--title Бесплатное обучение в  нашем тренинговом центре
					p.partner__posibility--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
				.partners__posibility
					.partner__posibility--head
						span 3
						p.partner__posibility--title Продвижение своих инфо-продуктов и услуг
					p.partner__posibility--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
				.partners__posibility
					.partner__posibility--head
						span 4
						p.partner__posibility--title Здесь название ещё какого-то преимущества
					p.partner__posibility--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
		.partners__consultants
			.staff-members
				p.title Ведущие консультанты
				.staff__arrows.js__staff--arrows
				.staff__slider--wrapper
					.staff__slider.js__staff--slider
						
						a.partner-card(href="javascript:void(0)")
							.partner-card__img 
								img(src="./img/card5.png")
							.partner-card__content
								+icon-badge('', '', 'Консультант')
								p.partner-card__title Имя <br> Фамилия
								span.slider-arrow
									+icon('007-right-arrow')
						
						a.partner-card(href="javascript:void(0)")
							.partner-card__img 
								img(src="./img/card5.png")
							.partner-card__content
								+icon-badge('', '', 'Консультант')
								p.partner-card__title Имя <br> Фамилия
								span.slider-arrow
									+icon('007-right-arrow')
						
						a.partner-card(href="javascript:void(0)")
							.partner-card__img 
								img(src="./img/card5.png")
							.partner-card__content
								+icon-badge('', '', 'Консультант')
								p.partner-card__title Имя <br> Фамилия
								span.slider-arrow
									+icon('007-right-arrow')
						
						a.partner-card(href="javascript:void(0)")
							.partner-card__img 
								img(src="./img/card5.png")
							.partner-card__content
								+icon-badge('', '', 'Консультант')
								p.partner-card__title Имя <br> Фамилия
								span.slider-arrow
									+icon('007-right-arrow')
						
						a.partner-card(href="javascript:void(0)")
							.partner-card__img 
								img(src="./img/card5.png")
							.partner-card__content
								+icon-badge('', '', 'Консультант')
								p.partner-card__title Имя <br> Фамилия
								span.slider-arrow
									+icon('007-right-arrow')
						
						a.partner-card(href="javascript:void(0)")
							.partner-card__img 
								img(src="./img/card5.png")
							.partner-card__content
								+icon-badge('', '', 'Консультант')
								p.partner-card__title Имя <br> Фамилия
								span.slider-arrow
									+icon('007-right-arrow')
						
						a.partner-card(href="javascript:void(0)")
							.partner-card__img 
								img(src="./img/card5.png")
							.partner-card__content
								+icon-badge('', '', 'Консультант')
								p.partner-card__title Имя <br> Фамилия
								span.slider-arrow
									+icon('007-right-arrow')
		.partners__question
			.partners__question--info
				.partners__question--img
					img(src="./img/icons/009-support.svg")
				.partners__question--content
					p.partners__question--title Есть вопросы по сотрудничеству?
					p.partners__question--text Оставьте свой контактактный номер телефон, наш сотрудник проконсультирует Вас по любым вопросам
			form.partners__question--form
				label.input(for="input_draft") Ваш контактный телефон
					input#input_draft(type="text", placeholder="+7 ( XXX ) XXX - XX - XX", name="input_draft")
				+send-button('', '003-phone-receiver', 'перезвоните мне')
				.about-checkbox
					label.checkbox(for="subscriptionAgreement")
						.checkbox--block
							input#subscriptionAgreement(type="checkbox", name="agreement")
							span.checkbox--mark
								+icon("049-mark")
						| Я согласен с условиями обработки моих данных
include template/footer.pug