include template/header.pug
.main-wrapper
	.banner.product-banner
		.banner__img
			img(src="./img/product.png")
		.banner__content
			.banner__badges
				+light-badge('', 'Онлайн-курс')
				+white-badge('thin', 'Акция')
			h1.banner__title Цена женского успеха
			+button-colored('', 'Начать обучение')
			.banner__info
				+info-marker('', '020-clock', 'Начало: 5 Сентября 2018')
				+info-marker('', '019-profile', 'Автор: Павел Раков')
				+info-marker('hovered', '008-like', '+1689...')
			.share-block
				span Поделиться:
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/002-vkontakte-logo.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/001-instagram.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/003-odnoklassniki.svg")
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Каталог
			a.breadcrumb(href='javascript:void(0)') Онлайн-курсы
			span.breadcrumb.breadcrumb_current Цена женского успеха
		.main-content
			.product-single
				h2.title Почему умные, успешные и красивые женщины одиноки?
				p.product-single--text Приходилось ли вам когда-нибудь жалеть мужчину, выслушивать его жалобы на жизнь и обстоятельства? Принимали ли вы мужчину со всеми его неудачами, проблемами, трудностями? А, может, вы давали деньги в долг или согласились содержать его, пока он не найдет новую работу? Это как раз та самая ужасная ошибка девушек, которая даже неплохих парней превращает в бездельников и альфонсов.
				+icon-link('', '009-support', 'Задать вопрос')
				p.product-single--subtitle Как выглядит обучение:
				.tabs
					+tab('tab_active', 'Фото')
					+tab('', 'Видео')
					+tab('', 'Текст')
					+tab('', 'Аудио')
				.album__images
					a.album__image(href="./img/image1.png", data-fancybox="gallery")
						img(src="./img/image1.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image2.png", data-fancybox="gallery")
						img(src="./img/image2.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image3.png", data-fancybox="gallery")
						img(src="./img/image3.png")
						span.album__image--icon
							+icon('016-eye')
					a.album__image(href="./img/image4.png", data-fancybox="gallery")
						img(src="./img/image4.png")
						span.album__image--icon
							+icon('016-eye')
				.event-info
					p.event-subtitle Информация о курсе:
					ul.event-info--list
						li.event-info--item
							| Формат обучения
							span.event-info--dashed
							span.event-info--item-value Онлайн
						li.event-info--item
							| Кол-во часов
							span.event-info--dashed
							span.event-info--item-value 2 ч.
					.event-info--take-part
						p.event-info--price 
							span.crossed 5 000
								span руб.
							span.new-price 2 400 
								span руб.
						+button-colored('', 'Начать обучение')
				.news-comments
					p.title.small Отзывы о курсе:
					.comments__wrapper
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						a.more-link(href="javascript:void(0)")
							span.more-link--text Ещё комментарии
							+icon('045-refresh')
			.interesting
				p.title.small Также будет интересно
				.interesting__arrows.js__interesting--arrows
				.interesting__slider.js__interesting--slider
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
			.other-sections
				p.title.small Смотрите другие разделы
				.other-sections--block
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/card4.png")
						.section-card__content
							+icon-badge('', '', '176 шт.')
							p.section-card__title Мастер-классы
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/card4.png")
						.section-card__content
							+icon-badge('', '', '176 шт.')
							p.section-card__title Мастер-классы
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/card4.png")
						.section-card__content
							+icon-badge('', '', '176 шт.')
							p.section-card__title Мастер-классы
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/card4.png")
						.section-card__content
							+icon-badge('', '', '176 шт.')
							p.section-card__title Мастер-классы
							span.slider-arrow
								+icon('007-right-arrow')
		aside.aside
			.close-widget
				p.subtitle Ближайшие мероприятия
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					a.calendar-button(href="javascript:void(0)")
						span
							+icon('020-clock')
						| Календарь мероприятий
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.reviews-widget
				p.subtitle Отзывы
				.reviews-widget__arrows.js__reviews-widget--arrows
				.reviews-widget__slider.js__reviews-widget--slider
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ

			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.subscribe-widget
				p.subtitle Подписаться на рассылку
				p.simple-form__prev Укажите адрес эл. почты
				form.simple-form
					label.input(for="form_input")
						input#form_input(type="email", placeholder="example@example.ru", name="form_input")
					.simple-submit
						input(type="submit")
						+icon('010-paper-plane')
				p.support-widget--lock
					+icon('lock')
					| Мы не передаём ваши данные третьим лицам
include template/footer.pug