include template/header.pug
.main-wrapper
	.banner.product-banner
		.banner__img
			img(src="./img/product.png")
		.banner__content
			.banner__badges
				+light-badge('', 'Онлайн-курс')
				+white-badge('thin', 'Акция')
			h1.banner__title Цена женского успеха
			+button-colored('', 'Начать обучение')
			.banner__info
				+info-marker('', '020-clock', 'Начало: 5 Сентября 2018')
				+info-marker('', '019-profile', 'Автор: Павел Раков')
				+info-marker('hovered', '008-like', '+1689...')
			.share-block
				span Поделиться:
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/002-vkontakte-logo.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/001-instagram.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/003-odnoklassniki.svg")
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Каталог
			a.breadcrumb(href='javascript:void(0)') Онлайн-каталог
			span.breadcrumb.breadcrumb_current Цена женского успеха
		.product-wrapper
			h2.title Почему умные, успешные и красивые женщины одиноки?
			.product-content
				.product-content--info
					img(src="./img/product-image.png")
					p.product-content--description Тренер: Павел Раков
					+icon-link('', '009-support', 'Задать вопрос')
				.product-content--main
					p.product-content--text Приходилось ли вам когда-нибудь жалеть мужчину, выслушивать его жалобы на жизнь и обстоятельства? Принимали ли вы мужчину со всеми его неудачами, проблемами, трудностями? А, может, вы давали деньги в долг или согласились содержать его, пока он не найдет новую работу? Это как раз та самая ужасная ошибка девушек, которая даже неплохих парней превращает в бездельников и альфонсов.
					.event-info
						p.event-subtitle Информация о курсе:
						ul.event-info--list
							li.event-info--item
								| Формат обучения
								span.event-info--dashed
								span.event-info--item-value Онлайн
							li.event-info--item
								| Кол-во часов
								span.event-info--dashed
								span.event-info--item-value 2 ч.
						.event-info--take-part
							p.event-info--price 
								span.crossed 5 000
									span руб.
								span.new-price 2 400 
									span руб.
							+button-colored('', 'Начать обучение')
			p.product-single--subtitle Как выглядит обучение:
			.tabs
				+tab('tab_active', 'Фото')
				+tab('', 'Видео')
				+tab('', 'Текст')
				+tab('', 'Аудио')
			.album__images.wide
				a.album__image(href="./img/image1.png", data-fancybox="gallery")
					img(src="./img/image1.png")
					span.album__image--icon
						+icon('016-eye')
				a.album__image(href="./img/image2.png", data-fancybox="gallery")
					img(src="./img/image2.png")
					span.album__image--icon
						+icon('016-eye')
				a.album__image(href="./img/image3.png", data-fancybox="gallery")
					img(src="./img/image3.png")
					span.album__image--icon
						+icon('016-eye')
				a.album__image(href="./img/image4.png", data-fancybox="gallery")
					img(src="./img/image4.png")
					span.album__image--icon
						+icon('016-eye')
				a.album__image(href="./img/image3.png", data-fancybox="gallery")
					img(src="./img/image3.png")
					span.album__image--icon
						+icon('016-eye')
				a.album__image(href="./img/image4.png", data-fancybox="gallery")
					img(src="./img/image4.png")
					span.album__image--icon
						+icon('016-eye')
			p.title.small Отзывы о курсе:
			.reviews-wide
				.reviews-wide__arrows.js__reviews-wide--arrows
				.reviews-wide__slider.js__reviews-wide--slider
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							h3.comment--subtitle «Хватит звенеть своими железными яйцами, будьте женщинами»
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,
							+dropdown-button('', 'Показать весь')
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							h3.comment--subtitle «Хватит звенеть своими железными яйцами, будьте женщинами»
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,
							+dropdown-button('', 'Показать весь')
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							h3.comment--subtitle «Хватит звенеть своими железными яйцами, будьте женщинами»
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,
							+dropdown-button('', 'Показать весь')
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							h3.comment--subtitle «Хватит звенеть своими железными яйцами, будьте женщинами»
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,
							+dropdown-button('', 'Показать весь')
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							h3.comment--subtitle «Хватит звенеть своими железными яйцами, будьте женщинами»
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,
							+dropdown-button('', 'Показать весь')
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							h3.comment--subtitle «Хватит звенеть своими железными яйцами, будьте женщинами»
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,
							+dropdown-button('', 'Показать весь')
					.comment
						.comment-head
							.comment-head__img
								img(src='./img/review.png')
							.comment-head__content
								p.comment--name Оксана Мирошник
								p.comment--date 11 декабрь, 2017
						.comment-body
							h3.comment--subtitle «Хватит звенеть своими железными яйцами, будьте женщинами»
							p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет, средней внешности и…лишним весом. Весь тренинг состоял из небольшой теоретической части и практических упражнений, где Павел затрагивал определенную тему и вызывал женщин из VIP-сектора (первые 2 ряда, за дополнительную оплату) и проигрывал различные житейские вопросы. После того как участница по-своему реагировала на ситуацию, Павел рассказывал, как нужно делать правильно, так сказать «по-Раковски» Smile А ситуации были наподобие: как отучить мужа от телевизора/компьютера, что делать,
							+dropdown-button('', 'Показать весь')
	.container.has_aside.product2
		.main-content
			.interesting
				p.title.small Также будет интересно
				.interesting__arrows.js__interesting--arrows
				.interesting__slider.js__interesting--slider
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
			.other-sections
				p.title.small Смотрите другие разделы
				.other-sections--block
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/card4.png")
						.section-card__content
							+icon-badge('', '', '176 шт.')
							p.section-card__title Мастер-классы
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/section5.png")
						.section-card__content
							+icon-badge('', '', '1098 шт.')
							p.section-card__title Электронные книги
							span.slider-arrow
								+icon('007-right-arrow')
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/section3.png")
						.section-card__content
							+icon-badge('', '', '23 шт.')
							p.section-card__title Аудиозаписи
							span.slider-arrow
								+icon('007-right-arrow')
					a.section-card(href="javascript:void(0)")
						.section-card__img 
							img(src="./img/section4.png")
						.section-card__content
							+icon-badge('', '', '324 шт.')
							p.section-card__title Бесплатно
							span.slider-arrow
			a.wide-card(href="javascript:void(0)")
				.wide-card__img
					img(src='./img/card2.png')
				.wide-card__content
					+grey-badge('', 'Отношения')
					p.wide-card__title Мои прекрасные дуры (Интервью с Павлом Раковым)
					.wide-card__marker
						+info-marker('', '019-profile', 'Автор: Павел Раков')
					span.slider-arrow
						+icon('007-right-arrow')
		aside.aside
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.close-widget
				p.subtitle Ближайшие мероприятия
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					a.calendar-button(href="javascript:void(0)")
						span
							+icon('020-clock')
						| Календарь мероприятий
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
include template/footer.pug