- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			span.breadcrumb.breadcrumb_current Проекты
		.projects-page
			h1.title.big Наши проекты
			.projects-page--list
				+project-card('', 'shopping-online', 'TOTAL LIFE', 'Компания продуктов здорового питания и омоложения')
				+project-card('', '031-farm', 'Альпийские Луга', 'Эко-посёлок')
				+project-card('', '028-coach', 'Коуч-консультант', 'Дополнительное профессиональное обучение при РГСУ')
				+project-card('', '039-networking', 'Женские клубы', '', '67')
				+project-card('', '030-money', 'Женский бизнес онлайн')
				+project-card('', '029-ecommerce', 'Мобильные приложения')
include template/footer.pug