- var no_banner = 'no_banner';
include template/header.pug
.main-wrapper.no-banner
	.project-page
		.container.has_aside
			.breadcrumbs
				a.breadcrumb(href='javascript:void(0)') Главная
				a.breadcrumb(href='javascript:void(0)') Проекты
				span.breadcrumb.breadcrumb_current Произвольное название проекта
			.main-content
				.project
					.project__badges
						+light-badge('', 'Проект')
					h1.title Произвольное название проекта
					.project__info
						+info-marker('', '002-placeholder-filled-point', 'МОСКВА')
						+info-marker('', '016-eye', '21567')
						+info-marker('', '050-comment', '5')
					p.project--subtitle О проекте:
					p.project--text Приходилось ли вам когда-нибудь жалеть мужчину, выслушивать его жалобы на жизнь и обстоятельства? Принимали ли вы мужчину со всеми его неудачами, проблемами, трудностями? А, может, вы давали деньги в долг или согласились содержать его, пока он не найдет новую работу? Это как раз та самая ужасная ошибка девушек, которая даже неплохих парней превращает в бездельников и альфонсов.
					p.project--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
					p.project--subtitle Из жизни проекта
					.tabs
						+tab('tab_active', 'Фото')
						+tab('', 'Видео')
					.album__images
						a.album__image(href="./img/image1.png", data-fancybox="gallery")
							img(src="./img/image1.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image2.png", data-fancybox="gallery")
							img(src="./img/image2.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image3.png", data-fancybox="gallery")
							img(src="./img/image3.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image4.png", data-fancybox="gallery")
							img(src="./img/image4.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image1.png", data-fancybox="gallery")
							img(src="./img/image1.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image2.png", data-fancybox="gallery")
							img(src="./img/image2.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image3.png", data-fancybox="gallery")
							img(src="./img/image3.png")
							span.album__image--icon
								+icon('016-eye')
						a.album__image(href="./img/image4.png", data-fancybox="gallery")
							img(src="./img/image4.png")
							span.album__image--icon
								+icon('016-eye')
					p.title.small Комментарии:
					.comments__wrapper
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						.comment
							.comment-head
								.comment-head__img
									img(src='./img/review.png')
								.comment-head__content
									p.comment--name Оксана Мирошник
									p.comment--date 11 декабрь, 2017
							.comment-body
								p.comment--text Мне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 летМне довелось побывать на тренинге летом этого года. Набережные Челны – небольшой городок, но от количества пришедших на тренинг людей я была просто потрясена. Могу точно сказать, что большая часть из них были приезжие, среди них и я. Основная аудитория это женщины от 25 лет
								+dropdown-button('', 'Показать весь')
						a.more-link(href="javascript:void(0)")
							span.more-link--text Ещё комментарии
							+icon('045-refresh')
				.interesting
					p.title.small Ближайшие мероприятия
					.interesting__arrows.js__interesting--arrows
					.interesting__slider.js__interesting--slider
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
						a.info-card.info-card__nopadding(href="javascript:void(0)")
							.info-card__img
								img(src="./img/card.png")
								.info-card__badges
									+grey-badge('', 'Тренинг-лекция')
								+date-marker('inverse', '17', 'Сен.')
							.info-card__content
								p.info-card--name «На самом деле я умная, но живу как дура»
								.info-card__marker
									+info-marker('', '019-profile', 'Тренер: Павел Раков')
			aside.aside
				+project-card('', 'shopping-online', 'TOTAL LIFE', 'Компания продуктов здорового питания и омоложения')
				+project-card('', '031-farm', 'Альпийские Луга', 'Эко-посёлок')
				+project-card('', '028-coach', 'Коуч-консультант', 'Дополнительное профессиональное обучение при РГСУ')
				+project-card('', '039-networking', 'Женские клубы', '', '67')
				+project-card('', '030-money', 'Женский бизнес онлайн')
				+project-card('', '029-ecommerce', 'Мобильные приложения')
include template/footer.pug