- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Образование
			span.breadcrumb.breadcrumb_current Тесты
		.main-content
			.tests__head
				h1.title.big Бесплатные тесты
				p.tests__head--subtitle Для чего нужно проходить тесты в центре Павла Ракова?
				p.tests__head--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
			.tests__list
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
		aside.aside
			.support-widget
				p.support-widget--title
					img(src="./img/icons/023-checklist.svg", alt="")
					| Получать новые<br> тесты на почту
				+calendar-button('', '010-paper-plane', 'Оформить подписку')
				p.support-widget--lock
					+icon('lock')
					| Мы не передаём ваши данные третьим лицам
			.close-widget
				p.subtitle Популярные статьи
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					+calendar-button('', '016-eye', 'Смотреть все статьи')
			.video-widget
				p.subtitle Популярные видео
				.video-widget__arrows.js__video-widget--arrows
				.video-widget__slider.js__video-widget--slider
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
					.video-widget--slide
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
						a.small-video-card(href="javascript:void(0)")
							.small-video-card__img
								img(src="./img/card8.png")
								.small-video-card__play 
									+icon('048-dropdown')
							p.small-video-card__name Можно ли отбивать чужого мужчину?
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
include template/footer.pug