- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Образование
			a.breadcrumb(href='javascript:void(0)') Тесты
			span.breadcrumb.breadcrumb_current Юбилейный вечер в крокус сити холл
		.main-content
			.test-page
				.test-page--icon
					img(src="./img/icons/027-achievement.svg")
				.test-page__content
					.test-page--badges
						+light-badge('', 'Тест')
						+white-badge('', 'Результаты тестирования')
					h1.title Какая ты в глазах парней/мужчин?
					p.congrats Поздравляем!
					p.test-page--text Вы успешно справились с тестированием. Для получения подробной анкеты, с результатами ваших ответов, пожалуйста, отправьте свои данные.
			.test-form
				p.subtitle Для получения результатов вашего тестирования
				form
					label.input(for="input_draft") Имя
						input#input_draft(type="text", placeholder="Введите ваше имя", name="input_draft")
					label.input(for="input_draft") E-mail
						input#input_draft(type="text", placeholder="Введите ваш e-mail", name="input_draft")
					button.test-form--submit(type="submit")
						+icon('010-paper-plane')
				p.support-widget--lock
					+icon('lock')
					| Мы не передаём ваши данные третьим лицам
			.test-familiar
				p.title.small Похожие тесты
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
			.interesting
				p.title.small Также будет интересно
				.interesting__arrows.js__interesting--arrows
				.interesting__slider.js__interesting--slider
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
					a.info-card.info-card__nopadding(href="javascript:void(0)")
						.info-card__img
							img(src="./img/card.png")
							.info-card__badges
								+grey-badge('', 'Тренинг-лекция')
							+date-marker('inverse', '17', 'Сен.')
						.info-card__content
							p.info-card--name «На самом деле я умная, но живу как дура»
							.info-card__marker
								+info-marker('', '019-profile', 'Тренер: Павел Раков')
		aside.aside
			.popular-tests
				p.subtitle Популярные тесты
				.popular-tests__arrows.js__popular-tests--arrows
				.popular-tests__slider.js__popular-tests--slider
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
				.popular-tests--button
					+calendar-button('', '022-pencil', 'Смотреть все тесты')
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Мастер-класс')
					p.large-card__title На самом деле я умная, но живу как дура
					.large-card__info
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '020-clock', '25 сентября, 2018')
			.profit-widget
				p.subtitle Выгодные предложения
				.profit-widget__arrows.js__profit-widget--arrows
				.profit-widget__slider.js__profit-widget--slider
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
					.profit-widget__block
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview2.png')
								+sale('', '-10')
							.small-preview--content
								p.small-preview--type тренинг-лекция
								p.small-preview--title Школа управления Павла Ракова
								p.small-preview--date 7 сентября, 2018
						a.small-preview(href="javascript:void(0)")
							.small-preview__img-block
								img(src='./img/preview3.png')
								+sale('', '-40')
							.small-preview--content
								p.small-preview--type Мастер-класс
								p.small-preview--title Интимная инструкция по взаимодействию...
								p.small-preview--date 13 ноября, 2018
include template/footer.pug