include template/variables.pug
include template/mixins.pug
doctype html
html(lang="ru")
	head
		//- Meta Tags
		meta(http-equiv='X-UA-Compatible' content="IE=edge")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
		<!--[if IE]>
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		<![endif]-->
		meta(name="HandheldFriendly" content="true")
		//- Favicon
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="icon" href="favicon.ico")
		<!--[if lt IE 9]>
			script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
		<![endif]-->
		//- Title
		title UI-Kit
		//- Styles
		link(rel="stylesheet" href="./css/style.css")
	body.ui-body
		//- Buttons and Controls
		.ui.ui__buttons-controls
			+button-colored('', "Начать обучение")
			+button('', "Показать еще", "045-refresh")
			.ui__buttons-small
				+button-small('button-small_active', "Все", "3089")
				+button-small('', "Выгодные предложения", "65")
				+button-small('', "Новое")
			+follow-button('', 'vk')
			+follow-button('', 'youtube')
			+follow-button('', 'instagram')
			+send-button('', '010-paper-plane')
			+calendar-button('', '020-clock')
			.menu-button
			+view-button('')
			+view-button('view-button_active')
			.ui__arrows
				+slider-arrow_small('', 'left')
				+slider-arrow_small('')
				+slider-arrow('', 'left')
				+slider-arrow('')
			.ui__dots
				- for (var i = 0; i < 7; i++) {
					if (i == 0)
						+dot('dot_active')
					else
						+dot()
				- };
			+icon-button('','046-appointment')
			.pagination
				span.pagination--arrow.pagination--arrow_left
					+icon('007-right-arrow')
				ul.pagination__nav
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 1
					li.pagination__nav--blank ...
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 8
					li.pagination__nav--item.pagination__nav--item_current 
						a.pagination__nav--link(href="javascript:void(0)") 9
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 10
					li.pagination__nav--blank ...
					li.pagination__nav--item 
						a.pagination__nav--link(href="javascript:void(0)") 69
				span.pagination--arrow
					+icon('007-right-arrow')
			.tabs
				+tab('tab_active', 'Фото')
				+tab('', 'Видео')
				+tab('', 'Текст')
				+tab('', 'Аудио')
			.like-count
				+icon('008-like')
				| +1689...
			+icon-link('', '038-task', 'Скачать презентацию')
			+icon-link('', '009-support', 'Задать вопрос')
			a.more-link(href="javascript:void(0)")
				span.more-link--text Ещё комментарии
				+icon('045-refresh')
			+dropdown-button('', 'Показать весь')
			+link('', "Подробнее")
			+link('', '«На самом деле я умная, но живу как дура»')
		//- Form elements
		.ui.ui__form
			.select
				select.select--input
					- for (var i = 1; i <= 5; i++) {
						option(value="Название" + i) Название#{i}
					- };
				.select--active-block
					span.select--active Название1
					span.select--arrow
						+icon('048-dropdown')
				.select--block
					- for (var i = 1; i <= 5; i++) {
						if (i == 1)
							.select--option.select--option_chosen Название#{i}
						else 
							.select--option Название#{i}
					- };
			.ui_checkboxes
				label.checkbox(for="checkbox_draft")
					.checkbox--block
						input#checkbox_draft(type="checkbox", name="checkbox_draft")
						span.checkbox--mark
							+icon("049-mark")
				label.checkbox.checkbox_disabled(for="checkbox-disabled_draft")
					.checkbox--block
						input#checkbox-disabled_draft(type="checkbox", name="checkbox-disabled_draft", disabled)
						span.checkbox--mark
							+icon("049-mark")
				label.radio(for="radio_draft")
					.radio--block
						input#radio_draft(type="radio", name="radio_draft")
						span.radio--mark
				label.radio(for="radio_draft1")
					.radio--block
						input#radio_draft1(type="radio", name="radio_draft")
						span.radio--mark
				label.radio.radio_disabled(for="radio-disabled_draft")
					.radio--block
						input#radio-disabled_draft(type="radio", name="radio-disabled_draft", disabled)
						span.radio--mark
			label.input(for="input_draft") Лейбл
				input#input_draft(type="text", placeholder="placeholder", name="input_draft")
			label.input.wrong(for="input_draft1") Лейбл
				input#input_draft1(type="text", placeholder="placeholder", name="input_draft1")

			form.simple-form
				label.input(for="form_input")
					input#form_input(type="email", placeholder="example@example.ru", name="form_input")
				.simple-submit
					input(type="submit")
					+icon('010-paper-plane')
		//- Markers
		.ui.ui_markers
			+date-marker('', '1', 'Сен.')
			+count-marker('', '1027')
			+location-marker('', 'Москва')
			+location-marker('location-marker--large', 'Москва')
			+icon-marker('', '016-eye', '21567')
			+icon-marker('', '050-comment', '5')
			
			.ui_badges
				+light-badge('', 'Фотоальбом')
				+white-badge('', 'Результаты тестирования')
				+grey-badge('', 'Мастер-класс')
				+icon-badge('', '026-photo','176')
				+tag('', 'Женщина')
				+sale('', '-20')
			.ui_markers-block
				+info-marker('', '019-profile', 'Автор: Павел Раков')
				+info-marker('', '016-eye', '4587')
				+info-marker('', '051-comment-single', '17')

		//- Cards
		.ui.ui-cards
			//- Large card
			a.large-card(href="javascript:void(0)")
				.large-card__img
					img(src="./img/first-card.png")
				.large-card__content
					+white-badge('', 'Электронная книга')
					p.large-card__title Дура с двумя высшими желает познакомиться
					+info-marker('', '019-profile', 'Автор: Павел Раков')
			//- Wide card
			a.wide-card(href="javascript:void(0)")
				.wide-card__img
					img(src='./img/card2.png')
				.wide-card__content
					+grey-badge('', 'Отношения')
					p.wide-card__title Мои прекрасные дуры (Интервью с Павлом Раковым)
					.wide-card__marker
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '016-eye', '4587')
						+info-marker('', '051-comment-single', '17')
					span.slider-arrow
						+icon('007-right-arrow')
			//- News head
			.news-head
				.news-head__img
					img(src="./img/card3.png")
				.news-head__content
					+grey-badge('', 'Новости')
					a.news-head__title(href="javascript:void(0)") Новость-отчёт о проведённом летнем фестивале 2018
					.news-head__marker
						+info-marker('', '016-eye', '21567')
						+info-marker('', '050-comment', '5')
						+info-marker('', '008-like', '+1689...')
					.news-head__share
						span Поделиться:
						a.news-head__icon(href="javascript:void(0)")
							img(src="./img/icons/social/002-vkontakte-logo.svg")
						a.news-head__icon(href="javascript:void(0)")
							img(src="./img/icons/social/001-instagram.svg")
						a.news-head__icon(href="javascript:void(0)")
							img(src="./img/icons/social/003-odnoklassniki.svg")
			//- Section card
			a.section-card(href="javascript:void(0)")
				.section-card__img 
					img(src="./img/card4.png")
				.section-card__content
					+icon-badge('', '', '176 шт.')
					p.section-card__title Мастер-классы
					span.slider-arrow
						+icon('007-right-arrow')
			//- Partner card
			a.partner-card(href="javascript:void(0)")
				.partner-card__img 
					img(src="./img/card5.png")
				.partner-card__content
					+icon-badge('', '', 'Консультант')
					p.partner-card__title Имя <br> Фамилия
					span.slider-arrow
						+icon('007-right-arrow')
			//- Video card
			a.video-card(href="javascript:void(0)")
				.video-card__img 
					img(src="./img/card6.png")
				.video-card__content
					+icon-badge('', '020-clock', '12:34')
					p.video-card__title Какой должна быть идеальная женщина
					.video-card__play 
						+icon('048-dropdown')
			//- Album card
			a.album-card(href="javascript:void(0)") 
				.album-card__img 
					img(src="./img/card7.png")
				.album-card__content
					+icon-badge('', '026-photo', '176')
					p.album-card__title Тренинг-лекция в концертном зале «Космос»
			//- Info card
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card1.png")
					.info-card__badges
						+grey-badge('', 'Практичвеская психология')
				.info-card__content
					p.info-card--name Какой должна быть идеальная женщина
					.info-card__marker
						+info-marker('', '019-profile', 'Автор: Павел Раков')
						+info-marker('', '016-eye', '4587')
						+info-marker('', '051-comment-single', '17')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card2.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
					+date-marker('inverse', '1', 'Сен.')
				.info-card__content
					p.info-card--name Курс ораторского мастрества от Павла Ракова
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			a.info-card(href="javascript:void(0)")
				.info-card__img
					img(src="./img/info-card3.png")
					.info-card__badges
						+grey-badge('', 'Мастер-класс')
						+grey-badge('pink', 'Акция')
						+grey-badge('white', 'Хит')
				.info-card__content
					p.info-card--name Идеальные отношения с мужчинами за 36 дней
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
			.info-card.info-card-text
				.info-card__img
					img(src="./img/card.png")
					.info-card__badges
						+grey-badge('', 'Тренинг-лекция')
					+date-marker('inverse', '17', 'Сен.')
				.info-card__content
					p.info-card--name Биоэнергетические практики
					.info-card__marker
						+info-marker('', '019-profile', 'Тренер: Павел Раков')
					p.info-card__text Открытый диалог с Павлом Раковым «о сокровенном». Где каждая девушка сможет задать вопрос и получить ответ лично от Павла Ракова. 
					+link('', 'Страница события')
			//- Small video card
			a.small-video-card(href="javascript:void(0)")
				.small-video-card__img
					img(src="./img/card8.png")
					.small-video-card__play 
						+icon('048-dropdown')
				p.small-video-card__name Можно ли отбивать чужого мужчину?
			//- Article card
			a.article-card(href="javascript:void(0)")
				.article-card__img
					img(src="./img/card9.png")
				.article-card__content
					p.article-card__content--type Красота и здоровье
					p.article-card__content--title Радость - в исполнении желаний! (Интервью с Павлом Раковым)
			//- Quote card
			a.quote-card(href="javascript:void(0)") 
				.quote-card__img
					img(src="./img/card10.png")
				.quote-card__content
					p.quote-card__content--name Ольга Иванова
					p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
			a.small-photo(href="javascript:void(0)")
				img(src="./img/card11.png")
			a.photo(href="javascript:void(0)")
				img(src="./img/card12.png")
			//- Project cards
			+project-card('', 'shopping-online', 'TOTAL LIFE', 'Компания продуктов здорового питания и омоложения')
			+project-card('', '031-farm', 'Альпийские Луга', 'Эко-посёлок')
			+project-card('', '028-coach', 'Коуч-консультант', 'Дополнительное профессиональное обучение при РГСУ')
			+project-card('', '039-networking', 'Женские клубы', '', '67')
			+project-card('', '030-money', 'Женский бизнес онлайн')
			+project-card('', '029-ecommerce', 'Мобильные приложения')
			+project-card('', '025-contract', 'Статьи', '', '1027')
			+project-card('', '024-laptop', 'Видео', '', '10')
			+project-card('', '023-checklist', 'Тесты', '', '1345')

			//- Tests
			.tests-block
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
				a.test(href="javascript:void(0)")
					.test__img
						img(src="./img/test.png")
					.test__content
						p.test--name Тест на замужество для девушек и женщин
						p.test--title Когда ты выйдешь замуж?
						p.test--info 25 вопросов   |   время прохождения: 12 мин.
					.test__arrow
						+icon('007-right-arrow')
			//- Clubs
			.ui-clubs-block
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
				a.club(href="javascript:void(0)")
					.club__img
						img(src="./img/club.png")
					.club__content
						p.club--manager Руководитель: Анна Серебренникова
						p.club--name Произвольное название клуба
						+location-marker('', 'Дубай')
					.club__arrow
						+icon('007-right-arrow')
			//- Staff
			.staff-member
				.staff-member--img
					img(src="./img/staff.png")
				.staff-member__content
					p.staff-member--name Имя Фамилия
					p.staff-member--text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
					+link('', 'Подробнее')
			//- Manager
			.manager
				.manager__img
					img(src="./img/manager.png", alt="")
					p.manager--type Руководитель
				.manager__content
					p.manager--name Чавушлар Инна
					p.manager--text Атмосферная, женственная, целеустремленная! Знаю как получить желаемое!
					a.manager--phone(href="tel:79034428877")
						+icon-marker('', '032-phone', '+7 (903) 442-88-77')
					a.manager--email(href="mailto: innacav@gmail.com")
						+icon-marker('', '033-mail', 'innacav@gmail.com')
					+icon-link('', '009-support', 'Задать вопрос')
			//- Speaker
			.speaker
				.speaker__img
					img(src="./img/speaker.png", alt="")
				.speaker__content
					p.speaker--name Павел Раков
					p.speaker--text Учредитель Международного Центра авторских встреч Павла Ракова, предприниматель, тренер.
		script(src="./js/main.js")

