- var no_banner = "no_banner";
include template/header.pug
.main-wrapper.no-banner
	.container.has_aside
		.breadcrumbs
			a.breadcrumb(href='javascript:void(0)') Главная
			a.breadcrumb(href='javascript:void(0)') Образование
			span.breadcrumb.breadcrumb_current Видео
		.main-content
			.albums-block
				h1.title.big Все видео
					span.count-marker 67
				p.albums--subtitle Рубрики:
				.albums--categories
					+button-small('button-small_active js__toggle', 'Все статьи')
					+button-small('js__toggle', 'Отношения')
					+button-small('js__toggle', 'Красота и здоровье')
					+button-small('js__toggle', 'Бизнес и карьера')
					+button-small('js__toggle', 'Секс')
					+button-small('js__toggle', 'Практическая психология')
					+button-small('js__toggle', 'Тренинговый центр')
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
					.view-buttons
						+view-button('', '')
						+view-button('view-button_active','view-button_active')
			.videos--list
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
				a.video-card(href="javascript:void(0)")
					.video-card__img 
						img(src="./img/card6.png")
					.video-card__content
						+icon-badge('', '020-clock', '12:34')
						p.video-card__title Какой должна быть идеальная женщина
						.video-card__play 
							+icon('048-dropdown')
			.albums--pagination
				.albums--settings
					.pagination
						span.pagination--arrow.pagination--arrow_left
							+icon('007-right-arrow')
						ul.pagination__nav
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 1
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 8
							li.pagination__nav--item.pagination__nav--item_current 
								a.pagination__nav--link(href="javascript:void(0)") 9
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 10
							li.pagination__nav--blank ...
							li.pagination__nav--item 
								a.pagination__nav--link(href="javascript:void(0)") 69
						span.pagination--arrow
							+icon('007-right-arrow')
					.view-buttons
						+view-button('', '')
						+view-button('view-button_active','view-button_active')
			.albums-block
				p.albums--subtitle Рубрики:
				.albums--categories
					+button-small('button-small_active js__toggle', 'Все статьи')
					+button-small('js__toggle', 'Отношения')
					+button-small('js__toggle', 'Красота и здоровье')
					+button-small('js__toggle', 'Бизнес и карьера')
					+button-small('js__toggle', 'Секс')
					+button-small('js__toggle', 'Практическая психология')
					+button-small('js__toggle', 'Тренинговый центр')
		aside.aside
			.support-widget
				p.support-widget--title
					img(src="./img/icons/024-laptop.svg", alt="")
					| Получать новые<br> видео на почту
				+calendar-button('', '010-paper-plane', 'Оформить подписку')
				p.support-widget--lock
					+icon('lock')
					| Мы не передаём ваши данные третьим лицам
			.close-widget
				p.subtitle Популярные статьи
				.small-previews__block
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview1.png')
						.small-preview--content
							p.small-preview--type Тренинг
							p.small-preview--title Сила женского притяжения
							p.small-preview--date 25 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview2.png')
						.small-preview--content
							p.small-preview--type тренинг-лекция
							p.small-preview--title Школа управления Павла Ракова
							p.small-preview--date 7 сентября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
					a.small-preview(href="javascript:void(0)")
						.small-preview__img-block
							img(src='./img/preview3.png')
						.small-preview--content
							p.small-preview--type Мастер-класс
							p.small-preview--title Интимная инструкция по взаимодействию...
							p.small-preview--date 13 ноября, 2018
				.close-widget__button
					+calendar-button('', '016-eye', 'Смотреть все статьи')

			.popular-tests
				p.subtitle Популярные тесты
				.popular-tests__arrows.js__popular-tests--arrows
				.popular-tests__slider.js__popular-tests--slider
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
					ul.popular-tests--list
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
						li.popular-test
							a(href="javascript:void(0)") Когда ты выйдешь замуж?
						li.popular-test
							a(href="javascript:void(0)") Сексуальная ли Вы женщина?
						li.popular-test
							a(href="javascript:void(0)") Не слишком ли Вы стеснительны? 
						li.popular-test
							a(href="javascript:void(0)") Какая ты в глазах парней/мужчин?
				.popular-tests--button
					+calendar-button('', '022-pencil', 'Смотреть все тесты')
			.reviews-widget
				p.subtitle Свежие комментарии
				.reviews-widget__arrows.js__reviews-widget--arrows
				.reviews-widget__slider.js__reviews-widget--slider
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
					.reviews-widget--slide
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
						a.quote-card(href="javascript:void(0)") 
							.quote-card__img
								img(src="./img/card10.png")
							.quote-card__content
								p.quote-card__content--name Ольга Иванова
								p.quote-card__content--text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступ
			.social-widget
				p.subtitle Мы в социальных сетях
				.social-widget__block
					+follow-button('', 'vk')
					+follow-button('', 'youtube')
					+follow-button('', 'instagram')
include template/footer.pug