body {
	&:not(.ui-body) {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 159px 1fr 667px;
	}
	position: relative;
}
.container {
	max-width: map-get($breakpoints, lg);
	width: 100%;
	position: relative;
	display: block;
	margin: 0 auto;
	&.has_aside {
		display: grid;
		grid-template-columns: minmax(50%, auto) 378px;
		grid-template-rows: 90px auto auto;
		grid-gap: 0 20px;
		margin-bottom: 60px;
		.small-banner {
			grid-column: 1/3;
		}
		@include respond-below(lg) {
			grid-template-columns: 100%;
		}
		@include respond-below(md) {
			grid-template-rows: 53px auto auto
		}
		&.has-author {
			@include respond-below(lg) {
				grid-template-rows: 90px 206px auto auto ;
				.main-content {
					grid-row: 3/4;
				}
				.aside {
					grid-row: 4/5;
				}
				&.has-small-banner {
					grid-template-rows: 556px 90px 206px auto auto;
					.small-banner {
						margin-top: 20px;
						grid-row: 1/2;
						@include respond-below(lg) {
							grid-column: 1/2;
						}
					}
					.breadcrumbs {
						grid-row: 2/3;
					}
					.main-content {
						grid-row: 4/5;
					}
					.aside {
						grid-row: 5/6;
					}
					.author-widget {
						top: 645px;
					}
					@include respond-below(md) {
						grid-template-rows: 556px 53px 255px auto auto;
						.author-widget {
							top: 609px;
						}
					}
				}
			}
			@include respond-below(md) {
				grid-template-rows: 53px 255px auto auto;
			}
			&.has-timer {
				@include respond-below(lg) {
					grid-template-rows: 90px 280px auto auto;
				}
				@include respond-below(md) {
					grid-template-rows: 53px 257px auto auto;
				}
			}
		}
	}
}
.has-small-banner {
	.breadcrumbs {
		&:after, &:before {
			top: 575.5px;
		}
	}
}
@include respond-below(lg) {
	.main-content {
		margin-bottom: 20px;
	}
}
@include respond-below(md) {
	.main-content {
		margin-bottom: 10px;
	}
}
.main-wrapper {
	width: 100%;
	background-color: $inactive;
	display: block;
	grid-row:2/3;
	&:not(.no-banner) {
		margin-top: -66px;
	}
}
.title {
	font-family: "Playfair Display";
	font-weight: 700;
	color: $grey-text;
	font-size: 34px;
	margin-bottom: 35px;
	&.small {
		font-size: 30px;
		margin-bottom: 10px;
		@include respond-below(md) {
			font-size: 23px;
			line-height: 28px;
		}
	}
	&.big {
		font-size: 40px;
		@include respond-below(lg) {
			font-size: 30px;
		}
		@include respond-below(md) {
			font-size: 23px;
			line-height: 1;
		}
	}
}
.subtitle {
	font-family: "Playfair Display";
	font-weight: 700;
	color: $grey-text;
	font-size: 22px;
}
.breadcrumbs {
	height: 90px;
	grid-row: 1/2;
	grid-column: 1/3;
	@include respond-below(md) {
		height: 53px;
		-ms-overflow-x: scroll;
		    overflow-x: scroll;
		grid-column: 1/2;
		width: calc(100% + 40px);
    	margin-left: -20px;
    	padding: 0 20px;
    	&:after {
    		content: "";
    		display: block;
    		width: 23px;
    		background-image: linear-gradient(to right, $inactive 0%, rgba(245, 248, 250, 0) 100%);
    		height: 23px;
    		position: absolute;
    		top: 15px;
    		left: 0;
    		z-index: 3;
    	}
    	&:before {
    		content: "";
    		display: block;
    		width: 30px;
    		height: 22px;
    		background-image: linear-gradient(to right, rgba(245, 248, 250, 0) 0%, $inactive 100%);
    		top: 15.5px;
    		position: absolute;
    		right: 0;
    		z-index: 3;
    	}
	}
	@include flex(row, flex-start, center);
	.breadcrumb {
		color: #a9a9ab;
		font-size: 16px;
		@include respond-below(md) {
			font-size: 14px;
		}
		@include transition();
		padding-right: 20px;
		position: relative;
		white-space: nowrap;
		&:not(:first-child) {
			&:before {
				display: block;
				content: "";
				width: 4px;
				height: 4px;
				background-color: #aeafb0;
				position: absolute;
				left: -17px;
				top: 48%;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				@include transition();
			}
		}
		margin-right: 10px;
		&.breadcrumb_current, &:hover {
			color: $grey-text;
			&:before {
				background-color: $pink
			}
		}
	}
}
.banner {
	height: 533px;
	@include respond-below(md) {
		height: calc(100vh - 65px);
	}
	width: 100%;
	position: relative;
	z-index: 0;
	.banner__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		img {
			object-fit: cover;
			object-position: center center;
			width: 100%;
			height: 100%;
		}
		&::after {
			position: absolute;
			content: '';
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 295px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
			opacity: 0.8;
			z-index: 3;
		}
		&::before {
			position: absolute;
			content: '';
			display: block;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 263px;
            background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
			opacity: 0.6;
			z-index: 3;
		}
	}
	.banner__content {
		width: 1170px;
		@include respond-below(lg) {
			width: 100%;
			max-width: 100%;
			padding: 0 60px 45px 60px;
		}
		@include respond-below(md) {
			padding: 0 20px 30px 20px;
		}
		@include respond-below(sm) {
			padding: 0 15px 30px 15px;
		}
		height: 100%;
		position: relative;
		margin: 0 auto;
		top: 0;
		left: 0;
		z-index: 2;
		padding: 200px 0 60px 0;
		@include flex(column, flex-end, flex-start);
		.share-block {
			position: absolute;
			z-index: 3;
			right: 0;
			bottom: 50px;
			span {
				color: #fff;
			}
			.share-icon {
				background: #FFF;
				-webkit-border-radius: 7px;
				        border-radius: 7px;
			}
			@include respond-below(lg) {
				right: 60px;
				bottom: 45px;
			}
			@include respond-below(md) {
				right: 20px;
				bottom: 30px;
				span {
					display: none;
				}
				.share-icon {
					width: 23px;
					height: 23px;
				}
			}
		}
		.button-colored + .banner__info {
			@include respond-below(lg) {
				.info-marker:first-of-type {
					position: static;
					@include respond-below(md) {
						position: absolute;
						left: 0;
						bottom: 60px;
						width: 300px;
					}
				}
			}
		}
		.banner__info {
			margin-top: 100px;
			position: relative;
			@include respond-below(lg) {
				.info-marker:first-of-type {
					position: absolute;
					left: 0;
					bottom: 60px;
					@include respond-below(md) {
						bottom: 80px;
					}
				}
			}
			.info-marker {
				font-size: 17px;
				color: #fff;
				&:not(:last-of-type) {
					margin-right: 40px;
					@include respond-below(md) {
						margin-right: 15px;
					}
				}
				svg {
					width: 20px;
					height: 20px;
					margin-right: 7px;
				}
				&.hovered {
					color: #939aa4;
					cursor: pointer;
					svg {
						color: #939aa4;
						height: 18px;
						width: 18px;
					}
					@include transition();
					&:hover {
						color: $pink;
						svg {
							color: inherit;
						}
					}
				}
				@include respond-below(md) {
					font-size: 14px;
				}
				@include respond-below(sm) {
					&:not(:last-of-type) {
						margin-right: 5px;
					}
				}
			}
		}
		.banner__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 46px;
			line-height: 53px;
			margin-top: 30px;
			@include respond-below(lg) {
				font-size: 36px;
				line-height: 45px;
			}
			@include respond-below(md) {
				font-size: 30px;
				line-height: 32px;
			}
		}
		.light-badge {
			color: #fff;
		}
		.banner__badges {
			@include flex(row, flex-start, center);
			.info-marker {
				margin-left: 30px;
				svg {
					width: 20px;
					height: 20px;
					margin-right: 9px;
				}
				color: #ffffff;
				font-size: 17px;
			}
			.white-badge {
				margin-left: 15px;
				color: #ffffff;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 600;
				list-style: 0.48px;
				&.thin {
					border-width: 1px;
				}
			}
		}
		.button-colored {
			width: 197px;
			height: 50px;
			margin-top: 45px;
			flex: 0 0 50px;
		}
	}
	&.event-banner, &.product-banner {
		.banner__content {
			.banner__info {
				@include respond-below(lg) {
					.info-marker:first-of-type {
						position: absolute;
						width: 320px;
						left: 0;
						bottom: 60px;
					}
				}
				@include respond-below(md) {
					.info-marker:nth-of-type(2) {
						position: absolute;
						width: 320px;
						left: 0;
						bottom: 30px;
					}
				}
			}
		}
	}
}
.small-banner {
	height: 423px;
	@include respond-below(lg) {
		height: 536px;
	}
	@include respond-below(lg) {
		width: 100%;
		max-width: 100%;
		grid-column: 1/2;
	}
	@include respond-below(md) {
		padding: 0;
	}
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	z-index: 0;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	overflow: hidden;
	.small-banner__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		img {
			object-fit: cover;
			object-position: center center;
			width: 100%;
			height: 100%;
		}
		&::after {
			position: absolute;
			content: '';
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 295px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
			opacity: 0.8;
			z-index: 3;
		}
		&::before {
			position: absolute;
			content: '';
			display: block;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 263px;
            background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
			opacity: 0.6;
			z-index: 3;
		}
	}
	.small-banner__content {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		padding: 0 0 55px 40px;
		@include flex(column, flex-end, flex-start);
		@include respond-below(lg) {
			width: 100%;
			max-width: 100%;
			padding: 0 60px 45px 60px;
		}
		@include respond-below(md) {
			padding: 0 20px 84px 20px;
		}
		.share-block {
			position: absolute;
			z-index: 3;
			right: 100px;
			bottom: 50px;
			span {
				color: #fff;
			}
			.share-icon {
				background: #FFF;
				-webkit-border-radius: 7px;
				        border-radius: 7px;
			}
			@include respond-below(lg) {
				right: 60px;
				bottom: 45px;
			}
			@include respond-below(md) {
				left: 20px;
				bottom: 30px;
				span {
					display: none;
				}
				.share-icon {
					width: 23px;
					height: 23px;
				}
			}
		}
		.small-banner__info {
			margin-top: 100px;
			.info-marker {
				font-size: 17px;
				color: #fff;
				&:not(:last-of-type) {
					margin-right: 40px;
					@include respond-below(md) {
						margin-right: 15px;
					}
				}
				svg {
					width: 20px;
					height: 20px;
					margin-right: 7px;
				}
				&.hovered {
					color: #939aa4;
					cursor: pointer;
					svg {
						color: #939aa4;
						height: 18px;
						width: 18px;
					}
					@include transition();
					&:hover {
						color: $pink;
						svg {
							color: inherit;
						}
					}
				}
				@include respond-below(md) {
					font-size: 14px;
				}
			}
			@include respond-below(lg) {
				position: relative;
				.info-marker:first-of-type {
					position: absolute;
					left: 0;
					bottom: 60px;
					@include respond-below(md) {
						bottom: 80px;
					}
				}
			}
		}
		.small-banner__title {
			font-family: "Playfair Display";
			font-weight: 700;
			color: #ffffff;
			font-size: 46px;
			line-height: 53px;
			margin-top: 30px;
			@include respond-below(lg) {
				font-size: 36px;
				line-height: 45px;
			}
			@include respond-below(md) {
				font-size: 30px;
				line-height: 32px;
			}
		}
		.light-badge {
			color: #fff;
		}
	}
}
.wide-content {
	grid-column: 1/3;
	width: 100%;
	height: auto;
	background: #FFF;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	padding: 55px 50px 55px 40px;
	margin-top: 20px;
	@include respond-below(md) {
		margin-top: 0;
		aside + & {
			margin-top: 10px;
		}
	}
	&:not(:last-child) {
		margin-bottom: 20px;
		@include respond-below(md) {
			margin-bottom: 10px;
		}
	}
	@include respond-below(lg) {
		padding: 50px 20px;
		grid-column: 1/2;
	}
}
@include respond-below(lg) {
	.container {
		max-width: map-get($breakpoints, lg);
		width: 100%;
		padding: 0 20px;
	}
	body {
		&:not(.ui-body) {
			grid-template-rows: 73px 1fr auto;
		}
	}
	.main-wrapper {
		&:not(.no-banner) {
			margin-top: 0;
		}
	}
	.title {
		font-size: 30px;
	}
}
@include respond-below(md) {
	.container {
		max-width: map-get($breakpoints, md);
	}
	body {
		&:not(.ui-body) {
			grid-template-rows: 65px 1fr auto
		}
	}
	.title {
		font-size: 23px;
		margin-bottom: 25px;
	}
}