.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icons--001-search {
	font-size:(56.97/10)*1rem;
	width:(56.97/56.97)*1em;
}
.icons--002-placeholder-filled-point {
	font-size:(97.713/10)*1rem;
	width:(97.713/97.713)*1em;
}
.icons--003-phone-receiver {
	font-size:(578.11/10)*1rem;
	width:(578.11/578.11)*1em;
}
.icons--004-vk {
	font-size:(304.36/10)*1rem;
	width:(304.36/304.36)*1em;
}
.icons--005-youtube {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--006-odnoklassniki {
	font-size:(512.01/10)*1rem;
	width:(512.01/512.01)*1em;
}
.icons--007-right-arrow {
	font-size:(31.49/10)*1rem;
	width:(31.49/31.49)*1em;
}
.icons--008-like {
	font-size:(52/10)*1rem;
	width:(52/52)*1em;
}
.icons--009-support {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icons--010-paper-plane {
	font-size:(486.74/10)*1rem;
	width:(486.74/486.74)*1em;
}
.icons--011-lock {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--012-instagram-logo {
	font-size:(169.063/10)*1rem;
	width:(169.063/169.063)*1em;
}
.icons--013-envelope {
	font-size:(511.626/10)*1rem;
	width:(511.626/511.626)*1em;
}
.icons--014-telemarketer {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--015-star {
	font-size:(475.075/10)*1rem;
	width:(475.075/475.075)*1em;
}
.icons--015-star-full {
	font-size:(475.1/10)*1rem;
	width:(475.1/475.1)*1em;
}
.icons--016-eye {
	font-size:(488.85/10)*1rem;
	width:(488.85/488.85)*1em;
}
.icons--017-menu {
	font-size:(387.8/10)*1rem;
	width:(511/387.8)*1em;
}
.icons--018-menu-1 {
	font-size:(181.8/10)*1rem;
	width:(181/181.8)*1em;
}
.icons--019-profile {
	font-size:(563.43/10)*1rem;
	width:(563.43/563.43)*1em;
}
.icons--020-clock {
	font-size:(129/10)*1rem;
	width:(129/129)*1em;
}
.icons--021-people {
	font-size:(350/10)*1rem;
	width:(350/350)*1em;
}
.icons--022-pencil {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icons--023-checklist {
	font-size:(480.05/10)*1rem;
	width:(480.05/480.05)*1em;
}
.icons--024-laptop {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icons--025-contract {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icons--026-photo {
	font-size:(533.333/10)*1rem;
	width:(533.333/533.333)*1em;
}
.icons--027-achievement {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--028-coach {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--029-ecommerce {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--030-money {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--031-farm {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--032-phone {
	font-size:(27.44/10)*1rem;
	width:(27.44/27.44)*1em;
}
.icons--033-mail {
	font-size:(382.12/10)*1rem;
	width:(382.12/382.12)*1em;
}
.icons--034-coordination {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--035-work {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--036-tick {
	font-size:(426.67/10)*1rem;
	width:(426.67/426.67)*1em;
}
.icons--037-quotes {
	font-size:(512.5/10)*1rem;
	width:(512.5/512.5)*1em;
}
.icons--038-task {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--039-networking {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--040-teamwork {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--041-think {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--042-file {
	font-size:(29.98/10)*1rem;
	width:(29.98/29.98)*1em;
}
.icons--043-progress {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--044-alert {
	font-size:(511/10)*1rem;
	width:(511/511)*1em;
}
.icons--045-refresh {
	font-size:(477.87/10)*1rem;
	width:(477.87/477.87)*1em;
}
.icons--046-appointment {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--047-next {
	font-size:(477.2/10)*1rem;
	width:(477.2/477.2)*1em;
}
.icons--048-dropdown {
	font-size:(124.512/10)*1rem;
	width:(124.512/124.512)*1em;
}
.icons--049-mark {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icons--050-comment {
	font-size:(511.626/10)*1rem;
	width:(511.626/511.626)*1em;
}
.icons--051-comment-single {
	font-size:(511.627/10)*1rem;
	width:(511.626/511.627)*1em;
}
.icons--052-gift {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--053-close {
	font-size:(47.97/10)*1rem;
	width:(47.97/47.97)*1em;
}
.icons--checklist {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--email {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--happiness {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--lock {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icons--megaphone {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--megaphone1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icons--next {
	font-size:(477.2/10)*1rem;
	width:(477.2/477.2)*1em;
}
.icons--prev {
	font-size:(477.2/10)*1rem;
	width:(477.2/477.2)*1em;
}
.icons--shopping-online {
	font-size:(512/10)*1rem;
	width:(511/512)*1em;
}
.icons--support {
	font-size:(437.6/10)*1rem;
	width:(437.6/437.6)*1em;
}
