// Colors
$pink: #ff007e;
$grey-text: #2f343b;
$grey-bg: #1b1e24;
$black-bg: #14161a;
$blue-text: #0482d2;
$inactive: #f5f8fa;

// Sizes

// General
$font: "Source Sans Pro";


// Responsive
$breakpoints: (
	xl: 1300px,
	lg: 1170px,
	md: 768px,
	sm: 450px
);